/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #2c2c2c;
}

html {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Verdana', Arial, Tahoma, sans-serif;
    background: #e8e5e3 url(../img/html.png) 50% 0 no-repeat;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0 0 30px 0;
}
h2, h3, h4, h5, h6 {
    margin: 0 0 16px 0;
}
a {
    color: #1f5aa6;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    width: 1218px;
    margin: 0 auto;
    font: 14px/20px 'Verdana', Helvetica, Helvetica Neue, Arial;
    background: #fff;
    box-shadow: 0 0 100px 10px rgba( 93, 93, 93, 0.60);
}

.wrapper {
    width: 980px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}
.wrapper:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}


/* Side-box ===================== */

.side-box {
    background: rgba(8,112,198,0);
    background: linear-gradient(to right, rgba(8,112,198,0) 0%, rgba(8,112,198,1) 100%);
    background-color: rgba( 20, 166, 220, 0.8); 
    position: relative;
    opacity: 0.8;
}


/* Ware ===================== */

.ware {
    list-style: none;
}
.ware:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.ware li {
    width: 220px;
    min-height: 306px;
    margin-right: 20px;
    float: left;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
}
.ware li:hover .add {
    display: block;
}
.ware .pic {
    width: 220px;
    height: 200px;
    display: block;
}
.ware .price {
    padding: 0 14px;
}
.ware .title-link {
    display: block;
    line-height: 18px;
    color: #122025;
}
.ware .sum {
    margin: 0;
    position: absolute;
    bottom: 8px;
    font-size: 11px;
    left: 14px;
}
.ware .add {
    width: 105px;
    height: 30px;
    padding-top: 9px;
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: #1f5aa6;
}

.carousel {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.carousel:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}



/* checkbox ===================== */

.checkbox {
    width: 57px;
    height: 22px;
    position: absolute;
    top: 2px;
    left: 2px;
    color: #fff;
    text-align: center;
    background: #14a6dc;
}
.checkbox-sale {
    background: #fc4349;
}
.cost{
    font-weight: bold;
    font-size: 16px;
    color: #fc4349;
}
.grey {
   color: #949494;
}
.h2 {
    margin: 0 0 22px 0;
    font-size: 30px;
    line-height: 30px;
    color: #40a8dd;
    font-weight: normal;
}
.h3 {
    font-size: 26px;
    color: #40a8dd;
    font-weight: normal;
}
.h4 {
    position: relative;
    color: #1f5aa6;
    font-size: 24px;
    font-weight: normal;
}
.h5 {
    font-size: 19px;
    line-height: 22px;
    color: #000000;
    font-weight: normal;
}
.h6 {
    
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Header ========================================================================== */

.header {
    font-size: 12px;
}

/* Header-top ============================== */

.header-top {
    height: 40px;
    border-bottom: 2px solid #a4a4a4;
}
.header-top .sign-in {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 64px;
}
.header-top .sign-in a {
    color: #1f2730;
}
.header-top .sign-in:before {
    width: 12px;
    height: 12px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    left: -18px;
    top: 5px;
    background: url(../img/sprite.png) 0 0 no-repeat;
}
.header-top .social {
    position: absolute;
    top: 13px;
    left: 410px;
    list-style: none;
    text-align: center;
}
.header-top .social:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.header-top .social li{
    width: 16px;
    height: 16px;
    margin: 0 4px 0 0;
    float: left;
    background: url(../img/sprite.png) -20px 0 no-repeat;
}
.header-top .social li a{
    width: 16px;
    height: 16px;
    display: block;
}
.header-top .social .tw {
    background-position: -40px 0;
}
.header-top .social .vk {
    background-position: -60px 0;
}
.header-top .social .ok {
    background-position: -80px 0;
}
.header-top .nav-top {
    position: absolute;
    top: 10px;
    right: 6px;
    list-style: none;
}
.header-top .nav-top:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.header-top .nav-top li {
    margin-left: 16px;
    color: #1480dc;
    float: left;
}
.header-top .nav-top li:last-child :after{
    background: none;
}
.header-top .nav-top li a {
    padding-right: 16px;
    position: relative;
    color: #1480dc;
}
.header-top .nav-top li a:after {
    width: 1px;
    height: 13px;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #e2e4e5;
}



/* Header-middle ============================== */

.header-middle {
    height: 66px;
}
.header-middle .logo {
    width: 115px;
    height: 35px;
    margin: 0;
    overflow: hidden;
    text-indent: -2000px;
    position: absolute;
    top: 14px;
    left: 37px;
    background: url(../img/logo.png) 0 0 no-repeat;
}
.header-middle .logo a {
    width: 115px;
    height: 35px;
    display: block;
}
.header-middle .slogan {
    margin: 0;
    color: #99999d;
    position: absolute;
    top: 33px;
    left: 159px;
    font-style: italic;
}
.header-middle .phone {
    width: 230px;
    margin: 0;
    position: absolute;
    top: 22px;
    left: 327px;
    text-align: right;
    font-size: 11px;
    line-height: 6px;
    letter-spacing: -0.02em;
}
.header-middle .phone .number {
    display: block;
    font-size: 18px;
    line-height: 11px;
    color: #1480dc;
    font-weight: bold;
}
.header-middle .callback {
    width: 150px;
    margin: 0;
    padding-left: 13px;
    line-height: 12px;
    position: absolute;
    top: 22px;
    left: 569px;
    border-left: 1px solid #c9c9c9;
}
.header-middle .search {
    display: block;
    position: absolute;
    top: 19px;
    right: 21px;
}
.header-middle .search p {
    margin: 0;
    font-size: 13px;
    color: #1f2730;
}
.header-middle .search input[type="text"] {
    width: 199px;
    height: 13px;
    padding: 7px 9px;
    outline: none;
    border: 1px solid #e5e5e5;
    background: url(../img/search.png) no-repeat 96%; 
}



/* Block-nav ================================================= */

.block-nav {
    height: 60px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}
.nav {
    height: 60px;
    background: url(../img/nav.jpg) 0 0 repeat-x;
}
.nav:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.nav .links {
    width: 620px; 
    position: absolute;
    top: 20px;
    left: 16px;
    letter-spacing: -0.02em;
}
.nav .links:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
@-moz-document url-prefix() {
    .nav .links{
        letter-spacing: -0.008em;
    }   
}
.nav .links li {
    padding: 0 18px;
    float: left;
    border-right: 1px dotted #4fcdff;
}
.nav .links li:last-child {
    border-right: none;
} 
.nav .links li a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #33729b;
    transition: all .3s ease;
}
.nav .links li a:hover {
    color: #4fcdff;
}
.nav .orders {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 12px;
    color: #4f7c9d;
}
.nav .orders:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.nav .orders .color {
    color: #fff;
    font-weight: bold;
}
.nav .orders .cart {
    padding: 0 22px 0 48px;
    margin: 0;
    float: left;
    position: relative;
}
.nav .orders .cart:before {
    width: 16px;
    height: 16px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 0;
    background: url(../img/sprite.png) -120px 0 no-repeat;
}
.nav .orders .customs {
    padding: 0 30px 0 18px;
    margin: 0;
    float: left;
    position: relative;
}
.nav .orders .customs:before {
    width: 8px;
    height: 18px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    left: 6px;
    top: 0;
    background: url(../img/sprite.png) -140px 0 no-repeat;
}



/* Block-Content ================================================= */

.block-content {
    padding: 20px 0;
    position: relative;
    min-height: 636px;
}
.content-main {
    position: relative;
    background: url(../img/proposion.jpg) 0 0 repeat;
    z-index: 8;
}
.block-content .background {
    width: 1218px;
    height: 584px;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 4;
}
.block-content .background .bx-wrapper {
    width: 1218px !important;
    height: 584px;
    overflow: hidden;
    position: relative;
}
.block-content .background .bx-controls {
    width: 70px;
    height: 40px;
    position: absolute;
    bottom: 92px;
    right: 140px;
    z-index: 10;
}
.block-content .background .bx-controls:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.block-content .background .bx-controls a {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    position: relative;
    text-indent: -1000px;
    overflow: hidden;
    margin-left: 1px;
    background: url(../img/sprite.png) -210px 0 no-repeat;
    background-color: #1f5aa6;
    z-index: 10;
}
.block-content .background .bx-controls a:hover {
    background-color: #2c3e50;
}
.block-content .background .bx-controls .bx-next {
    background-position: -240px 0;
}
.block-content .background .carousel {
    width: 10000px;
    list-style: none;
}
.block-content .background .carousel:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.block-content .background .carousel li {
    float: left;
}


/* Content ================================ */

.content {
    width: 640px;
    float: left;
    margin: 0 20px 0 0;
    position: relative;
    z-index: 8;
}
.content .search-box {
    width: 620px;
    height: 112px;
    padding: 32px 0 0 20px;
    margin: 0 0 40px 0;
    background-image: url(../img/search.jpg);
}
.content .search-box a {
    width: 620px;
    height: 38px;
    display: block;
    text-decoration: none;
    color: #fff;
}
.content .search-box a span {
    width: 187px;
    height: 30px;
    padding: 8px 0 0 17px;
    display: block;
    float: left;
}
.content .search-box a .type-1 {
    background: #464655;
    position: relative;
}
.content .search-box a .type-1:after {
    width: 0;
    height: 0;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 37px solid #000;
    border-left: 11px solid transparent;
}
.content .search-box a .type-2 {
    border-top: 1px solid rgba( 255, 255, 255, 0.5); 
    position: relative;
}
.content .search-box a .type-2:before {
    width: 1px;
    height: 37px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom,  rgba(251,251,251,1) 0%,rgba(251,251,251,0) 100%);
    opacity: 0.5;
}
.content .search-box a .type-2:active {
    background: #464655;
}
.content .search-box input[type="text"] {
    display: block;
    width: 560px;
    height: 16px;
    padding: 16px 18px;
    color: #566473;
    outline: none;
    border: 1px solid #e5e5e5;
    background: url(../img/search.png) no-repeat 98%; 
    background-color: rgba( 255, 255, 255, 0.9);
}
.content .kind {
    margin-left: 52px;
    position: relative;
    text-transform: uppercase;
    list-style: none;
}
.content .kind:before {
    width: 17px;
    height: 12px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    left: -22px;
    top: 3px;
    background: url(../img/sprite.png) -160px 0 no-repeat;
} 
.content .kind:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.content .kind li {
    float: left;
    padding: 0 6px;
    margin-right: 8px; 
    position: relative;
}
.content .kind li:after {
    width: 7px;
    height: 13px;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    position: absolute;
    bottom: 3px;
    right: -7px;
    background: url(../img/sprite.png) -150px 0 no-repeat;
}
.content .kind li a{
    float: left;
    color: #444444;
}

/* Side-bar ================================ */

.side-bar {
    width: 320px;
    float: right;
}
.side-bar .news {
    font-size: 13px;
    line-height: 19px;
    position: relative;
    z-index: 8;
}
.side-bar .news .side-box {
    padding: 10px 40px 22px 20px;
    list-style: none;
}
.side-bar .news li {
    margin: 0 0 24px 0;
}
.side-bar .news .title {
    padding: 0 0 0 26px;
    margin: 0 0 18px 0;
}
.side-bar .news li a {
    color: #fff;
}
.side-bar .news .title a{
    text-decoration: none;
} 
.side-bar .news .title a:hover {
    text-decoration: underline;
} 


/* Side-card ================================ */

.side-card {
    width: 240px;
    margin-right: 18px;
    float: left;
}
.side-card .side-catalog {
    line-height: 30px;
    text-transform: uppercase;
}
.side-card .side-catalog .side-box {
    padding: 16px 8px 26px 8px;
    position: relative;
    list-style: none;
}
.side-card .side-catalog .side-box:before {
    width: 17px;
    height: 12px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    right: 14px;
    top: 12px;
    background: url(../img/sprite.png) -270px 0 no-repeat;
} 
.side-card li {
    transition: all .3s ease;
}
.side-card li:hover {
    background: rgba( 76, 194, 255, 0.8);
}
.side-card li a {
    width: 198px;
    padding-left: 22px;
    display: block;
    color: #fff;
}
.side-card li a:hover {
    color: #033466;
}


/* Filter ================================ */

.filter {
    width: 220px;
    padding: 12px 10px;
    background: #fff;
    font-size: 13px;
    box-shadow: 0 0 18px rgba( 0, 0, 0, 0.13);
}
.filter .h5 {
    margin: 0 0 8px 18px;
}
.filter .model {
    padding: 4px 18px 10px 18px;
    margin-bottom: 11px;
    background-color: #f0f8fb;
}
.filter .model span {
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
}
.filter .model label {
    margin-bottom: 8px;
    display: block; 
    text-transform: none;
}
.filter input[type="text"] {
    width: 167px;
    height: 12px;
    padding: 6px 8px;
    outline: none;
    background: url(../img/search.png) no-repeat 96%;
    background-color: #fff; 
    border: 1px solid #969696;
}
.filter input[type="submit"] {
    width: 105px;
    height: 38px;
    padding: 0 9px 0 26px;
    margin-right: 2px;
    outline: none;
    color: #fff;
    background: #d5d5d5;
    border: none;
}
.filter input[type="submit"]:hover {
    background: #1f5aa6;
}
.filter .button {
    position: relative;
}
.filter .button:before {
    width: 10px;
    height: 9px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    left: 10px;
    top: 6px;
    background: url(../img/sprite.png) -390px 0 no-repeat;
} 
.filter .pick:before {
    width: 14px;
    background-position: -410px 0;
}



/* Content-right ================================ */


.content-right {
    width: 722px;
    padding-top: 10px;
    float: right;
    font-size: 12px;
    line-height: 16px;
}
.content-right a {
    color: #2c2c2c;
}
.breadcrumbs {
    margin-bottom: 10px;
    font-size: 12px;
}
.content-right .about {
    margin-bottom: 17px;
}
.content-right .about:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.content-right .about .pic {
    width: 450px;
    height: 452px;
    display: block;
    border: 1px solid #fff;
}
.content-right .about .picture .carousel {
    list-style: none;
}
.content-right .about .picture .carousel li {
    float: left;
}
.content-right .about .picture {
    width: 452px;
    float: left;
}
.content-right .about .picture .carousel li .pic {
    width: 102px;
    height: 75px;
    display: block;
}
.content-right .about .describe {
    width: 240px;
    float: right;
}
.content-right .about .describe .heading {
    font-size: 19px;
    font-weight: bold;
    color: #3a8ed2;
}
.content-right .about .describe .red {
    font-size: 16px;
}
.crossed { 
    color: #757575; 
    font-size: 16px;
    text-decoration: line-through;
} 
.content-right .about .describe .cart {
    margin-bottom: 7px;
    font-size: 16px;
    text-align: center;
}
.content-right .about .describe .cart:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.content-right .about .describe .add {
    width: 208px;
    height: 24px;
    padding-top: 12px;
    display: block;
    color: #575757;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: #e2e2e2;
}
.content-right .about .describe .add:hover {
    color: #fff;
    background-color: #1f5aa6;
}
.content-right .about .describe .select {
    width: 53px;
    height: 22px;
    margin-right: 3px;
    padding-top: 12px; 
    display: block;
    float: left;
    border: 1px solid #afafaf;
}
.content-right .about .describe .add-now {
    width: 150px;
    float: left;
}
.content-right .about .describe .links {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}
.content-right .about .describe .links a {
    padding: 17px 0;
    position: relative;
    display: block;
}
.content-right .about .describe .links a:before {
    width: 16px;
    height: 16px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    left: 44px;
    top: 17px;
    background: url(../img/sprite.png) -290px 0 no-repeat;
}
.links .quick-order {
    border-bottom: 2px solid #e5e5e5;
}
.content-right .about .describe .links .ask:before {
    background-position: -310px 0;
}

.link {
    height: 25px;
    border-bottom: 1px solid #e7e7e7;
}
.link a {
    padding: 10px 16px;
}
.link a:hover {
    background-color: #e7e7e7;
}


/* Contact-us ================================ */

.contact-us {
    width: 682px;
    padding: 14px 20px;
    background: #fff;
    font-size: 12px;
    line-height: 19px;
    box-shadow: 0 0 5px 1px rgba( 0, 0, 0, 0.18);
    border-radius: 5px;
}
.contact-us .note {
    width: 674px;
    margin: 0 0 28px 10px;
}
.contact-us .note td{
    width: 674px;
    padding: 9px 0 9px 0;
    border-bottom: 1px solid #e8e8e8;
}
.contact-us .icq {
    position: relative;
    padding-left: 20px;
}
.contact-us .icq:before {
    width: 15px;
    height: 15px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/sprite.png) -330px 0 no-repeat;
}
.contact-us .heading {
    margin: 0 0 10px 10px;
}
.contact-us .map {
    width: 678px;
    height: 432px;
    display: block;
    position: relative;
    box-shadow: 0 6px 9px rgba( 0, 0, 0, 0.25);
}
.contact-us .map:hover .cursor{
    display: block;
}
.contact-us .map-link {
    width: 678px;
    height: 432px;
    display: block;
}
.contact-us .cursor {
    width: 103px;
    height: 101px;
    display: none;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 250px;
    background: url(../img/sprite.png) -230px -30px no-repeat;
}



/* Catalog ================================ */

.catalog {
    margin-bottom: 22px;
    padding-right: 20px;
    position: relative;
}
.catalog .h3 {
    margin-bottom: 32px;
}
.catalog .sorting {
    margin: 0;
    position: absolute;
    top: 4px;
    right: 12px;
    font-size: 11px;
}
.catalog .sorting a {
    padding-right: 36px;
    position: relative;
    display: block;
}
.catalog .sorting a:before {
    width: 28px;
    height: 28px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    right: 8px;
    bottom: -6px;
    background: url(../img/sprite.png) -350px 0 no-repeat;
    background-color: #16a7dc;
    border-radius: 15px;
}
.catalog .ware {
    width: 720px;
    margin: 0 auto 6px;
}
.catalog .ware li {
    margin-bottom: 18px;
}
.catalog .pager {

}
.catalog .pager:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.catalog .number {
    list-style: none;
}
.catalog .number:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}

.catalog .number-page {
    font-size: 15px;
    float: left;
}
.catalog .number li {
    margin: 0 0 0 12px;
    float: left;  
}
.catalog .number li a {
    color: #2c2c2c;
    font-weight: bold;
}
.catalog .number li .active {
    color: #1f5aa6;
    text-decoration: none;
}
.catalog .number li .arrow {
    text-decoration: none;
}
.catalog .number-amount {
    font-size: 12px;
    float: right;
}
.full .products .bx-wrapper {
    min-width: 960px !important;
    margin: 0 auto;
    overflow: hidden;
}





.products {
    margin-bottom: 32px;
}

/* Block-proposion ======================================================== */

.block-proposion {
    height: 322px;
    position: relative;
    background: url(../img/proposion.jpg) 0 0 repeat;
}
.proposion {
    margin: -86px 0 0 20px;
    position: absolute;
    z-index: 8;
    cursor: default;
}
.proposion:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.proposion .ware {
    width: 960px;
    margin: 0 -20px 0 0;
}





/* Block-tips ======================================================== */

.block-tips {
    width: 1218px;
    padding: 54px 0 36px 0;
    background: url(../img/item.jpg) 0 0 no-repeat;
    background-size: cover;
}
.block-tips .tips {
    width: 960px;
    padding-left: 20px;
}
.block-tips .tips:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.block-tips .tips .h4 {
    margin: 0 110px 26px 0;
    position: relative;
}
.block-tips .tips .h4:before {
    width: 608px;
    height: 1px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 20%;
    background: rgba( 44, 62, 80, 0.1);
}
.block-tips .tips .all {
    font-size: 12px;
    color: #1f5aa6;
    position: absolute;
    top: 0;
    right: 14px;
}
.block-tips .tips .item {
    width: 270px;
    margin: 0 50px 40px 0;
    float: left;
}
.block-tips .tips .item a {
    color: #000;
}
.block-tips .tips .item .img-link {
    width: 230px;
    height: 130px;
    margin-bottom: 16px; 
    display: block;
    position: relative;
    z-index: 8;
}
.block-tips .tips .item .img-link:after {
    width: 239px;
    height: 144px;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0;
    position: absolute;
    left: 4px;
    top: 0;
    background: url(../img/car-before.png) 0 0 no-repeat;
    z-index: -1;
}
.block-tips .tips .item .pic {
    width: 230px;
    height: 130px;
    display: block;
    box-shadow: 9px 9px 10px rgba( 115, 131, 148, 0.75);
}
.block-tips .tips .item .date {
    margin: 0;
    font-size: 12px;
    color: #9e9e9e;
}
 

/* footer ======================================================== */


.footer {
    width: 1218px;
    height: 250px;
    font-size: 13px;
    color: #8e98ab;
    position: relative;
    background: url(../img/footer.jpg) 0 0 no-repeat;
}
.footer .wrapper:before {
    width: 960px;
    height:6px;
    content: "\0020";
    display: block;
    margin: 0 20px;
    position: absolute;
    top: -6px;
    background: #1f5aa6;
} 
.footer:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.footer .logo-akinfeev {
    width: 80px;
    height: 24px;
    margin: 0;
    position: absolute;
    top: 26px;
    left: 22px;
    background: url(../img/logo-footer.png) 0 0 no-repeat;
}
.footer .slogan {
    width: 184px;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    top: 72px;
    left: 20px;
}
.footer .copyright {
    margin: 0;
    font-size: 12px;
    position: absolute;
    top: 160px;
    left: 18px;
}
.footer .copyright:before {
    width: 126px;
    height: 2px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    left: 0;
    top: -20px;
    background: rgba( 119, 132, 144, 0.3);
}
.footer .nav-footer {
    position: absolute;
    top: 34px;
}
.footer .nav-footer ul {
    min-width: 170px;
    margin: 0;
    float: left;
    list-style: none;
}
.footer .nav-footer .heading {
    margin-bottom: 12px;
    font-size: 15px;
    color: #d9d9d9;
    font-weight: normal;
}
.footer .nav-footer li a {
    color: #8e98ab;
}
.footer .about {
    left: 338px;
}
.footer .products {
    right: 250px;
}
.footer .contacts {
    position: absolute;
    top: 40px;
    right: 22px;
    text-align: right;
}
.footer .contacts .phone {
    width: 201px;
    height: 21px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #1f5aa6;
    overflow: hidden;
    text-indent: 2000px;
    background: url(../img/sprite.png) 0 -30px no-repeat;
}
.footer .contacts .address {
    display: block;
    position: relative;
}
.footer .contacts .address:before {
    width: 20px;
    height: 18px;
    content: "\0020";
    display: block;
    margin: 0;
    position: absolute;
    left: 60px;
    top: 0;
    background: url(../img/sprite.png) -180px 0 no-repeat;
}
.footer .author {
    margin: 0;
    position: absolute;
    top: 182px;
    right: 22px;
    color: #d4d4d4;
}
.footer .author a {
    color: #d4d4d4;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}