/*!
 * Project: Ezet
 * File: Main styles
 * Author: Sergiy Miroshnychenko
 */

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html, button, input, select, textarea {
	color: #000;
}

html {
	height: 100%;
	font: 14px/20px 'Verdana', Arial, Tahoma, sans-serif;
	background: #e8e5e3 url(../img/html.jpg) no-repeat 50% 0;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}
ul {
	margin: 0;
	padding: 0;
}
p {
	margin: 0 0 30px 0;
}
h2, h3, h4, h5, h6 {
	margin: 0 0 16px 0;
}
a {
	color: #1f5aa6;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio, canvas, img, video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
	width: 1218px;
	min-height: 100%;
	margin: 0 auto;
	box-shadow: 0 0 100px 10px rgba(0, 0, 0, .7);
	background: #fff;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}
.wrapper:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}


.h2 {
	margin: 0 0 22px 0;
	font-size: 30px;
	line-height: 30px;
	color: #40a8dd;
	font-weight: normal;
}
.h3 {
	font-size: 26px;
	color: #40a8dd;
	font-weight: normal;
}
.h4 {
	position: relative;
	color: #1f5aa6;
	font-size: 24px;
	font-weight: normal;
}
.h5 {
	font-size: 19px;
	line-height: 22px;
	color: #000;
	font-weight: normal;
}
.h6 {
}

/* ==========================================================================
   Header
   ========================================================================== */
.header {
	height: 107px;
	position: relative;
	font-size: 12px;
	cursor: default;
}
.header:before {
	height: 1px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	background-color: #e5e5e5;
}
.header .logo {
	width: 115px;
	height: 35px;
	margin: 0;
	overflow: hidden;
	text-indent: -2000px;
	position: absolute;
	top: 56px;
	left: 37px;
	background: url(../img/logo.png) 0 0 no-repeat;
}
.header .logo a {
	width: 115px;
	height: 35px;
	display: block;
}
.header .slogan {
	margin: 0;
	color: #99999d;
	position: absolute;
	top: 76px;
	left: 159px;
	font-style: italic;
}

.header .login {
	margin: 0;
	position: absolute;
	top: 10px;
	left: 64px;
}
.header .login a {
	color: #1f2730;
	display: inline-block;
	position: relative;
	transition: all .2s ease;
}
.header .login a:before {
	width: 12px;
	height: 12px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: -18px;
	top: 4px;
	background: url(../img/sprite.png) 0 0 no-repeat;
}

.header .social {
	margin: 0;
	overflow: hidden;
	position: absolute;
	top: 13px;
	left: 410px;
	list-style: none;
	text-align: center;
}
.header .social li {
	width: 16px;
	height: 16px;
	margin: 0 4px 0 0;
	float: left;
	opacity: 1;
	transition: all .2s ease;
	background: url(../img/sprite.png) -20px 0 no-repeat;
}
.header .social .fb { background-position: -20px 0; }
.header .social .tw { background-position: -40px 0; }
.header .social .vk { background-position: -60px 0; }
.header .social .ok { background-position: -80px 0; }
.header .social li:hover {
	opacity: .7;
}
.header .social li a {
	width: 16px;
	height: 16px;
	display: block;
}

.header .nav {
	margin: 0;
	overflow: hidden;
	position: absolute;
	top: 10px;
	right: 6px;
	list-style: none;
}
.header .nav li {
	padding: 0 16px;
	color: #1480dc;
	float: left;
}
.header .nav li:last-child :after {
	background: none;
}
.header .nav li a {
	position: relative;
	color: #1480dc;
	transition: all .2s ease;
}
.header .nav li a:after {
	width: 1px;
	height: 13px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	position: absolute;
	top: 2px;
	right: -16px;
	background-color: #e2e4e5;
}

.header .phone {
	width: 230px;
	margin: 0;
	position: absolute;
	top: 63px;
	left: 327px;
	text-align: right;
	font-size: 11px;
	line-height: 7px;
	letter-spacing: -0.02em;
}
.header .phone .number {
	border: none;
	display: block;
	font-size: 18px;
	line-height: 11px;
	color: #1480dc;
	font-weight: bold;
	text-decoration: none;
}

.header .callback {
	width: 150px;
	margin: 0;
	padding-left: 13px;
	border-left: 1px solid #c9c9c9;
	display: block;
	line-height: 13px;
	position: absolute;
	top: 63px;
	left: 569px;
}
.header .callback a {
	border-bottom: 1px dotted #282c30;
	color: #282c30;
	text-decoration: none;
	transition: all .2s ease;
}
.header .callback a:hover {
	border-bottom-color: transparent;
}

.header .search {
	display: block;
	position: absolute;
	top: 60px;
	right: 21px;
}
.header .search .line {
	margin: 0;
	display: block;
	position: relative;
}
.header .search input[type="text"] {
	width: 199px;
	padding: 7px 9px 6px;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	box-shadow: none;
	display: block;
	position: relative;
	outline: none;
	font: 13px Arial, Tahoma, sans-serif;
	color: #1f2730;
	background: #fff;
}
.header .search input[type="submit"] {
	width: 20px;
	height: 20px;
	padding: 0;
	border: none;
	display: block;
	position: absolute;
	top: 5px;
	right: 7px;
	z-index: 5;
	outline: none;
	background: url('../img/sprite.png') no-repeat -25px -25px;
}
.header .search ::-webkit-input-placeholder { color: #1f2730; opacity: 1; }
.header .search :-moz-placeholder { color: #1f2730; opacity: 1; }
.header .search ::-moz-placeholder { color: #1f2730; opacity: 1; }
.header .search :-ms-input-placeholder { color: #1f2730; opacity: 1; }

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
	width: 100%;
	font-size: 13px;
	color: #8e98ab;
	cursor: default;
	position: relative;
	background: #060d15 url(../img/footer.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.footer .wrapper {
	height: 250px;
}
.footer .wrapper:before {
	height: 4px;
	content: "\0020";
	display: block;
	position: absolute;
	top: -4px;
	left: 20px;
	right: 20px;
	background: #1f5aa6;
}
.footer:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.footer .logo {
	width: 80px;
	height: 24px;
	margin: 0;
	position: absolute;
	top: 25px;
	left: 21px;
	background: url(../img/logo.png) 0 0 no-repeat;
	background-size: cover;
}
.footer .slogan {
	width: 184px;
	margin: 0;
	font-size: 12px;
	line-height: 14px;
	position: absolute;
	top: 72px;
	left: 20px;
}
.footer .copyright {
	margin: 0;
	font-size: 12px;
	position: absolute;
	top: 158px;
	left: 20px;
	letter-spacing: -.01em;
}
.footer .copyright:before {
	width: 126px;
	height: 2px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: 0;
	top: -20px;
	background: rgba(119, 132, 144, 0.3);
}
.footer .nav-footer {
	position: absolute;
	top: 34px;
	letter-spacing: -.01em;
}
.footer .nav-footer ul {
	min-width: 170px;
	margin: 0;
	float: left;
	list-style: none;
}
.footer .nav-footer .heading {
	margin-bottom: 12px;
	font-size: 15px;
	color: #d9d9d9;
	font-weight: normal;
}
.footer .nav-footer li a {
	color: #8e98ab;
}
.footer .about {
	left: 339px;
}
.footer .products {
	left: 560px;
}
.footer .contacts {
	position: absolute;
	top: 34px;
	right: 22px;
	text-align: right;
	letter-spacing: -.02em;
}
.footer .contacts p {
	margin-bottom: 15px;
}
.footer .contacts .phone {
	margin-bottom: -4px;
	display: block;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	color: #1f5aa6;
	overflow: hidden;
}
.footer .contacts .phone small {
	font-size: 18px;
	color: #fff;
}
.footer .contacts .address {
	display: inline-block;
	position: relative;
}
.footer .contacts .address:before {
	width: 20px;
	height: 18px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: -22px;
	top: 1px;
	background: url(../img/sprite.png) -180px 0 no-repeat;
}
.footer .author {
	margin: 0;
	position: absolute;
	top: 182px;
	right: 22px;
	color: #d4d4d4;
	letter-spacing: -.02em;
}
.footer .author a {
	color: #d4d4d4;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
.navigation {
	margin-bottom: 20px;
	position: relative;
	z-index: 15;
}
.navigation .wrapper {
	min-height: 60px;
	cursor: default;
	background: #033466 url(../img/navigation.png) repeat-x 0 0;
}
.navigation .toggle {
	margin: 0;
	display: none;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: -.02em;
	transition: all .3s ease;
}
.navigation .toggle a {
	border-bottom: 1px solid #35749d;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	transition: all .3s ease;
}
.navigation .toggle a:hover {
	color: #4fcdff;
	border-bottom-color: transparent;
}
.navigation .nav {
	height: 60px;
	position: relative;
	float: left;
}
.navigation .nav:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.navigation .nav .list {
	width: 620px;
	margin: 0;
	position: absolute;
	top: 20px;
	left: 16px;
	list-style: none;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	letter-spacing: -0.015em;
}
.navigation .nav .list:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.navigation .nav .list > li {
	padding: 0 18px;
	float: left;
	position: relative;
}
.navigation .nav .list > li:before {
	width: 1px;
	height: 7px;
	margin-top: -3px;
	content: "\0020";
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	border-left: 1px dotted #4fcdff;
}
.navigation .nav .list > li:first-child:before {
	display: none;
}
.navigation .nav .list > li > a {
	border-bottom: 1px solid #33729b;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	transition: all .3s ease;
}
.navigation .nav .list > li > a:hover {
	border-bottom-color: transparent;
	color: #4fcdff;
}
.navigation .nav .list > li ul {
	padding: 20px 0;
	margin: 0;
	display: none;
	list-style: none;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	background: #1aace1;
}
.navigation .nav .list > li ul li {
	padding: 15px 18px;
}
.navigation .nav .list > li ul a {
	color: #000;
}

.navigation .cart {
	padding: 19px 10px 14px 45px;
	margin: 0;
	float: right;
	position: relative;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.015em;
	color: #4f7c9d;
	background: url('../img/bookmarks.png') no-repeat 0 0;
}
.navigation .cart:before {
	width: 16px;
	height: 16px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: 18px;
	top: 21px;
	background: url(../img/sprite.png) -120px 0 no-repeat;
}
.navigation .cart .color {
	color: #fff;
	font-weight: bold;
}

.navigation .bookmarks {
	padding: 19px 30px 14px 36px;
	margin: 0;
	display: block;
	float: right;
	position: relative;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #fff;
	background: url('../img/bookmarks.png') no-repeat 0 0;
}
.navigation .bookmarks:before {
	width: 8px;
	height: 18px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: 23px;
	top: 19px;
	background: url(../img/sprite.png) -140px 0 no-repeat;
}

/* ==========================================================================
   Index block
   ========================================================================== */
.index {
	min-height: 487px;
	padding: 0 0 150px;
	border-bottom: 1px solid #f2f2f2;
	position: relative;
	background: url('../img/index.jpg') no-repeat 50% 100%;
	background-size: 100% auto;
}
.index .searchbox {
	height: 112px;
	padding: 32px 22px 0 20px;
	margin: 0 0 40px 0;
	position: relative;
	float: left;
	background: #000 url(../img/searchbox.jpg) 100% 0 no-repeat;
}
.index .searchbox .triggers {
	margin: 0 0 3px 0;
	list-style: none;
	overflow: hidden;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.025em;
	font-weight: bold;
}
.index .searchbox .triggers li {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	margin-right: 12px;
	float: left;
	position: relative;
}
.index .searchbox .triggers li:before {
	width: 1px;
	height: 37px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(to bottom, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 0) 100%);
	opacity: 0.5;
}
.index .searchbox .triggers a {
	padding: 9px 64px 7px 17px;
	display: block;
	color: #fff;
	outline: none;
	text-decoration: none;
	transition: all .3s ease;
}
.index .searchbox .triggers a:hover {
	color: #ccc;
}
.index .searchbox .triggers li.active {
	border-color: #464655;
	background: #464655;
}
.index .searchbox .triggers li.active a {
	color: #fff;
}
.index .searchbox .triggers li.active:after {
	width: 12px;
	height: 37px;
	content: "\0020";
	display: block;
	position: absolute;
	left: 100%;
	top: 0;
	background: url('../img/sprite.png') no-repeat 0 -20px;
}
.index .searchbox .triggers li.active:before {
	display: none;
}

.index .searchbox .line {
	margin: 0;
	display: block;
	position: relative;
}
.index .searchbox input[type="text"] {
	width: 560px;
	height: 17px;
	border: none;
	border-radius: 0;
	padding: 16px 19px;
	display: block;
	position: relative;
	outline: none;
	font-size: 14px;
	font-weight: bold;
	color: #566473;
	letter-spacing: .05em;
	background: rgba(255, 255, 255, 0.9);
}
.index .searchbox input[type="text"][disabled="disabled"] { display: none; }
.index .searchbox ::-webkit-input-placeholder { color: #566473; opacity: 1; }
.index .searchbox :-moz-placeholder { color: #566473; opacity: 1; }
.index .searchbox ::-moz-placeholder { color: #566473; opacity: 1; }
.index .searchbox :-ms-input-placeholder { color: #566473; opacity: 1; }
.index .searchbox input[type="submit"] {
	width: 30px;
	height: 30px;
	border: none;
	display: block;
	position: absolute;
	top: 10px;
	right: 4px;
	z-index: 5;
	outline: none;
	background: url('../img/sprite.png') no-repeat -20px -20px;
}

.index .maker-list {
	margin: 0 340px 0 60px;
	position: relative;
	clear: left;
	text-transform: uppercase;
	list-style: none;
	cursor: default;
	transition: all .3s ease;
}
.index-collapsed .maker-list {
	margin-right: 30px;
	transition: all .3s .3s ease;
}
.index .maker-list:before {
	width: 17px;
	height: 12px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: -30px;
	top: 4px;
	background: url(../img/sprite.png) -160px 0 no-repeat;
}
.index .maker-list li {
	display: inline;
}
.index .maker-list li:after {
	margin-left: 6px;
	content: "/";
	display: inline;
	position: relative;
	color: #14a6dc;
}
.index .maker-list li:last-child:after {
	display: none;
}
.index .maker-list li a {
	color: #444;
	transition: all .3s ease;
}
.index .maker-list li a:hover {
	color: #14a6dc;
}

.index .news {
	width: 260px;
	padding: 10px 40px 20px 20px;
	overflow: hidden;
	transition: all .3s .3s ease;
	float: right;
	position: relative;
	background: rgba(8, 112, 198, 0);
	background: linear-gradient(to right, rgba(8, 112, 198, 0) 0%, rgba(8, 112, 198, 1) 100%);
	background-color: rgba(20, 166, 220, 0.8);
}
.index-collapsed .news {
	height: 114px !important;
	transition: all .3s ease;
}
.index .news .toggle {
	width: 13px;
	height: 12px;
	display: block;
	position: absolute;
	right: 10px;
	bottom: 14px;
	transition: all .2s .2s ease;
	background: url('../img/sprite.png') no-repeat -80px -20px;
}
.index-collapsed .news .toggle {
	background-position: -80px -40px;
}
.index .news .list {
	margin: 0 0 20px;
	list-style: none;
	font-size: 13px;
	line-height: 18px;
	overflow: hidden;
	cursor: default;
}
.index .news .list li {
	padding: 27px 0 0 0;
}
.index .news .list li:first-child {
	padding-top: 0;
}
.index .news .list li a {
	color: #fff;
	text-decoration: none;
}
.index .news .list li a:hover {
	text-decoration: underline;
}
.index .news .list li .date {
	font-size: 11px;
	color: #343434;
}
.index .news .heading {
	margin: 0 0 18px 0;
	line-height: 22px;
	font-weight: normal;
}
.index .news .heading a {
	padding: 0 0 0 25px;
	display: inline-block;
	position: relative;
	color: #fff;
	text-decoration: none;
}
.index .news .heading a:before {
	width: 14px;
	height: 18px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: 1px;
	top: 3px;
	background: url(../img/sprite.png) -60px -20px no-repeat;
}
.index .news .heading a:hover {
	text-decoration: underline;
}

/* ==========================================================================
   Catalog
   ========================================================================== */
.catalog {
	margin: 0;
	list-style: none;
	line-height: 18px;
}
.catalog:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.catalog li {
	width: 192px;
	padding: 14px;
	min-height: 278px;
	margin: 0 20px 20px 0;
	float: left;
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	background: #fff;
}
.catalog .badge {
	padding: 2px 10px 2px 12px;
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #fff;
	text-align: center;
	background: #14a6dc;
}
.catalog .badge:before {
	width: 6px;
	height: 22px;
	content: "\0020";
	display: block;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 1;
	background: url(../img/sprite.png) -100px 0 no-repeat;
}
.catalog .badge-sale {
	padding: 2px 6px 2px 8px;
	background: #fc4349;
}
.catalog .badge-sale:before {
	background-position: -110px 0;
}
.catalog .img {
	width: 220px;
	height: 200px;
	margin: -14px -14px 2px;
	display: block;
}
.catalog .link {
	min-height: 54px;
	display: block;
	color: #122025;
	transition: all .3s ease;
}
.catalog .link:hover {
	color: #14a6dc;
}
.catalog .price {
	margin: 0;
	display: block;
	position: absolute;
	bottom: 10px;
	left: 15px;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: -.03em;
}
.catalog .price .cost {
	font-weight: bold;
	font-size: 16px;
	color: #fc4349;
}
.catalog .add {
	padding: 10px 18px;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #fff;
	text-decoration: none;
	text-align: center;
	transition: all .3s ease;
	letter-spacing: -.03em;
	background: #1f5aa6;
}
.catalog .add:hover {
	background: #14a6dc;
}

/* ==========================================================================
   Special
   ========================================================================== */
.special {
	border-top: 38px solid #fff;
	position: relative;
	z-index: 10;
	background: url(../img/special.png) 50% 0 repeat;
}
.special .wrapper {
	padding: 0 0 30px 20px;
	margin-top: -126px;
	position: relative;
	z-index: 5;
	cursor: default;
}
.special:before {
	width: 1022px;
	height: 49px;
	margin: 0 0 0 -511px;
	content: "\0020";
	display: block;
	position: absolute;
	left: 50%;
	bottom: 1px;
	z-index: 1;
	background: url(../img/special-shadow.png) 50% 100% no-repeat;
	background-size: 100% auto;
}
.special .carousel {
	width: 940px;
	padding: 0 10px;
	margin: 0 -10px;
	overflow: hidden;
	position: relative;
}
.special .carousel-inited {
	width: 960px;
	padding: 0;
	margin: 0;
	overflow: visible;
}
.special .carousel .bx-wrapper {
	margin: 0 -10px !important;
	position: relative;
}
.special .carousel .bx-wrapper .bx-viewport {
	padding: 0 10px 20px !important;
}
.special .carousel .bx-controls {
	position: absolute;
	top: -48px;
	right: -10px;
}
.special .carousel .bx-controls .bx-controls-direction {
	overflow: hidden;
}
.special .carousel .bx-controls .bx-prev, .special .carousel .bx-controls .bx-next {
	width: 30px;
	height: 30px;
	margin-left: 1px;
	display: block;
	float: left;
	overflow: hidden;
	text-indent: -1000px;
	transition: all .3s ease;
	background: #1f5aa6 url('../img/sprite.png') no-repeat -210px 0;
}
.special .carousel .bx-controls .bx-next {
	background-position: -240px 0;
}
.special .carousel .bx-controls .bx-prev:hover, .special .carousel .bx-controls .bx-next:hover {
	background-color: #2c3e50;
}
.special .carousel .catalog {
	width: 10000px;
}

/* ==========================================================================
   Articles
   ========================================================================== */
.articles {
	padding: 54px 0 95px 0;
	cursor: default;
	background: url(../img/articles.jpg) 0 0 no-repeat;
	background-size: cover;
}
.articles .wrapper {
	padding: 0 20px;
	position: relative;
}
.articles .h4 {
	margin: 0 70px 25px 0;
	position: relative;
	line-height: 24px;
	letter-spacing: -.025em;
}
.articles .h4:before {
	width: 610px;
	height: 1px;
	content: "\0020";
	display: block;
	position: absolute;
	right: 0;
	bottom: 10px;
	background: rgba(44, 62, 80, 0.1);
}
.articles .all {
	font-size: 12px;
	color: #1f5aa6;
	position: absolute;
	top: 2px;
	right: 14px;
}
.articles .list {
	width: 100%;
	margin: 0;
	list-style: none;
}
.articles .list:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.articles .list li {
	width: 280px;
	margin-left: 40px;
	float: left;
}
.articles .list li:first-child {
	margin-left: 0;
}
.articles .list .pic {
	display: block;
	position: relative;
	z-index: 8;
}
.articles .list .pic:after {
	width: 239px;
	height: 144px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0;
	position: absolute;
	left: 2px;
	top: 0;
	background: url(../img/article-shadow.png) 0 0 no-repeat;
	z-index: -1;
}
.articles .list .pic img {
	width: 230px;
	height: 130px;
	margin-bottom: 16px;
	display: block;
	box-shadow: 9px 9px 10px rgba(115, 131, 148, 0.75);
}
.articles .list .link {
	color: #000;
}
.articles .list .date {
	display: block;
	font-size: 12px;
	line-height: 20px;
	color: #9e9e9e;
}


/* ==========================================================================
   Content
   ========================================================================== */
.content {
	margin: -20px 0 36px 0;
	padding-top: 18px;
	background: url(../img/special.png) 50% 0 repeat;
}
.content:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}


/* ==========================================================================
   Side-bar
   ========================================================================== */
.side-bar {
 	width: 240px;
	margin-right: 20px;
	float: left;
 }
.side-bar .submenu {
	margin-bottom: 20px;
	padding: 14px 9px 27px 9px;
	position: relative;
	list-style: none;
	line-height: 30px;
	text-transform: uppercase;
	background: rgba(8, 112, 198, 0);
	background: linear-gradient(to right, rgba(8, 112, 198, 0) 0%, rgba(8, 112, 198, 1) 100%);
	background-color: rgba(20, 166, 220, 0.8);
	box-shadow: 0 0 10px 3px rgba( 0, 0, 0, 0.17);
	border-top: 1px solid #348ccd;
	border-bottom: 1px solid #348ccd;
	letter-spacing: -.01em;
}
.side-bar .submenu:before {
	width: 17px;
	height: 12px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	right: 14px;
	top: 12px;
	background: url(../img/sprite.png) -270px 0 no-repeat;
}
.side-bar .submenu li {
	transition: all .3s ease;
}
.side-bar .submenu li:hover {
	background: rgba(76, 194, 255, 0.8);
}
.side-bar .submenu li a {
	width: 200px;
	padding-left: 20px;
	display: block;
	color: #fff;
}
.side-bar .submenu li a:hover {
	color: #033466;
}

.side-bar .filter {
	width: 220px;
	padding: 13px 10px;
	background: #fff;
	font-size: 13px;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.13);
}
.side-bar .filter .heading {
	font-size: 18px;
	margin: 0 0 14px 18px;
	letter-spacing: .02em;
}
.side-bar .filter label {
	margin-bottom: 8px;
	display: block;
	text-transform: none;
	letter-spacing: -.02em;
}
.side-bar .filter input[type="text"] {
	outline: none;
	display: block;
	font-size: 13px;
	line-height: 13px;
}
.side-bar .filter .name {
	padding: 1px 18px 6px 18px;
	margin-bottom: 11px;
	background-color: #f0f8fb;
}
.side-bar .filter .name span{
	width: 185px;
	height: 26px;
	display: block;
	position: relative;
}
.side-bar .filter .name input[type="text"] {
	width: 165px;
	height: 13px;
	padding: 5px 10px 6px 7px;
	background: url(../img/search.png) no-repeat 96%;
	background-color: #fff;
	border: 1px solid #969696;
}
.side-bar .filter .name input[type="submit"] {
	width: 20px;
	height: 20px;
	padding: 0;
	border: none;
	display: block;
	position: absolute;
	top: 3px;
	right: 3px;
	outline: none;
	background: url('../img/sprite.png') no-repeat -25px -25px;
}
.side-bar .filter .brand {
	padding: 7px 5px 9px 19px;
	margin-bottom: 11px;
	background-color: #f0f8fb;
}
.side-bar .filter .brand label {
	margin-bottom: 10px;
} 
.side-bar .filter .brand span {
	margin-bottom: 10px;
	display: block;
	font-size: 14px;
	padding-left: 3px;
	text-transform: uppercase;
	letter-spacing: -.02em;
}
.side-bar .filter .brand input[type="checkbox"] {
	display: inline-block;
	position: relative;
	top: -3px;
	left: -2px;
}
.side-bar .filter .button span{
	position: relative;
}
.side-bar .filter .button span:before {
	width: 15px;
	height: 9px;
	content: "\0020";
	margin: 0;
	position: absolute;
	left: 13px;
	top: 4px;
	background: url(../img/sprite.png) -360px 0 no-repeat; 
}
.side-bar .filter .button .select:before {
	left: 10px;
	background-position: -340px 0; 
}
.side-bar .filter .button input[type="submit"] {
	width: 105px;
	height: 38px;
	padding: 0 9px 0 20px;
	margin-right: 2px;
	outline: none;
	color: #fff;
	background: #d5d5d5;
	border: none;
	letter-spacing: 0.04em;
	transition: all .3s ease;
}
.side-bar .filter .button input[type="submit"]:hover {
	background-color: #b2b2b2;
}
.side-bar .filter .button .select input[type="submit"] {
	padding-left: 26px;
	background: #1f5aa6;
}
.side-bar .filter .button .select input[type="submit"]:hover {
	background: #14a6dc;
}
.side-bar .filter .price {
	padding: 3px 0 0 18px;
	margin-bottom: 28px;
}	
.side-bar .filter .price label {
	margin-bottom: 16px;
}


/* ==========================================================================
   Main-block
   ========================================================================== */
.main-block {
	width: 720px;
	padding: 7px 0 20px 0;
	float: left;
}
.main-block .breadcrumbs {
	margin-bottom: 11px;
	font-size: 12px;
}
.main-block .breadcrumbs span {
	position: relative;
}
.main-block .breadcrumbs span:after {
	margin: 0;
	content: "/";
	display: inline;
	clear: both;
	overflow: hidden;
	color: #000;
}
.main-block .breadcrumbs a {
	margin-right: 4px;
	color: #2c2c2c;
	transition: all .2s ease;
}
.main-block .breadcrumbs a:hover {
	color: #14a6dc;
}
.main-block .production {
	position: relative;
}
.main-block .production .h3 {
	margin-bottom: 33px;
}
.main-block .production .sorting {
	margin: 0;
	position: absolute;
	top: 4px;
	right: 19px;
	font-size: 12px;
	letter-spacing: -0.08em;
}
.main-block .production .sorting a {
	padding-right: 36px;
	position: relative;
	display: block;
	color: #2c2c2c;
}
.main-block .production .sorting a:before {
	width: 28px;
	height: 28px;
	content: "\2193";
	display: block;
	margin: 0;
	position: absolute;
	right: 3px;
	bottom: -4px;
	text-align: center;
	color: #fff;
	background-color: #16a7dc;
	border-radius: 15px;
	transition: all .3s ease;
}
.main-block .production .sorting a:hover:before {
	background: #1f5aa6;
}
.main-block .production .catalog li {
	margin-bottom: 18px;
}
.main-block .production .pager:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.main-block .production .pager ul {
	list-style: none;
}
.main-block .production .pager ul:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.main-block .production .pager ul li {
	margin: 0 0 0 12px;
	float: left;
}
.main-block .production .pager ul li a {
	color: #2c2c2c;
	font-weight: bold;
	transition: all .2s ease;
}
.main-block .production .pager ul li a:hover {
	color: #1f5aa6;
}
.main-block .production .pager ul li .active {
	color: #1f5aa6;
	text-decoration: none;
}
.main-block .production .pager ul li .arrow {
	text-decoration: none;
}
.main-block .production .pager .page {
	font-size: 15px;
	float: left;
}
.main-block .production .pager .amount {
	margin-right: 24px;
	font-size: 12px;
	float: right;
}
.main-block .production .pager .amount li {
	margin: 0 0 0 6px;
}


/* ==========================================================================
   Viewed
   ========================================================================== */
.viewed {
	position: relative;
}
.viewed:before {
	width: 1022px;
	height: 49px;
	margin: 0 0 0 -511px;
	content: "\0020";
	display: block;
	position: absolute;
	left: 50%;
	bottom: 1px;
	z-index: 1;
	background: url(../img/special-shadow.png) 50% 100% no-repeat;
	background-size: 100% auto;
}
.viewed .wrapper {
	padding: 0 0 68px 20px;
}
.viewed .carousel {
	width: 940px;
	padding: 0 10px;
	margin: 0 -10px;
	overflow: hidden;
	position: relative;
}
.viewed .carousel .catalog {
	width: 10000px !important;
}
.viewed .catalog .price .cost {
	font-size: 12px;
}


/* ==========================================================================
   Interesting
   ========================================================================== */
.interesting {
	padding: 42px 0 58px 0;
	cursor: default;
	background: url(../img/articles.jpg) 0 0 no-repeat;
	background-size: cover;
}
.interesting .wrapper {
	padding: 0 20px;
	position: relative;
}
.interesting .h5 {
	margin: 0 70px 25px 0;
	position: relative;
	font-weight: bold;
	letter-spacing: -.003em;
}
.interesting .h5:before {
	width: 610px;
	height: 1px;
	content: "\0020";
	display: block;
	position: absolute;
	right: 0;
	bottom: 10px;
	background: rgba(44, 62, 80, 0.1);
}
.interesting li a{
	transition: all .3s ease;
}
.interesting li a:hover {
	color: #14a6dc;
}


/* ==========================================================================
   Block-contacts
   ========================================================================== */
.block-contacts .contacts {
	width: 682px;
	padding: 13px 18px 22px 18px;
	background: #fff;
	font-size: 12px;
	line-height: 19px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.18);
	border-radius: 5px;
}
.block-contacts .contacts .note {
	width: 674px;
	margin: 0 0 28px 10px;
}
.block-contacts .contacts .note td {
	width: 674px;
	padding: 9px 0 9px 0;
	border-bottom: 1px solid #e8e8e8;
}
.block-contacts .contacts .icq {
	position: relative;
	padding-left: 20px;
	letter-spacing: -0.04em;
}
.block-contacts .contacts .icq:before {
	width: 15px;
	height: 15px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/sprite.png) -360px -30px no-repeat;
}
.block-contacts .contacts .heading {
	margin: 0 0 10px 10px;
}
.block-contacts .contacts .map {
	width: 678px;
	height: 432px;
	display: block;
	position: relative;
	box-shadow: 0 6px 9px rgba(0, 0, 0, 0.25);
}
.block-contacts .contacts .map:hover .cursor {
	display: block;
}
.block-contacts .contacts .map-link {
	width: 678px;
	height: 432px;
	display: block;
	background: url(../img/temp/map.jpg) 0 0 no-repeat;
}
.block-contacts .contacts .cursor {
	width: 103px;
	height: 101px;
	display: none;
	margin: 0;
	position: absolute;
	top: 30px;
	left: 250px;
	background: url(../img/sprite.png) -230px -30px no-repeat;
}



/* ==========================================================================
   Block-news
   ========================================================================== */
.block-news .news{
	width: 612px;
	padding: 22px 80px 22px 28px;
	margin-bottom: 28px;
	background: #fff;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.18);
	border-radius: 5px;
	list-style: none;
}
.block-news .news li:after {
	width: 100%;
	content: "\0020";
	margin: 0;
	display: block;
	clear: both;
	overflow: hidden;
}
.block-news .news li .date {
	display: block;
	font-size: 12px;
	color: #959595;
	letter-spacing: -0.02em;
}
.block-news .news li .link-caption {
	margin-bottom: 4px;
	color: #000000;
	display: block;
}
.block-news .news li .pic {
	margin: 4px 15px 9px 0;
	display: block;
	float: left;
}
.block-news .news li p{
	margin-bottom: 23px;
	line-height: 22px;
}
.block-news .pager:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.block-news .pager {
	list-style: none;
}
.block-news .pager:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.block-news .pager li {
	margin: 0 0 0 12px;
	float: left;
}
.block-news .pager li a {
	color: #2c2c2c;
	font-weight: bold;
	transition: all .2s ease;
}
.block-news .pager li a:hover {
	color: #1f5aa6;
}
.block-news .pager li .active {
	color: #1f5aa6;
	text-decoration: none;
}
.block-news .pager li .arrow {
	text-decoration: none;
}


/* ==========================================================================
   Block-item
   ========================================================================== */
.block-item {
	width: 676px;
	padding: 0 22px 20px;
	margin-bottom: 17px;
	background: #fff;
	box-shadow: 0 0 5px 1px rgba( 0, 0, 0, 0.18);
	font-size: 13px;
	line-height: 19px;
}
.block-item p {
	margin-bottom: 20px;
}
.block-item .item {
	margin: 0 -22px 22px;
}
.block-item .item:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.block-item .picture {
	position: relative;
}
.block-item .pic {
	width: 450px;
	height: 452px;
	display: block;
	border: 1px solid #fff;
}
.block-item .badge-sale {
	padding: 2px 6px 2px 8px;
	display: block;
	position: absolute;
	top: 6px;
	left: 3px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #fff;
	text-align: center;
	background: #fc4349;
}
.block-item .badge-sale:before {
	width: 6px;
	height: 22px;
	content: "\0020";
	display: block;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 1;
	background: url(../img/sprite.png) -110px 0 no-repeat;
}
.block-item .picture .carousel {
	list-style: none;
}
.block-item .picture .carousel li {
	float: left;
}
.block-item .picture {
	width: 452px;
	float: left;
}
.block-item .picture .carousel li .pic {
	width: 102px;
	height: 75px;
	display: block;
}
.block-item .describe {
	width: 240px;
	float: right;
	font-size: 12px;
	line-height: 16px;
}
.block-item .describe .h5 {
	margin: 14px 0 7px;
	font-weight: bold;
	color: #3a8ed2;
	letter-spacing: -0.02em;
}
.block-item .code {
	margin: 0 0 46px 3px;
}
.block-item .code .grey {
	color: #949494;
}
.block-item .describe .price {
	margin: 0 0 17px 0;
	font-size: 11px;
}
.block-item .describe .price .cost {
	font-size: 16px;
	font-weight: bold;
	color: #fc4349;
}
.block-item .describe .red {
	font-size: 16px;
}
.block-item .crossed {
	color: #757575;
	font-size: 16px;
	text-decoration: line-through;
}
.block-item .describe form {
	margin-bottom: 28px;
}
.block-item .describe .cart {
	margin-bottom: 7px;
	font-size: 16px;
}
.block-item .describe .cart:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.block-item .describe select {
	width: 54px;
	margin-right: 4px;
	float: left;
	outline: none;
}
.block-item .describe .cart input[type="submit"] {
	width: 150px;
	height: 38px;
	padding: 10px 0 10px 0;
	display: block;
	float: left;
	font-size: 16px;
	color: #fff;
	background-color: #1f5aa6;
	border: 1px solid #5b86be;
	outline: none;
	transition: all .2s ease;
}
.block-item .describe .cart input[type="submit"]:hover {
	background: #14a6dc;
}
.block-item .describe .put-down input[type="submit"] {
	width: 208px;
	height: 36px;
	padding: 6px 0 8px 0;
	display: block;
	color: #575757;
	font-size: 14px;
	font-weight: bold;
	background-color: #e2e2e2;
	border: 1px solid #f7f7f7;
	outline: none;
	letter-spacing: -0.02em;
	transition: all .2s ease;
}
.block-item .describe .put-down input[type="submit"]:hover {
	background-color: #c3c3c3;
}
.block-item .describe .order {
	width: 230px;
	padding: 14px 0;
	margin-bottom: 5px;
	position: relative;
	text-align: center;
	border-bottom: 2px solid #e5e5e5;
}
.block-item .describe .order:before {
	width: 16px;
	height: 16px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: 44px;
	top: 14px;
	background: url(../img/sprite.png) -290px 0 no-repeat;
}
.block-item .describe .order input[type="submit"] {
	border: none;
	outline: none;
	background: inherit;
	text-decoration: underline;
	transition: all .3s ease; 
}
.block-item .describe .order input[type="submit"]:hover {
	text-decoration: none;
	color: #14a6dc;
}
.block-item .describe .ask {
	border-bottom: none;
}
.block-item .describe .ask:before {
	background-position: -310px 0;
}
.block-item .link {
	height: 24px;
	margin: 0 0 14px -12px;
	font-size: 14px;
	line-height: 18px;
	border-bottom: 1px solid #e7e7e7;
}
.block-item .link a {
	padding: 10px 16px;
	margin-right: 4px;
	color: #000;
	transition: all .3s ease;
}
.block-item .link a.active {
	text-decoration: none;
	background-color: #e7e7e7;
}
.block-item .link a:hover {
	color: #14a6dc;
}

/* ==========================================================================
   Block-about
   ========================================================================== */
.block-about .about{
	width: 612px;
	padding: 24px 80px 14px 28px;
	margin-bottom: 28px;
	line-height: 22px;
	background: #fff;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.18);
	border-radius: 5px;
	list-style: none;
}
.block-about .about .h5 {
	margin-bottom: 24px;
	font-weight: bold;
	letter-spacing: -0.01em;
}
.block-about .about p {
	margin-bottom: 22px;
}
.block-about .about .our-logo {
	width: 720px;
	height: 146px;
	margin: -20px -82px 50px -28px;
	position: relative; 
	color: #8e98ab;
	background: url(../img/fon-about.jpg) 0 0 no-repeat;
	line-height: 16px;
}
.block-about .about .our-logo .logotype {
	position: absolute;
	top: 56px;
	left: 134px;
}
.block-about .about .pic {
	display: block;
	margin: 0 0 18px 11px;
}

/* ==========================================================================
   Block-login
   ========================================================================== */
.block-login .login{
	width: 666px;
	padding: 32px 22px 20px 30px;
	margin-bottom: 17px;
	font-size: 12px;
	line-height: 19px;
	background: #fff;
	box-shadow: 0 0 5px 1px rgba( 0, 0, 0, 0.18);
}
.block-login .login .form {
	width: 380px;
	margin: 0 53px 0 0;
	float: left;
}
.block-login .login .heading{
	margin-bottom: 12px;
	display: block;
	font-size: 13px;
	font-weight: bold;
}
.block-login .login input[type="text"] {
	width: 356px;
	height: 32px;
	padding-left: 16px;
	margin-bottom: 16px;
	display: block;
	outline: none;
	font-size: 12px;
	color: #a0a0a0;
	background-color: #fff;
}
.block-login .login input[type="submit"] {
	width: 150px;
	height: 38px;
	padding: 2px 8px 0 0;
	margin: 0 34px 16px 0;
	outline: none;
	font-size: 16px;
	color: #fff;
	background-color: #1f5aa6;
	border: none;
}
.block-login .login .city {
	width: 378px;
	margin-bottom: 16px;
	outline: none;
}
.block-login .login .info {
	width: 200px;
	margin-top: 25px; 
	float: left;
}
.block-login .login .list {
	padding: 6px 0 0 16px;
	list-style: none;
	line-height: 20px;
}
.block-login .login .list:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.block-login .login .sign-in {
	padding-bottom: 18px; 
	margin-bottom: 19px;
	border-bottom: 2px solid #e5e5e5;
}
.block-login .login .sign-in:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.block-login .login .sign-in input[type="checkbox"] {
	width: 16px;
	height: 16px;
	outline: none;
	background: #e5e5e5;
}
.block-login .login .sign-in .link {
	margin-left: 24px;
	display: block;
	color: #3e3e3e;
}
.block-login .login .sign-in .info .list li {
	position: relative;
}
.block-login .login .sign-in .info .list li:before {
	width: 12px;
	height: 1px;
	content: "\0020";
	display: block;
	position: absolute;
	top: 50%;
	left: -16px;
	background: #71bbdf;
	border-bottom: 1px solid #d3e8f4; 
}
.block-login .login .sign-up:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.block-login .login .sign-up input[type="submit"] {
	width: 222px;
	padding: 2px 8px 0 0;
	margin: 0 34px 16px 0;
	color: #fff;
	background-color: #1f5aa6;
}
.block-login .login .sign-up .form .heading{
	margin-bottom: 20px;
}	
.block-login .login .sign-up .info {
	width: 230px;
	margin-top: 2px;
}
.block-login .login .sign-up .info .list {
	padding-left: 0;
}
.block-login .login .sign-up .info .list li {
	width: 31px;
	height: 31px;
	margin: 0 8px 0 0;
	float: left;
	opacity: 1;
	transition: all .2s ease;
	background: url(../img/sprite.png) 0 -70px no-repeat;
}
.block-login .login .sign-up .info .list .tw { background-position: -40px -70px; }
.block-login .login .sign-up .info .list .vk { background-position: -80px -70px; }
.block-login .login .sign-up .info .list .ok { background-position: -120px -70px; }
.block-login .login .sign-up .info .list li:hover {
	opacity: .7;
}
.block-login .login .sign-up .info .list li a {
	width: 31px;
	height: 31px;
	display: block;
}
.block-login .login .sign-up .require {
	display: block;
	position: relative;
}
.block-login .login .sign-up .require:before {
	content: "*";
	color: #fc4349;
	display: block;
	position: absolute;
	top: -4px;
	right: -6px;
}
.block-login .login .sign-up .note {
	font-size: 11px;
}
.block-login .login .sign-up .note .require:before {
	top: 0;
	left: 0;
	right: 0;
}


/* ==========================================================================
   Block-delivery
   ========================================================================== */
.block-delivery .delivery {
	padding: 22px 20px 10px 27px;
	font-size: 12px;
	line-height: 19px;
	background: #fff;
	box-shadow: 0 0 5px 1px rgba( 0, 0, 0, 0.18);
}
.block-delivery .delivery .heading{
	margin-bottom: 18px;
	display: block;
	font-weight: bold;
}
.block-delivery .delivery .custom-info {
	padding-top: 20px;
	margin-bottom: 25px;
	border-top: 2px solid #e5e5e5;
}
.block-delivery .delivery .address {
	padding-bottom: 30px;
}
.block-delivery .delivery .address .heading {
	margin-bottom: 10px;
}
.block-delivery .delivery .address .city {
	width: 376px;
	outline: none;
}
.block-delivery .delivery input[type="text"] {
	width: 356px;
	height: 32px;
	padding-left: 16px;
	margin-bottom: 16px;
	display: block;
	outline: none;
	font-size: 12px;
	color: #a0a0a0;
	background-color: #fff;
}
.block-delivery .delivery .service .heading {
	margin-bottom: 20px;
}
.block-delivery .delivery .service .check {
	padding-left: 6px;
	margin-bottom: 10px;
	display: block;
}
.block-delivery .delivery table {
	background: #fff;
	box-shadow: 0 0 5px 1px rgba( 0, 0, 0, 0.18)
}
.block-delivery .delivery td {
	height: 40px;
	padding: 4px;
	display: inline-block;
}
.block-delivery .delivery .cell-1 { width: 14px; }
.block-delivery .delivery .cell-2 { width: 280px; }
.block-delivery .delivery .cell-3 { width: 42px; }
.block-delivery .delivery .cell-4 { width: 90px; }
.block-delivery .delivery .cell-5 { width: 90px}
.block-delivery .delivery .cell-6 { width: 62px; }
.block-delivery .delivery .cell-7 { width: 62px; }
..block-delivery .delivery table .pic {
	width: 16px;
	height: 16px;
	border: 1px solid #e7e7e7;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

/* ==========================================================================
/* Responsive
   ========================================================================== */
@media (max-width: 1218px) {
	body {
		width: 100%;
		box-shadow: none;
	}
}
@media (max-width: 1023px) {
	.wrapper { width: 768px; }
	.header .login { left: 38px; }
	.header .social { left: 199px; }
	.header .logo { left: 21px; }
	.header .slogan { display: none; }
	.header .phone { left: 132px; }
	.header .callback { left: 374px; }
	.header .search { top: 61px; right: 20px; }
	.header .search input[type="text"] { width: 128px; }
	.navigation .nav .list { top: 21px; left: 2px; }
	.navigation .bookmarks { padding: 20px 19px 14px 29px; }
	.navigation .bookmarks:before { left: 16px; top: 20px; }
	.navigation .cart { padding: 20px 13px 14px 41px; }
	.navigation .cart .hidden { display: none; }
	.index { min-width: 768px; min-height: 374px; background-image: url('../img/index-ipad.jpg'); }
	.index .searchbox { margin: 0 0 20px 0; float: none; }
	.index .searchbox input[type="text"] { width: 690px; }
	.index .news { width: auto; height: auto !important; margin-right: 0; float: none; transition: none; }
	.index .news .heading { margin: 0 0 7px 0; }
	.index .news .toggle { transition: none; }
	.index-collapsed .news { height: 64px !important; }
	.index .news .list { line-height: 20px; }
	.index .maker-list { display: none; }
	.special { min-width: 768px; }
	.special:before { width: 768px; margin: 0 0 0 -384px; }
	.special .wrapper { padding-bottom: 26px; margin-top: -115px; }
	.special .carousel { width: 700px; left: 15px; }
	.special .carousel-inited { width: 680px; }
	.articles { min-width: 768px; padding: 41px 0 82px 0; }
	.articles .wrapper { overflow: hidden; }
	.articles .all { display: none; }
	.articles .h4:before { display: none; }
	.articles .list { width: 768px; }
	.articles .list li { width: 230px; margin-left: 20px; }
	.footer { min-width: 768px; }
	.footer .wrapper { height: 230px; }
	.footer .wrapper:before { left: 10px; right: 10px; }
	.footer .about { left: 235px; }
	.footer .products { left: 380px; }
	.content { margin: -30px 0 12px 0; }
	.content .side-bar { display: none;}
	.content-row .side-bar { margin-right: 0; display: block; position: absolute; top: 66px; right: 20px; z-index: 6; }
	.content-row .side-bar .submenu:before {display: none; }
	.content-row .side-bar .filter { display: none; }
	.main-block { width: 750px; padding-left: 18px; z-index: 4; }
	.main-block .production .h3 { margin-bottom: 24px; }
	.main-block .production .sorting { display:  none; }
	.main-block .production .catalog { width: 750px; height: 960px; margin-bottom: 14px; overflow: hidden; }
	.main-block .production .catalog li { margin: 0 28px 20px 2px; }
	.main-block .production .pager { padding: 0 18px 0 8px; }
	.viewed:before { width: 768px; }
	.viewed .wrapper { width: 728px; padding: 0 0 18px 0; }
	.viewed .carousel { width: 728px; }
	.viewed .carousel .catalog li { margin-right: 32px; }
	.interesting { display: none; }
	.block-login .login { width: 698px; }
	.block-contacts .contacts { padding: 23px 22px 22px 23px;}
}
@media (max-width: 767px) {
	.wrapper { width: 100%; min-width: 0; max-width: 480px; }
	.header .social, .header .nav, .header .search, .header .callback { display: none; }
	.header .login { left: auto; right: 12px; }
	.header .logo { left: 13px; }
	.header .phone { top: 67px; left: auto; right: 11px; }
	.header .phone .number { margin-bottom: -1px; }
	.navigation .nav { display: none; }
	.navigation .toggle { display: block; }
	.navigation-toggle .toggle a { border: none; }
	.navigation-toggle .nav { width: 100%; height: auto; position: absolute; display: block; float: none; top: 57px; background: #14a6dc; }
	.navigation-toggle .nav .list { width: auto; padding: 0 2px; position: relative; top: auto; left: auto; font-size: 16px; line-height: 20px; font-weight: bold; }
	.navigation-toggle .nav .list > li { padding: 0; float: none; }
	.navigation-toggle .nav .list > li:before { display: none; }
	.navigation-toggle .nav .list > li > a { padding: 20px 18px; border: none; border-top: 1px solid #4db8df; display: block; }
	.navigation-toggle .nav .list > li:first-child > a { padding-top: 17px; border-top: none; }
	.navigation-toggle .nav .list > li ul { display: block; }
	.index { width: 100%; min-width: 320px; }
	.index .searchbox .triggers a { padding-right: 50px; }
	.index .searchbox input[type="text"] { width: 406px; }
	.index { min-height: 225px; }
	.index .news { display: none; }
	.special { width: 100%; min-width: 320px; }
	.special:before { width: 480px; margin: 0 0 0 -240px; }
	.special .wrapper { padding-left: 10px; padding-bottom: 22px; }
	.special .h2 { position: relative; top: 5px; left: -2px; }
	.special .carousel { width: 460px; left: auto; }
	.special .carousel-inited { width: 440px; }
	.special .catalog li { margin-right: 20px; }
	.articles { width: 100%; min-width: 320px; padding: 33px 0 67px 0; }
	.articles .h4 { margin-left: -3px; }
	.articles .wrapper { padding: 0 10px; overflow: visible; }
	.articles .list { width: auto; }
	.articles .list li { width: 220px; }
	.articles .list li:nth-child(3) { display: none; }
	.articles .list .pic:after { display: none; }
	.articles .list .pic img { width: 220px; height: 125px; }
	.footer { width: 100%; min-width: 320px; text-align: center; }
	.footer .wrapper { height: 250px; }
	.footer .nav-footer, .footer .slogan { display: none; }
	.footer .logo { margin: 0 auto; position: relative; left: auto; }
	.footer .copyright { left: 0; right: 0; top: 202px; }
	.footer .copyright:before { margin: -2px auto 0; position: relative; left: auto; top: -11px; }
	.footer .contacts { left: 0; right: 0; top: 79px; text-align: center; }
	.footer .contacts .address:before { display: none; }
	.footer .author { left: 0; right: 0; top: 220px; }
	.content { margin: -18px 0 12px 0;}
	.content-row .side-bar { top: 34px; right: 10px}
	.main-block { width: 472px; padding-left: 8px; padding-bottom: 12px; }
	.main-block .breadcrumbs { display: none;}
	.main-block .production .h3 { margin-bottom: 18px; }
	.main-block .production .catalog { width: 472px; height: 1290px; margin-bottom: 12px; }
	.main-block .production .catalog li { margin: 0 14px 20px 2px; }
	.main-block .production .pager .page { margin: 0 auto; float: none; }
	.main-block .production .pager .amount { display: none; }
	.viewed { display: none; }
	.block-login .login { width: 400px; padding: 24px 30px; }
	.block-login .login .form { margin-right: 0; }
	.block-login .login .sign-in .info { display: none; }
	.block-login .login .sign-up .form { margin-bottom: 50px; }
	.block-news .news { width: 420px; padding: 26px 20px; }
	.block-contacts .contacts { width: 420px; padding: 14px 22px 22px 20px; }
	.block-contacts .contacts .note { width: 410px; }
	.block-contacts .contacts .map { width: 423px; }
	.block-contacts .contacts .map-link { width:  423px; height: 434px; background: url(../img/temp/map-small.jpg) 0 0 no-repeat; }
	.block-contacts .contacts .map-link 
}
@media (max-width: 567px) {
	.index { background-image: url('../img/index-iphone.jpg'); }
	.articles .list { margin-left: -10px; margin-right: -10px; }
	.articles .list li { width: 50%; padding-left: 10px; padding-right: 10px; margin: 0; box-sizing: border-box; }
	.articles .list .pic img { width: 100%; height: auto; }
}
@media (max-width: 479px) {
	.header, .navigation { width: 100%; min-width: 320px; }
	.header .phone .number { font-size: 15px; }
	.index { background-size: auto; }
	.articles .list { font-size: 12px; }
	.index .searchbox .triggers { font-size: 13px; font-weight: normal; }
	.index .searchbox .triggers a { padding: 9px 15px 7px 10px; }
	.index .searchbox input[type="text"] { width: 90%; font-weight: normal; }
	.special:before { width: auto; margin: 0; left: 0; right: 0; }
	.special .h2 { font-size: 24px; top: auto; }
	.special .carousel { width: 220px; margin: 0 auto; left: -5px; }
	.special .carousel-inited { width: 200px; }
	.special .carousel .bx-controls { right: -40px; }
}