/*!
 * Project: Perhlozon
 * File: Main styles
 */

/* IE9 */
body { cursor: default; }
div { zoom: 1; }
/* IE8 */
/* .header-fixed, .block-features .carousel .text { background: #fff \9; } */

.xdsoft_datetimepicker button { border: none !important; }
.xdsoft_datetimepicker .blue-gradient-button { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f4f8fa', GradientType=0); }
.xdsoft_datetimepicker .blue-gradient-button:hover, .xdsoft_datetimepicker .blue-gradient-button:focus, .xdsoft_datetimepicker .blue-gradient-button:hover span, .xdsoft_datetimepicker .blue-gradient-button:focus span { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f8fa', endColorstr='#FFF', GradientType=0); }