/*!
 * Project: Perhlozon
 * File: Main styles
 */

/* IE9 */
body { min-width: 980px; cursor: default; }
div { zoom: 1; }
/* IE8 */
/* .header-fixed, .block-features .carousel .text { background: #fff \9; } */