/*!
 * Project: Rosrealt
 * File: Main styles
 */

/* ==========================================================================
   _Основные контейнеры
   ========================================================================== */
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	font: 13px/15px Arial, Helvetica, sans-serif;
	color: #323232;
	background: #f6f5f3;
}
body {
	width: 100%;
	min-width: 600px;
	min-height: 100%;
	padding-top: 69px;
	padding-left: 44px;
	padding-bottom: 38px;
	position: relative;
	background: #f6f5f3;
}
.wrapper {
	min-width: 950px;
	padding: 20px;
}
.wrapper:after, .nav:after, .container:after, .content:after, .aside:after { width: 100%; content: "\0020"; display: block; clear: both; overflow: hidden }
.container {
	padding: 20px 20px 20px 186px;
	position: relative;
	z-index: 60;
}
.nav-closed .container {
	padding-left: 20px;
}
.content {
	width: 100%;
	padding-right: 20px;
	display: table-cell;
	vertical-align: top;
}
.aside {
	min-width: 305px;
	display: table-cell;
	vertical-align: top;
}
/* ==========================================================================
   _Текстовые стили
   ========================================================================== */
p {
	margin: 0 0 22px;
}
ul, ol {
	margin: 0 0 22px 0;
}
a {
	color: #ff7b10;
	outline: none;
	transition: color .1s;
}
a:hover, a:focus {
	color: #323232;
	outline: none;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	font-weight: normal;
}
h1, .h1 {
	margin-bottom: 22px;
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: -.01em;
	color: #515151;
}
h2, .h2 {
	margin-bottom: 22px;
	font-size: 20px;
	line-height: 22px;
}
h3, .h3 {
	margin-bottom: 22px;
	font-size: 18px;
	line-height: 20px;
}
h4, .h4 {
	margin-bottom: 22px;
	font-size: 16px;
	line-height: 18px;
}
h5, .h5 {
	margin-bottom: 22px;
	font-size: 14px;
	line-height: 16px;
}
h6, .h6 {
	margin-bottom: 22px;
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
}
/* ==================================================================================================
   Стили форм для плагина Form Styler 1.6.2 (https://github.com/Dimox/jQueryFormStyler)
   ================================================================================================== */
/* === INPUT === */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea { width: 270px; height: 30px; padding: 7px 9px; border: 1px solid #d6d6d6; border-radius: 1px; box-shadow: none; outline: none; -webkit-appearance: none; color: #676767; font: 13px Arial, Helvetica, sans-serif; letter-spacing: .03em; background: #fff; transition: border-color .2s; }
textarea { width: 400px; height: 95px; overflow: auto; resize: none; }
input[type="email"]:not([disabled]):focus, input[type="number"]:not([disabled]):focus, input[type="password"]:not([disabled]):focus, input[type="search"]:not([disabled]):focus, input[type="tel"]:not([disabled]):focus, input[type="text"]:not([disabled]):focus, input[type="url"]:not([disabled]):focus, textarea:not([disabled]):focus { border-color: #a09f9e; }
input[type="email"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="url"][disabled], textarea[disabled] { cursor: default; background: #f6f5f3; }
/* === BUTTON === */
button, input[type="button"], input[type="submit"], input[type="reset"] { padding: 10px; border: none; border-radius: 1px; box-shadow: none; outline: none; cursor: pointer; overflow: visible; color: #fff; font: 13px/13px Arial, Helvetica, sans-serif; text-transform: uppercase; background: #ff7b10; transition: background-color .2s; }
button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner { padding: 0; border: 0; }
button:after { content: ''; }
button:not([disabled]):hover, input[type="button"]:not([disabled]):hover, input[type="submit"]:not([disabled]):hover, input[type="reset"]:hover,
button:not([disabled]):focus, input[type="button"]:not([disabled]):focus, input[type="submit"]:not([disabled]):focus, input[type="reset"]:focus { background: #f56e00; }
button:not([disabled]):active, input[type="button"]:not([disabled]):active, input[type="submit"]:not([disabled]):active, input[type="reset"]:active { padding-top: 11px; padding-bottom: 9px; background: #ff7b10; }
button[disabled], input[type="button"][disabled], input[type="submit"][disabled] { cursor: default; opacity: .75; background: #8d8d8d !important; }
button[disabled]:before, input[type="button"][disabled]:before, input[type="submit"][disabled]:before { text-shadow: none; background: #585858 !important; }
/* === CHECKBOX === */
.jq-checkbox { width: 18px; height: 18px; border: 1px solid #d6d6d6; border-radius: 1px; margin: 0 10px 0 0; position: relative; top: -1px; display: inline-block; vertical-align: middle; cursor: pointer; background: #fff; transition: border-color .2s; }
.jq-checkbox .jq-checkbox__div { border-radius: 1px; position: absolute; top: 2px; right: 2px; bottom: 2px; left: 2px; opacity: 0; background: #b9b9b9; transition: opacity .1s; }
.jq-checkbox.checked .jq-checkbox__div { opacity: 1; }
.jq-checkbox.focused { border-color: #a09f9e; }
.jq-checkbox.disabled { cursor: default; background: #f6f5f3; }
.jq-checkbox.disabled.checked .jq-checkbox__div { opacity: .5; }
/* === RADIO === */
.jq-radio { width: 18px; height: 18px; border: 1px solid #d6d6d6; border-radius: 50%; margin: 0 10px 0 0; position: relative; top: -1px; display: inline-block; vertical-align: middle; cursor: pointer; background: #fff; transition: border-color .2s; }
.jq-radio .jq-radio__div { border-radius: 50%; position: absolute; top: 3px; right: 3px; bottom: 3px; left: 3px; opacity: 0; background: #b9b9b9; transition: opacity .1s; }
.jq-radio.checked .jq-radio__div { opacity: 1; }
.jq-radio.focused { border-color: #a09f9e; }
.jq-radio.disabled { cursor: default; background: #f6f5f3; }
.jq-radio.disabled.checked .jq-radio__div { opacity: .5; }
/* === SELECT === */
.jq-selectbox { vertical-align: middle; cursor: pointer; position: relative; display: inline-block; }
.jq-selectbox__select { height: 30px; padding: 0 49px 0 9px; border: 1px solid #d6d6d6; border-radius: 1px; color: #676767; font: 13px/18px Arial, Helvetica, sans-serif; background: #fff; transition: border-color .2s; }
.jq-selectbox.focused .jq-selectbox__select { border-color: #a09f9e; }
.jq-selectbox.disabled .jq-selectbox__select { cursor: default; background: #f6f5f3; }
.jq-selectbox__select-text { width: 100%; height: 28px; padding: 6px 0 0; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.jq-selectbox .placeholder { color: #676767; }
.jq-selectbox.disabled .placeholder { }
.jq-selectbox__trigger { width: 39px; height: 100%; position: absolute; top: 0; right: 0; }
.jq-selectbox__trigger-arrow { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.jq-selectbox__trigger-arrow:before, .jq-selectbox__trigger-arrow:after { width: 2px; height: 7px; border-radius: 2px; margin: -3px 0 0 0; content: ' '; display: block; position: absolute; top: 50%; left: 50%; background: #d6d6d6; transition: background-color .2s; }
.jq-selectbox__trigger-arrow:before { margin-left: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.jq-selectbox__trigger-arrow:after { margin-left: 4px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.jq-selectbox:not(.disabled):hover .jq-selectbox__trigger-arrow:before, .jq-selectbox:not(.disabled):hover .jq-selectbox__trigger-arrow:after, .jq-selectbox.focused .jq-selectbox__trigger-arrow:before, .jq-selectbox.focused .jq-selectbox__trigger-arrow:after { background: #a09f9e; }
.jq-selectbox.disabled .jq-selectbox__trigger-arrow:before, .jq-selectbox.disabled .jq-selectbox__trigger-arrow:after { background: #a09f9e; }
.jq-selectbox__dropdown { width: 100%; padding: 0; border: 1px solid #a09f9e; border-radius: 1px; margin: 0; top: 29px; color: #676767; font: 13px/18px Arial, Helvetica, sans-serif; background: #fff; }
.jq-selectbox ul { padding: 0; margin: 0; }
.jq-selectbox li { min-height: 28px; padding: 5px 9px; color: #323232; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; }
.jq-selectbox li.selected { background-color: #d6d6d6; }
.jq-selectbox li:hover { background-color: #ff7b10; color: #fff; }
.jq-selectbox li.disabled { color: #aaa; }
.jq-selectbox li.disabled:hover { background: none; }
.jq-selectbox li.optgroup { font-weight: bold; }
.jq-selectbox li.optgroup:hover { background: none; color: #323232; cursor: default; }
.jq-selectbox li.option { padding-left: 25px; }
.jq-selectbox__search { margin: 5px; }
.jq-selectbox__search input { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 5px 27px 6px 8px; outline: none; border: 1px solid #ccc; border-radius: 3px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%; box-shadow: inset 1px 1px #f1f1f1; color: #333; -webkit-appearance: textfield; }
.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration { -webkit-appearance: none; }
.jq-selectbox__not-found { margin: 5px; padding: 5px 8px 6px; background: #f0f0f0; font-size: 13px; }
.jq-select-multiple { -moz-box-sizing: border-box; box-sizing: border-box; padding: 1px; border: 1px solid #ccc; border-radius: 4px; background: #fff; color: #333; font: 14px/18px Arial, sans-serif; cursor: default; }
.jq-select-multiple.focused { border: 1px solid #5794bf; }
.jq-select-multiple.disabled { border-color: #ccc; background: #f6f5f3; box-shadow: none; }
.jq-select-multiple ul { margin: 0; padding: 0; }
.jq-select-multiple li { padding: 3px 9px 4px; list-style: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; }
.jq-select-multiple li:first-child { border-radius: 3px 3px 0 0; }
.jq-select-multiple li:last-child { border-radius: 0 0 3px 3px; }
.jq-select-multiple li.selected { background: #08c; color: #fff; }
.jq-select-multiple li.disabled { color: #aaa; }
.jq-select-multiple.disabled li.selected, .jq-select-multiple li.selected.disabled { background: #ccc; color: #fff; }
.jq-select-multiple li.optgroup { font-weight: bold; }
.jq-select-multiple li.option { padding-left: 25px; }
/* === FILE === */
.jq-file { width: 270px; border-radius: 1px; position: relative; display: inline-block; }
.jq-file input { cursor: pointer; height: auto; line-height: 1em; }
.jq-file__name { width: 100%; height: 30px; padding: 6px 80px 4px 10px; border: 1px solid #d6d6d6; border-radius: 1px; color: #676767; font: 13px/18px Arial, Helvetica, sans-serif; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; background: #fff; transition: border-color .2s; }
.jq-file.focused .jq-file__name { border-color: #a09f9e; }
.jq-file__browse { height: 30px; padding: 6px 10px 4px; border: 1px solid #d6d6d6; border-radius: 0 1px 1px 0; position: absolute; top: 0; right: 0; color: #676767; font: 13px/18px Arial, Helvetica, sans-serif; background: #f6f5f3; transition: background-color .2s, border-color .2s; }
.jq-file:hover .jq-file__browse { background: #fff; }
.jq-file:active .jq-file__browse { padding-top: 7px; padding-bottom: 3px; background: #f6f5f3; }
.jq-file.focused .jq-file__browse { border: 1px solid #a09f9e; }
.jq-file.disabled, .jq-file.disabled .jq-file__name, .jq-file.disabled .jq-file__browse { background: #f6f5f3; }
/* ==========================================================================
   _Дефолтная форма
   ========================================================================== */
/* === Цвета placeholder === */
/*noinspection CssInvalidPseudoSelector*/
::-webkit-input-placeholder { color: #676767; opacity: 1; }
/*noinspection CssInvalidPseudoSelector*/
:-moz-placeholder { color: #676767; opacity: 1; }
/*noinspection CssInvalidPseudoSelector*/
::-moz-placeholder { color: #676767; opacity: 1; }
/*noinspection CssInvalidPseudoSelector*/
:-ms-input-placeholder { color: #676767; opacity: 1; }
.form { cursor: default; display: block }
.form:after, .form-line:after { width: 100%; content: "\0020"; display: block; clear: both; overflow: hidden; }
.checkbox, .radio { padding-left: 28px; display: inline-block; vertical-align: middle; position: relative; }
.checkbox .jq-checkbox, .radio .jq-radio { position: absolute !important; left: 0; margin: 0; }
.jq-file.file-photo { width: 100%; margin: 0 auto; display: block !important; }
.jq-file.file-photo .jq-file__name { height: 210px; padding: 112px 9px 9px 9px; line-height: 21px; color: #bebebe; text-align: center; white-space: normal; text-transform: uppercase; background: #e3e3e3; transition: border-color .2s, color .2s; }
.jq-file.file-photo.changed .jq-file__name { text-transform: none; }
.jq-file.file-photo .jq-file__name:before { width: 50px; height: 50px; margin: -50px 0 0 -25px; opacity: .2; content: ' '; display: block; position: absolute; top: 50%; left: 50%; background: url('../img/camera.png') no-repeat 0 0; background-size: 50px auto; transition: opacity .2s; }
.jq-file.file-photo:hover .jq-file__name, .jq-file.file-photo.focused .jq-file__name { border-color: #a09f9e; color: #a09f9e; }
.jq-file.file-photo:hover .jq-file__name:before, .jq-file.file-photo.focused .jq-file__name:before { opacity: .4; }
.jq-file.file-photo .jq-file__browse { display: none; }
.form-line { width: 100%; margin-bottom: 15px; clear: left; }
.form-line .form-line:last-of-type { margin: 0; }
.form-line input[type="email"], .form-line input[type="number"], .form-line input[type="password"], .form-line input[type="search"], .form-line input[type="tel"], .form-line input[type="text"], .form-line input[type="url"], .form-line textarea, .form-line .jq-selectbox, .form-line .jq-file { width: 100%; }
.form-line .note { min-height: 0; margin: 15px 0 0; }
.form-line-2-col, .form-line-3-col { width: auto; margin-left: -10px; margin-right: -10px; }
.form-line-2-col .col { width: 50%; padding: 0 10px; float: left; }
.form-line-3-col .col { width: 33.3%; padding: 0 10px; float: left; }
.form .select { width: 100%; display: block; }
/* ==========================================================================
   _Шапка
   ========================================================================== */
.header {
	min-width: 600px;
	height: 69px;
	border-bottom: 1px solid #dddcda;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	cursor: default;
	background: #fff;
}
.header .h1 {
	padding: 5px 0;
	margin: 0;
	display: block;
	position: absolute;
	left: 160px;
	top: 20px;
}
.header .add {
	display: block;
	position: absolute;
	left: 20px;
	top: 20px;
}
.header .status {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	font-size: 15px;
	line-height: 23px;
	letter-spacing: -.005em;
	right: 20px;
	top: 20px;
	color: #323232;
}
.header .status:after { width: 100%; content: "\0020"; display: block; clear: both; overflow: hidden }
.header .status li {
	margin: 0 0 0 20px;
	padding: 5px 0 5px 43px;
	position: relative;
	float: left;
}
.header .status li:before {
	width: 33px;
	height: 33px;
	border-radius: 1px;
	display: block;
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: #ff7b10;
}
.header .status li:after {
	width: 30px;
	height: 30px;
	display: block;
	content: ' ';
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 2;
	background: url('../img/sprite.png') no-repeat 0 0;
	background-size: 300px auto;
}
/* Иконка 'Лампа' */
.header .status li.name:after { background-position: 0 0; }
/* Иконка 'Портмоне' */
.header .status li.funds:after { background-position: -30px 0; }
/* Иконка 'Пин' */
.header .status li.ads:after { background-position: -60px 0; }
/* ==========================================================================
   _Навигация (слева)
   ========================================================================== */
.nav {
	width: 44px;
	padding-top: 69px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 80;
	background: #323232;
	-webkit-backface-visibility: hidden;
}
.nav .menu {
	width: 210px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	position: relative;
	white-space: nowrap;
	-webkit-transform-style: preserve-3d;
}
.nav-closed .nav .menu {
	width: 44px;
}
.nav .menu > li {
	height: 48px;
	position: relative;
}
.nav .menu > li > a {
	height: 48px;
	padding: 14px 20px 14px 60px;
	display: block;
	position: relative;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	letter-spacing: -.02em;
	text-transform: uppercase;
	white-space: nowrap;
	transition: background-color .2s;
}
.nav .menu > li > a:hover, .nav .menu > li > a:focus {
	background-color: rgba(0, 0, 0, .5);
}
.nav .menu > li .new {
	width: 16px;
	font-size: 10px;
	line-height: 14px;
	display: block;
	position: absolute;
	left: 28px;
	top: 0;
	z-index: 7;
	color: #fff;
	text-align: center;
	background: #ff7b10;
}
.nav .menu > li > a:after {
	display: block;
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 44px;
	z-index: -1;
	background-color: rgba(0, 0, 0, .5);
}
.nav .menu > li > a:before {
	width: 30px;
	height: 30px;
	display: block;
	content: ' ';
	position: absolute;
	top: 9px;
	left: 7px;
	z-index: 2;
	background: url('../img/sprite.png') no-repeat 30px -30px;
	background-size: 300px auto;
}
.nav .menu > li > a.owners:before { background-position: 0 -30px; }
.nav .menu > li > a.top:before { background-position: -30px -30px; }
.nav .menu > li > a.sell:before { background-position: -60px -30px; }
.nav .menu > li > a.rent:before { background-position: -90px -30px; }
.nav .menu > li > a.archive:before { background-position: -120px -30px; }
.nav .menu > li > a.pins:before { background-position: -150px -30px; }
.nav .menu > li > a.clients:before { background-position: -180px -30px; }
.nav .menu > li > a.staff:before { background-position: -210px -30px; }
.nav .menu > li > a.tasks:before { background-position: -240px -30px; }
.nav .menu > li > a.portal:before { background-position: -270px -30px; }
.nav .menu > li > a.topic:before { background-position: 0 -60px; }
.nav .menu > li > a.ads:before { background-position: -30px -60px; }
.nav .menu > li > a.details:before { background-position: -60px -60px; }
/* Переключатель 'закрепить' */
.nav .toggle {
	width: 44px;
	height: 37px;
	display: block;
	position: relative;
	background: #000;
}
.nav .toggle:before {
	width: 20px;
	height: 3px;
	margin-left: -10px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 17px;
	left: 50%;
	right: 0;
	background: #fff;
}
.nav .toggle:after {
	width: 20px;
	height: 9px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	margin-left: -10px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 11px;
	left: 50%;
	right: 0;
}
.nav .toggle:before, .nav .toggle:after {
	-webkit-transition: -webkit-transform .2s;
	-webkit-transform: rotate(90deg);
	-moz-transition: -moz-transform .2s;
	-moz-transform: rotate(90deg);
	transition: transform .2s;
	transform: rotate(90deg);
}
.nav-closed .nav .toggle:before, .nav-closed .nav .toggle:after {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
/* ==========================================================================
   _Подвал
   ========================================================================== */
.footer {
	min-width: 600px;
	height: 38px;
	position: fixed;
	bottom: 0;
	left: 44px;
	right: 0;
	z-index: 70;
	background: rgba(255, 255, 255, .5);
}
.footer .links {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 15px;
	line-height: 18px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.footer .links:after { width: 100%; content: "\0020"; display: block; clear: both; overflow: hidden }
.footer .links li {
	padding: 0 10px;
	float: left;
}
.footer .links li a { color: #323232; }
.footer .links li a:hover { color: #ff7b10; }
.footer .support, .footer .messages, .footer .help {
	width: 44px;
	height: 38px;
	white-space: nowrap;
	position: absolute;
	top: 0;
	right: 0;
}
.footer .support { width: auto; right: 172px; }
.footer .messages { right: 44px; }
/* Кнопки */
.footer .support .toggle, .footer .messages .toggle, .footer .help .toggle {
	width: 44px;
	height: 38px;
	display: block;
	cursor: pointer;
	background: rgba(0, 0, 0, .5);
	transition: background-color .2s;
}
.footer .support .toggle {
	width: auto;
	padding: 10px;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: -.01em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.footer .support .toggle:hover, .footer .support .toggle:focus,
.footer .messages .toggle:hover, .footer .messages .toggle:focus,
.footer .help .toggle {
	background-color: rgba(0, 0, 0, .8);
}
.footer .support .new, .footer .messages .new, .footer .help .new {
	width: 16px;
	font-size: 10px;
	line-height: 14px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	color: #fff;
	text-align: center;
	background: #ff7b10;
}
.footer .support .toggle:before, .footer .support .toggle:after, .footer .messages .toggle:before, .footer .help .toggle:before {
	width: 30px;
	height: 30px;
	content: ' ';
	display: block;
	position: absolute;
	top: 4px;
	left: 7px;
	z-index: 1;
	background: url('../img/sprite.png') no-repeat 100px 100px;
	background-size: 300px auto;
}
.footer .support .toggle:before { margin-left: 7px; left: 100%; z-index: 2; background-position: -210px 0; }
.footer .support .toggle:after { width: 44px; height: 38px; left: 100%; top: 0; background: rgba(0, 0, 0, .8); }
.footer .messages .toggle:before { background-position: -240px 0; }
.footer .help .toggle:before { background-position: -270px 0; }
/* ==========================================================================
   _Оранжевая кнопка/ссылка с плюсом
   ========================================================================== */
.add {
	padding: 10px 10px 10px 43px;
	border-radius: 1px;
	display: inline-block;
	text-align: center;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: -.01em;
	position: relative;
	background: #ff7b10;
	transition: background-color .1s;
}
.add:hover, .add:focus {
	color: #fff;
	text-decoration: none;
	background: #f56e00;
}
.add:active {
	padding-top: 11px;
	padding-bottom: 9px;
	background: #ff7b10;
}
.add:before {
	width: 33px;
	border-radius: 1px;
	display: block;
	content: '+';
	overflow: hidden;
	font-weight: 200;
	font-size: 25px;
	line-height: 32px;
	text-shadow: 1px 1px 0 #af4e00;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #e06400;
}
/* ==========================================================================
   _Заметка
   ========================================================================== */
.note {
	min-height: 100px;
	padding: 16px 19px;
	border: 1px dashed #a09f9e;
	border-radius: 1px;
	margin: 0 0 15px;
	display: block;
	position: relative;
	overflow: hidden;
}
.note p { margin: 0; }
.note .h {
	margin-bottom: 7px;
	text-transform: uppercase;
}
/* ==========================================================================
   _Закрывающий крестик
   ========================================================================== */
.close {
	width: 20px;
	height: 20px;
	border: 4px solid transparent;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.close:before, .close:after {
	width: 2px;
	height: 10px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 0;
	left: 6px;
	background: #ff7200;
	transition: background-color .2s;
}
.close:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.close:after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.close:hover:before, .close:hover:after, .close:focus:before, .close:focus:after { background: #a09f9e; }
/* ==========================================================================
   _Таблица (дефолтная)
   ========================================================================== */
.table {
	width: 100%;
	display: table;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	border-collapse: collapse;
	line-height: 14px;
	color: #676767;
	background: #f9f9f9;
}
.table .tr {
	display: table-row;
}
.table .tr:hover .td {
	background: #fff;
}
.table .td {
	padding: 10px;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	display: table-cell;
	vertical-align: top;
	transition: background-color .1s;
}
.table p {
	margin: 0;
	display: block;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}
.table a { color: #676767; }
.table a:hover { color: #ff7b10; }
.table .td.td-icon {
	width: 35px;
	min-width: 35px;
	max-width: 35px;
	border: 1px solid #d6d6d6;
}
.table .td.td-space {
	width: 20px;
	min-width: 20px;
	border: none;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	background: #f6f5f3 !important;
}
.table .icon {
	width: 36px;
	height: 36px;
	margin: -11px;
	display: block;
	position: relative;
}
.table .icon:before, .table .icon:after {
	width: 30px;
	height: 30px;
	margin: -15px 0 0 -15px;
	content: ' ';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	background: url('../img/sprite.png') no-repeat 100px 100px;
	background-size: 300px auto;
	transition: opacity .3s;
}
.table .icon:after { opacity: 0; z-index: 2; }
.table .icon:hover:before, .table .icon:focus:before { opacity: 0; }
.table .icon:hover:after, .table .icon:focus:after { opacity: 1; }
/* Иконка 'Редактировать' */
.table .icon.edit:before { background-position: 0 -90px; }
.table .icon.edit:after { background-position: 0 -120px; }
/* Иконка 'Мегафон' */
.table .icon.mega:before { background-position: -30px -90px; }
.table .icon.mega:after { background-position: -30px -120px; }
/* Иконка 'Открыть в новом окне' */
.table .icon.window:before { background-position: -60px -90px; }
.table .icon.window:after { background-position: -60px -120px; }
.table .td input[type="text"], .filter .td .jq-selectbox {
	width: 100%;
}
.table-owners {
	position: relative;
	bottom: 0;
}
/* ==========================================================================
   _Статистика
   ========================================================================== */
.stats {
	width: 100%;
	position: relative;
}
.stats a { color: #2f79bd; }
.stats a:hover, .stats a:focus { text-decoration: none; }
.stats:after, .stats .main:after, .stats .date:after, .stats .actions:after { width: 100%; content: "\0020"; display: block; clear: both; overflow: hidden }
/* Основные данные */
.stats .main {
	padding: 13px 15px;
	margin: 0;
	border: 1px solid #dadad9;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: .04em;
	color: #676767;
	background: #fff;
}
.stats .main p { margin: 0 0 7px; }
.stats .main p:nth-child(2n) { margin-bottom: 17px; }
.stats .main p:last-of-type { margin: 0; }
.stats .main strong { font-weight: normal; text-transform: uppercase; }
.stats .date {
	padding-left: 36px;
	position: relative;
	cursor: default;
}
.stats .date .icon-calendar {
	width: 36px;
	border: 1px solid #d6d6d6;
	position: absolute;
	top: -1px;
	left: 0;
	bottom: -1px;
	z-index: 4;
	background: #fff;
	transition: border-color .2s;
}
.stats .date .icon-calendar:focus {
	border-color: #a09f9e;
}
.stats .date .text {
	width: 50%;
	padding: 10px;
	border-right: 1px solid #d6d6d6;
	display: block;
	float: left;
	color: #676767;
	text-align: center;
}
.stats .actions {
	height: 366px;
	padding: 13px 15px;
	border: 1px solid #dadad9;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: .04em;
	overflow: auto;
	overflow-x: hidden;
	background: #fff;
}
.stats .actions p {
	margin-bottom: 5px;
}
.stats .actions .time {
	margin-bottom: 6px;
	display: block;
	font-weight: bold;
	font-style: normal;
}
/* ==========================================================================
   _Иконки
   ========================================================================== */
.icon {
	width: 36px;
	height: 37px;
	border: 1px solid #d6d6d6;
	display: block;
	position: relative;
	cursor: pointer;
	transition: border-color .2s;
	background: #fff;
}
.icon:before, .icon:after {
	width: 30px;
	height: 30px;
	margin: -15px 0 0 -15px;
	content: ' ';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 1;
	z-index: 1;
	background: url('../img/sprite.png') no-repeat 100px 100px;
	background-size: 300px auto;
	transition: opacity .3s;
}
.icon:after { opacity: 0; z-index: 2; }
.icon:hover:before { opacity: 0; }
.icon:hover:after { opacity: 1; }
.icon:focus { border-color: #a09f9e !important; }
/* Календарь */
.icon-calendar:before { background-position: -90px -90px; }
.icon-calendar:after { background-position: -90px -120px; }
/* Сохранить */
.icon-save:before { background-position: -120px -120px; }
.icon-save:hover:before { opacity: 1; }
.icon-save:after { display: none; }
/* Удалить */
.icon-delete:before { background-position: -150px -120px; }
.icon-delete:hover:before { opacity: 1; }
.icon-delete:after { display: none; }
/* Редактирование */
.icon-edit:before { background-position: 0 -90px; }
.icon-edit:after { background-position: 0 -120px; }
/* ==========================================================================
   _Инпут с редактированием
   ========================================================================== */
.secure-space {
	position: relative;
	display: block;
}
.secure {
	position: relative;
}
input.secure[disabled], textarea.secure[disabled], .jq-selectbox.secure.disabled .jq-selectbox__select {
	background: #fff;
}
.secure-space .icon {
	width: 35px;
	height: 35px;
	border-width: 0 0 0 1px;
	position: absolute;
	top: 1px;
	right: 1px;
	z-index: 105;
}
.secure-space.col .icon { right: 11px; }
.secure-space .icon-edit { opacity: 0; transition: opacity .1s; }
.secure-space:hover .icon-edit { opacity: 1; }
.secure-space-enabled .icon-edit { display: none; }
.secure-space .icon-save { display: none; }
.secure-space-enabled .icon-save { display: block; }
/* ==========================================================================
   _Кнопка 'Поставить задачу сотруднику'
   ========================================================================== */
.add-task {
	padding: 11px 25px 11px 55px;
	border: 1px solid #d6d6d6;
	color: #676767;
	letter-spacing: 0;
	background: #f6f5f3;
	transition: background-color .2s, border-color .2s;
}
.add-task:before {
	width: 34px;
	border-right: 1px solid #d6d6d6;
	content: ' ';
	z-index: 1;
	background: #fff;
	transition: border-color .2s;
}
.add-task:after {
	width: 30px;
	height: 30px;
	content: ' ';
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 2;
	background: #fff url('../img/sprite.png') no-repeat -30px -90px;
	background-size: 300px auto;
}
.add-task:hover, .add-task:focus {
	border-color: #a09f9e;
	color: #676767;
	background: #fff;
}
.add-task:hover:before, .add-task:focus:before { border-color: #a09f9e; }
.add-task:active {
	padding-top: 12px;
	padding-bottom: 10px;
}
/* ==========================================================================
   Форма новой задачи
   ========================================================================== */
.task-create {
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	background: #fff;
}
.task-create .form-line { margin: -1px 0 0 0; position: static; }
.task-create .form-line:first-child { margin: 0; }
.task-create textarea {
	height: 52px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	position: relative;
	z-index: 99;
	background: none;
}
.task-create textarea:focus { z-index: 102; }
.task-create input:focus, .task-create textarea:focus {
	z-index: 105;
}
.task-create .form-line-last {
	padding-right: 91px;
	position: relative;
}
.task-create .form-line-last .select {
	width: 61%;
	padding-right: 34px;
	float: left;
	position: relative;
}
.task-create input[disabled], .task-create textarea[disabled] {
	z-index: 0 !important;
	background: rgba(205, 205, 205, .2);
}
/*
.task-create .form-line-last .select .jq-selectbox.large .jq-selectbox__select {
	background: rgba(205, 205, 205, .2);
}
*/
.task-create .form-line-last .select .jq-selectbox.large.focused .jq-selectbox__select,
.task-create .form-line-last .select .jq-selectbox.large.opened .jq-selectbox__select,
.task-create .form-line-last .select .jq-selectbox.large.changed .jq-selectbox__select {
	background: none;
}
.task-create .icon-calendar {
	border: 1px solid #d6d6d6;
	border-left-color: transparent;
	border-right-color: transparent;
	position: absolute;
	top: 0;
	right: -1px;
	z-index: 101;
	transition: border-color .2s;
	background: none;
}
.task-create .icon-calendar:focus { border-color: #a09f9e; }
.task-create .form-line-last input.date-from, .task-create .form-line-last input.date-to {
	width: 19.5%;
	float: left;
	position: relative;
	z-index: 1;
	text-align: center;
}
.task-create .form-line-last input.date-from:hover, .task-create .form-line-last input.date-from:hover, .task-create .form-line-last input.date-from:focus, .task-create .form-line-last input.date-from:focus {
	z-index: 2;
}
.task-create .form-line-last input.date-to {
	margin-left: -1px;
}
.task-create .add-space {
	width: 93px;
	border: 1px solid #d6d6d6;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}
.task-create .add-space input {
	height: 35px;
	padding: 11px 10px;
}
/* ==========================================================================
   Список задач
   ========================================================================== */
.task-list {
	margin-bottom: 15px;
	position: relative;
	background: #fff;
}
.task-list:after, .task-list .task:after, .task-list .input:after, .task-list .actions:after { width: 100%; content: "\0020"; display: block; clear: both; overflow: hidden; }
.task-list .task {
	margin-top: -1px;
	box-shadow: inset 0 0 0 1px #d6d6d6;
	background: #fff;
}
.task-list .input {
	margin: 0 184px 0 0;
}
.task-list .input input {
	width: 100%;
	border-top-color: transparent;
	display: block;
	position: relative;
	background: none;
}
.task-list input[disabled], .task-list textarea[disabled] {
	z-index: 0 !important;
	background: rgba(205, 205, 205, .2) !important;
}
.task-list .actions {
	width: 184px;
	padding: 0 35px 0 34px;
	margin-top: -37px;
	position: relative;
	float: right;
}
.task-list .actions .icon-calendar {
	border-top-color: transparent;
	border-left-color: transparent;
	position: absolute;
	top: 0;
	left: -1px;
	z-index: 2;
	background: none;
}
.task-list .actions .date {
	width: 100%;
	padding: 7px 5px 7px 10px;
	border: 1px solid #d6d6d6;
	margin: 0;
	color: #676767;
	line-height: 21px;
	letter-spacing: 0;
	text-transform: uppercase;
	display: block;
	position: relative;
	z-index: 0;
	background: none !important;
}
.task-list .actions .date-yellow { background: #ffdeaa !important; }
.task-list .actions .date-orange { background: #ff7979 !important; }
.task-list .actions .toggle {
	width: 36px;
	height: 37px;
	border: 1px solid #d6d6d6;
	border-top-color: transparent;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	transition: border-color .3s;
}
.task-list .actions .toggle:before {
	width: 18px;
	height: 3px;
	margin: -1px 0 0 -9px;
	content: ' ';
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #838383;
	transition: background-color .2s;
}
.task-list .actions .toggle:after {
	width: 18px;
	height: 9px;
	border-top: 3px solid #838383;
	border-bottom: 3px solid #838383;
	margin: -7px 0 0 -9px;
	content: ' ';
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: border-color .2s;
}
.task-list .actions .toggle:before, .task-list .actions .toggle:after {
	-webkit-transition: -webkit-transform .2s;
	-webkit-transform: rotate(0deg);
	-moz-transition: -moz-transform .2s;
	-moz-transform: rotate(0deg);
	transition: transform .2s;
	transform: rotate(0deg);
}
.task-list .task .actions .toggle.active:before, .task-list .task .actions .toggle.active:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.task-list .actions .toggle:hover:before { background-color: #ff7b10; }
.task-list .actions .toggle:hover:after { border-color: #ff7b10; }
.task-list .actions .toggle:focus { border-color: #a09f9e !important; }
.task-list .task:first-child { margin: 0; }
.task-list .task:first-child .input input, .task-list .task:first-child .actions .icon-calendar, .task-list .task:first-child .actions .toggle { border-top-color: #d6d6d6; }
.task-list .task:first-child .input input:focus { border-color: #a09f9e; }
.task-list .space {
	width: 100%;
	margin: 0 0 -1px 0;
	display: none;
	overflow: hidden;
	position: relative;
	top: -1px;
	z-index: 10;
}
.task-list .task.open .space { display: block; }
.task-list .form-line { margin: 0 0 -1px 0; }
.task-list .form-line-last {
	padding-right: 70px;
	margin: 0;
}
.task-list .space textarea {
	width: 100%;
	height: 52px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	display: block;
	position: relative;
	z-index: 15;
	background: none;
}
.task-list .space input[type="text"]:last-of-type {
	border-bottom-color: transparent;
	background: none;
}
.task-list .space textarea:focus, .task-list .space input[type="text"]:focus { border-color: #a09f9e !important; }
.task-list .space .buttons {
	width: 71px;
	height: 37px;
	margin-top: -37px;
	float: right;
	position: relative;
	z-index: 10;
}
.task-list .space .buttons .icon-save {
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	background: none;
}
.task-list .space .buttons .icon-delete {
	border-left-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	background: none;
}
/* ==========================================================================
   _Блоки
   ========================================================================== */
/* Высота input=file на странице 'карточка пользователя' */
.block-staff-card .jq-file.file-photo .jq-file__name {
	height: 193px;
	padding: 100px 9px 9px 9px;
}
input[type="email"].large, input[type="number"].large, input[type="password"].large, input[type="search"].large, input[type="tel"].large, input[type="text"].large, input[type="url"].large, textarea.large { height: 37px; padding-top: 10px; padding-bottom: 10px; }
.jq-selectbox.large .jq-selectbox__dropdown { top: 36px; }
.jq-selectbox.large .jq-selectbox__select { height: 37px; }
.jq-selectbox.large .jq-selectbox__select-text { padding-top: 9px; }
/* ==========================================================================
   _HELP
   ========================================================================== */
/*
.help {
	width: 460px;
	position: absolute;
	top: 0;
	display: none;
}
.help .inside {
	padding: 17px 20px 20px;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: -.03em;
	background: #fff;
	position: relative;
	border: 1px solid #d6d6d6;
}
.help .h {
	margin-bottom: 17px;
	text-transform: uppercase;
}
.help .h span {
	color: #ff7b10;
}
.help .text p {
	margin-bottom: 13px;
}
.help .amount {
	padding: 0 17px;
	display: inline-block;
}
/* ==========================================================================
   _OWNERS
   ========================================================================== */
.owners .wrapper {
	position: relative;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
.owners .map {
	position: relative;
}
.owners .filter {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.owners .table {
	margin-bottom: 20px;
}
.owners .status .link-add-1 .plus:before { background-position: -25px 0; }
.owners .status .link-add-2 .plus:before { background-position: 0 0; }
/* ==========================================================================
   _MAP
   ========================================================================== */
.map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.map-small {
	height: 370px;
	bottom: auto;
}
/* ==========================================================================
   _FILTER
   ========================================================================== */
.filter {
	padding: 20px;
	margin: -20px -20px 20px;
	background-color: rgba(0, 0, 0, .5);
	position: relative;
	z-index: 100;
}
.filter .toggle {
	width: 31px;
	height: 30px;
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	text-decoration: none;
	background: #fe7b0f;
	border-radius: 1px;
	transition: background-color .1s;
	z-index: 50;
}
.filter .toggle:hover {
	background-color: #df6300;
}
.filter .toggle span {
	width: 15px;
	height: 19px;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 6px;
	border-right: 3px solid #fff;
	border-left: 3px solid #fff;
}
.filter .toggle span:before {
	width: 3px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	left: 3px;
	top: 0;
	bottom: 0;
	background: #fff;
}
.filter .inside {
	display: none;
	padding-top: 20px;
}
.filter .stroke {
	width: 100%;
	margin-bottom: 20px;
	display: table;
}
.filter .stroke:last-of-type {
	margin-bottom: 0;
}
.filter .stroke-1 {
	padding-right: 53px;
	position: relative;
	margin-bottom: 0;
}
.filter .stroke .tr {
	display: table-row;
}
.filter .td {
	padding: 0 10px;
	display: table-cell;
	vertical-align: top;
	white-space: nowrap;
}
.filter .td:last-of-type {
	text-align: right;
	padding-right: 0;
}
.filter .td:first-of-type {
	padding-left: 0;
}
.filter .td p {
	margin-bottom: 0;
}
.filter label {
	margin-right: 18px;
	margin-bottom: 0;
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
}
.filter .jq-selectbox {
	text-align: left;
}
.filter .checkbox {
	font-size: 13px;
}
.filter .checkbox .jq-checkbox {
	width: 32px;
	height: 30px;
	margin: 0 0 0 6px;
	background-position: 0 -155px;
}
.filter .checkbox .jq-checkbox .jq-checkbox__div {
	width: 20px;
	height: 20px;
	margin: 6px 0 0 8px;
	background-position: 0 -155px;
}
.filter .td input[type="text"], .filter .td .jq-selectbox {
	width: 100%;
}
.filter .cell-small input[type="text"] {
	width: 42px;
	margin: 0 5px;
	text-align: center;
}
/* ==========================================================================
   _NOTICES
   ========================================================================== */
.notices {
	width: 452px;
	float: right;
	right: 0;
	left: auto;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
}
.notices ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.notices li {
	width: 452px;
	padding: 17px 20px 14px;
	margin-bottom: 20px;
	position: relative;
	background-color: rgba(0, 0, 0, .6);
	letter-spacing: -.012em;
	z-index: 1;
}
.notices li:before {
	display: block;
	content: ' ';
	overflow: hidden;
	background-color: rgba(0, 0, 0, .6);
	/*
	filter: blur(15px);
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.notices li:last-of-type {
	margin-bottom: 0;
}
.notices .close {
	width: 18px;
	height: 18px;
	display: block;
	top: 0;
	right: 0;
	background-color: #ff7c12;
	border-bottom-left-radius: 3px;
}
.notices .close:before, .notices .close:after {
	background-color: #fff;
	top: 4px;
	left: 8px;
}
.notices .h {
	margin-bottom: 4px;
	display: block;
	text-transform: uppercase;
	color: #ff7c0f;
	letter-spacing: -.03em;
}
.notices .text {
	margin-bottom: 9px;
}
/* ==========================================================================
   _Адаптивность
   ========================================================================== */
@media (max-width: 1279px) {
	.container { padding-left: 20px; }
	.header .h1 { font-size: 18px; }
	.header .status { font-size: 14px; }
	.nav .menu, .nav-closed .nav .menu { width: 44px; }
	.nav-fixed .nav .menu { width: 210px; }
	.nav:hover .menu { width: 210px; }
	.nav .toggle:before, .nav .toggle:after { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); transform: rotate(0deg); }
	.nav-fixed .nav .toggle:before, .nav-fixed .nav .toggle:after { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
}
@media (max-width: 999px) {
	.header .h1 { top: 5px; left: 5px; right: 5px; text-align: center; }
	.header .add { width: 33px; height: 33px; padding: 0; overflow: hidden; text-indent: -1000px; left: auto; right: 20px; z-index: 20; }
	.header .add:before { text-indent: 0; background: none; }
	.header .status { top: 40px; left: 0; text-align: center; }
	.header .status li { padding: 0; margin: 0 15px; float: none; display: inline-block; }
	.header .status li:before, .header .status li:after { display: none; }
	.content, .aside { padding: 0; display: block; }
	.form-line.form-submit { text-align: center; }
}
@media (max-width: 759px) {
}
/* ==========================================================================
   _Стили для печати
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}