/*!
 * Project: Astra-Form
 * File: Main styles
 * Author: Sergiy Miroshnychenko
 */

/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/pt-sans-regular.woff') format('woff');
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/pt-sans-bold.woff') format('woff');
}

@font-face {
	font-family: 'Minion Pro';
	src:	url('../fonts/MinionPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),  
			url('../fonts/MinionPro-SemiboldIt.otf')  format('opentype'),
			url('../fonts/MinionPro-SemiboldIt.woff') format('woff'), 
			url('../fonts/MinionPro-SemiboldIt.ttf')  format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* ==========================================================================
   _HTML
   ========================================================================== */
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	font: 14px/21px 'PT Sans', Helvetica, Arial, sans-serif;
	color: #454f5d;
}
body {
	max-width: 1260px;
	min-height: 100%;
	margin: 0 auto;
	padding-bottom: 100px;
	position: relative;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
/* ==========================================================================
   _LAYOUT
   ========================================================================== */
/* ==========================================================================
   _TEXT
   ========================================================================== */
p {
	margin: 0 0 24px;
}
ul, ol {
	margin: 0 0 24px 0;
}
a {
	color: #162335;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 24px;
}
h1, .h1 {
	font-size: 85px;
	line-height: 85px;
}
.subscribe {
	width: 131px;
	height: 39px;
	display: inline-block;
	border: 2px solid #fff;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.hr {
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.hr:before, .hr:after {
	height: 1px;
	margin-top: -3px; 
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 50%;
	background: #fff;
	opacity: .5;
}
.hr:before {
	margin-right: 74px; 
	left: 0;
	right: 50%;
}
.hr:after {
	margin-left: 74px; 
	right: 0;
	left: 50%;
}
.hr .bg {
	width: 65px;
	height: 27px;
	display: inline-block;
	background: url(../img/sprite.png) 0 0 no-repeat;
	background-size: 100px auto;
}

/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	color: #a2a7ae;
	background: #162335;
}
.footer .author {
	margin: 0;
	position: absolute;
	top: 42px;
	left: 43px;
}
.footer .author strong {
	color: #fff;
}
.footer .copyright {
	margin: 0;
	position: absolute;
	top: 43px;
	left: 174px;
	letter-spacing: -.006em;
}
.footer .logo {
	width: 74px;
	height: 31px;
	margin: 0 0 0 -42px;
	position: absolute;
	top: 38px;
	left: 50%;
}
.footer .logo img {
	width: 74px;
	height: 31px;
	display: block;
}
.footer .note {
	margin: 0;
	position: absolute;
	top: 38px;
	right: 62px;
	letter-spacing: -.006em;
}
.footer .note .subscribe {
	width: 120px;
	height: 32px;
	font-size: 10px;
	line-height: 30px;
	letter-spacing: .01em;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}

/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
	width: 100%;
	height: 88px;
	position: relative;
	background: #fff;
	box-shadow: 0 4px 2px -2px rgba( 0, 0, 0, .15);
}
.header .logo {
	width: 124px;
	height: 53px;
	margin: 0;
	position: absolute;
	top: 18px;
	left: 36px;
}
.header .logo img {
	width: 124px;
	height: 53px;
	display: block;
}
.header .nav {
	position: relative;
	top: 37px;
}
.header .nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 13px;
	line-height: normal;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .04em;
}
.header .nav ul li {
	margin: 0 9px;
	display: inline-block;
	letter-spacing: .03em;
}
.header .nav ul li a {
	text-decoration: none;
}
.header .nav-contacts {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 40px;
	right: 42px;
	font-size: 12px;
	line-height: normal;
	text-transform: uppercase;
	letter-spacing: .06em;
}
.header .nav-contacts li {
	margin: 0 9px;
	display: inline-block;
}
.header .nav-contacts li a {
	text-decoration: none;
}

/* ==========================================================================
   _INDEX
   ========================================================================== */
.index .slider {
	width: 100%;
	height: 737px;
}
.index .carousel {
	margin: 0;
	padding: 0;
	list-style: none;
}
.index .carousel li {
	height: 737px;
	background-size: cover;
	background-repeat: no-repeat;
}
.index .carousel .text {
	margin: -122px auto 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	color: #fff;
	text-align: center;
}
.index .carousel .text .h1 {
	margin: 0;
	text-transform: uppercase;
}
.index .carousel .text .slogan {
	margin: 0 0 11px;
	display: block;
	font: 600 italic 24px/38px 'Minion Pro', Helvetica, Arial, sans-serif;
}
.index .carousel .text .hr {
	width: 558px;
	margin-bottom: 52px;
}
.index .carousel .text .subscribe {
	color: #fff;
	line-height: 36px;
	letter-spacing: .02em;
}
.index .bx-controls a {
	width: 18px;
	height: 18px;
	margin: -104px 0 0 0;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	background: url(../img/sprite.png) 0 -35px no-repeat;
	background-size: 100px auto;
	transition: opacity .3s ease;
}
.index .bx-controls a.bx-prev {
	left: 24px;
}
.index .bx-controls a.bx-next {
	right: 24px;
	background-position: -25px -35px;
}
.index .bx-controls a:hover {
	opacity: .8;
}

/* ==========================================================================
   _SPECIAL
   ========================================================================== */
.special .top {
	height: 277px;
	color: #fff;
	position: relative;
	background: #162335;
}
.special .scroll {
	padding-left: 17px;
	position: absolute;
	top: 13px;
	left: 44px;
	font-size: 12px;
	line-height: normal;
	color: #fff;
	letter-spacing: .05em;
	text-decoration: none;
}
.special .scroll:before {
	width: 13px;
	height: 24px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: -8px;
	left: 0;
	background: url(../img/sprite.png) -75px 0 no-repeat;
	background-size: 100px auto;
}
.special .nav {
	position: relative;
	top: 15px;
	text-align: center;
}
.special .nav ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
}
.special .nav ul li {
	margin: 0 8px;
	display: inline-block;
	letter-spacing: .05em;
}
.special .nav ul li a {
	color: #fff;
	text-decoration: none;
}
.special .cart {
	display: block;
	padding: 3px 9px 1px 12px;
	position: absolute;
	top: 16px;
	right: 148px;
	text-decoration: none;
	font: 600 italic 12px 'Minion Pro', Helvetica, Arial, sans-serif;
	letter-spacing: .025em;
	background: #fff;
	border-radius: 9px;
}
.special .social {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	position: absolute;
	top: 20px;
	right: 0;
}
.special .social li {
	width: 20px;
	height: 18px;
	display: inline-block;
	background: #fff;
	border-radius: 50%; 
}

/* ==========================================================================
   _RESPONSIVE
   ========================================================================== */
@media (max-width: 1279px) {
}
@media (max-width: 1023px) {

}
@media (max-width: 767px) {
}
@media (max-width: 575px) {

}
@media (max-width: 479px) {
}
/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}