/*!
 * Project: boatpilot.me
 * File: Main styles
 * Author: Sergiy Miroshnychenko
 */

/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
	font-family: 'Museo';
	src: url('../fonts/museosanscyrl_300-webfont.eot');
	src: url('../fonts/museosanscyrl_300-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museosanscyrl_300-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'Museo';
	src: url('../fonts/museosanscyrl_500-webfont.eot');
	src: url('../fonts/museosanscyrl_500-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museosanscyrl_500-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;

}
/* ==========================================================================
   _HTML
   ========================================================================== */
* {
	box-sizing: border-box;
}
html {
	height: 100%;
	font: 14px/26px 'Museo', Helvetica, Arial, sans-serif;
	letter-spacing: -0.01em;
	color: #9e9e9e;
}
body {
	min-width: 320px;
	height: 100%;
	position: relative;
	background: #0a283d;
}
body:before {
	width: 1160px;
	margin: 0 0 0 -580px;
	display: block;
	content: ' ';
	position: absolute;
	top: 0;
	left: 50%;
	bottom: 0;
	z-index: -1;
	background: #f5f7f8;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
/* ==========================================================================
   _LAYOUT
   ========================================================================== */
.container {
	width: 1160px;
	min-height: 100%;
	padding: 0 0 160px;
	margin: 0 auto;
	position: relative;
	color: #2c3e50;
	background: #f5f7f8;
}
.container-inner {
	background: #fff;
}
.container-inner:before {
	width: 290px;
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #0f1f2a;
}
.container-inner .content {
	padding: 50px 40px;
}
.container-inner .sidebar {
	width: 290px;
	padding: 0;
	min-height: 50px;
	float: left;
	position: relative;
	z-index: 1;
	background: none;
}
.wrapper {
	width: 1160px;
	margin: 0 auto;
}
.wrapper:after, .container:after, .content:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.content {
	width: 870px;
	float: left;
}
.sidebar {
	width: 290px;
	padding: 35px;
	float: right;
	background: #fff;
}
.main-area {
	float: right;
}
.sidebar-right {
	float: right;
}
.sidebar-left {
	float: left;
}
.body {
	padding-top: 80px;
}
.body .header:before {
	background: rgba(103, 218, 254, .99);
}
.body .header .social {
	left: auto;
	right: 180px;
}
.body .content {
	padding-top: 22px;
	padding-bottom: 38px;
}
/* ==========================================================================
   _TEXT
   ========================================================================== */
p {
	margin: 0 0 26px;
}
ul, ol {
	margin: 0 0 26px 0;
}
a {
	color: #00b0dc;
	text-decoration: none;
	transition: color .2s ease;
}
a:hover, a:focus {
	color: #9e9e9e;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 24px;
}
h1, .h1 {
	margin: 0 0 30px 0;
	font-size: 30px;
	line-height: 40px;
	font-weight: normal;
	letter-spacing: -.015em;
}
h2, .h2 {
	margin: 0 0 20px 0;
	font-size: 28px;
	line-height: 28px;
	font-weight: normal;
	color: #2c3e50;
	letter-spacing: .025em;
}
h3, .h3 {
	margin: 0 0 16px;
	font-size: 20px;
	line-height: 34px;
	letter-spacing: 0;
	font-weight: bold;
	color: #1b1d1f;
	text-transform: uppercase;
}
h4, .h4 {
	margin: 0 0 18px 0;
	font-size: 24px;
	line-height: 26px;
	font-weight: normal;
	color: #00b0dc;
	letter-spacing: .025em;
}
h5, .h5 {
	margin: 0 0 18px 0;
	font-size: 18px;
	line-height: 26px;
	font-weight: normal;
}
.date {
	color: #9e9e9e;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: .05em;
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
/* ==========================================================================
   _NAVIGATION
   ========================================================================== */
.navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 20px;
}
.navigation li {
	margin: 0 0 0 13px;
	display: inline-block;
	position: relative;
}
.navigation li:after {
	width: 2px;
	height: 2px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	opacity: .6;
	position: absolute;
	top: 9px;
	left: -9px;
	background: #fff;
}
.navigation li:first-of-type { margin-left: 0; }
.navigation li:first-of-type:after { display: none; }
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
	width: 100%;
	margin-top: -160px;
	position: relative;
	cursor: default;
	color: #fff;
	background: #0f1f2a;
}
.footer a {
	outline: none;
	color: #fff;
}
.footer a:hover, .footer a:focus {
	color: #00b0dc;
}
.footer .wrapper {
	min-height: 160px;
	position: relative;
}
.footer .wrapper:before {
	width: 1px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 290px;
	bottom: 0;
	background: #546064;
}
.footer .copyright {
	margin: 0;
	display: block;
	position: absolute;
	line-height: 20px;
	top: 45px;
	left: 0;
}
.footer .navigation {
	position: absolute;
	top: 45px;
	left: 336px;
}
/* Social networks */
.social {
	margin: 0;
	padding: 2px;
	list-style: none;
	line-height: 10px;
}
.footer .social {
	position: absolute;
	top: 40px;
	right: 0;
}
.social li {
	width: 20px;
	height: 20px;
	margin: 0 0 0 20px;
	display: inline-block;
}
.social li:first-of-type { margin: 0; }
.social li a {
	width: 100%;
	height: 100%;
	display: block;
	outline: none;
	background: url(../img/sprite.png) -5px -5px no-repeat;
	background-size: 60px auto;
	transition: opacity .2s ease;
}
.social .fb a { background-position: -5px -5px; }
.social .tw a { background-position: -35px -5px; }
.social .s a { background-position: -5px -35px; }
.social .s { display: none; }
.social .nt { display: none; }
.social .nt a { background: none; }
.social .nt a:before {
	width: 20px;
	height: 10px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	content: ' ';
	display: block;
	overflow: hidden;
	position: absolute;
	top: 6px;
}
.social .nt a:after {
	width: 20px;
	height: 2px;
	content: ' ';
	display: block;
	overflow: hidden;
	position: absolute;
	top: 12px;
	background: #fff;
}
.social li a:hover, .social li a:focus { opacity: .7; }
.footer .googleplay {
	display: block;
	outline: none;
	position: absolute;
	top: 106px;
	left: 336px;
	transition: opacity .2s ease;
}
.footer .googleplay:hover, .footer .googleplay:focus {
	opacity: .7;
}
.footer .googleplay img {
	height: 44px;
	border-radius: 5px;
	display: block;
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	cursor: default;
}
.header:before {
	height: 100%;
	margin-left: -290px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	left: 50%;
	z-index: 5;
	background: rgba(103, 218, 254, .9);
}
.header .wrapper {
	height: 100%;
	z-index: 10;
	position: relative;
}
.header .logo {
	width: 131px;
	height: 114px;
	margin: 0;
	display: block;
	position: absolute;
	top: 80px;
	left: 113px;
}
.header .logo img {
	width: 131px;
	height: 114px;
	display: block;
}
.header .social {
	position: absolute;
	top: 27px;
	left: 0;
}
.header .search {
	position: absolute;
	top: 17px;
	left: 334px;
}
.header .search form {
	display: block;
	position: relative;
}
.header .search input[type="text"] {
	width: 359px;
	height: 44px;
	padding: 7px 57px 7px 18px;
	display: block;
	font: 14px 'Museo', Helvetica, Arial, sans-serif;
	outline: none;
	position: relative;
	border: none;
	color: #fff;
	background: #23a5cd;
	border-radius: 2px;
}
/*noinspection CssInvalidPseudoSelector*/
::-webkit-input-placeholder { color: #fff; }
/*noinspection CssInvalidPseudoSelector*/
:-moz-placeholder { color: #fff; }
/*noinspection CssInvalidPseudoSelector*/
::-moz-placeholder { color: #fff; }
/*noinspection CssInvalidPseudoSelector*/
:-ms-input-placeholder { color: #fff; }
.header .search button[type="submit"] {
	width: 46px;
	height: 44px;
	padding: 0;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	outline: none;
	background: #fff;
	border-radius: 0 2px 2px 0;
	border: none;
	transition: opacity .2s ease;
}
.header .search button[type="submit"]:focus {
	opacity: .9;
}
.header .search button[type="submit"]:before {
	width: 20px;
	height: 20px;
	margin: -10px 0 0 -10px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../img/sprite.png) -35px -35px no-repeat;
	background-size: 60px auto;
}
.header .download {
	width: 148px;
	height: 34px;
	display: block;
	font-size: 12px;
	line-height: 34px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	letter-spacing: .1em;
	outline: none;
	position: absolute;
	top: 22px;
	right: 0;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 2px;
	transition: color .2s ease, background-color .2s ease;
}
.header .download:hover, .header .download:focus {
	color: #67dafe;
	background-color: #fff;
}
/* ==========================================================================
   _HEADER-INNER
   ========================================================================== */
.header-inner:before {
	margin-left: 0;
	left: 0;
}
.header-inner .logo {
	height: 21px;
	overflow: hidden;
	position: absolute;
	top: 30px;
	left: 0;
}
.header-inner .logo img {
	width: 131px;
	height: 114px;
	margin: -93px 0 0 0;
	display: block;
	transition: opacity .2s ease;
}
.header-inner .logo a:hover img, .header-inner .logo a:focus img {
	opacity: .8;
}
.header-inner .navigation {
	position: absolute;
	top: 35px;
	left: 290px;
}
.header-inner .navigation li {
	margin: 0 0 0 28px;
}
.navigation li:first-of-type { margin-left: 0; }
.header-inner .navigation li:after {
	left: -17px;
}
.header-inner .navigation li a {
	color: #fff;
	outline: none;
	transition: color .3s ease;
}
.header-inner .navigation a:hover, .header-inner .navigation a:focus {
	color: #0f1f2a;
}
.header-inner .social {
	right: 0;
	left: auto;
}
/* ==========================================================================
   _INDEX
   ========================================================================== */
.index {
	width: 100%;
	height: 537px;
	position: relative;
	cursor: default;
	background: #2c3e50;
}
.index .main {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 5;
	opacity: 0;
	transition: opacity .5s ease;
}
.index .additional {
	height: 100%;
	margin-right: 290px;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 50%;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity .5s .2s ease;
}
.index .additional .bx-wrapper {
	width: 200%;
	max-width: none !important;
}
.index.loaded .main, .index.loaded .additional {
	opacity: 1;
}
.index .bx-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
.index .bx-viewport {
	height: 100%;
}
.index .main .bx-viewport {
	height: 100% !important;
}
.index .main .bx-viewport {
	width: auto !important;
	margin-left: -290px;
	position: absolute !important;
	left: 50%;
	right: 0;
	z-index: 5;
}
.index .carousel {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
.index .carousel li {
	width: 100%;
	height: 100%;
}
.index .carousel .img {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	z-index: 0;
}
.index .carousel .bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.index .carousel .blur {
	margin-right: -290px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 50%;
	z-index: 1;
	background-position: 0 35%;
	background-repeat: no-repeat;
	background-size: 250% auto;
	filter: blur(15px);
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='15'%20/></filter></svg>#blur");
}
.index .additional .carousel li:before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	opacity: .9;
	background: #2c3e50;
}
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {
	@media {
		.index .additional .carousel li:before {
			display: none;
		}
		.index .additional .carousel * {
			-webkit-backface-visibility: hidden;
			-webkit-transform-style: preserve-3d;
		}
		.index .additional .carousel .blur {
			opacity: .1;
		}
	}
}
.index .carousel .bx-caption {
	width: 290px;
	padding: 257px 48px 80px 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 50%;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	text-align: right;
	z-index: 10;
}
.index .bx-controls {
	padding-right: 37px;
	margin-right: 290px;
	position: absolute;
	bottom: 41px;
	right: 50%;
	z-index: 10;
}
.index .bx-controls-direction {
	width: 110px;
	height: 30px;
	position: relative;
}
.index .bx-controls-direction .pages {
	padding-top: 1px;
	padding-right: 36px;
	line-height: 30px;
	text-align: right;
	font-size: 18px;
	color: #fff;
	position: relative;
	z-index: 1;
}
.index .bx-controls-direction a {
	width: 30px;
	height: 30px;
	text-indent: -1000px;
	outline: none;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 5;
	transition: opacity .3s ease;
}
.index .bx-controls-direction .bx-prev { left: 0; }
.index .bx-controls-direction .bx-next { right: 0; }
.index .bx-controls-direction a:before, .index .bx-controls-direction a:after {
	width: 1px;
	height: 14px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	left: 5px;
	top: 4px;
	background: #fff;
	transition: background-color .3s ease;
}
.index .bx-controls-direction a:hover:before, .index .bx-controls-direction a:hover:after,
.index .bx-controls-direction a:focus:before, .index .bx-controls-direction a:focus:after { background-color: #67dafe; }
.index .bx-controls-direction a.disabled { cursor: default; opacity: .3; }
.index .bx-controls-direction a.disabled:before, .index .bx-controls-direction a.disabled:after { background: #fff; }
.index .bx-controls-direction a:before {
	left: 13px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.index .bx-controls-direction a:after {
	top: 13px;
	left: 13px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.index .bx-controls-direction a.bx-next:before {
	left: 15px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}
.index .bx-controls-direction a.bx-next:after {
	left: 15px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.index .googleplay {
	width: 290px;
	height: 145px;
	margin: 0 0 0 290px;
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 30;
	background: url(../img/googleplay.png) 0 0 no-repeat;
	background-size: cover;
}
.index .googleplay .link {
	margin: -28px 0 0 -85px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
}
.index .googleplay img {
	height: 56px;
	display: block;
}
/* ==========================================================================
   _TOP-checkins
   ========================================================================== */
.block-top-checkins {
	float: left;
}
.top-checkins {
	padding: 35px 25px 35px 35px;
	margin: -35px;
	color: #fff;
	background: #0f1f2a;
}
.top-checkins .h3 {
	color: #fff;
}
.top-checkins .list {
	height: 500px;
	margin: 0;
	padding: 0 10px 0 0;
	list-style: none;
	overflow: hidden;
	position: relative;
}
.top-checkins .list .ps-scrollbar-x-rail {
	display: none !important;
}
.top-checkins .list .ps-scrollbar-y-rail {
	width: 1px;
	right: 2px;
	background: #c3c9cc;
}
.top-checkins .list .ps-scrollbar-y {
	width: 5px;
	position: absolute;
	right: -2px;
	background-color: #263547;
}
.top-checkins .list .ps-scrollbar-y:hover {
	background-color: #263547;
}
.top-checkins .list li {
	margin: 0 0 26px;
}
.top-checkins .list li p {
	margin: 0;
}
.top-checkins .list li a {
	text-decoration: none;
}
.top-checkins .list li a:hover {
	color: #fff;
}
/* ==========================================================================
   _VIDEO
   ========================================================================== */
.video {
	position: relative;
}
.video:after {
	width: 100%;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.video .player {
	width: 580px;
	height: 330px;
	float: left;
}
.video .news {
	width: 290px;
	height: 330px;
	padding: 35px;
	float: left;
	background: #f5f7f8;
}
.video .news .list {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 24px;
}
.video .news .list li {
	margin: 0 0 22px 0;
}
.video .news .list li:last-child {
	margin-bottom: 0;
}
.video .news .list .link {
	margin: 0 0 4px 0;
	display: block;
	text-decoration: none;
}
.video .news .list .date {
	text-transform: uppercase;
	letter-spacing: .09em;
}
/* ==========================================================================
   _FEATURES
   ========================================================================== */
.features:after {
	width: 100%;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.features .note {
	width: 580px;
	margin: 0;
	float: left;
	position: relative;
}
.features .note:after {
	width: 0;
	height: 0;
	display: block;
	content: ' ';
	position: absolute;
	top: 36px;
	right: -20px;
	border-style: solid;
	border-width: 15px 0 15px 20px;
	border-color: transparent transparent transparent #fff;
}
.features .note .carousel {
	width: 580px;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}
.features .note .carousel {
	height: 290px;
	margin: 0 -14px 0 0;
}
.features .note .carousel li {
	height: 290px;
	padding: 43px 30px 30px 43px;
	background: #fff;
}
.features .note .carousel .h2 {
	margin-bottom: 30px;
}
.features .note .carousel .link {
	text-decoration: none;
	color: #2c3e50;
}
.features .note .carousel .text {
	max-height: 78px;
	overflow: hidden;
	display: block;
	margin: 0;
	letter-spacing: .06em;
	opacity: .5;
}
.features .note .bx-pager {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	left: 38px;
	bottom: 48px;
}
.features .note .bx-pager:after {
	width: 100%;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.features .note .bx-pager .bx-pager-item {
	width: 17px;
	height: 17px;
	margin: 0 9px 0 0;
	float: left;
	display: block;
}
.features .note .bx-pager .bx-pager-item a {
	width: 17px;
	height: 17px;
	padding: 4px;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	border: 1px solid transparent;
	transition: border-color .2s ease;
}
.features .note .bx-pager .bx-pager-item a:hover {
	border-color: rgba(85, 192, 255, .3);
}
.features .note .bx-pager .bx-pager-item a.active {
	border-color: rgba(85, 192, 255, .3);
}
.features .note .bx-pager .bx-pager-item a:before {
	width: 7px;
	height: 7px;
	margin: auto auto;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	background: #ced6e0;
	border-radius: 3px;
	transition: background .2s ease;
}
.features .note .bx-pager .bx-pager-item a:hover:before {
	background: #67dafe;
}
.features .note .bx-pager .bx-pager-item a.active:before {
	background: #67dafe;
}
.features .pic {
	width: 290px;
	float: right;
}
.features .pic img {
	width: 290px;
	height: 290px;
	display: block;
}
/* ==========================================================================
   _MAP
   ========================================================================== */
.map {
	width: 870px;
	height: 580px;
	position: relative;
	cursor: default;
}
.map .code {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}
.map .code img {
	width: 100%;
	height: 100%;
}
.map .info {
	width: 290px;
	margin: 0;
	padding: 35px 35px 47px;
	color: #fff;
	font-size: 16px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	background: rgba(103, 218, 254, .9);
}
.map .info .h3 {
	margin: 0 0 14px 0;
	color: #fff;
}
.map .info p {
	margin: 0;
}
.map-small {
	width: 290px;
	height: 200px;
}
/* ==========================================================================
   _VIDEO
   ========================================================================== */
.top-sailors {
	min-height: 510px;
	cursor: default;
}
.top-sailors .bx-wrapper {
	position: relative;
}
.top-sailors .carousel {
	height: 460px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.top-sailors .carousel li {
	height: 460px;
	float: left;
}
.top-sailors .carousel .item {
	margin: 0 0 20px 0;
	position: relative;
}
.top-sailors .carousel .item .link {
	min-height: 65px;
	padding: 0 0 0 65px;
	display: block;
	outline: none;
	position: relative;
}
.top-sailors .carousel .pic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity .2s ease;
}
.top-sailors .carousel .item .link:hover .pic {
	opacity: .7;
}
.top-sailors .carousel .name {
	max-height: 36px;
	margin: 0 0 3px;
	display: block;
	line-height: 18px;
	overflow: hidden;
	text-decoration: none;
}
.top-sailors .carousel .date {
	max-height: 26px;
	text-transform: uppercase;
	display: block;
	overflow: hidden;
}
.top-sailors .carousel .black {
	color: #000;
}
.top-sailors .bx-pager {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	left: 2px;
	bottom: 7px;
}
.top-sailors .bx-pager:after {
	width: 100%;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.top-sailors .bx-pager .bx-pager-item {
	width: 8px;
	height: 8px;
	margin: 0 18px 0 0;
	display: inline-block;
}
.top-sailors .bx-pager .bx-pager-item a {
	width: 8px;
	height: 8px;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
	position: relative;
	background: #ced6e0;
	border-radius: 50%;
	outline: none;
	transition: background .2s ease;
}
.top-sailors .bx-pager .bx-pager-item a:hover, .top-sailors .bx-pager .bx-pager-item a:focus {
	background: #67dafe;
}
.top-sailors .bx-pager .bx-pager-item a.active {
	background: #67dafe;
}
/* ==========================================================================
   _PRELOADER
   ========================================================================== */
.preloader {
	margin: -15px 0 0 -15px;
	z-index: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
}
.preloader .wBall {
	position: absolute;
	width: 29px;
	height: 29px;
	opacity: 0;
	-moz-transform: rotate(225deg);
	-moz-animation: orbit 4.95s infinite;
	-webkit-transform: rotate(225deg);
	-webkit-animation: orbit 4.95s infinite;
	-o-transform: rotate(225deg);
	-o-animation: orbit 4.95s infinite;
	-ms-transform: rotate(225deg);
	-ms-animation: orbit 4.95s infinite;
	transform: rotate(225deg);
	animation: orbit 4.95s infinite;
}
.preloader .wBall .wInnerBall {
	position: absolute;
	width: 4px;
	height: 4px;
	background: #67dbfe;
	left: 0;
	top: 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}
.preloader #wBall_1 { -moz-animation-delay: 1.08s; -webkit-animation-delay: 1.08s; -o-animation-delay: 1.08s; -ms-animation-delay: 1.08s; animation-delay: 1.08s }
.preloader #wBall_2 { -moz-animation-delay: 0.22s; -webkit-animation-delay: 0.22s; -o-animation-delay: 0.22s; -ms-animation-delay: 0.22s; animation-delay: 0.22s }
.preloader #wBall_3 { -moz-animation-delay: 0.43s; -webkit-animation-delay: 0.43s; -o-animation-delay: 0.43s; -ms-animation-delay: 0.43s; animation-delay: 0.43s }
.preloader #wBall_4 { -moz-animation-delay: 0.65s; -webkit-animation-delay: 0.65s; -o-animation-delay: 0.65s; -ms-animation-delay: 0.65s; animation-delay: 0.65s }
.preloader #wBall_5 { -moz-animation-delay: 0.86s; -webkit-animation-delay: 0.86s; -o-animation-delay: 0.86s; -ms-animation-delay: 0.86s; animation-delay: 0.86s }
@-moz-keyframes orbit {
	0% { opacity: 1; z-index: 99; -moz-transform: rotate(180deg); -moz-animation-timing-function: ease-out }
	7% { opacity: 1; -moz-transform: rotate(300deg); -moz-animation-timing-function: linear; -moz-origin: 0% }
	30% { opacity: 1; -moz-transform: rotate(410deg); -moz-animation-timing-function: ease-in-out; -moz-origin: 7% }
	39% { opacity: 1; -moz-transform: rotate(645deg); -moz-animation-timing-function: linear; -moz-origin: 30% }
	70% { opacity: 1; -moz-transform: rotate(770deg); -moz-animation-timing-function: ease-out; -moz-origin: 39% }
	75% { opacity: 1; -moz-transform: rotate(900deg); -moz-animation-timing-function: ease-out; -moz-origin: 70% }
	76% { opacity: 0; -moz-transform: rotate(900deg) }
	100% { opacity: 0; -moz-transform: rotate(900deg) }
}
@-webkit-keyframes orbit {
	0% { opacity: 1; z-index: 99; -webkit-transform: rotate(180deg); -webkit-animation-timing-function: ease-out }
	7% { opacity: 1; -webkit-transform: rotate(300deg); -webkit-animation-timing-function: linear; -webkit-origin: 0% }
	30% { opacity: 1; -webkit-transform: rotate(410deg); -webkit-animation-timing-function: ease-in-out; -webkit-origin: 7% }
	39% { opacity: 1; -webkit-transform: rotate(645deg); -webkit-animation-timing-function: linear; -webkit-origin: 30% }
	70% { opacity: 1; -webkit-transform: rotate(770deg); -webkit-animation-timing-function: ease-out; -webkit-origin: 39% }
	75% { opacity: 1; -webkit-transform: rotate(900deg); -webkit-animation-timing-function: ease-out; -webkit-origin: 70% }
	76% { opacity: 0; -webkit-transform: rotate(900deg) }
	100% { opacity: 0; -webkit-transform: rotate(900deg) }
}
@-o-keyframes orbit {
	0% { opacity: 1; z-index: 99; -o-transform: rotate(180deg); -o-animation-timing-function: ease-out }
	7% { opacity: 1; -o-transform: rotate(300deg); -o-animation-timing-function: linear; -o-origin: 0% }
	30% { opacity: 1; -o-transform: rotate(410deg); -o-animation-timing-function: ease-in-out; -o-origin: 7% }
	39% { opacity: 1; -o-transform: rotate(645deg); -o-animation-timing-function: linear; -o-origin: 30% }
	70% { opacity: 1; -o-transform: rotate(770deg); -o-animation-timing-function: ease-out; -o-origin: 39% }
	75% { opacity: 1; -o-transform: rotate(900deg); -o-animation-timing-function: ease-out; -o-origin: 70% }
	76% { opacity: 0; -o-transform: rotate(900deg) }
	100% { opacity: 0; -o-transform: rotate(900deg) }
}
@-ms-keyframes orbit {
	0% { opacity: 1; z-index: 99; -ms-transform: rotate(180deg); -ms-animation-timing-function: ease-out }
	7% { opacity: 1; -ms-transform: rotate(300deg); -ms-animation-timing-function: linear; -ms-origin: 0% }
	30% { opacity: 1; -ms-transform: rotate(410deg); -ms-animation-timing-function: ease-in-out; -ms-origin: 7% }
	39% { opacity: 1; -ms-transform: rotate(645deg); -ms-animation-timing-function: linear; -ms-origin: 30% }
	70% { opacity: 1; -ms-transform: rotate(770deg); -ms-animation-timing-function: ease-out; -ms-origin: 39% }
	75% { opacity: 1; -ms-transform: rotate(900deg); -ms-animation-timing-function: ease-out; -ms-origin: 70% }
	76% { opacity: 0; -ms-transform: rotate(900deg) }
	100% { opacity: 0; -ms-transform: rotate(900deg) }
}
@keyframes orbit {
	0% { opacity: 1; z-index: 99; transform: rotate(180deg); animation-timing-function: ease-out }
	7% { opacity: 1; transform: rotate(300deg); animation-timing-function: linear; origin: 0% }
	30% { opacity: 1; transform: rotate(410deg); animation-timing-function: ease-in-out; origin: 7% }
	39% { opacity: 1; transform: rotate(645deg); animation-timing-function: linear; origin: 30% }
	70% { opacity: 1; transform: rotate(770deg); animation-timing-function: ease-out; origin: 39% }
	75% { opacity: 1; transform: rotate(900deg); animation-timing-function: ease-out; origin: 70% }
	76% { opacity: 0; transform: rotate(900deg) }
	100% { opacity: 0; transform: rotate(900deg) }
}
/* ==========================================================================
   _SCROLLBAR
   ========================================================================== */
/*! perfect-scrollbar - v0.4.11
* http://noraesae.github.com/perfect-scrollbar/
* Copyright (c) 2014 Hyeonje Alex Jun; Licensed MIT */
.ps-container .ps-scrollbar-x-rail { position: absolute; bottom: 3px; height: 8px; opacity: 0; -o-transition: background-color .2s linear, opacity .2s linear; -webkit-transition: background-color .2s linear, opacity .2s linear; -moz-transition: background-color .2s linear, opacity .2s linear; transition: background-color .2s linear, opacity .2s linear }
.ps-container:hover .ps-scrollbar-x-rail, .ps-container.hover .ps-scrollbar-x-rail { opacity: .6; }
.ps-container .ps-scrollbar-x-rail:hover, .ps-container .ps-scrollbar-x-rail.hover { background-color: #eee; opacity: .9; }
.ps-container .ps-scrollbar-x-rail.in-scrolling { background-color: #eee; opacity: .9; }
.ps-container .ps-scrollbar-y-rail { position: absolute; right: 0; width: 4px; opacity: 0; -o-transition: background-color .2s linear, opacity .2s linear; -webkit-transition: background-color .2s linear, opacity .2s linear; -moz-transition: background-color .2s linear, opacity .2s linear; transition: background-color .2s linear, opacity .2s linear }
.ps-container:hover .ps-scrollbar-y-rail, .ps-container.hover .ps-scrollbar-y-rail { opacity: .6; }
.ps-container .ps-scrollbar-y-rail:hover, .ps-container .ps-scrollbar-y-rail.hover { background-color: #eee; opacity: .9; }
.ps-container .ps-scrollbar-y-rail.in-scrolling { background-color: #eee; opacity: .9; }
.ps-container .ps-scrollbar-x { position: absolute; bottom: 0; height: 8px; background-color: #aaa; -o-transition: background-color .2s linear; -webkit-transition: background-color .2s linear; -moz-transition: background-color .2s linear; transition: background-color .2s linear }
.ps-container.ie6 .ps-scrollbar-x { font-size: 0 }
.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x, .ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x { background-color: #999 }
.ps-container .ps-scrollbar-y { position: absolute; right: 0; width: 4px; background-color: #aaa; -o-transition: background-color .2s linear; -webkit-transition: background-color .2s linear; -moz-transition: background-color .2s linear; transition: background-color .2s linear }
.ps-container.ie6 .ps-scrollbar-y { font-size: 0 }
.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y, .ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y { background-color: #999 }
.ps-container.ie .ps-scrollbar-x, .ps-container.ie .ps-scrollbar-y { visibility: hidden }
.ps-container.ie:hover .ps-scrollbar-x, .ps-container.ie:hover .ps-scrollbar-y, .ps-container.ie.hover .ps-scrollbar-x, .ps-container.ie.hover .ps-scrollbar-y { visibility: visible }
/* ==========================================================================
   _BLOCK-SUBMENU
   ========================================================================== */
.submenu {
	padding: 32px 29px;
}
.submenu ul {
	margin: 0 0 25px;
	padding: 0;
	list-style: none;
	line-height: 46px;
}
.submenu li a {
	transition: color .3s ease;
}
.submenu li.active a {
	color: #fff
}
.submenu li a:hover {
	color: #fff
}
.submenu-fixed {
	position: fixed;
	top: 0;
}
/* ==========================================================================
   _INNER
   ========================================================================== */
.inner {
	width: 100%;
	position: relative;
	background: url(../img/inner/bg-1.jpg) no-repeat 50% 50%;
	background-size: cover;
}
.inner .wrapper {
	padding: 137px 0 70px;
	min-height: 537px;
	position: relative;
	z-index: 5;
}
.inner:before {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(16, 59, 93, .8);
	z-index: 4;
}
.inner .video {
	width: 580px;
	float: left;
}
.inner .video .player {
	width: 100%;
	height: auto;
	float: none;
}
.inner .video .player iframe {
	display: block;
}
.inner .info {
	padding: 25px 30px 0 50px;
	margin-left: 580px;
	color: #fff;
	font-size: 16px;
}
.inner .info p {
	margin: 0 0 38px 0;
}
.inner .info .h1 {
	margin: 0 0 14px;
}
.link-border {
	min-width: 148px;
	height: 34px;
	display: inline-block;
	outline: none;
	color: #fff;
	text-align: center;
	font-size: 12px;
	letter-spacing: .1em;
	line-height: 34px;
	font-weight: 700;
	text-transform: uppercase;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, .3);
	border-radius: 3px;
	transition: color .3s ease, background .3s ease, border .3s ease;
}
.link-border:hover, .link-border:focus {
	color: #254561;
	background: #fff;
	border: 1px solid rgba(255, 255, 255, 1);
}
.link-border.link-white {
	color: #254561;
	background: #fff;
	border: 1px solid rgba(255, 255, 255, 1);
}
.link-border.link-white:hover, .link-border.link-white:focus {
	color: #fff;
	border: 1px solid rgba(255, 255, 255, .3);
	background: transparent;
}
.inner .info .link-border {
	margin-right: 6px;
	margin-left: 3px;
}
/* ==========================================================================
   _ABOUT
   ========================================================================== */
.about {
	padding: 50px 40px;
	margin: -50px -40px 0;
	font-size: 16px;
	color: #2c3e50;
}
.about:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.about .h2 {
}
.about p:last-of-type {
	margin-bottom: 5px;
}
/* ==========================================================================
   _PROMO
   ========================================================================== */
.advertising {
	padding: 34px 40px 0;
	border-top: 1px solid #dfdfdf;
	margin: 0 -40px;
	color: #909fa7;
}
.advertising .h2 {
	margin-bottom: 35px;
}
.advertising .item {
	margin: 0 -40px;
	position: relative;
}
.advertising .item:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.advertising .item .text {
	min-height: 288px;
	margin-left: 288px;
	padding: 40px;
	font-size: 16px;
	position: relative;
	z-index: 2;
	background: #d4e4e8;
}
.advertising .item .text p {
	margin-bottom: 0;
}
.advertising .item .text:before {
	width: 0;
	height: 0;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 40px;
	left: -20px;
	right: auto;
	border-style: solid;
	border-width: 15px 20px 15px 0;
	border-color: transparent #d4e4e8 transparent transparent;
}
.advertising .item .pic {
	width: 288px;
	height: 100%;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.advertising .item:nth-child(even) .text { margin-left: 0; margin-right: 288px; background: #eef5f7; }
.advertising .item:nth-child(even) .text:before {
	right: -20px;
	left: auto;
	border-width: 15px 0 15px 20px;
	border-color: transparent transparent transparent #eef5f7;
}
.advertising .item:nth-child(even) .pic {
	left: auto;
	right: 0;
}
/* ==========================================================================
   _QUESTIONS
   ========================================================================== */
.questions {
	padding: 45px 40px 60px;
	margin: 0 -40px;
	font-size: 16px;
	background: #fff;
	border-bottom: 1px solid #dfdfdf;
}
.questions .h2 {
	margin-bottom: 30px;
}
.questions .h {
	margin: 0 0 6px 0;
	color: #00b0dc;
	font-size: 18px;
}
.questions .more {
	width: 148px;
	padding: 3px 15px;
	margin: 32px 0 0 3px;
	color: #0f1f2a;
	font-size: 12px;
	font-weight: 700;
	display: block;
	text-transform: uppercase;
	letter-spacing: .09em;
	border: 1px solid #0f1f2a;
	border-radius: 3px;
	transition: color .3s ease, background .3s ease;
	text-align: center;
}
.questions .more:hover {
	background: #0f1f2a;
	color: #fff;
}
.questions p:last-of-type {
	margin-bottom: 0;
}
/* ==========================================================================
   _REVIEWS
   ========================================================================== */
.reviews {
	padding: 40px;
	margin: 0 -40px;
	border-bottom: 1px solid #dfdfdf;
	font-size: 16px;
	background: #fff;
}
.reviews .h2 {
	margin-bottom: 30px;
}
.reviews .review {
	margin: 0 0 50px 0;
	padding-left: 148px;
	position: relative;
}
.reviews .review:last-of-type {
	margin-bottom: 0;
}
.reviews .review p {
	margin: 0 0 6px 0;
}
.reviews .review .photo {
	width: 108px;
	height: 108px;
	margin: 4px 0 0 4px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: auto;
	border-radius: 50%;
}
.reviews .review .photo img {
	width: 108px;
	height: 108px;
	display: block;
}
.reviews .review .h {
	font-size: 18px;
	color: #00b0dc;
}
.reviews .review .name {
	font-size: 14px;
	color: #778594;
}
/* ==========================================================================
   _ADVANTAGES
   ========================================================================== */
.advantages {
	padding: 50px 40px 59px;
	margin: 0 -40px;
	border-bottom: 1px solid #dfdfdf;
}
.advantages .h2 {
	margin-bottom: 50px;
}
.advantages .list {
	margin: 0 -25px;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.advantages .list li {
	width: 33.3%;
	padding: 0 25px;
	float: left;
	vertical-align: top;
}
.advantages .list li:nth-child(3n) {
	margin-right: 0;
}
.advantages .list li:nth-child(3n+1) {
	clear: left;
}
.advantages .list .pic {
	width: 100px;
	height: 100px;
	margin: 0 0 30px 5px;
	padding: 20px;
	display: block;
	background: #00b0dc;
	border-radius: 50%;
}
.advantages .list .pic img {
	width: 63px;
	display: block;
}
.advantages .list .h {
	margin: 0 0 7px;
	display: block;
	font-size: 18px;
	color: #00b0dc;
}
/* ==========================================================================
   _AUDIENCE
   ========================================================================== */
.audience {
	padding: 50px 40px 15px;
	margin: 0 -40px;
}
.audience .h2 {
	margin-bottom: 55px;
}
.audience .list {
	margin: 0 -20px;
	padding: 0;
	list-style: none;
}
.audience .list:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.audience .list li {
	width: 50%;
	padding: 0 20px 35px;
	float: left;
}
.audience .list li:nth-child(2n+1) {
	clear: left;
}
.audience .list li .rate {
	font-size: 48px;
	color: #00b0dc;
}
.audience .list li .h {
	margin: 0 0 7px 0;
	font-size: 18px;
	color: #00b0dc;
}
/* ==========================================================================
   _SIGNUP
   ========================================================================== */
.signup {
	min-height: 552px;
	padding: 50px 40px 40px 40px;
	margin: 0 -40px -50px;
	position: relative;
	color: #fff;
	background: #37a4bf url('../img/signup.jpg') 50% 100% no-repeat;
	background-size: 100% auto;
}
.signup .h2 {
	margin-bottom: 35px;
	color: #fff;
}
.signup .entry {
	margin: 0 -25px 10px;
	overflow: hidden;
}
.signup label {
	width: 50%;
	margin-bottom: 40px;
	padding: 0 25px;
	display: block;
	font-size: 18px;
	float: left;
}
.signup label input[type="text"] {
	width: 100%;
	margin-top: 18px;
	padding: 0 0 6px 0;
	border-radius: 3px;
	display: block;
	outline: none;
	font: 300 16px 'Museo', Helvetica, Arial, sans-serif;
	color: #90d7e8;
	border: none;
	border-bottom: 2px solid #90d7e8;
	background: transparent;
	transition: color .5s ease, border-color .5s ease;
}
/*noinspection CssInvalidPseudoSelector*/
.signup label ::-webkit-input-placeholder { color: #90d7e8; }
/*noinspection CssInvalidPseudoSelector*/
.signup label :-moz-placeholder { color: #90d7e8; }
/*noinspection CssInvalidPseudoSelector*/
.signup label ::-moz-placeholder { color: #90d7e8; }
/*noinspection CssInvalidPseudoSelector*/
.signup label :-ms-input-placeholder { color: #90d7e8; }
.signup label input[type="text"]:focus {
	border-color: #0f1f2a;
	color: #0f1f2a;
}
.signup input[type="submit"] {
	width: 198px;
	height: 47px;
	padding: 17px 4px 14px;
	color: #3aaac5;
	outline: none;
	font: 700 12px 'Museo', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	background: #fff;
	letter-spacing: .1em;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 2px;
	transition: color .3s ease, background .3s ease, border-color .3s ease;
}
.signup input[type="submit"]:hover {
	color: #fff;
	background: transparent;
	border-color: #fff;
}
/* ==========================================================================
   _BLOCK-ITEM
   ========================================================================== */
.block-item {
	margin: 0 -40px;
	padding: 28px 40px;
	font-size: 16px;
	position: relative;
}
.block-item:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.block-item .side-left {
	width: 160px;
	float: right;
}
.block-item .side-right {
	width: 580px;
	padding-top: 18px;
	float: left;
}
/* ==========================================================================
   _CONTACTS
   ========================================================================== */
.contacts {
	padding: 38px 28px;
	font-size: 16px;
	line-height: 24px;
}
.contacts dl {
	margin: 0;
}
.contacts dl dt {
	color: #6b7b86;
}
.contacts dl dd {
	margin-left: 0;
	margin-bottom: 10px;
	color: #ff6262;
}
.contacts dl dd:last-child {
	margin-bottom: 0;
}
.contacts dl .coordinates {
	color: #fff;
}
/* ==========================================================================
   _SPECIFICATIONS
   ========================================================================== */
.specifications {
	margin-bottom: 40px;
}
.specifications dl {
	margin: 0;
	padding: 0;
	color: #8c8c8c;
}
.specifications dl:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.specifications dl dt {
	float: left;
	clear: left;
}
.specifications dl dd {
	margin-left: 4px;
	float: left;
}
/* ==========================================================================
   _GALLERY
   ========================================================================== */
.gallery {
	margin-bottom: 55px;
}
.gallery .h4 {
	margin-bottom: 28px;
	color: #2c3e50;
}
.gallery ul {
	margin: 0 -4px;
	padding: 0;
	list-style: none;
}
.gallery ul:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.gallery ul li {
	width: 160px;
	height: 160px;
	margin: 0 8px;
	float: left;
}
.gallery ul li a {
	width: 160px;
	height: 160px;
	display: block;
}
.gallery ul li .pic {
	width: 100%;
	display: block;
}
/* ==========================================================================
   _MAP-MAIN
   ========================================================================== */
.map-main .wrapper {
	position: relative;
}
.map-main .info {
	width: 290px;
	padding: 36px 34px;
	line-height: 24px;
	color: #fff;
	background: #0f1f2a;
	position: absolute;
	top: 48px;
	left: 0;
	z-index: 100;
}
.map-main .info .h5 {
	margin-bottom: 6px;
}
.map-main .info .h5 a {
	position: relative;
}
.map-main .info .h5 a:before, .map-main .info .h5 a:after {
	width: 1px;
	height: 10px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	right: -16px;
	top: 4px;
	background: #00b0dc;
	border-radius: 3px;
	transition: background .3s ease;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.map-main .info .h5 a:after {
	top: 10px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.map-main .info .h5 a:hover:before, .map-main .info .h5 a:hover:after {
	background: #9e9e9e;
}
.map-main .info .text {
	margin-bottom: 0;
}
.map-main .map {
	width: 100%;
	height: 876px;
}
/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
/* ==========================================================================
   _RESPONSIVE < 1260px
   ========================================================================== */
@media (max-width: 1200px) {
	body:before { width: 870px; margin: 0 0 0 -435px; }
	.container, .wrapper { width: 870px; }
	.content, .sidebar { float: none; }
	.header:before, .index .main .bx-viewport { margin-left: -145px; }
	.index .additional, .index .bx-controls { margin-right: 145px; }
	.index .googleplay { margin: 0 0 0 145px; }
	.block-top-signups { width: 580px; float: left; }
	.top-signups .list { height: 460px; }
	.block-top-sailors { float: right; }
	.block-top-region { clear: both; }
	.inner .wrapper { min-height: 0; }
	.inner .video { width: 430px; padding-top: 0; }
	.inner .video .player iframe { width: 430px; height: 240px; }
	.inner .info { padding: 0 20px 0 30px; margin-left: 430px; }
	.body .header .search { left: 200px; }
	.container-inner:before { display: none; }
	.container-inner .sidebar { width: 100%; float: none; display: block; background: #0f1f2a; }
	.container-inner .sidebar .map-small { width: 50%; height: auto; position: absolute; top: 0; right: 0; bottom: 0; }
}
@media (max-width: 920px) {
	body:before { width: 740px; margin: 0 0 0 -370px; }
	.container, .wrapper { width: 740px; }
	.header:before, .index .main .bx-viewport { margin-left: -80px; }
	.header .search input[type="text"] { width: 229px; }
	.index .additional, .index .bx-controls { margin-right: 80px; }
	.video .player { width: 450px; }
	.video .player iframe { width: 450px; }
	.features .note { width: 450px; }
	.index .googleplay { margin: 0 0 0 80px; }
	.block-top-signups { width: 450px; }
	.block-top-region { width: 740px; }
	.map { width: 100%; height: auto; }
	.map .code { position: relative; }
	.map .code img { height: auto; }
	.footer .wrapper:before { left: 160px; }
	.footer .navigation { left: 186px; }
	.footer .googleplay { left: 186px; }
	.inner .video { width: 360px; padding-top: 40px; }
	.inner .video .player iframe { width: 360px; height: 200px; }
	.inner .info { padding: 0 0 0 30px; margin-left: 360px; }
	.inner .info { padding-top: 0; }
	.container .content { width: auto; }
	.block-item .side-right { width: 480px; }
	.gallery ul { margin-right: 0; margin-left: 0; }
	.gallery ul li { margin-bottom: 20px; margin-left: 10px; margin-right: 10px; }
	.banner-728 img { width: 100%; }
}
@media (min-width: 760px) {
	.index .additional .bx-viewport { height: 100% !important; }
}
@media (max-width: 760px) {
	body:before { width: auto; margin: 0; left: 20px; right: 20px; }
	.container, .wrapper { width: 100%; }
	.container { padding-bottom: 0; }
	.content, .block-top-region { width: 100%; }
	.header { height: 50px; }
	.header .social { left: 180px; top: 13px; transition: top .2s ease; }
	.header .social .s { display: inline-block; }
	.search-open .header .social { top: 77px; }
	.header .download { top: 8px; right: 20px; transition: top .2s ease; }
	.search-open .header .download { top: 72px; }
	.header .logo { left: 20px; top: 10px; transition: top .2s ease; }
	.search-open .header .logo { top: 78px; }
	.header:before { margin: 0; left: 170px; transition: top .2s ease; }
	.search-open .header:before { top: 64px; }
	.header:after { width: 170px; height: 135px; display: block; content: ' '; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 5; opacity: .9; background: #2c3e50; transition: top .2s ease; }
	.search-open .header:after { top: 64px; }
	.header .search { padding: 10px; top: -64px; left: 0; right: 0; background: rgba(103, 218, 254, .9); transition: top .2s ease; }
	.search-open .header .search { top: 0; }
	.header .search input[type="text"] { width: 100%; }
	.header-inner:before { left: 0; }
	.header-inner:after { display: none; }
	.header-inner .logo { top: 14px; }
	.header-inner .social { left: auto; right: 20px; }
	.header-inner .navigation { top: 15px; left: 200px; background: rgba(103, 218, 254, 1); }
	.index { width: auto; height: 100%; margin: 0 0 145px; }
	.index .main .bx-viewport { margin: 0; left: 0; }
	.index .bx-controls { right: 20px; bottom: 90px; margin: 0; padding: 0; }
	.index .additional { right: 0; margin: 0; top: auto; height: auto; z-index: 5; }
	.index .additional .bx-wrapper { width: 100%; }
	.index .additional .blur { display: none; }
	.index .additional .bx-wrapper, .index .additional .bx-viewport, .index .additional .carousel, .index .additional .carousel li { height: auto; }
	.index .additional .carousel { overflow: hidden; background: rgba(44, 62, 80, .95); }
	.index .additional .carousel li { padding: 20px 0; }
	.index .additional .carousel li:before { display: none; }
	.index .additional .carousel .bx-caption { padding: 0 35px; width: auto; max-height: 40px; overflow: hidden; top: auto; right: auto; left: 0; color: #fff; font-size: 16px; line-height: 20px; position: relative; text-align: center; }
	.index .googleplay { width: auto; top: 100%; left: 0; right: 0; margin: 0; }
	.video .player { width: 100%; }
	.video .player iframe { width: 100%; }
	.video .news { width: 100%; height: auto; }
	.video .news .list { overflow: hidden; }
	.video .news .list li { width: 50%; padding: 0 0 20px 35px; margin: 0; float: left; }
	.video .news .list li:first-child { padding-left: 0; }
	.features { background: #fff; }
	.features .note { width: 50%; }
	.features .pic { width: 50%; min-height: 290px; overflow: hidden; }
	.features .pic img { width: 100%; min-width: 290px; min-height: 290px; height: auto; }
	.block-top-signups, .block-top-sailors { width: 50%; }
	.map .info { width: 50%; }
	.footer { width: auto; position: relative; margin: 0; }
	.footer .wrapper:before { display: none; }
	.footer .copyright { left: 20px; }
	.footer .social { right: 20px; }
	.footer .googleplay { left: 50%; margin-left: -67px; top: 30px; }
	.footer .navigation { padding: 110px 20px 0; position: static; left: auto; top: auto; text-align: center; }
	.inner .wrapper { padding: 85px 20px 35px; }
	.inner .video { width: auto; padding: 0; margin: 0; float: none; }
	.inner .video .player iframe { width: 100%; max-width: 580px; margin: 0 auto; height: 320px; }
	.inner .info { padding: 35px 15px; margin-left: 0; text-align: center; }
	.inner .info .link-border { margin: 0 5px; }
	.block-item .side-left { display: none; }
	.block-item .side-right { width: 100%; }
	.body { padding-top: 50px; transition: padding-top .2s ease; }
	.body.search-open { padding-top: 114px; }
	.body .header-inner .search { left: 0; background: rgba(103, 218, 254, 1); }
	.map-main .info { left: 20px; }
}
@media (max-width: 576px) {
	.header-inner .navigation { padding: 5px 0; display: none; top: 50px; left: 0; right: 0; text-align: center; background: rgba(103, 218, 254, .9); }
	.social .nt { display: inline-block; }
	.inner .video .player iframe { height: 250px; }
	h1, .h1 { font-size: 26px; line-height: 34px; }
	.inner .wrapper { padding-bottom: 10px; }
	.inner .info { font-size: 14px; line-height: 20px; padding-left: 0; padding-right: 0; }
	.advantages .list { text-align: center; }
	.advantages .list li { width: 100%; margin-bottom: 30px; float: none; }
	.advantages .list li:last-of-type { margin-bottom: 0; }
	.advantages .list .pic { margin: 0 auto 30px; }
	.advertising .item .text { margin-left: 50%; }
	.advertising .item .pic { width: 50%; }
	.advertising .item:nth-child(even) .text { margin-right: 50%; }
	.body .header .social { right: auto; left: 180px; }
	.container-inner .sidebar .map-small { width: 100%; height: 300px; position: relative; top: auto; right: auto; bottom: auto; }
	.container-inner .sidebar .contacts { padding-left: 40px; padding-right: 40px; }
}
@media (max-width: 480px) {
	.header:before { height: 90px; }
	.header .download { left: 180px; right: 10px; width: auto; }
	.header .social { right: 0; top: 55px; text-align: center; left: 170px; }
	.search-open .header .social { top: 119px; }
	.header .social li { margin: 0 10px; }
	.header-inner:before { height: 50px; }
	.header-inner .social { right: 20px; top: 13px; text-align: left; left: auto; }
	.header-inner .social li { margin: 0 0 0 20px; }
	.index .bx-controls { right: 10px; }
	.index .googleplay { left: 0; right: 0; }
	.block-top-signups, .block-top-sailors { width: 100%; float: none; }
	.map .info { width: auto; position: relative; padding: 35px; }
	.video .player { height: auto; }
	.video .player iframe { height: 230px; }
	.video .news .list li { width: 100%; float: none; padding: 0 0 20px 0; }
	.top-sailors .bx-pager { text-align: center; left: 0; right: 0; }
	.top-sailors .bx-pager .bx-pager-item { margin: 0 8px; }
	.index .carousel .bx-caption { padding-right: 130px; }
	.features .pic { width: 100%; float: none; min-height: 0; }
	.features .pic img { width: 100%; margin: 0 auto; min-width: 0; min-height: 0; height: auto; }
	.features .note { width: 100%; float: none; }
	.features .note:after { display: none; }
	.footer .googleplay { top: 90px; }
	.footer .copyright { left: 35px; }
	.footer .social { right: 35px; }
	.footer .navigation { padding: 160px 35px 35px; text-align: center; }
	.footer .navigation li:first-of-type { margin-left: 13px; }
	.footer .navigation li:first-of-type:after { display: block; }
	.inner .video .player iframe { height: 200px; }
	.reviews .review { padding-left: 0; }
	.reviews .review .photo { position: relative; margin: 0 auto 20px; display: block; }
	.audience .list { text-align: center; }
	.audience .list li, .signup label { width: 100%; float: none; }
	.signup input[type="submit"] { width: 100%; max-width: 240px; display: block; margin: 0 auto; }
	.advertising .item { padding-top: 200px; }
	.advertising .item .text { margin: 0 !important; }
	.advertising .item .text:before { display: none; }
	.advertising .item .pic { width: 100%; height: 200px; }
	.body .header .social { left: auto; right: 20px; }
	.body .header .download { display: none; }
	.gallery ul li { width: 100%; height: auto; margin-left: 0; margin-right: 0; float: none; }
	.gallery ul li a { width: 100%; height: auto; }
	.map-main .info { width: 100%; position: relative; top: 0; left: auto; }
	.map-main .info .h5 a:before, .map-main .info .h5 a:after { display: none; }
	.map-main .map { height: 500px; }
	.banner-336 img { width: 100%; }
	.body.search-open .header .social { top: 78px; }
}
@media (max-width: 380px) {
	.inner .info .link-border { min-width: 120px; }
	.inner .video .player iframe { height: 150px; }
}