* {/* *behavior: url(htc/boxsizing.htc); */}

.btn {border-bottom: 3px solid #224a73;}
	.btn:hover,
	.btn:focus {border-bottom: 2px solid #224a73; margin-bottom: 1px;}
	.btn:active {border-bottom: 0; margin-bottom: 3px;}
.btn-fiolet {border-bottom: 3px solid #4a315a;}
	.btn-fiolet:hover,
	.btn-fiolet:focus {border-bottom: 2px solid #4a315a;}
	.btn-fiolet:active {border-bottom: 0;}
.btn-msg {border-bottom: 3px solid #993333;}
	.btn-msg:hover,
	.btn-msg:focus {border-bottom: 2px solid #993333;}
	.btn-msg:active {border-bottom: 0;}
.btn-primary {border-bottom: 3px solid #869eb3;}
	.btn-primary:hover,
	.btn-primary:focus {border-bottom: 2px solid #869eb3;}
	.btn-primary:active {border-bottom: 0;}
.btn-vacansy,
.btn-vacansy:hover,
.btn-vacansy:focus,
.btn-vacansy:active {border: 0;}

.btn_arrow:after {border-color: #ffffff #d85750 #d85750 #d85750; filter: progid:DXImageTransform.Microsoft.Chroma(color='#d85750');}
.btn-min.active .btn_arrow:after {border-color: #d85750 #d85750 #ffffff #d85750; filter: progid:DXImageTransform.Microsoft.Chroma(color='#d85750');}
.viewport .viewport_text,
.viewport .viewport_block {height: 280px !important;}

.logo span {background: url(../img/logo_b.png) no-repeat 0 0;}
.logo img {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80);}
.logo a:hover img {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}
.web_icons {overflow: hidden; zoom: 1;}
.web_icon li {margin-right: 8px;}

.name_block_wr {background: #748fbb;}
.block_red {background: #cd6b6b;}
.block_purple {background: #b684c4;}
.block_turquoise {background: #5ab4b7;}
.block_about {background: #b684c4 url(../img/bg_about.jpg) no-repeat 0 0;}
.block_green {background: #68c2be;}
.block_yellow {background: #f3d25e;}
.block_orange {background: #f8ab60;}


@media (max-height: 768px) and (min-width: 1200px) {.web_icon li {margin-right: 5px;}}
.web_icons a {display: block; width: 22px; height: 29px;}
.web_icons a:hover img {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60);}
.viewport .viewport_text {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0);}
.viewport:hover .viewport_text {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}
.close_modal {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}
.close_modal:hover,
.close_modal:focus {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50);}
.jq-selectbox__trigger-arrow {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100);}
.rss_icon:hover img {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60);}
.dumbBoxOverlay {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70);}
.pic_item:hover .play {filter: alpha(opacity=80);}

@media (min-width: 1601px) {
	.viewport .viewport_text,
    .viewport .viewport_block {height: 290px !important;}
}
@media (max-width: 767px) {
	.viewport .viewport_text,
    .viewport .viewport_block {height: 160px !important;}
}