/* Full HD (1900px) */
@media (min-width: 1601px) {
	body { font-size: 18px; }
	h2, .style2 { font-size: 36px; }
	h4, .style4 { font-size: 20px; }
	.header_top-centr { padding: 0; width: 1170px; left: 50%; }
	.header_top_block-centered { left: -50%; }
	.btn-vacansy { right: 79px; }
	.block-top-lang { right: 59px; }
	.name_block { width: 1170px; }
	.block_about .name_block .tab-section { width: 1170px; }
	.header_top_block { width: 100%; padding: 0; }
	.logo { padding: 30px 0 45px; }
	.menu ul, .info_block { padding: 49px 44px 30px; }
	.menu li { margin: 0 0 18px; }
	.web_icons li { margin-right: 12px; }
	.menu a,
	.tabs li a,
	.tabs-last,
	.info_block,
	.services_block-review .content_block_item { font-size: 18px; }
	.box_dev time { font-size: 16px; }
	.info_block p { margin: 0 0 1.2em; }
	.info_block strong { font-size: 18px; }
	.slider .slide-block { top: 18%; left: 50%; width: 1170px }
	.slide-block-centr { position: relative; left: -50%; }
	.slider .slide-block h1, .slider li > div .style1 { font-size: 60px; line-height: 1; }
	.slider { font-size: 20px; }
	.slider span { margin: 0 0 25px; }
	.btn { font-size: 18px; }
	.btn-min { font-size: 14px; padding: 5px 35px 4px 10px; }
	.btn_arrow { height: 21px; }
	.btn_arrow:after { top: 43%; right: 34%; }
	.block-top-lang .jq-selectbox__select { font-size: 14px; padding: 5px 25px 4px 10px; }
	.block-top-lang .jq-selectbox.styled { min-width: 60px !important; }
	.block-top-lang .jq-selectbox__trigger { height: 21px; }
	.block-top-lang .jq-selectbox__trigger-arrow { top: 10px; }
	.block-top-lang .jq-selectbox__dropdown { font-size: 14px; }
	.content { padding: 0; max-width: 1170px; margin: -48px auto 0; }
	.media_text { font-size: 18px; }
	.media_text a { font-size: 21px; }
	.btn-fiolet { padding: 15px 50px; }
	.quote_block_btn { padding: 0 54px; }
	.quote_block_text { font-size: 24px; line-height: 1.3; padding: 30px 35px; }
	.viewport { width: 25%; }
	.viewport .viewport_text { font-size: 18px; }
	.viewport .viewport_text a { font-size: 20px !important; }
	.blog_list ul li { width: 250px; }
	.solution_item .blog_list ul li:nth-child(1), .solution_item .blog_list ul li:nth-child(2), .solution_item .blog_list ul li:nth-child(3) { padding-top: 0; border-top: none; box-shadow: none; }
	.solution_item .blog_list ul li:nth-child(2n - 1) { margin-left: 17px; }
	.solution_item .blog_list ul li:first-child { margin: 0; }
	.solution_item .blog_list ul li:nth-child(3n - 2) { margin-left: 0; }
	.about_block .pure-u-1-2,
	.about_block .pure-u-1-2 .media_text { font-size: 18px; }
	.bar { height: 32px; line-height: 30px; }
	.bar .progress { font-size: 18px; }
	.block_inner .pure-u-1-2, .news_list dt, .date_item, .news_list dd,
	.contacts_block .pure-u-1-2 { font-size: 18px; }
	.post_item .content_block,
	.item-jumbotron,
	.like_btn { width: 1170px; }
	.dev_acc,
	.dev_about,
	.breadcrumb > li a,
	.media_head span,
	.dev_acc a { font-size: 16px; }
	.pure-visible-tv { display: inline-block !important; }
	.pair_size140 {
		width: 195px;
		height: 195px;
	}
	.pair_size280 {
		width: 390px;
		height: 390px;
	}
	.pair_size2801 {
		width: 390px;
		height: 195px;
	}
	.pair_size1402 {
		width: 195px;
		height: 390px;
	}
	.pair_box_item { font-size: 16px; }
	.pair_size280 .pair_box_item,
	.pair_box_item strong,
	.news_inner_block,
	.block_inner .pure-u-1-2,
	.header_top_block .media_text a,
	.content.post_item,
	.portfolio_item-block .text_legend,
	.tabs-head,
	.tabs-text,
	.content_block.portfolio_item-block,
	.portfolio_item-block .portfolio_detail,
	.pricing_table ul li,
	.services_legend,
	.services_block-form .pure-form label,
	.pure-form input, .pure-form textarea { font-size: 18px; }
	.content.post_item,
	.post_item .inner_text,
	.content_block_item { line-height: 1.5; }
	.big_text { font-size: 22px; }
	.dev_acc small,
	.dev_acc small a,
	.social_link li,
	.timeline-block .date_item { font-size: 14px; }
	.header_top_block .media_text,
	.pure-table td,
	code { font-size: 16px; }
	.dev_acc p { margin: 0 0 10px; }
	.portfolio_detail h4, .portfolio_detail .style4 { font-size: 20px; }
}

/* HD (1600px) */
@media (min-width: 1201px) and (max-width: 1600px) {
	.logo { padding: 40px 0 0; }
	.header_top-centr { padding: 0; width: 840px; left: 50%; }
	.header_top_block-centered { left: -50%; }
	.btn-vacansy { right: 73px; }
	.block-top-lang { right: 53px; }
	.name_block { width: 840px; }
	.header_top_block { width: 100%; padding: 0; }
	.slider .slide-block { top: 30%; left: 50%; width: 840px }
	.slide-block-centr { position: relative; left: -50%; }
	.menu ul { padding: 37px 44px 41px; }
	.menu li { margin: 0 0 15px; }
	.web_icons li { margin-right: 12px; }
	.info_block { padding: 49px 44px 32px; }
	.content { padding: 0; max-width: 840px; margin: -48px auto 0; }
	.second_small .content { margin: -220px auto 0; }
	.second_middle .content { margin: -145px auto 0; }
	.content.post_item { margin-bottom: 40px; }
	.dev_about,
	.media_head span { font-size: 14px; }
}

/* Big Laptop (1200px) */
@media (min-width: 481px) and (max-width: 1200px) {
	.header_top-centr { padding: 0; width: 840px; left: 50%; }
	.header_top_block-centered { left: -50%; }
	.btn-vacansy { right: 80px; }
	.block-top-lang { right: 53px; }
	.name_block { width: 840px; }
	.header_top_block { width: 100%; padding: 0; }
	.content { padding: 0; max-width: 840px; margin: -15px auto 0 !important; }
	.viewport { width: 25%; }
	.slider .slide-block { top: 30%; left: 50%; width: 840px; }
	.slide-block-centr { position: relative; left: -50%; }
}

/* Laptop/Tablet (1024px) */
@media (min-width: 481px) and (max-width: 1199px) {
	body { background: #e6e6e6; }
	#layout { padding: 0; /* max-width: 1024px; */ width: 100%; margin: 0 auto; min-height: 0; }
	.header_top_block { width: 100%; top: 0; padding: 0; right: 0; }
	.block-top-lang { width: auto; right: 51px; }
	.sidebar {
		width: 100%;
		position: relative;
		margin: 0;
	}
	.sidebar_inner { }
	.logo {
		width: auto;
		float: left;
		text-align: left;
		overflow: hidden;
		border: none;
		margin: 15px 46px 12px 28px;
		padding: 0;
	}
	.logo span {
		width: 138px;
		height: 58px;
		left: 0;
		opacity: 1;
		/* background-position: 0 100%; */
		background: url(../img/logo_middle.svg) no-repeat 0 0;
	}
	.no-svg .logo span { background: url(../img/logo_sprite.png) no-repeat 0 -140px; }
	.menu {
		padding: 32px 20px 5px;
		border: 0 none;
		margin: 0;
	}
	.menu ul { padding: 0; border: none; float: left; }
	.menu li { float: left; margin: 2px 16px 5px 0; }
	.menu li:last-child { margin-right: 0; }
	.menu a { font-size: 14px; background: none; padding: 0.5em 0; }
	.info_block { float: right; border: none; padding: 3px 0 0; margin: 0 5px 0 0; }
	.info_block p { display: none; }
	.web_icons { margin: 0 !important; overflow: hidden; border: none; }
	.web_icons li { margin: 0 9px 0 0; }
	.web_icons img { width: 22px; height: auto; }
	.content { padding: 0; }

	.slider .slide-block { top: 28%; left: 50%; width: 840px }
	.slide-block-centr { position: relative; left: -50%; }
	.slider .style1 { font-size: 46px; }
	.slider span { margin: 0 0 23px; }
	.slider,
	.slider li,
	.slide > div { height: auto; }

	/* .viewport {width: 33.33333333333333%;} */
	.viewport { width: 280px; }
	.name_block_wr { min-height: 0; padding-bottom: 40px; }
	.name_block_wr.block_about { min-height: 513px; }
	.page_404 .name_block_wr { min-height: 300px; }
	.block-nav { margin-top: -10px; }
}
@media (max-width: 1024px) {
}

/* Tablet Portrait (768px) */
@media (max-width: 1023px) {
	.modal-open { overflow: hidden; }
	#scrollUp { display: none !important; }
	h2, .style2 { font-size: 24px; }
	.slider,
	.slider li,
	.slide > div { max-height: 400px !important; }
	.slider .slide-block { top: 35%; left: 50%; width: 760px; }
	.slide-block-centr { position: relative; left: -50%; padding: 0 20px; }
	.slider .style1 { font-size: 33px; }
	.menu li { margin: 2px 10px 5px 0; }
	.web_icons li { margin: 0 3px 0 0; }

	#layout { padding: 0; margin: 0; min-height: 0; }
	.header_top-centr { width: 760px; }
	.header_top_block { width: 100%; top: -91px; padding: 0; right: 0; }
	.block-top-lang { width: auto; right: 60px; }
	/* .media_wrap_block {top: -15px;} */
	.name_block,
	.post_item .content_block,
	.item-jumbotron,
	.block_about .name_block .tab-section,
	.like_btn { width: 738px; }
	.pager { bottom: 25px; }
	.sidebar {
		width: 100%;
		position: relative;
		margin: 0;
	}
	.sidebar_inner { }
	.logo {
		width: 768px; margin: 0 auto;
		float: none;
		text-align: left;
		overflow: hidden;
		border: none;
		padding: 10px 0 10px 0;
	}
	.logo span {
		width: 79px;
		height: 33px;
		background: url(../img/logo_m.svg) no-repeat 0 0;
		background-size: 79px 33px;
	}
	.no-svg .logo span { background: url(../img/logo_sprite.png) no-repeat 0 -215px; }
	.menu {
		padding: 3px 25px;
		border: none;
		float: none;
		margin: 0;
		background: #3c3f41;
	}
	.menu_inner { width: 768px; margin: 0 auto; }
	.menu ul { padding: 0; border: none; float: left; }
	.menu li { float: left; margin: 2px 15px 5px 0; }
	.menu li:last-child { margin-right: 0; }
	.menu a { font-size: 14px; background: none; padding: 0.5em 0; }
	.info_block { float: right; border: none; padding: 2px 25px 0 0; }
	.info_block p { display: none; }
	.web_icons { margin: 0 25px 0 0; overflow: hidden; border: none; }
	.web_icons li { margin: 0 8px 0 0; }
	.web_icons img { width: 20px; height: auto; }
	.content { padding: 0; width: 100%; max-width: 738px; margin: -15px auto 0; }
	.second_small .content,
	.second_middle .content { margin: -15px auto 0; }
	.viewport { width: 246px; }
	.bar .progress { font-size: 12px; }
	.blog_list ul li { width: 140px; }
	.pair_size140 {
		width: 123px;
		height: 123px;
	}
	.pair_size280 {
		width: 246px;
		height: 246px;
	}
	.pair_size2801 {
		width: 246px;
		height: 123px;
	}
	.pair_size1402 {
		width: 123px;
		height: 246px;
	}
	.pair_box_item { padding: 15px; }
	/* .post_item .content_block {width: 760px;} */
	.modal { width: 738px; }
	.modal { margin-left: -369px; }
	.close_modal { top: 13px; }
	.post_item .pure-u-1-2:first-child,
	.blogs_item .pure-u-1-2:first-child { width: 50%; }
	.jq-selectbox { width: 500px !important; }
	.dev_acc, .dev_about, .breadcrumb > li a, .media_head span { font-size: 12px; }
	.box_dev .media_text { font-size: 14px; }
	.name_block_wr { padding: 0 0 40px; min-height: 0; }
	.page_404 .name_block_wr { min-height: 300px; }
	/* .tab-section {min-height: 320px;} */
	.tabs-link li,
	.tabs-head,
	.tabs-last { font-size: 12px; }
	.tabs-last .fa { font-size: 14px; top: 2px; }
	.tabs-link li em { padding-left: 5px; }
	.tabs-link li.tabs-last { padding: 25px 15px 25px 40px; background-position: 8px 53%; }
	.portfolio_block .inner_text { font-size: 16px; }
	.buy_link { padding: 20px 15px; }
	.catalog .item .rating { right: 10px; }
	.catalog .item .price { font-size: 14px; }
	.solutions-category li:nth-child(7n + 1) { border-left-color: #8b7543; }
	.solutions-category li:nth-child(7n) { border-right-color: #6f5929; }
	.solutions-category li { width: 16.66%; }
	.solutions-category li:nth-child(6n + 1) { border-left-color: transparent; }
	.solutions-category li:nth-child(6n) { border-right-color: transparent; }
	.filter .jq-selectbox { width: 100% !important; }
	.filter .radiobox-group .radiobox { padding: 5px 15px; }
	.filter .default-slider { margin-top: 19px; }
	.block_solutions .solution_item-tools .blog_list ul li { width: 140px; }
	.solution_buy .btn-buy .btn-basket { font-size: 16px; padding: 10px 25px; }
	body .fancybox-gallery { width: auto !important; left: 0 !important; right: 0 !important; margin: 20px !important; }
	.fancybox-gallery .fancybox-inner { width: auto !important; }
	.fancybox-gallery .fancybox-image, .fancybox-gallery .fancybox-iframe { max-width: none !important; width: 100%; }
	.block_solutions .slider_soul-main_slider img { width: 100%; }
	body .fancybox-gallery .fancybox-skin { border-left: none; padding: 20px !important; }
	.fancybox-sidebar { width: auto; float: none; padding: 16px 60px 8px 20px; margin: -20px -20px 20px; background: #f4f0ea; }
	.fancybox-thumbs { border: none; box-shadow: none; padding: 0; float: left; }
	.fancybox-thumbs li { margin: 0 8px 8px 0; float: left; }
	.fancybox-thumbs li.active:before { display: none; }
}

/* @media (min-width: 768px) and (max-width: 860px) {.modal {width: 750px;} } */
@media (max-width: 800px) {
	.logo { padding: 10px 25px 10px 25px; }
	.menu_inner { width: auto; }
	.info_block { padding: 2px 0 0; }
}
/* Phone5 (568px) */
@media (max-width: 767px) {
	body { background: #e6e6e6; }
	#layout { padding: 0; margin: 0; min-height: 0; }
	.content { padding: 0; width: 100%; margin: 0 !important; max-width: 100%; }
	.pure-g > .pure-u-1-2 { width: 100%; }
	.media_wrap_block .pure-u-1-2:last-child { border-left: none; }
	.info_block,
	.header_top_block { display: none; }
	h1, .style1 { font-size: 26px; }
	.slide > div { background-size: auto 60% !important; }
	.services_block .slide > div { background-size: 100% 100% !important; }
	.slide > div > img { height: 180px; }
	.services_block .slide > div > img { height: auto; }
	.logo { text-align: center; padding: 9px 0 9px; width: auto; }
	/* .logo img {width: 79px; left: 0} */
	.sidebar { text-align: center; }
	.menu { background: none; padding: 0; overflow: visible; }

	.navtoogle {
		background: url(../img/mob-menu.svg) no-repeat center center;
		position: absolute;
		display: block;
		padding: 1em;
		width: 16px;
		height: 15px;
		border: none;
		padding: 20px;
		color: #222;
		cursor: pointer;
		text-indent: -999em;
		top: 8px;
		left: 5px;
	}
	.navtoogle:active,
	.navtoogle:focus { outline: 0; }
	.navtoogle + #menu {
		max-height: 0em;
		overflow: hidden;
	}
	.navtoogle.active + #menu {
		max-height: 30em;
		margin: 0;
		overflow: hidden;
		transition: max-height .4s;
		border-top: 1px solid #2b2c2e;
	}
	.navtoogle.active + #menu ul { width: 100%; list-style: none; }
	.navtoogle.active + #menu ul li { float: none; margin: 0; text-align: left; }
	.navtoogle.active + #menu ul li a {
		padding: 8px 15px 10px;
		margin: 2px 0;
		display: block;
		font-size: 12px;
		border-bottom: 1px solid #34383a;
		-webkit-box-shadow: 0 1px #414447;
		-moz-box-shadow: 0 1px #414447;
		box-shadow: 0 1px #414447;
	}
	.navtoogle.active + #menu ul li:last-child a { margin-bottom: 0; }
	/* .media_wrap_block {top: 0;} */
	.media_wrap_block .pure-u-1-2:last-child .media_block .media_pic,
	.media_wrap_block .pure-u-1-2:last-child .media_block .media_text { border-top: 1px solid #ddd; }
	.media_pic { padding: 0 19px; }
	.media_pic img { width: 70px; }
	.media_text { padding: 10px 15px 10px 0; width: 100%; }
	.vacancy_block .media_text { width: auto; }
	.vacancy_block .media_pic img { width: auto; max-width: 100%; }
	.vacancy_wrap:after,
	.vacancy_wrap:before { display: none; }
	.viewport { width: 50%; }
	h2, .style2 { font-size: 16px; }
	.btn { padding: 5px; }
	.form_pipe .btn { padding: 10px 25px; top: -2px; }
	.form_pipe .services_block-form-body input { height: 40px; }
	.content_block { margin: 0; padding: 0; }
	.name_block h1, .name_block .style1,
	.breadcrumb { padding: 0 15px; }
	.content_block h2,
	.content_block .style2 { padding: 12px 15px 0; margin: 0 0 12px; text-align: left; }
	.services_link h2, .services_link .style2 { padding: 12px 0 0; }
	.text_legend { display: none; padding: 0 15px; }
	.catalog_block .text_legend { display: block; }
	.viewport .viewport_text { padding: 20px 15px !important; }
	.quote_block_text { width: 100%; display: block; margin: 0 0 20px; padding: 15px; font-size: 14px; }
	.quote_block_text:after { border-width: 7px; left: 50%; margin-left: -7px; margin-top: 0; top: 100%; border-top-color: #6f5480; border-left-color: transparent; }
	.quote_block_btn { display: block; }
	.wrap_quote_block { padding: 0 0 25px; }
	.block_inner .content_block_item,
	.content_block_item { padding: 15px; }
	.page_second .block_inner .content_block_item { padding: 0 15px; }
	.viewport .viewport_text a { font-size: 14px !important; }
	.about_block .media_pic img { width: 50px; }
	.media_text,
	.about_block .pure-u-1-2,
	.news_list dd,
	.block_inner .pure-u-1-2,
	.btn,
	.box_dev time { font-size: 12px; }
	.media_text a,
	h4, .style4 { font-size: 14px; }
	.blog_list ul li { line-height: 1.6; }
	.pure-form select.styled, .pure-form input, .pure-form textarea,
	.controls { width: 100%; }
	.jq-selectbox { width: 100% !important; }

	.slider, .slider li, .slide > div { max-height: none !important; height: auto !important; }
	.slider .caroufredsel_wrapper { max-height: none !important; }
	.slider ul { overflow: hidden; height: 350px; }

	.slider .slide-block {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding: 17px 15px;
		background: #4f7ba7;
		font-size: 12px;
		margin: -5px 0 0;
	}
	.slide-block-centr { left: 0; padding: 0; }
	.slider .style1 { font-size: 18px; }
	.pager { top: 41%; }
	.post_slider .pager { top: auto; }
	.vertical-offset { top: 0; }
	.modal { width: 100%; margin: 0; left: 0; }
	.fancy_modal .fancybox-skin {
		-webkit-border-radius: 0 !important;
		-moz-border-radius: 0 !important;
		border-radius: 0 !important;
	}
	.modal_header {
		background: #303335;
		padding: 12px;
		color: #fff;
	}
	.modal_header p { margin: 0; color: #fff; }
	.close_modal {
		background: url(../img/ico_close_mobile_modal.png) no-repeat 50% 50%;
		width: 12px;
		height: 18px;
		left: 10px;
		top: 5px;
		text-indent: -999em;
		padding: 15px;
		display: block;
	}
	.modal_body { padding: 0; }
	.modal_body .form_wrap_controls { padding: 15px; }
	.modal.top_arrow .pure-g:after, .modal.top_arrow .modal_body:after { border-top-color: #303335; }
	.jq-selectbox__trigger { height: 75%; }
	/*.jq-selectbox__trigger-arrow { top: 10px; }*/
	.pure-form .pure-control-group label,
	.jq-selectbox__select, .pure-form input, .pure-form textarea { font-size: 12px; }
	.pure-form .pure-control-group label { width: 100%; }
	input:-moz-placeholder, textarea:-moz-placeholder { color: #213239; font-size: 12px; }
	input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #213239; font-size: 12px; }
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #213239; font-size: 12px; }
	.help-block { font-size: 11px; }
	.form-actions { padding: 10px 15px 13px; background: #3c3f41; }
	.form-actions button { width: 100%; }
	.form-actions .btn-primary {
		background: #30659b;
		-webkit-box-shadow: 0 3px #1f4974;
		-moz-box-shadow: 0 3px #1f4974;
		box-shadow: 0 3px #1f4974;
	}
	.form-actions .btn-primary:hover,
	.form-actions .btn-primary:focus {
		background: #30659b;
		-webkit-box-shadow: 0 2px #1f4974;
		-moz-box-shadow: 0 2px #1f4974;
		box-shadow: 0 2px #1f4974;
	}
	.form-actions .btn-primary:active {
		background: #30659b;
		-webkit-box-shadow: 0 0 #30659b;
		-moz-box-shadow: 0 0 #30659b;
		box-shadow: 0 0 #30659b;
	}
	.blog_list ul li { width: 130px; margin: 0 0 15px; }
	.content_block_more { background: #e6e6e6; }

	.work_pairs { width: 100%; }
	.pair_box_item { padding: 15px; }
	.pair_size140,
	.pair_size280,
	.pair_size2801,
	.pair_size1402 {
		width: 50%;
		height: auto;
		overflow: hidden;
		background-position: center center !important;
	}
	.pair_size280 .pair_box_item { font-size: 12px; }
	.pair_size280 .pair_box_item strong { font-size: 14px; }
	.pair_box img { max-width: auto; }
	.btn-msg .icon { left: 1px; width: 32px; }
	.btn-msg:before { left: 32px; height: 36px; }
	.btn-msg:after { left: 33px; height: 36px; }
	.btn-msg:hover:before { height: 35px; }
	.btn-msg:hover:after { height: 35px; }
	.btn-msg:active:before { height: 33px; }
	.btn-msg:active:after { height: 33px; }
	.fancybox-wrap { width: 100% !important; left: 0 !important; }
	.fancybox-inner { width: 100% !important; }
	.top_arrow .pure-g:after, .top_arrow .modal_body:after { border: 0 none; }

	.page_second .name_block { width: auto; }
	.block_about .name_block { min-height: 0; }
	.block_about .name_block .tab-section { width: 100%; position: relative; padding: 0 0 5px; }
	.page_second .name_block_wr { height: auto; min-height: 0; }
	.page_404 .name_block_wr { min-height: 300px; background-size: 80% auto; }
	.page_404 .content.post_item { padding-top: 25px; font-size: 14px; }
	.page_second .tab-section { margin: 0; }
	.page_second .tabs { padding: 0 8px; }
	.tabs.tabs-link { padding: 0 0 0 5px; }
	.tabs-head { line-height: 33px; }
	.tabs-head em { padding: 0 5px 0 10px; }
	/* .rss_icon {bottom: 1px;} */
	/* .rss_icon + ul {padding-right: 60px;} */
	.page_second .tabs li { padding: 10px 10px; margin: 0; }
	.tabs-text { padding: 7px; }
	/* .tabs:after {display: none;} */
	.tabs-last { padding: 10px 15px; float: left; width: 105%; left: -5px; margin-top: 10px; }
	.tabs-last:after { content: none; }
	.tabs-link .tabs-last a { padding: 5px 0; }
	/* .rss_icon {display: none;} */
	.content.post_item { font-size: 12px; padding: 0 15px 0; }
	.content_block .pure-form { padding: 15px 0 0; }
	.form_wrap_controls { padding: 0 15px; }
	.content_block .modal_body .form_wrap_controls { padding: 0; }
	.content_block .form-actions { padding: 0; background: none; }
	.post_item .content_block,
	.item-jumbotron,
	.like-btn { width: 100%; margin-left: 0; margin-bottom: 22px; }
	.like-btn { margin-bottom: 0; }
	.content_block.portfolio_item-block { margin-bottom: 0; }
	.item-jumbotron { padding: 15px; }
	.post_item .pure-u-1-2:first-child { width: auto; }
	.post_item .news_inner_block { padding: 0; }
	.blogs_item .pic_item, .post_item .pic_item { margin: 0; padding: 0; }
	.item-jumbotron .pic_item { float: none; text-align: center; margin: 0 0 15px; }
	.post_item .inner_text { padding: 0 15px 15px; font-size: 14px; }
	.item-jumbotron .inner_text { padding: 0; }
	.box_dev .media_text,
	.media_text .dev_acc a { font-size: 12px; }
	.post_item .pure-u-1-2:first-child, .blogs_item .pure-u-1-2:first-child { width: 100%; }
	.blogs_item .news_inner_block { padding: 20px 15px 15px; }
	.box { font-size: 14px; line-height: 1.4; padding: 10px 15px; }

	.timeline-wrap .pure-g > .pure-u-1-2 { width: 50%; }
	.timeline-block p { font-size: 14px; }
	.timeline-block--small p { font-size: 12px; }
	.timeline-block--small .date_item { font-size: 10px; }
	.tab-section { min-height: 0; padding: 0 0 5px; }
	.name_block_wr { padding: 0 0 15px; }
	.timeline-wrap .pure-u-1-2:last-child .timeline-img .timeline-img--inner { left: -47px; }
	.timeline-img .timeline-img--inner { right: -47px; }
	.timeline-wrap .pure-u-1-2:last-child .timeline-img--small .timeline-img--inner { left: -38px; }
	.timeline-img--small .timeline-img--inner { right: -38px; }
	.portfolio_block .inner_text { font-size: 14px; }
	.portfolio_filter-left-top,
	.portfolio_filter-right-bottom {
		position: relative;
		background: rgba(0, 0, 0, .4);
		padding: 15px;
		top: auto !important;
		bottom: auto;
		left: auto;
		right: auto;
		width: 100% !important;
		margin: 0 0 15px;
	}
	.portfolio_filter { min-height: 0; padding-bottom: 1px; }
	.portfolio_item-block .portfolio_detail { width: 100% !important; }
	.post_item.portfolio_item .pure-u-1-2,
	.portfolio_item-block .pure-u-1-2 { width: 100%; }
	.conversion_block { margin: 40px 15px 30px; }
	.conversion_text { padding: 0 15px 30px; }
	.conversion_text .pure-u-1-2:first-child { border-right: none; }
	.services_head,
	.services_link { padding: 20px 15px; }
	.services_legend .pure-u-1-2 { display: block; text-align: left; }
	.services_legend .pure-u-1-2:first-child {
		/* width: 100%; */
		padding: 15px 15px 0;
		text-align: left;
	}
	.services_head a { margin: 7px 0; }
	.services_legend .pure-u-1-2:last-child {
		width: auto;
		font-size: 12px;
		padding: 15px;
	}
	.services_block .viewport-full .viewport .viewport_text { padding: 0 !important; }
	.services_block-form { padding: 10px 0 0; }
	.form_pipe { padding: 20px 15px; }
	.services_block-form .pure-form { padding: 0; }
	.services_block-form-body { width: 100%; padding: 0 15px; }
	.services_block-form .form-actions { padding: 20px 0; background: #fff; }
	.services_block-form .pure-form label,
	.services_head { font-size: 12px; }
	.services_link .pure-u-1-2 { padding-right: 0; }
	.services_link .pure-u-1-2:last-child { padding-left: 0; }

	.form_lid .block_table { display: block; }
	.form_lid .block_table [class *= "pure-u"] { display: block; }

	.pure-form .content_block_more .btn { width: 100%; }

	.pricing_table-wrap .content_block_item { padding: 20px 15px }
	.pricing_table { padding: 0; }
	.pricing_table-inner { padding: 15px; }
	.pricing_table-active { margin: 0; }
	.pricing_table-active .pricing_table-head { text-align: left; }
	.pricing_table-active:after { content: none; }
	.text_two_block .content_block_item { padding: 0 15px 30px; }
	.content_margin { margin: 0 0 86px !important; }
	.content_margin_min { margin: 0 0 15px !important; }
	.content_block .content_block_item h2,
	.content_block .content_block_item .style2 { padding: 12px 0 0; }
	.box_slogan [class *= "pure-u"] { padding: 12px 25px; }
	.box_slogan [class *= "pure-u"]:first-child { padding: 25px 25px 13px; }
	.box_slogan [class *= "pure-u"]:last-child { padding: 13px 25px 25px; }
	.services_block .block_inner.vacancy_wrap .content_block_item { padding: 15px 15px 20px; }
	.services_legend .quote { left: 0; width: 100%; }
	.services_head [class *= "pure-u"] { text-align: left; }
	.services_head ul li { margin: 0 10px 0 0; }
	.services_legend { line-height: 22px; }
	/* .services_link > span {line-height: 30px;} */
	.page_second .block_inner.portfolio_block .content_block_item { padding: 0 15px 0 15px; }
	.page_second .block_inner.portfolio_block .pure-u-1-2:last-child .content_block_item { padding: 0 15px 0 15px; }
	.page_second .block_inner .news_inner_block { padding: 15px 0; }
	.page_second .block_inner .pure-u-1-2:last-child .news_inner_block { padding-top: 0; }
	.page_second .block_inner .news_inner_block .pic_item { margin: 0; }
	.font_box,
	.block_arrow-top { margin: 0 15px 20px; }
	.portfolio_item-block .portfolio_detail { margin: 5px 0; }
	h4, .style4 { padding-top: 10px; }
	.conversion_text .pure-u-1-2 { padding: 15px 0 20px; }
	.content.post_item p { margin: 0 0 10px; }
	.content_block_item.content_block_item-min { padding: 10px 15px; }
	.content_block_item.content_block_item-min span,
	.content_block_item.content_block_item-min p { text-align: left !important; }
	.content_block_more { padding: 30px 0 27px; }
	.services_block .slide h4,
	.services_block .slide .style4 { text-align: left; }
	.dev_date,
	.dev_acc-text { float: none; }
	.dev_date { margin: 10px 0 0; }
	.form_lid .content_block_item { padding: 18px 15px 22px; }
	.content_block_item.content_block_item-big,
	.services_block .block_inner.vacancy_wrap .content_block_item.content_block_item-big { padding: 15px 15px 20px; }
	.services_block .block_table { display: block; }
	.services_block .block_table [class *= "pure-u"] { display: block; text-align: left !important; padding: 15px; }
	.services_block .block_inner.vacancy_wrap .content_block_item,
	.services_block .block_inner.vacancy_wrap .content_block_item .h-center,
	.services_block .media_wrap_block .content_block_item,
	.services_block .media_wrap_block .content_block_item .h-center { text-align: left !important; }
	.content_block .pure-g + .pure-g .content_block_item > .news_inner_block { padding-top: 15px; }
	.vacancy_block hr { margin: 15px 0; }
	.page_second .block_inner.vacancy_block .news_inner_block { padding: 15px 0 !important; }

	.pure-g.block_table {
		display: block;
		width: 100%;
	}
	.pure-g.block_table [class *= "pure-u"] {
		padding-bottom: 0;
		margin-bottom: 0;
		display: block;
	}
	.pure-g.block_table .content_block_item { padding: 15px; }
	.pure-g.block_table .content_block_item .news_inner_block { padding: 0; }

	.services_block-review .content_block_item { font-size: 12px; }
	.block_inner_grblue .pure-u-1-2:last-child hr { margin: 0 15px; }
	.row { width: 100%; }
	.catalog .item:nth-child(3n + 1) { border-left: 1px solid #e6d5b6; box-shadow: inset 1px 1px 0 #efddbf; clear: none; }
	.catalog .item:nth-child(2n + 1) { border-left: none; box-shadow: none; clear: left; }
	.solutions-category li { width: 25%; }
	.solutions-category li:nth-child(6n + 1) { border-left-color: #8b7543; }
	.solutions-category li:nth-child(6n) { border-right-color: #6f5929; }
	.solutions-category li:nth-child(4n + 1) { border-left-color: transparent; }
	.solutions-category li:nth-child(4n) { border-right-color: transparent; }
	.filter .col { width: 100%; padding: 14px; }
	.filter .col:first-child { padding-bottom: 0; }
	.filter .default-slider { margin-top: 0; }
	.block_solutions .name_block { background: #f3d25e linear-gradient(to bottom, #f3d25e 0%, #c7a571 100%); }
	.block_solutions .post_item-block .pic_item { float: none; margin: 0 0 20px 0; }
	.block_solutions .post_item-block .pic_item img { display: block; margin: 0 auto; }
	.block_solutions .tabs { padding: 0; }
	.block_solutions .tabs-head, .block_solutions .tabs-text { display: inline-block; }
	.block_solutions .tabs-buy { float: none; clear: both; }
	.block_solutions .gallery_block .content_block_item { margin-bottom: 20px; }
	.block_solutions .gallery_block .browser-chrome { margin: 0 auto; display: block; }
	.block_solutions .portfolio_block { margin-bottom: 50px; }
	.block_solutions .portfolio_block .text_legend { display: block; }
	.block_solutions h2 { padding: 29px 0 0; margin: 0 0 33px; text-align: center; font-size: 24px; }
	.block_solutions .block-reviews .content_block_item { padding-top: 20px; }
	.block_solutions .block-reviews .content_block_item .item { min-height: 150px; }
	.block_solutions .solution_item-tools { margin-bottom: 40px; }
	.block_solutions .solution_item-tools .blog_list ul li { width: 21%; margin: 0 2%; float: left; border-top: none; box-shadow: none; padding: 20px 0; }
	.block_solutions .solution_buy { width: 100%; float: none; }
	.block_solutions .tabs { width: auto !important; height: auto !important; margin-bottom: 50px !important; position: relative !important; }
	.block_solutions .tabs-space { display: none !important; }
}

@media (max-height: 768px) and (min-width: 1200px) {
	#layout { padding-left: 243px; }
	.sidebar { width: 243px; margin-left: -243px; }
	.logo { padding: 25px 0 0; }
	/* .logo span {
		width: 150px;
		height: 112px;
		background-position: 0 -250px;
	} */
	.logo span {
		width: 150px;
		height: 131px;
		left: -5px;
		background-size: contain;
	}
	.menu ul { padding: 15px 44px 26px; }
	.menu li { margin: 0 0 10px; }
	.menu a { font-size: 14px; }
	.info_block { padding: 32px 44px 26px; }
	.info_block p { margin: 0 0 10px; }
	.info_block strong { font-size: 14px; }
	.web_icons { margin: 20px 0 0; padding: 0 !important; }
	.web_icons li { margin: 0 8px 0 0; }
	.web_icons img { width: 22px; }
}

@media (max-width: 600px) {
	.form_pipe .services_block-form-body input { width: 100%; }
	.form_pipe .services_block-form-body .btn { margin: 10px auto; display: block; }
	.services_block-graph .viewport { width: 100%; }
	.block_solutions .solution_item-tools .blog_list ul li { width: 30%; margin: 0 1.5%; }
}

@media (max-width: 480px) {
	.timeline-wrap .pure-g > .pure-u-1-2 { width: 100%; }
	.timeline-wrap .news_inner_block,
	.timeline-wrap .pure-g:last-child .news_inner_block { padding: 0; }
	.timeline-img { padding: 0; display: none; height: 0 !important; }
	.timeline-block { margin: 30px 0 !important; }
	.timeline-block:before,
	.timeline-block:after { content: none; }
	.services_link > span {
		padding-right: 0;
		padding-bottom: 35px;
		background: url(../img/ico-services_link.png) no-repeat center bottom;
	}
	a.services_link:hover > span { background: url(../img/ico-services_link-hover.png) no-repeat center bottom; }
	.catalog .item { width: 90%; margin: 0 5%; float: none; }
	.solutions-nav { font-size: 12px; }
	.solutions-nav li { width: 50%; white-space: nowrap; text-align: center; }
	.solutions-nav a { padding: 21px 10px 19px; }
	.solutions-category li { width: 33.3%; }
	.solutions-category li:nth-child(4n + 1) { border-left-color: #8b7543; }
	.solutions-category li:nth-child(4n) { border-right-color: #6f5929; }
	.solutions-category li:nth-child(3n + 1) { border-left-color: transparent; }
	.solutions-category li:nth-child(3n) { border-right-color: transparent; }
	.text_legend ul li a { font-size: 12px; }
	.block_solutions .post_item-block .pic_item img { width: 100%; }
	.block_solutions .solution_item-tools .blog_list ul li { width: 46%; margin: 0 2%; }
	.block_solutions .portfolio_block .text_legend ul a { padding-left: 10px; padding-right: 10px; }
	.block_solutions h2 { font-size: 22px; }
	.block_solutions .solution_buy-cost { margin-bottom: 10px; }
	.block_solutions .solution_buy .btn-buy { float: none !important; margin: 0 0 10px !important; }
}
@media (max-width: 320px) {
	.post_item .content_block,
	.item-jumbotron,
	.like_btn { width: 320px; margin-left: -15px; margin-bottom: 22px; }
	.like_btn { margin-bottom: 0; }
}