/*!
 * Project: Orders
 * File: Main styles
 * Author: Sergiy Miroshnychenko
 */

/* ==========================================================================
   _LAYOUT
   ========================================================================== */
.content {
	width: 1050px;
	min-height: 100%;
	padding: 175px 40px 80px;
	margin: 0 auto;
	position: relative;
	background: #fff;
	box-shadow: 0 1px 4px rgba(121, 127, 136, 1);
}
.sidebar {
	min-height: 320px;
	border-left: 1px solid #ccc;
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
	height: 40px;
	margin-top: -40px;
	position: relative;
	z-index: 5;
}
.footer .container {
	width: 1050px !important;
	min-height: 100%;
	position: relative;
	background: #2d3033;
}
.footer .nav {
	position: absolute;
	top: 0;
	left: 35px;
}
.footer .nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.footer .nav ul li {
	margin: 0;
	float: left;
	letter-spacing: .005em;
}
.footer .nav ul li a {
	padding: 10px;
	display: block;
	color: #fff;
	text-decoration: none;
	transition: color .2s ease, background-color .2s ease;
}
.footer .nav ul li a:after { display: none; }
.footer .nav ul li a:hover {
	color: #2d3033;
	background: #fff;
}
/* ==========================================================================
   _NAVBAR
   ========================================================================== */
.navbar {
	height: 151px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.navbar .container {
	min-height: 100%;
	position: relative;
	border-bottom: 3px solid #85a8da;
}
.navbar .login {
	margin: 0;
	position: absolute;
	top: 16px;
	right: 40px;
	font-size: 12px;
	letter-spacing: .02em;
}
.navbar .login .private {
	padding-left: 12px;
	position: relative;
}
.navbar .login .private:before {
	width: 8px;
	height: 10px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 2px;
	left: 0;
	opacity: 1;
	background: url(../img/sprite.png) -30px 0 no-repeat;
	background-size: 50px auto;
	z-index: 4;
	transition: opacity .2s ease;
}
.navbar .login .private:hover:before {
	background-position: -40px 0;
}
.navbar .login .private:after {
	left: 12px;
}
.navbar .request {
	margin: 0;
	font-size: 16px;
	position: absolute;
	top: 108px;
	right: 40px;
}
.navbar .request a {
	padding-left: 34px;
	position: relative;
}
.navbar .request a:after {
	bottom: 0;
	left: 34px;
}
.navbar .request a:before {
	width: 24px;
	height: 25px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: -5px;
	left: 0;
	background: url(../img/sprite.png) 0 0 no-repeat;
}
/* ==========================================================================
   _REQUESTS
   ========================================================================== */
.requests {
	padding: 0;
	margin: -25px 0 25px 0;
}
.requests .item {
	padding: 20px 10px 20px 0;
	border-bottom: 1px solid #ccc;
}
.requests .item:after {
	width: 100%;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.requests .item .h {
	margin-bottom: 0;
	letter-spacing: -.02em;
}
.requests .item .h .name {
	color: #978080;
	text-decoration: none;
}
.requests .item .pic {
	margin: 5px 5px 4px 0;
	float: left;
}
.requests .item .pic a:after { display: none; }
.requests .item .text {
	max-height: 60px;
	margin: 0 0 0 55px;
	display: block;
	overflow: hidden;
	font-size: 12px;
	letter-spacing: .02em;
}
/* ==========================================================================
   _FILTER
   ========================================================================== */
.filter .city {
	margin-bottom: 1px;
	padding: 4px 0 1px 0;
	font-size: 12px;
	position: relative;
}
.filter .city:after {
	width: 140px;
	height: 1px;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #ccc;
}
.filter .city p {
	margin: 0 0 4px 0;
}
.filter .checkbox-list {
	margin: 0 0 5px;
	padding: 0;
	list-style: none;
	line-height: 26px;
}
.filter .checkbox-list .line {
	padding-bottom: 2px;
	margin-bottom: 4px;
	position: relative;
}
.filter .checkbox-list .line:after {
	width: 140px;
	height: 1px;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #ccc;
}
.filter .checkbox-list .checkbox {
	min-height: 0;
	margin: 0;
	display: block;
}
.filter .checkbox-list .checkbox input[type="checkbox"] {
	position: relative;
	top: 2px;
}
.filter .submit input[type="submit"] {
	height: 20px;
	padding: 0;
	color: #4884d9;
	border: none;
	border-bottom: 1px dashed #b6d0f3;
	background: transparent;
	transition: border-color .2s ease, color .2s ease;
}
.filter .submit input[type="submit"]:hover {
	border-color: transparent;
	color: #ca0413;
}
/* ==========================================================================
   _ORDERS
   ========================================================================== */
.orders .item {
	padding: 0;
	margin: 0 0 24px 0;
	border-bottom: 1px solid #ccc;
}
.orders .left { padding-left: 0; }
.orders .left .h {
	margin: 0 0 1px 0;
	font-size: 18px;
	letter-spacing: .02em;
}
.orders .left .h .date {
	font-size: 13px;
	position: relative;
	top: -2px;
	left: 4px;
}
.orders .left dl {
	margin: 0;
}
.orders .left dl dt {
	padding-right: 10px;
	float: left;
	font-weight: bold;
	line-height: 22px;
}
.orders .left dl dd {
	margin: 0;
	line-height: 22px;
}
.orders .right {
	padding-right: 0;
	text-align: right;
}
.orders .right .name {
	margin-top: 7px;
	margin-bottom: 44px;
	line-height: 15px;
}
.orders .right .amount {
	margin: 0 0 3px;
	line-height: 20px;
}
/* ==========================================================================
   _FORM-DEFAULT
   ========================================================================== */
.form-default .form-group {
	margin-bottom: 20px;
}
.form-default .control-label {
	padding-right: 0;
}
/* ==========================================================================
   _SUBMENU
   ========================================================================== */
.submenu {
	padding: 5px;
	margin: 0;
	list-style: none;
	line-height: 26px;
	position: relative;
}
.submenu:after {
	width: 50%;
	height: 1px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #ccc;
}
.submenu a {
	color: #808080;
}
.submenu .active a {
	color: #101010;
}
.submenu a:hover {
	color: #ca0413;
}
.submenu a:after {
	display: none;
}
/* ==========================================================================
   _ACCESS
   ========================================================================== */
.access {
	padding: 8px;
	border: 1px solid #dfdfdf;
	color: #000;
	cursor: default;
	position: relative;
	text-align: center;
}
.access .text {
	position: relative;
	z-index: 5;
}
.access .bar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	display: block;
	z-index: 1;
	background: #85a8da;
}
/* ==========================================================================
   _MODAL
   ========================================================================== */
.modal-auth .modal-dialog,
.modal-recover .modal-dialog {
	width: 420px;
}
.modal-recover .modal-header .modal-title {
	white-space: nowrap;
}
/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}