/*!
 * Project: Boson
 * File: Main styles
 * Author: Sergiy Miroshnychenko
 */

/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/pt-sans-regular.woff') format('woff');
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/pt-sans-bold.woff') format('woff');
}

@font-face {
	font-family: 'HeliosC';
	font-style: normal;
	font-weight: 400;
	src: local('HeliosC'), url('../fonts/heliosc-regular.woff') format('woff');
}

@font-face {
	font-family: 'HeliosC';
	font-style: normal;
	font-weight: 700;
	src: local('HeliosC Bold'), url('../fonts/heliosc-bold.woff') format('woff');
}

/* ==========================================================================
   _HTML
   ========================================================================== */
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	font: 13px/18px 'PT Sans', Helvetica, Arial, sans-serif;
	color: #111;
}
body {
	width: 100%;
	min-width: 320px;
	height: 100%;
	padding: 0 40px;
	background: #fff url('../img/body.png') 50% 0 repeat;
}
body:before {
	width: 100%;
	min-width: 320px;
	height: 70px;
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: #111;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
/* ==========================================================================
   _LAYOUT
   ========================================================================== */
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
.content {
	padding: 70px 0 0;
}
.wrapper:after, .content:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}

/* ==========================================================================
   _TEXT
   ========================================================================== */
p {
	margin: 0 0 18px;
}
ul, ol {
	margin: 0 0 18px 0;
}
a {
	color: #00aef0;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 18px;
	font-weight: 700;
}
h2, .h2 {
	font: bold 24px/36px 'HeliosC', Helvetica, Arial, sans-serif;
}
h3, .h3 {
	font: bold 21px/36px 'HeliosC', Helvetica, Arial, sans-serif;
	letter-spacing: -.05em;
}
h4, .h4 {
	font: bold 18px/36px 'HeliosC', Helvetica, Arial, sans-serif;
}

/* ==========================================================================
   _H-LINE (line over the title)
   ========================================================================== */
.h-line {
	position: relative;
}
.h-line:before {
	width: 49.08%;
	height: 5px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	top: -25px;
	left: 0;
	background: #00c8fc;
}

/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}

/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
	padding: 0 40px;
	margin: 0 -40px;
	color: #fff;
	position: relative;
	cursor: default;
	background: #00a6e3 url('../img/footer.png') repeat 50% 0;
}
.footer .wrapper {
	min-height: 200px;
	padding: 30px 0;
	position: relative;
}
.footer .wrapper:before {
	width: 49.08%;
	height: 5px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: #00c8fc;
}
.footer .nav {
	margin-bottom: 35px;
	position: relative;
}
.footer .nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font: 10px/20px 'HeliosC', Helvetica, Arial, sans-serif;
}
.footer .nav li {
	margin: 0 26px 0 0;
	display: inline-block;
}
.footer .nav li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .2em;
	transition: color .3s ease;
}
.footer .nav li a:hover {
	color: #00c8fc;
}
.footer .contacts {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer .contacts:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.footer .contacts li {
	width: 25%;
	padding-right: 22px;
	float: left;
}
.footer .contacts li a {
	color: #fff;
}
.footer .contacts li a.tel {
	text-decoration: none;
	cursor: default;
}
.footer .contacts .h {
	margin: 0 0 6px;
	font: bold 18px/32px 'HeliosC', Helvetica, Arial, sans-serif;
	letter-spacing: -.01em;
}
.footer .contacts .org {
	display: none;
}
.footer .contacts p {
	margin: 0;
}

/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
	height: 40px;
	min-width: 320px;
	margin: 0;
	color: #fff;
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
	z-index: 10;
	font: bold 10px/18px 'HeliosC', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	cursor: default;
	background: #111;
}
.header-fixed {
	position: fixed;
	top: 0;
}
.header .logo {
	width: 105px;
	height: 17px;
	margin: 0;
	display: block;
	position: absolute;
	top: 11px;
	left: 40px;
	z-index: 10;
}
.header .logo img {
	width: 105px;
	height: 17px;
	display: block;
}
.header .nav {
	position: relative;
}
.header .nav .toggle {
	width: 30px;
	height: 19px;
	display: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	position: absolute;
	top: 10px;
	right: 40px;
}
.header .nav .toggle:before {
	height: 3px;
	display: block;
	content: ' ';
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	background: #fff;
}
.header .nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 40px;
	text-align: center;
}
.header .nav li {
	display: inline-block;
	margin: 0 13px;
}
.header .nav li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .2em;
	transition: opacity .3s ease;
}
.header .nav li a:hover {
	opacity: .8;
}
.header .callback {
	position: absolute;
	top: 11px;
	right: 40px;
	z-index: 10;
	color: #fff;
	font-size: 9px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .275em;
	transition: opacity .3s ease;
}
.header .callback:before {
	width: 20px;
	height: 15px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	top: 1px;
	left: -28px;
	background: url(../img/sprite.png) 0 0 no-repeat;
	background-size: 50px auto;
}
.header .callback:hover {
	opacity: .8;
}

/* ==========================================================================
   _INDEX
   ========================================================================== */
.index {
	margin: 0 -40px;
	height: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	cursor: default;
}
.index .down {
	width: 30px;
	height: 30px;
	margin-left: -15px;
	display: block;
	position: absolute;
	left: 50%;
	bottom: 20px;
	opacity: .9;
	background: url('../img/sprite.png') no-repeat -20px 0;
	background-size: 50px auto;
	transition: opacity .2s ease;
}
.index .down:hover {
	opacity: 1;
}
.index .video {
	overflow: hidden;
	position: absolute;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
}
.index .video .resize {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}
.index .text {
	margin-top: -73px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 10;
	text-align: center;
}
.index .h2 {
	margin: 0 0 38px;
	color: #fff;
}
.index .line {
	margin: 0;
	display: block;
}
.index .link {
	width: 214px;
	padding: 8px 0 4px 0;
	border: 2px solid #fff;
	margin: 0 17px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .2em;
	font: bold 10px/18px 'HeliosC', Helvetica, Arial, sans-serif;
	opacity: 1;
	transition: color .3s ease, background-color .3s ease;
}
.index .link:hover {
	color: #111;
	background-color: #fff;
}

/* ==========================================================================
   _ABOUT
   ========================================================================== */
.block-about {
	margin-bottom: 60px;
}
.about {
	min-height: 150px;
	padding: 3px 55% 0 0;
	margin-bottom: 75px;
	position: relative;
}
.about .logo {
	width: 50%;
	height: auto;
	display: block;
	position: absolute;
	top: 29px;
	right: 0;
}
.about .h3 {
	margin: 0 0 24px;
	letter-spacing: -.055em;
}

.more {
	padding-left: 19px;
	position: relative;
	text-transform: uppercase;
	color: #898989;
	display: inline-block;
	font: 10px/18px 'HeliosC', Helvetica, Arial, sans-serif;
	letter-spacing: .215em;
	text-decoration: none;
	transition: color .3s ease;
}
.more:hover {
	color: #00aef0;
}
.more:before, .more:after {
	width: 6px;
	height: 2px;
	border-radius: 1px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	background: #11b3f0;
	transition: background-color .3s ease;
}
.more:before {
	top: 4px;
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.more:after {
	top: 7px;
	left: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.info {
	margin: 0 0 42px;
}
.info ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.info ul:after {
	width: 100%;
	content: "\0020";
	display: block;
	overflow: hidden;
	clear: both;
}
.info ul li {
	width: 25%;
	padding: 0 30px 0 0;
	float: left;
}
.info ul li:last-child {
	margin-right: 0;
}
.info .icon {
	height: 80px;
	margin: 0 0 30px;
	display: block;
}
.info .h {
	margin: 0 0 23px;
	display: block;
	font: bold 17px/18px 'HeliosC', Helvetica, Arial, sans-serif;
	letter-spacing: -.01em;
}
.info .text {
	margin: 0;
}

/* ==========================================================================
   _NEWS
   ========================================================================== */
.block-news {
	margin: 0 0 50px;
}
.news {
	padding: 0;
	margin: 0 -10px;
	position: relative;
	list-style: none;
	cursor: default;
}
.news:after {
	width: 100%;
	content: "\0020";
	display: block;
	overflow: hidden;
	clear: both;
}
.news .item {
	width: 33.3%;
	padding: 0 10px 40px;
	float: left;
}
.news .item:nth-child(3n + 1) {
	clear: left;
}
.news .pic {
	margin: 0 0 17px;
	display: block;
}
.news .pic img {
	width: 100%;
	display: block;
}
.news .name {
	margin: 0 0 6px 0;
	font: bold 18px 'HeliosC', Helvetica, Arial, sans-serif;
	letter-spacing: -.05em;
}
.news .name a {
	color: #111;
	text-decoration: none;
}
.news .name a:hover {
	text-decoration: underline;
}
.news .date {
	margin: 0 0 14px;
	font-size: 10px;
	line-height: 10px;
	color: #898989;
	letter-spacing: .3em;
}
.news .text {
	margin: 0;
}

/* ==========================================================================
   _AGENCIES
   ========================================================================== */
.block-agencies {
	padding: 0 40px;
	margin: 0 -40px 75px;
	position: relative;
}
.block-agencies:before {
	content: ' ';
	display: block;
	position: absolute;
	top: 155px;
	left: 0;
	right: 0;
	bottom: 120px;
	z-index: 0;
	background: #00a6e3 url('../img/footer.png') repeat 50% 0;
}
.block-agencies .wrapper {
	position: relative;
	z-index: 1;
}
.agencies {
	padding: 0;
	margin: 0 -10px;
	position: relative;
	list-style: none;
	cursor: default;
}
.agencies:after {
	width: 100%;
	content: "\0020";
	display: block;
	overflow: hidden;
	clear: both;
}
.agencies > li {
	width: 50%;
	padding: 0 10px 20px;
	float: left;
}
.agencies > li:nth-child(2n - 1) {
	clear: left;
}
.agencies .card {
	padding: 50px 100px 45px;
	text-align: center;
	background: #fff;
}
.agencies .logo {
	max-width: 100%;
	margin: 0 auto 25px;
	display: block;
}
.agencies .text {
	margin: 0 0 20px;
}
.agencies .site {
	color: #898989;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .36em;
	font: 10px/18px 'HeliosC', Helvetica, Arial, sans-serif;
	transition: color .3s ease;
}
.agencies .site:hover {
	color: #00aef0;
}
.agencies .list {
	width: 100%;
	padding: 0 0 0 10px;
	margin: 38px 0 36px 0;
	list-style: none;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	overflow: hidden;
}
.agencies .list li {
	width: 50%;
	padding: 4px 0 4px 20px;
	float: left;
	position: relative;
}
.agencies .list li:before {
	width: 7px;
	height: 7px;
	display: block;
	content: ' ';
	position: absolute;
	top: 9px;
	left: 2px;
	background: #00aef0;
}

/* ==========================================================================
   _CLIENTS
   ========================================================================== */
.block-clients {
	margin: 0 0 45px;
}
.clients .h3 {
	margin: 0 0 12px;
}
.clients .list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.clients .list:after {
	width: 100%;
	content: "\0020";
	display: block;
	overflow: hidden;
	clear: both;
}
.clients .list li {
	float: left;
}
.clients .list img {
	height: 106px;
	margin: 0 auto 20px;
	display: block;
}
.clients .list li:after {
	width: 100%;
	content: "\0020";
	display: block;
	overflow: hidden;
	clear: both;
}
.clients .list li a {
	margin: 0 0 18px;
	display: block;
}
.clients .list li a {
	display: block;
}
.clients .bx-wrapper {
	position: relative;
}
.clients .bx-controls {
	margin-top: -19px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}
.clients .bx-controls a {
	width: 13px;
	height: 21px;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
	position: absolute;
	top: 0;
}
.clients .bx-controls a.bx-prev {
	left: 0;
}
.clients .bx-controls a.bx-next {
	right: 0;
}
.clients .bx-controls a:before, .clients .bx-controls a:after {
	width: 16px;
	height: 4px;
	border-radius: 2px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	background: #11b3f0;
	transition: background-color .2s ease;
}
.clients .bx-controls a:hover:before, .clients .bx-controls a:hover:after {
	background: #111;
}
.clients .bx-controls a.bx-prev:before {
	top: 4px;
	left: -1px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.clients .bx-controls a.bx-prev:after {
	top: 13px;
	left: -1px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.clients .bx-controls a.bx-next:before {
	top: 4px;
	left: -1px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.clients .bx-controls a.bx-next:after {
	top: 13px;
	left: -1px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* ==========================================================================
   _TOP
   ========================================================================== */
.top {
	height: 350px;
	padding: 0 40px;
	margin: 70px -40px 0;
	color: #fff;
	position: relative;
	cursor: default;
	background-color: #40809c;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.top .wrapper {
	height: 100%;
	padding: 60px 0 0 0;
	position: relative;
}
.top .text {
	width: 49%;
}
.top .h3 {
	margin: 0 0 35px;
	letter-spacing: -.03em;
}
.top .slogan {
	font: bold 16px/24px 'HeliosC', Helvetica, Arial, sans-serif;
}
.top .slogan span {
	padding: 2px 0 1px;
	box-shadow: 4px 0 0 #00aef0, -4px 0 0 #00aef0;
	background: #00aef0;
}
.top .agency {
	position: absolute;
	left: 0;
	bottom: 0;
}
.top .agency .name {
	margin: 0 0 5px;
	display: block;
}
.top .agency .link {
	width: 122px;
	height: 48px;
	padding: 10px 0;
	display: block;
	background: #fff;
}
.top .agency .link img {
	margin: 0 auto;
	height: 28px;
	display: block;
}

/* ==========================================================================
   _PROJECT
   ========================================================================== */
.block-project {
	margin-bottom: 70px;
}
.block-project:after, .block-project .info:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.project-carousel {
	width: 100%;
	margin: 0 0 95px;
}
.project-carousel .carousel {
	width: 10000px;
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
.project-carousel .carousel li {
	float: left;
}
.project-carousel .carousel img {
	width: 100%;
	display: block;
}
.project-carousel .bx-wrapper {
	position: relative;
}
.project-carousel .bx-pager {
	position: absolute;
	bottom: 44px;
	left: 0;
	right: 0;
	text-align: center;
}
.project-carousel .bx-pager .bx-pager-item {
	width: 14px;
	height: 14px;
	margin: 0 8px;
	display: inline-block;
}
.project-carousel .bx-pager .bx-pager-item a {
	width: 14px;
	height: 14px;
	border: 2px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	display: block;
	text-indent: -1000px;
	background: #fff;
	transition: background-color .3s ease;
}
.project-carousel .bx-pager .bx-pager-item a.active {
	background-color: #00aef0;
}
.project-carousel .bx-controls-direction a {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin-top: -24px;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	background: #00aef0;
	transition: background-color .2s ease;
}
.project-carousel .bx-controls-direction a:hover {
	background: #fff;
}
.project-carousel .bx-controls-direction a.bx-prev {
	left: 36px;
}
.project-carousel .bx-controls-direction a.bx-next {
	right: 36px;
}
.project-carousel .bx-controls-direction a:before, .project-carousel .bx-controls-direction a:after {
	width: 16px;
	height: 4px;
	border-radius: 2px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	background: #fff;
	transition: background-color .2s ease;
}
.project-carousel .bx-controls-direction a:hover:before, .project-carousel .bx-controls-direction a:hover:after {
	background: #00aef0;
}
.project-carousel .bx-controls-direction a.bx-prev:before {
	top: 16px;
	left: 12px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.project-carousel .bx-controls-direction a.bx-prev:after {
	top: 25px;
	left: 12px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.project-carousel .bx-controls-direction a.bx-next:before {
	top: 16px;
	left: 15px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.project-carousel .bx-controls-direction a.bx-next:after {
	top: 25px;
	left: 15px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.block-project .info {
	min-height: 350px;
	padding-right: 50%;
	position: relative;
}
.block-project .info .pic {
	width: 50%;
	position: absolute;
	top: 20px;
	right: 0;
}
.block-project .info .pic img {
	max-width: 100%;
}
.block-project .info .h3 {
	margin: 0 0 5px;
	letter-spacing: -.04em;
}
.block-project .info .h3:before {
	width: 100%;
}
.block-project .info .text {
	margin: 0 0 16px;
}

/* ==========================================================================
   _SERVICES
   ========================================================================== */
.block-services {
	margin-bottom: 75px;
}
.services {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
}
.services:after {
	width: 100%;
	content: "\0020";
	display: block;
	overflow: hidden;
	clear: both;
}
.services > li {
	width: 33.3%;
	padding: 0 10px 20px;
	float: left;
}
.services li:nth-child(3n + 1) { clear: left; }
.services .item {
	min-height: 245px;
	padding: 40px 60px;
	position: relative;
	overflow: hidden;
	text-align: center;
	background: #fff url(../img/icons/services-1.png) -117px 20px no-repeat;
	background-size: 200px 200px;
}
.services li:nth-child(2) .item { background-image: url('../img/icons/services-2.png'); }
.services li:nth-child(3) .item { background-image: url('../img/icons/services-3.png'); }
.services li:nth-child(4) .item { background-image: url('../img/icons/services-4.png'); }
.services li:nth-child(5) .item { background-image: url('../img/icons/services-5.png'); }
.services li:nth-child(6) .item { background-image: url('../img/icons/services-6.png'); }
.services li:nth-child(7) .item { background-image: url('../img/icons/services-7.png'); }
.services li:nth-child(8) .item { background-image: url('../img/icons/services-8.png'); }
.services li:nth-child(9) .item { background-image: url('../img/icons/services-9.png'); }
.services .h4 {
	padding: 9px 0;
	margin: 0 0 15px;
	line-height: 18px;
	letter-spacing: -.04em;
}
.services p {
	margin: 0;
}

/* ==========================================================================
   _PROJECTS
   ========================================================================== */
.projects {
	margin: 0 0 30px 0;
	padding: 0;
	list-style: none;
}
.projects:after {
	width: 100%;
	content: "\0020";
	display: block;
	overflow: hidden;
	clear: both;
}
.projects .item {
	width: 285px;
	margin: 0 20px 20px 0;
	float: left;
	position: relative;
	background: #fff;
	transition: background .3s ease;
}
.projects .item:hover {
	background: #00aef0;
}
.projects .item:nth-child(4n) { margin-right: 0; }
.projects .item:nth-child(4n+1) { clear: left; }
.projects .item .link {
	min-height: 428px;
	padding-bottom: 70px;
	display: block;
	position: relative;
	color: #111;
	text-decoration: none;
	transition: color .3s ease, padding-bottom .3s ease;
}
.projects .item:hover .link {
	padding-bottom: 118px;
	color: #fff;
}
.projects .item .pic {
	width: 100%;
	display: block;
}
.projects .item .agency {
	width: 150px;
	height: 48px;
	margin: -48px 0 20px 0;
	padding: 10px 0;
	position: relative;
	display: block;
	text-align: center;
	background: #fff;
	transition: background-color .3s ease, margin-top .3s ease;
	z-index: 4;
}
.projects .item:hover .agency {
	margin-top: -96px;
	background: #00aef0;
}
.projects .item .agency img {
	margin: 0 auto;
	height: 28px;
	display: block;
}
.projects .item .h4 {
	padding: 25px 30px;
	margin: -20px 0 0;
	display: block;
	line-height: 24px;
	letter-spacing: -.044em;
	position: relative;
	z-index: 4;
	background: #fff;
	transition: background .3s ease;
}
.projects .item:hover .h4 {
	background: #00aef0;
}
.projects .item .text {
	padding: 0 30px 25px;
	display: block;
}
.projects .item .more {
	position: absolute;
	bottom: 24px;
	left: 32px;
	z-index: 6;
	letter-spacing: .22em;
}
.projects .item:hover .more {
	color: #fff;
}
.projects .item:hover .more:before, .projects .item:hover .more:after {
	background-color: #fff;
}

.projects-top .item { width: 590px; }
.projects-top .item:nth-child(4n) { margin-right: 20px; }
.projects-top .item:nth-child(4n+1) { clear: none; }
.projects-top .item:nth-child(2n) { margin-right: 0; }
.projects-top .item:nth-child(2n+1) { clear: left; }

/* ==========================================================================
   _BLOCK-CONTACTS
   ========================================================================== */
.block-contacts {
	height: 100%;
	margin: 0 -40px;
	position: relative;
}
.block-contacts .map {
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	bottom: 0;
}

/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}

/* ==========================================================================
   _RESPONSIVE
   ========================================================================== */
@media (max-width: 1279px) {
	.wrapper { width: 900px; }
	.clients .bx-wrapper { width: 960px !important; margin-left: -30px !important; margin-right: -30px !important; }
	.top .text { width: 60%; }
	.agencies .card { padding-left: 65px; padding-right: 65px; }
	.projects .item { width: 210px; }
	.projects .item .link { min-height: 408px; }
	.projects-top .item { width: 440px; }
	.index .down { display: none; }
}
@media (max-width: 1023px) {
	.wrapper { width: 688px; }
	.header .callback { width: 20px; overflow: hidden; text-indent: -1000px; }
	.header .callback:before { left: 0; }
	.clients .bx-wrapper { width: 720px !important; margin-left: -16px !important; margin-right: -16px !important; }
	.top .text { width: 80%; }
	.agencies .card { padding-left: 35px; padding-right: 35px; }
	.services > li { width: 50%; }
	.services li:nth-child(2n + 1) { clear: left; }
	.services li:nth-child(3n + 1) { clear: none; }
	.projects .item { width: 334px; }
	.projects .item:nth-child(2n) { margin-right: 0; }
	.projects .item:nth-child(2n+1) { clear: left; }
	.projects .item .link { min-height: 461px; }
	.projects-top .item { width: 100%; margin-right: 0; }
}
@media (max-width: 767px) {
	.wrapper { width: 100%; }
	.header .nav .toggle { display: block; }
	.header .nav ul { padding: 100px 50px; display: none; font-size: 14px; line-height: 50px; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 200; background: rgba(0, 0, 0, .9); }
	.header .nav ul li { width: 200px; margin: 0 auto; display: block; }
	.header .nav li a { display: block; }
	.header .callback { display: none; }
	.top { height: auto; }
	.top .wrapper { padding-top: 30px; min-height: 250px; }
	.top .h3 { font-size: 18px; line-height: 26px; }
	.top .slogan { font-size: 14px; line-height: 20px; }
	.top .text { width: 100%; }
	.clients .bx-wrapper { width: 480px !important; margin-left: auto !important; margin-right: auto !important; }
	.about { padding-right: 0; }
	.about .logo { width: 75%; margin: 0 auto 30px; position: relative; top: auto; right: auto; }
	.info ul li { width: 50%; padding-bottom: 30px; }
	.info ul li:nth-child(2n + 1) { clear: left; }
	.news { margin-left: 0; margin-right: 0; }
	.news .item { width: 100%; padding-right: 0; padding-left: 0; }
	.agencies > li { width: 100%; }
	.agencies .card { padding-left: 65px; padding-right: 65px; }
	.services li { width: 100%; }
	.projects .item { width: 100%; }
	.block-project .info { min-height: 0; margin: 0; padding-right: 0; }
	.block-project .info .pic { width: 75%; margin: 0 auto 60px; position: relative; top: auto; right: auto; }
	.block-project .info .h3:before { width: 49%; }
	.footer .nav { display: none; }
	.footer .contacts li { width: 50%; padding-bottom: 20px; }
}
@media (max-width: 575px) {
	body { padding: 0 20px; }
	.h-line:before { width: 100%; }
	.header .logo { left: 20px; }
	.header .nav .toggle { right: 20px; }
	.top, .index, .block-agencies { margin-left: -20px; margin-right: -20px; }
	.block-agencies { padding-left: 20px; padding-right: 20px; }
	.info ul li { width: 100%; float: none; padding-right: 0; text-align: center; }
	.info .icon { margin-left: auto; margin-right: auto; }
	.clients .bx-wrapper { width: 240px !important; }
	.index .link { margin: 10px auto; display: block; }
	.index .text { width: 80%; margin-left: 0; margin-top: -140px; left: 10%; }
	.top .h3 { margin-bottom: 20px; font-size: 16px; line-height: 22px; }
	.top .slogan { font-size: 13px; line-height: 18px; }
	.about .logo { width: 100%; }
	.block-project .info .pic { width: 100%; }
	.agencies .card { padding: 30px; }
	.project-carousel { width: auto; margin-left: -20px; margin-right: -20px; }
	.project-carousel .bx-pager { bottom: 10px; }
	.project-carousel .bx-controls-direction a.bx-prev { left: 10px; }
	.project-carousel .bx-controls-direction a.bx-next { right: 10px; }
	.footer { margin-left: -20px; margin-right: -20px; }
	.footer .contacts li { width: 100%; float: none; text-align: center; }
	.block-contacts { margin: 0 -20px; }
}
@media (max-width: 479px) {
	.agencies .list li { width: 75%; margin: 0 auto; float: none; }
}