/*
 *
 * IE9 */
body { cursor: default; }
div { zoom: 1; }
h1, .h1 { filter: dropshadow(color=#000, offx=1, offy=1); }
/*
 *
 * IE8 */
.ie8 .jq-selectbox__trigger-arrow, .ie8 .catalog li .pic:after, .ie8 .catalog li .place:before, .ie8 .catalog li .score .icon, .ie8 .popup-closer .place:before, .ie8 .popup-closer .score .icon { background-image: url('../img/ie/sprite.png'); }
.ie8 .catalog .in { padding-bottom: 0; }
.ie8 .index .inner { background: none; -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/index.jpg', sizingMethod='scale')"; }
.ie8 .prizes .item .user .photo:before { display: none; }
#fancybox-overlay { background: #000 url('../img/fancybox/fancybox_overlay.png') !important; }
.ie8 .fancybox-skin .fancybox-close { display: none !important; }