/*!
 * Project: Angry Birds
 * File: Main styles
 */

/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Angry Birds';
    src: url('../fonts/angrybirds-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/angrybirds-regular.woff') format('woff'), url('../fonts/angrybirds-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ==========================================================================
   _HTML
   ========================================================================== */
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	font: 14px/17px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #262626;
}
body {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding-bottom: 83px;
	position: relative;
	background: url(../img/body.jpg) 50% 50% repeat;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
/* ==========================================================================
   _LAYOUT
   ========================================================================== */
.wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 30px;
}
.wrapper:after, .content:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.content .wrapper {
	padding-top: 37px;
	padding-bottom: 37px;
	background: #fff;
	border-bottom: 3px solid #d9d9d9;
	border-radius: 4px; 
}
.link-main {
	width: 235px;
	height: 50px;
	padding-top: 15px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-weight: 700;
	background: #eb2c31;
	border-bottom: 3px solid #c01f2f;
	border-radius: 3px;
	transition: background .3s ease;
}
.link-main:hover {
	background: #c01f2f;
}
/* ==========================================================================
   _TEXT
   ========================================================================== */
p {
	margin: 0 0 20px;
}
ul, ol {
	margin: 0 0 20px 0;
	padding-left: 40px;
}
a {
	outline: none;
	color: #c01f2f;
}
a:focus {
	outline: none;
}
a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 20px;
}
h1, .h1 {
	margin-bottom: 16px;
	font-size: 67px;
	line-height: 77px;
	letter-spacing: -.02em;
	font-family: 'Angry Birds', Helvetica, Arial, sans-serif;
	-webkit-text-stroke: 2px black;
	color: white;
	/*text-shadow:
    -4px -4px 0 #000,  
    4px -4px 0 #000,
    -4px 4px 0 #000,
    4px 4px 0 #000;*/
}
h2, .h2 {
	margin-bottom: 12px;
	font-size: 28px;
	line-height: 32px;
	text-align: center;
}
h3, .h3 {
	margin-bottom: 12px;
	font-size: 24px;
	line-height: 28px;
}
h4, .h4 {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: inherit;
}
h5, .h5 {
	margin-bottom: 8px;
	font-size: 16px;
	line-height: inherit;
}
h6, .h6 {
	margin-bottom: 6px;
	font-size: 14px;
	line-height: inherit;
}
table th, table td {
	padding: 7px 15px;
}
table th {
	line-height: 14px;
	font-weight: 400;
	border-bottom: 3px solid #f39200;
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.jq-checkbox { top: -1px; width: 13px; height: 13px; border: 1px solid #c3c3c3; border-radius: 3px; background: #f6f6f6 url('data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=') repeat-x; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #fff, inset 1px -1px #fff; vertical-align: middle; cursor: pointer }
.jq-checkbox.checked .jq-checkbox__div { width: 9px; height: 9px; margin: 2px 0 0 2px; border-radius: 2px; background: #666; box-shadow: inset 0 -3px 6px #aaa }
.jq-checkbox.focused { border: 1px solid #08c }
.jq-checkbox.disabled { opacity: .55 }
.jq-radio { width: 12px; height: 12px; border: 1px solid #c3c3c3; border-radius: 50%; background: #f6f6f6 url('data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=') 0 -1px repeat-x; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #fff, inset 1px -1px #fff; vertical-align: middle; cursor: pointer }
.jq-radio.checked .jq-radio__div { width: 6px; height: 6px; margin: 3px 0 0 3px; border-radius: 50%; background: #666 }
.jq-radio.focused { border: 1px solid #08c }
.jq-radio.disabled { opacity: .55 }
.jq-file { width: 270px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); border-radius: 4px }
.jq-file input { cursor: pointer; height: auto; line-height: 1em }
.jq-file__name { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 32px; padding: 0 80px 0 10px; color: #333; font: 14px/30px Arial, sans-serif; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; border: 1px solid #ccc; border-bottom-color: #b3b3b3; border-radius: 4px; box-shadow: inset 1px 1px #f1f1f1; background: #fff }
.focused .jq-file__name { border: 1px solid #5794bf }
.jq-file__browse { position: absolute; top: 1px; right: 1px; padding: 0 10px; border-left: 1px solid #ccc; border-radius: 0 4px 4px 0; background: #f1f1f1 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC') repeat-x; box-shadow: inset 1px -1px #f1f1f1, inset 0 0 #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1); color: #333; text-shadow: 1px 1px #fff; font: 14px/30px Arial, sans-serif }
.jq-file:hover .jq-file__browse { background-color: #e6e6e6; background-position: 0 -10px }
.jq-file:active .jq-file__browse { background: #f5f5f5; box-shadow: inset 1px 1px 3px #ddd }
.jq-file.disabled .jq-file__name { color: #888 }
.jq-file.disabled, .jq-file.disabled .jq-file__browse { border-color: #ccc; background: #f5f5f5; box-shadow: none; color: #888 }
.jq-selectbox { vertical-align: middle; cursor: pointer }
.jq-selectbox__select { height: 30px; padding: 0 45px 0 10px; border: 1px solid #ccc; border-bottom-color: #b3b3b3; border-radius: 4px; background: #f5f5f5 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC') repeat-x; box-shadow: inset 1px -1px #f1f1f1, inset 0 0 #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1); color: #333; text-shadow: 1px 1px #fff; font: 14px/30px Arial, sans-serif }
.jq-selectbox__select:hover { background-color: #e6e6e6; background-position: 0 -10px }
.jq-selectbox__select:active { background: #f5f5f5; box-shadow: inset 1px 1px 3px #ddd }
.jq-selectbox.focused .jq-selectbox__select { border: 1px solid #5794bf }
.jq-selectbox.disabled .jq-selectbox__select { border-color: #ccc; background: #f5f5f5; box-shadow: none; color: #888 }
.jq-selectbox__select-text { display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
.jq-selectbox__trigger { position: absolute; top: 0; right: 0; width: 34px; height: 100%; border-left: 1px solid #ccc }
.jq-selectbox__trigger-arrow { position: absolute; top: 14px; right: 12px; width: 0; height: 0; overflow: hidden; border-top: 5px solid #000; border-right: 5px solid transparent; border-left: 5px solid transparent; opacity: .3 }
.jq-selectbox:hover .jq-selectbox__trigger-arrow { opacity: 1 }
.jq-selectbox.disabled .jq-selectbox__trigger-arrow { opacity: .3 }
.jq-selectbox__dropdown { top: 33px; width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; border: 1px solid #ccc; border-radius: 4px; background: #fff; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); font: 14px/18px Arial, sans-serif }
.jq-selectbox__search { margin: 5px }
.jq-selectbox__search input { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 5px 27px 6px 8px; outline: 0; border: 1px solid #ccc; border-radius: 3px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%; box-shadow: inset 1px 1px #f1f1f1; color: #333; -webkit-appearance: textfield }
/*noinspection CssInvalidPseudoSelector*/
.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration { -webkit-appearance: none }
.jq-selectbox__not-found { margin: 5px; padding: 5px 8px 6px; background: #f0f0f0; font-size: 13px }
.jq-selectbox ul { margin: 0; padding: 0 }
.jq-selectbox li { min-height: 18px; padding: 5px 10px 6px; color: #231f20 }
.jq-selectbox li.selected { background-color: #a3abb1; color: #fff }
.jq-selectbox li:hover { background-color: #08c; color: #fff }
.jq-selectbox li.disabled { color: #aaa }
.jq-selectbox li.disabled:hover { background: 0 }
.jq-selectbox li.optgroup { font-weight: bold }
.jq-selectbox li.optgroup:hover { background: 0; color: #231f20; cursor: default }
.jq-selectbox li.option { padding-left: 25px }
.jq-select-multiple { -moz-box-sizing: border-box; box-sizing: border-box; padding: 1px; border: 1px solid #ccc; border-bottom-color: #b3b3b3; border-radius: 4px; box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1); background: #fff; color: #333; font: 14px/18px Arial, sans-serif; cursor: default }
.jq-select-multiple.focused { border: 1px solid #5794bf }
.jq-select-multiple.disabled { border-color: #ccc; background: #f5f5f5; box-shadow: none; color: #888 }
.jq-select-multiple ul { margin: 0; padding: 0 }
.jq-select-multiple li { padding: 3px 9px 4px; list-style: none }
.jq-select-multiple li:first-child { border-radius: 3px 3px 0 0 }
.jq-select-multiple li:last-child { border-radius: 0 0 3px 3px }
.jq-select-multiple li.selected { background: #08c; color: #fff }
.jq-select-multiple li.disabled { color: #aaa }
.jq-select-multiple.disabled li.selected, .jq-select-multiple li.selected.disabled { background: #ccc; color: #fff }
.jq-select-multiple li.optgroup { font-weight: bold }
.jq-select-multiple li.option { padding-left: 25px }
/* aa */
.jq-selectbox__select { height: 31px; padding: 0 27px 0 7px; border: 2px solid #ccc; border-radius: 0; box-shadow: none !important; color: #222; outline: none; font: bold 11px 'Gotham Pro', Helvetica, Arial, sans-serif; text-transform: uppercase; text-shadow: none; background: #fff; transition: none; }
.jq-selectbox__select:hover { background: #fff; }
.jq-selectbox__select-text { min-width: 205px; padding: 8px 0; }
.jq-selectbox__trigger { width: 27px; height: 100%; border: none; top: 0; }
.jq-selectbox__trigger-arrow { width: 20px; height: 20px; top: 4px; right: 3px; border: none; overflow: visible; background: url('../img/sprite.png') no-repeat -50px -370px; }
.jq-selectbox__dropdown { top: 29px; border: 2px solid #036; border-radius: 0; box-shadow: none; font: bold 11px 'Gotham Pro', Helvetica, Arial, sans-serif; text-transform: uppercase; }
.jq-selectbox.opened .jq-selectbox__trigger-arrow { background-position: -50px -390px; }
.jq-selectbox.focused .jq-selectbox__select, .jq-selectbox.opened .jq-selectbox__select { border: 2px solid #036; box-shadow: none; background: #fff; }
.jq-selectbox li { padding: 7px; }
.jq-selectbox li:hover { color: #222; background: #ccc; }
.jq-selectbox li.selected { color: #fff !important; background: #036; }
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea { width: 400px; padding: 12px 20px 16px; letter-spacing: -.01em; border-left: none; border-right: none; border-bottom: none; border-top: 3px solid #4d87a4; border-radius: 5px; box-shadow: none; color: #fff; outline: none; font: 14px 'Open Sans', Helvetica, Arial, sans-serif; background: #5199b8; -webkit-appearance: none; transition: none; }
input[type="email"]:not([disabled]):focus, input[type="number"]:not([disabled]):focus, input[type="password"]:not([disabled]):focus, input[type="search"]:not([disabled]):focus, input[type="tel"]:not([disabled]):focus, input[type="text"]:not([disabled]):focus, input[type="url"]:not([disabled]):focus, textarea:not([disabled]):focus { }
input[type="search"] { -webkit-appearance: none }
/*noinspection CssInvalidPseudoSelector*/
::-webkit-input-placeholder { color: #fff; }
/*noinspection CssInvalidPseudoSelector*/
:-moz-placeholder { color: #fff; }
/*noinspection CssInvalidPseudoSelector*/
::-moz-placeholder { color: #fff; }
/*noinspection CssInvalidPseudoSelector*/
:-ms-input-placeholder { color: #fff; }
textarea { width: 400px; height: 126px; overflow: auto; resize: none; }
.button, button, input[type="button"], input[type="submit"], input[type="reset"] { overflow: visible; width: 235px; padding: 13px 21px; background: #eb2c31; border-radius: 5px; outline: none; border-left: none; border-right: none; border-top: none; border-bottom: 3px solid #c01f2f; color: #fff; font: bold 14px 'Open Sans', Helvetica, Arial, sans-serif; font-weight: bold; cursor: pointer; transition: none; }
.button, button { position: relative; z-index: 1; padding: 9px 19px; border: none; color: #464646; cursor: pointer; transition: none; background: linear-gradient(to bottom, #7a7a7a 0%, #242424 100%); }
.button { display: inline-block; }
.button:before, button:before { content: ' '; display: block; overflow: hidden; position: absolute; top: 2px; right: 2px; bottom: 2px; left: 2px; z-index: -1; background: #fff; }
.button::-moz-focus-inner, button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner { padding: 0; border: 0; }
button:after { content: '' }
button:not([disabled]):hover, input[type="button"]:not([disabled]):hover, input[type="submit"]:not([disabled]):hover, input[type="reset"]:hover, button:not([disabled]):focus, input[type="button"]:not([disabled]):focus, input[type="submit"]:not([disabled]):focus, input[type="reset"]:focus { background-color: #c01f2f; }
button:not([disabled]):hover:before, button:not([disabled]):focus:before { display: none; }
button[disabled], input[type="button"][disabled], input[type="submit"][disabled] { background: #f5f5f5; box-shadow: none; color: #888; }
.checkbox, .radio { font: 12px/17px 'Gotham Pro', Helvetica, Arial, sans-serif; cursor: pointer; }
.jq-checkbox { width: 20px; height: 20px; border: 2px solid #036; border-radius: 0; box-shadow: none; background: #fff; overflow: visible !important; text-align: left; }
.jq-checkbox.focused { border-color: #fff; }
.jq-checkbox .jq-checkbox__div { width: 20px; height: 20px; margin: 0; position: absolute; top: -5px; left: 2px; background: none; }
.jq-checkbox.checked .jq-checkbox__div { width: 20px; height: 20px; margin: 0; position: absolute; top: -5px; left: 2px; box-shadow: none; border-radius: 0; background: url('../img/sprite.png') no-repeat -70px -370px; }
.jq-radio { width: 20px; height: 20px; box-shadow: none; margin: 2px; background: transparent; border: 2px solid #036; }
.jq-radio.focused { border-color: #f6f6f6; }
.jq-radio.checked .jq-radio__div { background: #ff5c26; box-shadow: none; width: 8px; height: 8px; margin: 0; position: absolute; top: 4px; left: 4px; border-radius: 50%; }
.checkbox .jq-checkbox { margin-right: 9px; }
.radio .jq-radio { margin-right: 9px; }
.form .line { margin-bottom: 20px; clear: left; }
.form label { font: bold 11px/14px 'Gotham Pro', Helvetica, Arial, sans-serif; text-transform: uppercase; }
.form label.for { margin-bottom: 5px; display: block; }
.form:after, .form .line:after { width: 100%; content: "\0020"; display: block; clear: both; overflow: hidden; }
.jq-file { width: auto; height: auto; box-shadow: none; border-radius: 0; }
.jq-file__name, .jq-file__browse { visibility: hidden; }
.file { padding: 5px 0; margin-top: -5px; display: block; position: relative; }
.file .add { position: relative; z-index: 1; }
.file .jq-file { position: absolute !important; top: 0; left: 0; right: 0; bottom: 0; z-index: 5; }
input[type="email"].error, input[type="number"].error, input[type="password"].error, input[type="search"].error, input[type="tel"].error, input[type="text"].error, input[type="url"].error, textarea.error { background: #eb2c31; border-top-color: #c01f2f; }
/*noinspection CssInvalidPseudoSelector*/
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
	height: 75px;
	background: #eb2c31;
	border-bottom: 5px solid #c01f2f;
}
.header .wrapper {
	height: 100%;
	padding: 0;
	position: relative;
}
.header .nav {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
	position: absolute;
	top: 28px;
	left: 10px;
}
.header .nav:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.header .nav li {
	padding: 0 20px;
	float: left;
}
.header .nav li a {
	color: #fff;
	text-decoration: none;
	transition: color .3s ease;
}
.header .nav li a:hover {
	color: #262626;
}
.header .nav-login {
	right: 10px;
	left: auto;
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
	height: 53px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #2a7f41;
	border-bottom: 3px solid #2d6c3a;
}
.footer .wrapper {
	padding: 0;
	position: relative;
}
.footer .logo {
	width: 102px;
	height: 18px;
	margin-bottom: 0;
	display: block;
	position: absolute;
	top: 18px;
	right: 28px;
}
.footer .support {
	margin-bottom: 0;
	font-size: 11px;
	color: #fff;
	position: absolute;
	top: 16px;
	left: 32px;
}
.footer .support .tel {
	color: #fff;
	cursor: default;
	text-decoration: none;
}
.footer .support .tel:focus {
	color: #262626;
}
/* ==========================================================================
   _INDEX
   ========================================================================== */
.index {
	width: 100%;
	height: 480px;
	margin-bottom: -58px;
	position: relative;
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 20;
}
.index .info {
	width: 630px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	position: relative;
	top: 305px;
}
.index .slogan {
	margin-bottom: 41px;
}
.index .link-main {
	margin: 0 auto;
}
/* ==========================================================================
   _PROJECTS
   ========================================================================== */
.projects .wrapper {
	padding-top: 61px;
}
.triggers {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
	text-align: center;
}
.triggers:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.triggers li {
	padding: 0 8px;
	display: inline-block;
	letter-spacing: .03em;
}
.triggers li a {
	font-weight: bold;
	text-decoration: none;
}
.triggers li.active a {
	color: #262626;
	font-weight: normal;
}
.tab {
	margin-bottom: 20px;
}
.tab-hidden {
	display: none;
}
.download {
	margin-bottom: 0;
	text-align: center;
}
.download .link-main {
	display: inline-block;
}
/* ==========================================================================
   _CATALOG
   ========================================================================== */
.catalog {
	margin: 0 -15px;
	padding: 0;
	list-style: none;
	font-size: 12px;
}
.catalog:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.catalog li {
	width: 323px;
	
	margin-bottom: 20px;
	float: left;
}
.catalog .in {
	min-height: 400px;
	padding: 20px 15px;
	position: relative;
}
.catalog li .link {
	display: block;
	color: #262626;
	text-decoration: none;
}
.catalog li .pic {
	margin-bottom: 19px;
	display: block;
	position: relative;
	border-radius: 3px;
}
.catalog li .pic img {
	width: 100%;
	display: block;
	border-radius: 3px;
}
.catalog li .pic:before, .catalog li .pic:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	opacity: 0;
	position: absolute;
	transition: opacity .3s ease;
}
.catalog li .pic:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 3px;
	background: rgba(0,0,0,.5);
	z-index: 20;
}
.catalog li .pic:after {
	width: 45px;
	height: 45px;
	margin-top: -16px;
	margin-left: -16px;
	top: 50%;
	left: 50%;
	background: url(../img/sprite.png) 0 -40px no-repeat;
	z-index: 22;
}
.catalog li:hover .pic:before, .catalog li:hover .pic:after {
	opacity: 1;
}
.catalog .name {
	display: block;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: .026em;
}
.catalog .place {
	padding-left: 14px;
	color: #808080;
	text-decoration: none;
	display: block;
	position: relative;
}
.catalog .place:before {
	width: 8px;
	height: 10px;
	content: ' ';
	display: block;
	overflow: hidden;
	clear: both;
	position: absolute;
	left: 0;
	top: 4px;
	background: url(../img/sprite.png) 0 0 no-repeat;
	background-size: 100px auto;
}
.catalog .date {
	color: #808080;
	cursor: default;
	position: absolute;
	left: 15px;
	bottom: 0;
}
.catalog .score {
	color: #262626;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	right: 15px;
	bottom: 0;
}
.catalog .score .icon {
	width: 18px;
	height: 16px;
	display: inline-block;
	background: url(../img/sprite.png) -65px -20px;
	background-size: 100px auto;
}
.catalog .score .icon-like {
	background-position: -35px -20px;
}
.catalog .score .icon-delete {
	width: 14px;
	height: 18px;
	background-position: -35px -45px;
}
/* ==========================================================================
   _CHECKIN
   ========================================================================== */
.checkin {
	width: 400px;
	margin: 0 auto;
}
.checkin .legend {
	margin-bottom: 40px;
	text-align: center;
}
.checkin .submit {
	margin-top: 40px;
	margin-bottom: 0;
	text-align: center;
}

.title {
	text-align: center;
}
/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h2 { orphans: 3; widows: 3; }
	h2, h2 { page-break-after: avoid; }
}