

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* 
   Fonts
	===================================== */
body {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 24px;
}
.h2 {
	font-family: 'Roboto Condensed', Arial, Tahoma, sans-serif;
	margin-bottom: 27px;
	font-weight: 300;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-condensed-webfont.eot');
  src: url('../fonts/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-condensed-webfont.woff') format('woff'), url('../fonts/roboto-condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/robotocondensed-light-webfont.eot');
  src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/robotocondensed-light-webfont.woff') format('woff'), url('../fonts/robotocondensed-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
.text-gray {
	color: #525252;
}
.text-gray-lighter {
	color: #8e8e8e;
}
.text-olive {
	color: #a7c02a;
}
.bg-white {
	background-color: #fff;
}

/* 
   Jumbotron-index
	===================================== */
.jumbotron-index {
	margin: 100px 0 46px 0;
	padding: 10px 0 0 0;
	background-color: #e8e8e8;
	position: relative;
}
.jumbotron-index:before {
	width: 100%;
	height: 25px;
	content: "\0020";
	display: block;
	position: absolute;
	top: -25px;
	left: 0;
	background: url('../img/jumbotron-border.png') 0 0 repeat-x;
}
.jumbotron-index:after {
	width: 100%;
	height: 25px;
	content: "\0020";
	display: block;
	clear: both;
	position: absolute;
	bottom: -25px;
	left: 0;
	background: url('../img/jumbotron-border.png') 0 -25px repeat-x;
}

/* 
   Block-video
	===================================== */
.block-video {
	padding-left: 20px;
}
.block-video .form {
	padding-bottom: 40px;
}
.block-video .form .btn {
	width: 100%;
}
.block-video .form .form-control {
	font-size: 14px;
	padding: 10px 12px;
}
.block-video .form .input-group-addon {
	padding: 10px 14px;
}

.block-video .form .btn-warning {
	font-size: 18px;
	padding: 8px 12px;
}
.block-video .form .box-btn {
	padding: 26px;
	margin: 0 0 24px 0;
}
.block-video .form .box-btn .btn-success {
	font-size: 18px;
	padding: 8px 12px;
}
.block-video .form .box-btn .input-group {
	margin-bottom: 12px;
}
.block-video .video {
	padding-left: 6px;
}

/* 
   Block-states
	===================================== */
.block-states .btn-group .btn {
	margin-right: 10px;
}
.block-states .line {
	margin-bottom: 10px;
	padding: 20px 0;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}
.block-states .line-headings {
	background-color: #e3e3e3;
}









