/*!
 * Project: Seventeen
 * File: Custom styles
 * Author: Sergiy Miroshnychenko
 */

/*====================================================================================*/
/* 01 INDEX
/*====================================================================================*/
.index {
	width: 100%;
	padding: 35px 0 20px;
	position: relative;
	background-color: #e8e8e8;
}
.index:before {
	width: 100%;
	height: 25px;
	content: "\0020";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../img/index.png') 50% 0 repeat-x;
}
.index:after {
	width: 100%;
	height: 25px;
	content: "\0020";
	display: block;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url('../img/index.png') 50% -25px repeat-x;
}
.index .query {
	padding-bottom: 40px;
	cursor: default;
}
.index .query .h2 {
	margin: 65px 0 25px 0;
	text-align: center;
}
.index .query .form {
	padding: 28px 25px 22px 25px;
	border-radius: 5px;
	margin: 0 0 26px 0;
	background: #fff;
}
.index .query .form .btn-success {
	width: 100%;
}
.index .query .form .btn-success .glyphicon {
	position: relative;
	left: -3px;
	top: 2px;
}
.index .query .form .input-group {
	margin-bottom: 12px;
}
.index .query .form .input-group-lg > .input-group-addon {
	height: 44px;
	padding: 10px 13px;
	border-color: #acacac;
	line-height: normal;
	background-color: #fff;
}
.index .query .form .input-group-lg > .form-control {
	height: auto;
	padding: 13px;
	border-color: #acacac;
	box-shadow: none;
	font-size: 14px;
	line-height: normal;
}
.index .query .recomendations {
	padding: 0 25px;
	margin: 0;
	display: block;
}
.index .query .recomendations .btn {
	width: 100%;
}
.index .query .recomendations .btn .glyphicon-thumbs-up:before {
	width: 20px;
	height: 20px;
	margin: -1px 0;
	position: relative;
	left: -3px;
	top: 1px;
	overflow: hidden;
	content: "";
	display: block;
	background: url('../img/recomendations.png') no-repeat 0 0;
}
.index .video iframe {
	width: 100%;
	height: 300px;
	padding: 0;
	box-sizing: content-box;
	border: none;
	margin: 0;
	display: block;
}
.index-text {
	padding: 23px 0;
	color: #3f3f3f;
	cursor: default;
}
.index-text .space {
	padding: 0 20px;
}
.index-text p {
	margin: 0;
}

/*====================================================================================*/
/* RESPONSIVE
/*====================================================================================*/
@media (min-width: 1270px) {
	.container { width: 1010px; }
}
@media (min-width: 1010px) and (max-width: 1270px) {
	.container { width: 1010px; }
}
@media (min-width: 992px) {
	.navbar .navbar-nav { margin-left: 37px; }
	.navbar .navbar-contacts, .navbar .navbar-nav { display: block; }
}
@media (min-width: 768px) {
	body { padding-top: 202px; }
	.index-text .space { padding: 0 10px; }
}
@media (min-width: 567px) {
	.index .video iframe { height: 394px; }
}