/*!
 * Project: Anna Rafeeva
 * File: Main styles
 */

/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-extralight.eot');
	src: url('../fonts/raleway-extralight.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-extralight.woff') format('woff'), url('../fonts/raleway-extralight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway-regular.eot');
	src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular.woff') format('woff'), url('../fonts/raleway-regular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Museo';
	src: url('../fonts/museocyrl-100.eot');
	src: url('../fonts/museocyrl-100.eot?#iefix') format('embedded-opentype'), url('../fonts/museocyrl-100.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Museo';
	src: url('../fonts/museocyrl-100italic.eot');
	src: url('../fonts/museocyrl-100italic.eot?#iefix') format('embedded-opentype'), url('../fonts/museocyrl-100italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
/* ==========================================================================
   _LAYOUT
   ========================================================================== */
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	font: 16px/22px Raleway, Helvetica, Arial, sans-serif;
	color: #6a6a6a;
	background: #f9f9f9;
}
body {
	width: 100%;
	min-width: 320px;
	height: 100%;
	background: #f9f9f9;
}
.container {
	min-height: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, .75);
	position: relative;
	left: 0;
	transition: left .3s;
	background: #fff;
}
.wrapper {
	width: 100%;
	max-width: 1680px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}
.content {
	padding: 0 20px;
}
.container:after, .wrapper:after, .content:after, .space:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
/* ==========================================================================
   _TEXT
   ========================================================================== */
p {
	margin: 0 0 22px;
}
ul, ol {
	margin: 0 0 22px;
}
a {
	color: #4acd8b;
	text-decoration: none;
	outline: none;
}
a:link { color: #4acd8b; }
a:visited { color: #c69eff !important; }
/* Remove visited from gallery links */
.posts .list a:visited {
	color: #fff !important;
}
a:hover, a:focus { text-decoration: underline; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	font-weight: normal;
}
h1, .h1 {
	margin-bottom: 14px;
	font: 24px/30px Raleway, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
h2, .h2 {
	margin-bottom: 14px;
	font: 20px/26px Raleway, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
h3, .h3 {
	margin-bottom: 14px;
	font: 20px/26px Raleway, Helvetica, Arial, sans-serif;
}
h4, .h4 {
	margin-bottom: 12px;
	font: 18px/24px Raleway, Helvetica, Arial, sans-serif;
}
h5, .h5 {
	margin-bottom: 10px;
	font: 16px/22px Raleway, Helvetica, Arial, sans-serif;
}
h6, .h6 {
	margin-bottom: 8px;
	font: 14px/20px Raleway, Helvetica, Arial, sans-serif;
}
h1 a, .h1 a, h2 a, .h2 a { color: #036; border-color: #bfccd9; }
h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover { border-color: transparent; }
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
input[type="text"] {
	padding: 13px 16px 14px;
	border-radius: 0;
	display: inline-block;
	outline: none;
	font: 16px Museo, Helvetica, Arial, sans-serif;
	border: 1px solid #dcddd6;
	/* box-shadow: inset 0 -1px 1px rgba(231, 232, 227, .9);*/
	box-shadow: none;
	-webkit-appearance: none;
}
textarea {
	min-height: 94px;
	padding: 13px 16px 14px;
	border-radius: 0;
	display: inline-block;
	outline: none;
	font: 16px Museo, Helvetica, Arial, sans-serif;
	border: 1px solid #dcddd6;
	/*box-shadow: inset 0 -1px 1px rgba(231, 232, 227, .9);*/
	box-shadow: none;
	resize: none;
	-webkit-appearance: none;
}
button, input[type="submit"] {
	padding: 12px;
	display: inline-block;
	border-radius: 0;
	outline: none;
	font: 18px Raleway, Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	background: #96e2c3;
	border: 1px solid transparent;
	transition: color .3s ease, background .3s ease, border-color .3s ease;
	-webkit-appearance: none;
}
button:hover, input[type="submit"]:hover, button:focus, input[type="submit"]:focus {
	background-color: #43ce89;
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
	height: 250px;
	padding: 50px 20px;
	display: block;
}
.header .logo {
	width: 171px;
	margin: 0 auto;
	display: block;
}
.header .logo a {
	display: block;
	outline: none;
}
.header .logo img {
	width: 100%;
	display: block;
}
.header .toggle-navigation {
	width: 72px;
	height: 59px;
	border: 20px solid transparent;
	display: block;
	outline: none;
	position: absolute;
	top: 23px;
	left: 17px;
	transition: opacity .3s ease;
}
.header .toggle-navigation:before {
	border-top: 1px solid #6a6a6a;
	border-bottom: 1px solid #6a6a6a;
	display: block;
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.header .toggle-navigation:after {
	height: 0;
	border-top: 1px solid #6a6a6a;
	overflow: hidden;
	display: block;
	content: ' ';
	position: absolute;
	top: 9px;
	right: 0;
	left: 0;
}
.header .toggle-contacts {
	width: 72px;
	border: 20px solid transparent;
	display: block;
	outline: none;
	position: absolute;
	top: 23px;
	right: 17px;
	transition: opacity .3s ease;
}
.header .toggle-contacts img {
	width: 100%;
	display: block;
}
.header .toggle-navigation:hover, .header .toggle-contacts:hover,
.header .toggle-navigation:focus, .header .toggle-contacts:focus {
	opacity: .75;
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
	padding: 60px 0 70px;
	cursor: default;
	background: #f9f9fa;
}
.footer:after, .footer .col:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.footer .col {
	width: 33.3334%;
	min-height: 181px;
	padding: 0 20px;
	border-left: 1px solid #dbdbdd;
	margin-bottom: 50px;
	float: left;
	text-align: center;
}
.footer .col:first-of-type { border-left: none; }
.footer .heading {
	margin: 0 0 16px;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
}
.footer .copyright {
	margin: 0;
	clear: both;
	display: block;
	font: italic 14px/27px Museo, Helvetica, Arial, sans-serif;
	text-align: center;
}
.footer .copyright a, .footer .copyright a:focus {
	outline: none;
}
.nav {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 18px;
	text-transform: uppercase;
}
.nav li {
	padding: 0 30px;
	margin: 0 0 5px;
}
.nav li:last-of-type {
	margin: 0;
}
.nav li a {
	padding: 6px;
	display: block;
	outline: none;
	color: #4acd8b;
	transition: color .3s ease;
}
.nav li.active a {
	color: #d7b5fc;
	cursor: default;
}
.nav li.active a:hover {
	text-decoration: none;
}
/* ==========================================================================
   _POSTS
   ========================================================================== */
.posts {
	margin: 0 -20px 60px;
}
.posts .list {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	overflow: hidden;
	-webkit-transition: 0s;
	transition: 0s;
	-webkit-transform: translate3d(0px, 0, 0);
	background: #f2f2f2;
}
.posts .list:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.posts .list > li {
	width: 25%;
	height: 25vw;
	float: left;
	overflow: hidden;
	position: relative;
	background: #f2f2f2;
}
.posts-carousel .h4 {
	margin-bottom: 40px;
	text-align: center;
	text-transform: uppercase;
}
.posts-carousel .bx-wrapper {
	position: relative;
}
.posts-carousel .bx-viewport {
	z-index: 1;
}
.posts-carousel .bx-next,
.posts-carousel .bx-prev {
	width: 11.4%;
	display: block;
	overflow: hidden;
	text-indent: -1000px;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 10;
}
.posts-carousel .bx-next {
	right: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.posts-carousel .bx-prev {
	left: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}
.posts-carousel .bx-next:before, .posts-carousel .bx-prev:before {
	width: 37px;
	height: 73px;
	margin: -37px 0 0 0;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 40px;
	background: url('../img/prevnext.png') no-repeat 0 0;
	background-size: 74px auto;
}
.posts-carousel .bx-next:before {
	left: auto;
	right: 40px;
	background-position: -37px 0;
}
.posts-carousel .list > li {
	width: 360px;
	min-width: 240px;
	max-width: 360px;
	height: 360px;
	min-height: 240px;
	max-height: 360px;
}
.posts .list > li > a {
	width: 100.4%;
	height: 100.4%;
	padding: 38% 20% 0;
	display: table;
	outline: none;
	position: relative;
	color: #fff;
	text-decoration: none !important;
	background: #fff;
}
.posts .list > li > a:hover {
	text-decoration: none;
}
.posts .list > li.blank:nth-child(3n-2) { background: #d1d3d4; }
.posts .list > li.blank:nth-child(3n-1) { background: #e6e7e8; }
.posts .list .img {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: opacity .3s ease;
	-webkit-backface-visibility: hidden;
}
.posts .list > li > a:hover img, .posts .list > li > a:focus img {
	opacity: .75;
}
.posts .list .area {
	width: 100%;
	text-align: center;
	display: table-cell;
	letter-spacing: .05em;
	vertical-align: top;
	position: relative;
	z-index: 5;
	/*text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);*/
}
.posts .list .name {
	display: block;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.275vw;
	line-height: normal;
}
.posts .list .date {
	margin: 1.2vw 0 .15vw;
	display: block;
	font: italic 1vw Museo, Helvetica, Arial, sans-serif;
	color: #fff;
}
.posts-carousel .list .name {
	font-size: 18px;
	line-height: 24px;
}
.posts-carousel .list .date {
	margin: 17px 0 0 0;
	font-size: 13px;
	line-height: normal;
}
/* ==========================================================================
   _GALLERY
   ========================================================================== */
.gallery {
	margin: 0 -20px 60px;
}
.gallery .list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.gallery .list:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.gallery .list > li {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.gallery .list .img {
	width: 100%;
	position: relative;
	display: block;
	clear: left;
}
.gallery .list .img img {
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
}
.gallery .list .img.img-v {
	width: 50%;
	float: left;
	clear: none;
}
.gallery .list a.img:before {
	width: 60px;
	height: 60px;
	display: block;
	overflow: hidden;
	content: ' ';
	position: absolute;
	right: 28px;
	bottom: 23px;
	z-index: 2;
	background: url('../img/zoom.svg') no-repeat 0 0;
	background-size: 100% auto;
}
/* One column photos for devices in portrait mode */
@media (orientation: portrait) {
	.gallery .list .img.img-v {
		width: 100%;
		float: none;
		clear: none;
	}
}
/* ==========================================================================
   _SPACE
   ========================================================================== */
.date {
	font: italic 18px Museo, Helvetica, Arial, sans-serif;
	color: #bcbdbf;
}
.space {
	width: 48%;
	margin: -7px auto 40px;
	color: #bcbdbf;
}
.space .h3 {
	margin-bottom: 4px;
	color: #696a6a;
	text-align: center;
}
.space .date {
	margin-bottom: 30px;
	line-height: 22px;
	text-align: center;
}
.space p:last-of-type {
	margin-bottom: 0;
	color: #000;
}
.small {
	padding: 3px 0 1px;
	margin-bottom: 60px;
}
.small img {
	min-width: 26px;
	height: 39px;
	margin: 0 auto;
	display: block;
}
/* ==========================================================================
   _NAVIGATION & CONTACTS
   ========================================================================== */
.navigation {
	width: 25%;
	padding: 60px 20px 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: -25%;
	z-index: 100;
	text-align: center;
	transition: left .3s;
}
.contacts {
	width: 25%;
	padding: 60px 20px 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: -25%;
	z-index: 100;
	text-align: center;
	transition: right .3s;
}
.navigation .nav li, .contacts .nav li { padding: 0; margin-bottom: 17px; text-transform: uppercase; white-space: nowrap; }
html.navigation-open .container { left: 25%; }
html.contacts-open .container { left: -25%; }
html.navigation-open .navigation { left: 0; }
html.contacts-open .contacts { right: 0; }
html.navigation-open, html.contacts-open { overflow-x: hidden; }
html.navigation-open body, html.contacts-open body { height: auto; overflow-y: auto; overflow-x: hidden; }
/* ==========================================================================
   _ABOUT
   ========================================================================== */
.about {
	width: 46%;
	margin: 0 auto 62px;
}
.about .img {
	width: 100%;
	margin-bottom: 38px;
	display: block;
}
.about .text {
	margin-bottom: 0;
}
/* ==========================================================================
   _CONTACT-ME
   ========================================================================== */
.contact-me {
	width: 50%;
	margin: -7px auto 62px;
	text-align: center;
}
.contact-me .h2 {
	margin-bottom: 22px;
}
.contact-me .details {
	margin: 0 0 38px;
	padding: 0;
	list-style: none;
	line-height: 30px;
}
.contact-me .details .tel {
	color: #231f20;
	cursor: default;
}
.contact-me .details .tel:hover {
	text-decoration: none;
}
.contact-me .details .tel:focus {
	color: #4acd8b;
}
.contact-me .callback {
	width: 100%;
}
/* ==========================================================================
   _CALLBACK
   ========================================================================== */
.callback {
	width: 64%;
	margin: 0 auto;
}
.callback .legend {
	margin-bottom: 38px;
}
.callback .line {
	margin-bottom: 9px;
}
.callback .line input[type="text"] {
	width: 100%;
	display: block;
}
.callback .line textarea {
	width: 100%;
	min-height: 94px;
	display: block;
}
.callback .submit input[type="submit"] {
	width: 100%;
	display: block;
}
/* ==========================================================================
   _CALENDAR
   ========================================================================== */
.calendar {
	width: 100%;
	margin: -10px 0 0 0;
	font: 16px Museo, Helvetica, Arial, sans-serif;
}
.calendar .month {
	margin-bottom: 32px;
	padding: 23px 0 14px;
	text-align: center;
	font-size: 18px;
}
.calendar .month span {
	position: relative;
}
.calendar .month a {
	width: 46px;
	height: 46px;
	display: block;
	outline: none;
	position: absolute;
	top: -12px;
	background: #96e2c3;
	border-radius: 50%;
	transition: background .3s ease;
}
.calendar .month a.prev {
	left: -82px;
}
.calendar .month a.prev:before, .calendar .month a.prev:after { margin-left: -3px; }
.calendar .month a.next {
	right: -82px;
}
.calendar .month a:hover {
	background-color: #43ce89;
}
.calendar .month a:before, .calendar .month a:after {
	width: 1px;
	height: 13px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 12px;
	left: 50%;
	background: #fff;
	border-radius: 1px;
	transition: background .3s ease;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.calendar .month a:after {
	top: 21px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.calendar .month a.next:before {
	top: 21px;
}
.calendar .month a.next:after {
	top: 12px;
}
.calendar .table {
	width: 100%;
	border-collapse: collapse;
	display: table;
	margin-bottom: 60px;
}
.calendar .table .tr {
	display: table-row;
}
.calendar .table .th, .calendar .table .td {
	width: 14.284%;
	display: table-cell;
	vertical-align: top;
}
.calendar .table .th { color: #757979; }
.calendar .table .td {
	height: 94px;
	padding: 0 16px 4px;
	border-right: 1px solid #dfe0d9;
	color: #231f20;
}
.calendar .table .td .day, .calendar .table .td .city { display: none; }
.calendar .table p.title {
	padding: 7px 16px;
	margin: 46px 0 10px 0;
	display: block;
}
.calendar .table .days p {
	min-height: 0;
	padding: 4px 16px 4px;
	border-right: 1px solid #dfe0d9;
	margin: 0;
}
.calendar .table .tr.days .th:last-child p.title .title, .calendar .table .tr .td:last-child { border-right: none; }
.calendar .table .cities .th p.title {
	min-height: 32px;
	white-space: nowrap;
}
.calendar .table .cities .th .purple { background: #f2e7ff; }
.calendar .table .cities .th .green { background: #e6f9f1; }
.calendar .table .cities .th .yellow { background: #f6ffd9; }
.calendar .table .cities .th .blue { background: #e2ffff; }
.calendar .table .td .title {
	min-height: 0;
	padding: 0;
	margin: 0;
}
.calendar .table .list {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	line-height: 16px;
	color: #757979;
}
.calendar .callback .legend {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	text-align: center;
}
/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
/* ==========================================================================
   _RESPONSIVE < 1024px
   ========================================================================== */
@media (max-width: 1024px) {
	.posts .list > li > a:hover img, .posts .list > li > a:focus img { opacity: 1; }
}
@media (max-width: 960px) {
	.posts .list > li { width: 33.3334%; height: 33.3334vw; }
	.posts .list > li:nth-child(10).blank, .posts .list > li:nth-child(11).blank, .posts .list > li:nth-child(12).blank { display: none; }
	.posts .list .name { font-size: 1.7vw; }
	.posts .list .date { margin: 1.6vw 0 .2vw; font-size: 1.3vw; }
	.posts-carousel .list > li { width: 42.4vw !important; max-width: none; height: 42.4vw !important; max-height: none; }
	.posts-carousel .list .name { font-size: 2.25vw; line-height: 3vw; }
	.posts-carousel .list .date { margin: 2vw 0 0; font-size: 1.5vw; line-height: 1.5vw; }
	.posts-carousel .bx-prev:before { left: 30px; }
	.posts-carousel .bx-next:before { right: 30px; }
	.space { width: 65%; }
	html.navigation-open .container { left: 33.3334%; }
	html.contacts-open .container { left: -33.3334%; }
	.navigation { width: 33.3334%; left: -33.3334%; }
	.contacts { width: 33.3334%; right: -33.3334%; }
	.about { width: 60%; }
	.contact-me { width: 65%; }
	.gallery .list a.img:before { width: 50px; height: 50px; right: 25px; bottom: 19px; }
	.footer .col { padding: 0 10px; }
	.footer .nav li { padding: 0; }
	.small { padding: 1px; margin-bottom: 60px; }
	.small img { width: 4%; height: auto; }
	.contact-me { margin-bottom: 55px; }
	.contact-me .details { margin-top: -5px; margin-bottom: 47px; }
	.callback .legend { margin-bottom: 36px; }
}
@media (min-width: 767px) {
	.calendar-fixed { padding-top: 84px; }
	.calendar-fixed .month { position: fixed; top: 0; left: 0; right: 0; background: rgba(255, 255, 255, .9); box-shadow: 0 3px 1px rgba(0, 0, 0, .2); z-index: 50; }
	.calendar-fixed .month span { display: block; }
	.calendar-fixed .month a.prev { width: 40px; height: 40px; margin-top: 2px; left: 17px; }
	.calendar-fixed .month a.next { width: 40px; height: 40px; margin-top: 2px; right: 17px; }
	.calendar-fixed .month a.next:after, .calendar-fixed .month a.prev:before { top: 9px; }
	.calendar-fixed .month a.next:before, .calendar-fixed .month a.prev:after { top: 18px; }
}
@media (max-width: 768px) {
	.posts-carousel .bx-next:before, .posts-carousel .bx-prev:before { width: 18px; height: 36px; margin-top: -18px; background-size: 36px auto; }
	.posts-carousel .bx-prev:before { left: 20px; }
	.posts-carousel .bx-next:before { right: 20px; background-position: -18px 0; }
	.calendar { font-size: 18px; line-height: 28px; }
	.calendar .table { display: block; }
	.calendar .table .tr { display: block; }
	.calendar .table .days, .calendar .table .cities { display: none; }
	.calendar .table .td { width: 100%; height: auto; padding: 0 24px; margin-bottom: 2px; display: block; position: relative; z-index: 1; }
	.calendar .table .td p.title { padding: 11px 24px; margin: 0 -24px; }
	.calendar .table .td .day, .calendar .table .td .city { display: inline; }
	.calendar .table .td .city { display: block; position: absolute; top: 11px; right: 24px; }
	.calendar .table .td .purple { background: #f2e7ff; }
	.calendar .table .td .green { background: #e6f9f1; }
	.calendar .table .td .yellow { background: #f6ffd9; }
	.calendar .table .td .blue { background: #e2ffff; }
	.calendar .table .list { margin: 20px 0 30px; overflow: hidden; }
	.calendar .table .list li { margin-bottom: 12px; }
}
@media (max-width: 640px) {
	.header { height: 173px; padding: 38px 20px; }
	.header .logo { width: 114px; }
	.header .toggle-navigation { width: 61px; height: 53px; top: 9px; left: 5px; }
	.header .toggle-navigation:after { top: 6px; }
	.header .toggle-contacts { width: 61px; top: 9px; right: 5px; }
	.posts, .gallery { margin-bottom: 45px; }
	.posts .list > li { width: 50%; height: 50vw; }
	.posts .list > li:nth-child(9).blank { display: none; }
	.posts .list .name { font-size: 2.55vw; }
	.posts .list .date { margin: 2.4vw 0 .3vw; font-size: 1.95vw; }
	.posts-carousel .h4 { margin-bottom: 20px; }
	.posts-carousel .list .name { font-size: 13px !important; line-height: 20px !important; }
	.posts-carousel .list .date { margin: 7px 0 0 !important; font-size: 9px !important; line-height: 12px !important; }
	.space { width: 90%; margin-bottom: 30px; }
	.space .h3 { font-size: 18px; line-height: 22px; }
	.space .date { margin-bottom: 22px; font-size: 14px; line-height: normal; }
	.footer { padding: 40px 20px; }
	.footer .col { width: 100%; min-height: 0; border-left: none; margin-bottom: 36px; float: none; }
	.footer .copyright { width: 260px; margin: -4px auto 0; }
	html.navigation-open .container { left: 280px; }
	html.contacts-open .container { left: -280px; }
	.navigation { width: 280px; left: -280px; }
	.contacts { width: 280px; right: -280px; }
	.about { width: 71%; }
	.contact-me { width: 90%; }
	.callback { width: 90%; }
	.calendar .callback .legend { line-height: 22px; margin-bottom: 25px; }
	.gallery .list a.img:before { width: 30px; height: 30px; right: 10px; bottom: 10px; }
	.small { margin-bottom: 42px; }
}
@media (max-width: 480px) {
	.posts .list .name { font-size: 5.25vw; }
	.posts .list .date { margin: 5vw 0 .5vw; font-size: 3.8vw; }
	.space { width: 100%; }
	html.navigation-open .container { left: 250px; }
	html.contacts-open .container { left: -250px; }
	.navigation { width: 250px; left: -250px; }
	.contacts { width: 250px; right: -250px; }
	.footer .nav li { padding: 0; }
	.about { width: 84%; }
	.contact-me { width: 100%; margin-bottom: 50px; }
	.contact-me .callback { padding: 0 5px; }
	.contact-me .callback .legend { width: 79%; padding: 0; margin: 0 auto 24px; text-align: left; }
	.contact-me .details { margin-top: 24px; margin-bottom: 30px; line-height: 26px; }
	.callback { width: 100%; padding: 0 25px; }
	.callback .line textarea { height: 140px; }
	.gallery .list a.img:before { width: 25px; height: 25px; }
}
@media (max-width: 360px) {
	.contact-me { margin-bottom: 45px; }
	.contact-me .callback .legend { width: 100%; }
}