appdirs==1.4.0
autocurry==0.1
coverage==3.7.1
crcmod==1.7
distribute==0.7.3
six
html5lib==0.999
lxml==3.4.1
mock==1.0.1
pillow==2.7.0
cefpython3
pyinstaller==2.1
pypdf2==1.24
reportlab==3.1.44
xhtml2pdf
setuptools
boto
requests
