/*!
 * Project: Legal-Service
 * File: Main styles
 * Author: Sergiy Miroshnychenko
 */

/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5UbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSgcuEIXEaFWBWXA4NoGd_Oo.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzAcuEIXEaFWBWXA4NoGd_Oo.woff) format('woff');
}
/* ==========================================================================
   _HTML
   ========================================================================== */
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	font: 14px/22px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #10161f;
}
body {
	max-width: 1600px;
	min-width: 320px;
	min-height: 100%;
	margin: 0 auto;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
/* ==========================================================================
   _LAYOUT
   ========================================================================== */
.wrapper {
	max-width: 1220px;
	margin: 0 auto;
}
.wrapper:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
/* ==========================================================================
   _ORDER (button-order)
   ========================================================================== */
.order {
	width: 127px;
	height: 32px;
	margin: 0 auto;
	padding-top: 5px;
	color: #fff;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background: #0d8d9c;
	transition: background .3s ease;
}
.order:hover {
	background: #24bfd9;
}
/* ==========================================================================
   _TRIANGLE (scroll to bottom)
   ========================================================================== */
.triangle {
	width: 37px;
	height: 37px;
	margin: 0 auto;
	display: block;
	position: relative;
	border-top: 2px solid #098e9f;
	transition: border-color .3s ease;
}
.triangle:before, .triangle:after {
	width: 2px;
	height: 24px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	border-radius: 1px;
	background: #098e9f;
	transition: background .3s ease;
}
.triangle:before {
	top: 0;
	left: 9px;
	-webkit-transform: skew(36deg);
	-moz-transform: skew(36deg);
	-o-transform: skew(36deg);
}
.triangle:after {
	top: 0;
	right: 9px;
	-webkit-transform: skew(-36deg);
	-moz-transform: skew(-36deg);
	-o-transform: skew(-36deg);
}
.triangle:hover {
	border-color: #24bfd9;
}
.triangle:hover:before, .triangle:hover:after {
	background: #24bfd9;
}
/* ==========================================================================
   _REQUEST (Sending form)
   ========================================================================== */
.request {
	width: 50%;
	margin: 0 auto 57px;
	padding: 22px 26px;
	background: #10171f;
}
.request .line {
	width: 33.3%;
	margin: 0 0 7px 0;
	padding: 0 4px;
	float: left;
}
.request input[type="text"] {
	width: 100%;
	height: 34px;
	padding: 0 8px;
	display: inline-block;
	color: #7a8994;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: .13em;
	outline: none;
	background: transparent;
	border: 3px solid #202b3c;
}
.request input[type="submit"] {
	width: 100%;
	height: 32px;
	padding-left: 11px;
	display: inline-block;
	color: #fff;
	font-size: 11px;
	letter-spacing: .07em;
	outline: none;
	text-transform: uppercase;
	background: #d1553f;
	border-radius: none;
	border: none;
	transition: background .3s ease;
}
.request input[type="submit"]:hover {
	background: #fb654b;
}
.request .legend {
	margin: 0;
	padding-left: 42px;
	color: #3c4758;
	font-size: 12px;
	clear: both;
	letter-spacing: .075em;
	position: relative;
}
.request .legend:before {
	width: 16px;
	height: 20px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 19px;
	background: url(../img/sprite.png) 0 0 no-repeat;
	background-size: 80px auto;
}
/* ==========================================================================
   _TEXT
   ========================================================================== */
p {
	margin: 0 0 22px;
}
ul, ol {
	margin: 0 0 22px 0;
}
a {
	color: #0d8d9c;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 22px;
}
h3, .h3 {
	font-size: 18px;
	line-height: 30px;
}

/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
	width: 100%;
	height: 100px;
	position: relative;
	z-index: 100;
	cursor: default;
}
.header .wrapper {
	position: relative;
}
.header .logo {
	width: 83px;
	height: 56px;
	margin: 0;
	position: absolute;
	top: 10px;
	left: 54px;
}
.header .logo img {
	width: 83px;
	height: 56px;
	display: block;
}
.header .slogan {
	margin: 0;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	color: #15cde3;
	position: relative;
	top: 28px;
	text-transform: uppercase;
	letter-spacing: .05em;
}
.header .callback {
	color: #fff;
	font-weight: 700;
	position: absolute;
	top: 7px;
	right: 54px;
}
.header .callback .number {
	margin: 0 0 5px;
	display: block;
	color: #fff;
	text-decoration: none;
	letter-spacing: .078em;
	transition: color .3s ease;
}
.header .callback .number:hover {
	color: #0d8d9c;
}
.header .callback .order {
	width: 138px;
	padding: 2px;
	display: block;
	font-size: 10px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .07em;
	background: transparent;
	border: 3px solid #0d8d9c;
	transition: background .3s ease;
}
.header .callback .order:hover {
	background: #0d8d9c;
}
/* ==========================================================================
   _INDEX
   ========================================================================== */
.index {
	min-height: 806px;
	margin-top: -100px;
	padding: 150px 0 20px 0;
	position: relative;
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.index:before {
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba( 27, 34, 45, .84);
}
.index .wrapper {
	position: relative;
	z-index: 10;
}
.index .title {
	width: 70%;
	margin: 0 auto 72px;
	font-size: 19px;
	line-height: 34px;
	text-align: center;
	letter-spacing: .08em;
	text-transform: uppercase;
}
.index .list {
	margin: 0 0 38px 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.index .list li {
	width: 33%;
	padding: 0 27px;
	font-size: 13px;
	font-weight: 600;
	vertical-align: middle;
	display: inline-block;
	letter-spacing: .08em;
}
.index .list li .text {
	min-height: 93px;
	display: block;
	padding: 17px 52px;
	border: 3px solid #0d8d9c;
}
.index .attent {
	margin: 0 0 10px;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .09em;
}
/* ==========================================================================
   _HELP
   ========================================================================== */
.service {
	padding: 13px 0 54px 0;
	background: url(../img/service.jpg) 0 0 no-repeat;
	background-size: cover; 
	background-position: 50% 50%;
}
.service .h3 {
	width: 50%;
	margin: 0 auto 76px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	letter-spacing: .04em;
}
.service .h3:before, .service .h3:after {
	height: 4px;
	margin-top: -2px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 50%;
	left: 0;
	right: 50%;
	background: #0d8d9c;
}
.service .h3:before {
	margin-right: 100px;
}
.service .h3:after {
	margin-left: 100px;
	right: 0;
	left: 50%;
}
.service .info {
	margin: 0 0 26px 0;
}
.service .info:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.service .info .item {
	width: 33.3%;
	margin: 0;
	padding: 0 30px;
	float: left;
}
.service .info .h {
	min-height: 56px;
	margin-bottom: 30px;
	padding-bottom: 17px;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	letter-spacing: .046em;
}
.service .info .h:after {
	height: 4px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 50%;
	background: #192028;
}
.service .info .list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}
.service .info .list li {
	margin-bottom: 24px;
	padding-left: 30px;
	position: relative;
	letter-spacing: .048em;
}
.service .info .list li:before {
	width: 20px;
	height: 2px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 10px;
	left: 0;
	background: #1c232b;
}
.service .attention {
	width: 90%;
	margin: 0 auto;
	letter-spacing: .05em;
	line-height: 28px;
	text-transform: uppercase;
}
.service .process {
	margin: 0;
	padding: 0;
	list-style: none;
}
.service .process:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.service .process li {
	width: 25%;
	margin-bottom: 90px;
	padding: 0 20px;
	float: left;
	position: relative;
}
.service .process li:nth-child(4n+1) {
	clear: left;
}
.service .process li:before, .service .process li:after {
	width: 4px;
	height: 27px;
	border-radius: 1px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	background: #86c6cd;
	transition: background-color .3s ease;
}
.service .process li:before {
	top: 20px;
	right: 10%;
	-webkit-transform: rotate(138deg);
	-moz-transform: rotate(138deg);
	-ms-transform: rotate(138deg);
	transform: rotate(138deg);
}
.service .process li:after {
	top: 39px;
	right: 10%;
	-webkit-transform: rotate(-38deg);
	-moz-transform: rotate(-38deg);
	-ms-transform: rotate(-38deg);
	transform: rotate(38deg);
}
.service .process li:nth-child(4):before, .service .process li:nth-child(4):after {
	bottom: -50%;
	top: auto;
	left: 130px;
	right: auto;
}
.service .process li:nth-child(4):after {
	left: 146px;
}
.service .process li:nth-child(8):before, .service .process li:nth-child(8):after {
	display: none;
}
.service .process li:nth-child(1n+5):before{
	-webkit-transform: rotate(38deg);
	-moz-transform: rotate(38deg);
	-ms-transform: rotate(38deg);
	transform: rotate(38deg);
}
.service .process li:nth-child(1n+5):after {
	-webkit-transform: rotate(-38deg);
	-moz-transform: rotate(-38deg);
	-ms-transform: rotate(-38deg);
	transform: rotate(-38deg);
}
.service .process .icon {
	width: 65px;
	height: 65px;
	margin: 0 auto 10px;
	display: block;
}
/* ==========================================================================
   _ISSUE
   ========================================================================== */
.issue {
	padding: 55px 0 72px 0;
	position: relative;
	color: #fff;
	background: url(../img/issue.jpg) 50% 50% no-repeat;
	background-size: cover;
}
.issue:before {
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba( 15, 22, 31, .92);
}
.issue .wrapper {
	position: relative;
	z-index: 20;
}
.issue .h3 {
	width: 50%;
	margin: 0 auto 152px;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	letter-spacing: .04em;
}
.issue .h3:before, .issue .h3:after {
	height: 4px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 10px;
	left: 0;
	right: 50%;
	background: #0d8d9c;
}
.issue .h3:before {
	margin-right: 130px;
}
.issue .h3:after {
	margin-left: 130px;
	right: 0;
	left: 50%;
}
.issue .info {
	margin-bottom: 85px;
}
.issue .info:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.issue .item {
	width: 64%;
	float: left;
	padding-top: 16px;
	padding-left: 25px;
}
.issue .item:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.issue .item .line {
	width: 50%;
	float: left;
	margin-bottom: 52px;
	padding-left: 24px;
	padding-right: 36px;
	position: relative;
	letter-spacing: .05em;
}
.issue .item .line:nth-child(2n+1) {
	clear: left;
}
.issue .item .line:before {
	width: 4px;
	height: 57px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: #00ffff;
}
.issue .request {
	width: 34%;
	height: 100%;
	margin: 0;
	padding: 20px 30px 40px;
	float: left;
}
.issue .request .h {
	margin-bottom: 54px;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .077em;
}
.issue .request .line {
	width: 100%;
	margin-bottom: 18px;
	float: none;
}
.issue .request .line input[type="submit"] {
	font-size: 11px;
}
.issue .request .legend {
	margin-top: 30px;
	padding-left: 34px;
	line-height: 14px;
}
.issue .request .legend:before {
	left: 10px;
}
/* ==========================================================================
   _OPTIONS
   ========================================================================== */
.options {
	padding-top: 38px;
	padding-bottom: 90px;
	position: relative;
	color: #fff;
	background: url(../img/options.jpg) 50% 50% no-repeat;
	background-size: cover;
}
.options:before {
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba( 17, 25, 35, .92);
}
.options .wrapper {
	position: relative;
	z-index: 20;
}
.options .h3 {
	width: 50%;
	margin: 0 auto 120px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}
.options .h3:before, .options .h3:after {
	height: 4px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 10px;
	left: 0;
	right: 50%;
	background: #0d8d9c;
}
.options .h3:before {
	margin-right: 130px;
}
.options .h3:after {
	right: 0;
	left: 50%;
	margin-left: 130px;
}
.options .info {
	margin: 0 0 20px;
	padding: 0;
}
.options .info:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.options .item {
	width: 50%;
	padding: 0 50px;
	float: left;
}
.options .title {
	margin: 0 0 74px 0;
	padding-left: 24px;
	font-size: 18px;
	letter-spacing: .05em;
}
.options .line {
	width: 100%;
	margin: 0 0 55px;
	padding: 14px 22px 25px;
	color: #7d8ea0;
	font-size: 11px;
	background: rgba( 20, 26, 34, .62)
}
.options .line .h {
	margin: 0 0 25px 0;
	padding-left: 54px;
	position: relative;
	color: #fff;
	font-size: 14px;
	letter-spacing: .05em;
}
.options .line .h:before {
	width: 32px;
	height: 32px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: -5px;
	left: 0;
	background: url(../img/sprite.png) 0 -30px no-repeat;
	background-size: 80px auto;
}
.options .line .h-icon-note:before {
	background-position: -45px -30px;
}
.options .line .h-icon-doc:before {
	background-position: 0 -75px;
}
.options .line .h-icon-case:before {
	background-position: -45px -75px;
}
/* ==========================================================================
   _FEATURES
   ========================================================================== */
.features {
	min-height: 400px;
	padding: 30px 0;
	background: #edeff0;
}
.features .h3 {
	margin: 0 0 58px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05em;
}
.features .list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.features .list li {
	width: 27%;
	display: inline-block;
	padding: 0 34px;
	vertical-align: top;
	font-weight: bold;
	position: relative;
}
.features .list li:after {
	width: 170px;
	height: 2px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 44px;
	right: -89px;
	background: #7f7f7f;
}
.features .list li:nth-child(3):after {
	display: none;
}
.features .list .pic {
	width: 91px;
	height: 91px;
	margin: 0 auto 30px;
	padding: 15px;
	display: block;
	background-color: #fff;
	border: 3px solid #777;
	border-radius: 50%;
}
.features .list .pic img {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
}
.features .name {
	letter-spacing: .07em;
}
/* ==========================================================================
   _SEND
   ========================================================================== */
.send {
	min-height: 400px;
	padding: 46px 0;
	position: relative;
	background: url(../img/send.jpg) 50% 50% no-repeat;
	background-size: cover;
}
.send:before {
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba( 18, 25, 36, .97);
}
.send .wrapper {
	position: relative;
	z-index: 20;
}
.send .h3 {
	width: 60%;
	margin: 0 auto 100px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.send .request input[type="submit"] {
	background-color: #0d8d9c;
}
.send .request input[type="submit"]:hover {
	background: #24bfd9;
}
/* ==========================================================================
   _RESPONSIVE
   ========================================================================== */
.price {
	padding-top: 46px;
	padding-bottom: 80px;
}
.price .h3 {
	margin: 0 0 68px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .05em;
}
.price .list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.price .list:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.price .list li {
	width: 25%;
	min-height: 270px;
	padding: 0 20px 50px;
	position: relative;
	float: left;
	text-align: center;
}
.price .list li img {
	width: 95px;
	height: 95px;
	margin: 0 auto 12px;
	display: block;
	border-radius: 50%;
	border: 3px solid #e4e3e3;
}
.price .list li .h {
	margin: 0;
	display: block;
	font-weight: 600;
}
.price .list li .time {
	color: #c5c5c5;
	font-size: 13px;
}
.price .list .order {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 12px;
}
/* ==========================================================================
   _REVIEWS
   ========================================================================== */
.reviews {
	padding: 34px 0;
	position: relative;
	background: url(../img/reviews.jpg) 50% 50% repeat;
	background-size: cover;
}
.reviews:before {
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba( 16, 23, 31, .62);
}
.reviews .wrapper {
	position: relative;
	z-index: 20;
}
.reviews .h3 {
	margin-bottom: 106px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.reviews .list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.reviews .list:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.reviews .list li {
	width: 50%;
	margin-bottom: 82px;
	padding: 0 50px;
	float: left;
}
.reviews .list li:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.reviews .list .photo {
	width: 98px;
	height: 98px;
	margin: 4px 44px 30px 0;
	float: left;
	display: block;
	border-radius: 50%;
}
.reviews .list .text {
	font-size: 12px;
	display: block;
	color: #93a8bc;
	letter-spacing: .08em;
}
/* ==========================================================================
   _QUESTION
   ========================================================================== */
.question {
	padding: 38px 0;
	background: #edeff0;
}
.question .text {
	width: 320px;
	margin: 0 auto;
	text-align: center;
}
.question .text .h3 {
	margin: 0 0 48px;
	text-transform: uppercase;
	letter-spacing: .05em;
}
.question .text .h4 {
	margin: 0 0 36px;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: .03em;
}
.question .text .note {
	color: #676a6e;
}
.question .link {
	display: block;
	color: #333232;
	text-decoration: none;
}
.question .order {
	width: 100%;
	background: #d1553f;
}
.question .order:hover {
	background: #fb654b;
}
.question .order {
	height: 40px;
	padding-top: 10px;
	letter-spacing: .2em;
	font-size: 10px;
}
/* ==========================================================================
   _MAP
   ========================================================================== */
.map {
	height: 590px;
	background: url(../img/map.jpg) 50% 50% no-repeat;
	background-size: cover;
}
.map .wrapper {
	position: relative;
}
.map .info {
	width: 34%;
	min-height: 215px;
	padding: 13px 20px;
	position: absolute;
	top: 36px;
	left: 55px;
	background: #fff;
}
.map .info .h3 {
	margin: 0 0 18px;
	letter-spacing: .02em;
}
.map .info dl {
	margin: 0 0 0 7px;
}
.map .info .line {
	margin-bottom: 12px;
}
.map .info .line:last-of-type {
	margin-bottom: 0; 
}
.map .info dt, .map .info dd {
	display: inline-block;
}
.map .info dt {
	font-weight: bold;
}
.map .info dd {
	margin-left: 2px;
}
.map .info .line .link {
	color: #7b7777;
}
.map .info .line .link-tel {
	text-decoration: none;
}
/* ==========================================================================
   _RESPONSIVE
   ========================================================================== */
@media (max-width: 1279px) {
}
@media (max-width: 1023px) {
	.wrapper { width: 100%; }
	.header .logo { left: 10px; }
	.header .callback { right: 10px; }
	.request { width: 75%; }
	.reviews .list { padding: 0; }
	.reviews .list li { width: 75%; float: none; margin: 0 auto 30px; padding: 0; }
	.issue .item { width: 100%; margin-bottom: 30px; float: none; }
	.issue .request { width: 50%; margin: 0 auto; float: none; }
	.features .list li { padding: 0 10px; }
	.features .list li:after { width: 100px; right: -50px; }
	.service .info .item { width: 50%; margin-bottom: 30px; }
	.service .process li:nth-child(4):before, .service .process li:nth-child(4):after { left: 90px; }
	.service .process li:nth-child(4):after { left: 106px; }
	.options .item { padding: 0 20px; }
	.send .h3 { width: 100%; }
}
@media (max-width: 767px) {
	.header .slogan { width: 50%; margin: 0 auto; }
	.index .title { width: 100%; }
	.index .list li { width: 75%; margin-bottom: 30px; }
	.request .line { width: 100%; margin-bottom: 20px; float: none; }
	.features .list li { width: 100%; padding-bottom: 60px; }
	.features .list li:after { width: 2px; height: 30px; right: 50%; left: auto; bottom: 15px; top: auto; }
	.price .list li { width: 50%; }
	.issue .h3 { width: 75%; margin-bottom: 50px; }
	.issue .request { width: 75%; }
	.options .h3 { width: 75%; }
	.options .item { width: 75%; margin: 0 auto; padding: 0; float: none; }
	.service .h3 { width: 75%;}
	.service .info .item { width: 75%; margin: 0 auto 30px; padding: 0; float: none; }
	.service .process li { width: 50%; padding: 0 30px; }
	.service .process li:nth-child(4n+1) { clear: none; }
	.service .process li:nth-child(2n+1) { clear: left; }
	.map .info { width: 80%; min-height: 150px; top: 10px; left: 10px; }
	.map .info .h3 { margin-bottom: 4px; }
	.map .info .line { margin-bottom: 0; }
}
@media (max-width: 575px) {
	.wrapper { padding: 0 20px; }
	.header .slogan { width: 100%; top: 90px; }
	.index .list li { width: 100%; padding: 0; }
	.request { width: 100%; }
	.issue .h3 { width: 100%; }
	.issue .item { padding: 0; }
	.issue .item .line { width: 100%; float: none; padding-right: 0; }
	.issue .item .line:nth-child(2n+1) { clear: none; }
	.issue .request { width: 100%; }
	.price .list li { width: 100%; min-height: 100%; margin-bottom: 30px; }
	.service .h3 { width: 100%; }
	.service .info .item { width: 100%; }
	.service .process li { width: 100%; margin-bottom: 50px; float: none; }
	.options .h3 { width: 100%; }
	.options .item { width: 100%; }
	.reviews .list li { width: 100%; }
}
@media (max-width: 479px) {
	.wrapper { padding: 0 10px; }
	.issue .h3:before, .issue .h3:after { display: none; } 
	.service .h3:before, .service .h3:after { display: none; }
	.service .attention { width: 100%; }
	.reviews .list .photo { margin: 0 auto 30px; float: none; }
	.question .text { width: 100%; }
	.options .h3:before, .options .h3:after { display: none; }
}
/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}