.clearfix {
	*zoom: 1;
}

.link{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#8e8e8e', GradientType=0 );
}
.link:hover{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e8e8e', endColorstr='#eeeeee', GradientType=0 );
}
.partners ul > .before{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.partners ul > .after {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.social ul li:hover{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50)
}
.footer .contacts-footer .social-footer ul li:hover{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50)
}
.block-our-projects .nav-bottom{
    background: #9f9f9f;
   	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter:alpha(opacity=42)
}
.partners ul .switch:hover{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50)
}
.block-our-projects .battle-royal-describe p{
    font-size: 16px;
}
.photo-gallery .img .sign p span{
    background-color: #000;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter:alpha(opacity=70)
}
.gallery .photo .pic{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#f0f0f0',GradientType=1 );
}







