/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 17px;
	line-height: 22px;
	font-family: 'Segoe UI', Arial, Tahoma, sans-serif;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

p, pre {
	margin: 22px 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/segoeuil-webfont.eot');
	src: url('../fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/segoeuil-webfont.woff') format('woff'), url('../fonts/segoeuil-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/segoeui-webfont.eot');
	src: url('../fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/segoeui-webfont.woff') format('woff'), url('../fonts/segoeui-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/seguisb-webfont.eot');
	src: url('../fonts/seguisb-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/seguisb-webfont.woff') format('woff'), url('../fonts/seguisb-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Circe Bold';
	src: url('../fonts/Circe-Bold.eot');
	src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Circe Bold';
	src: url('../fonts/Circe-ExtraBold.eot');
	src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-ExtraBold.woff') format('woff'), url('../fonts/Circe-ExtraBold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
a {
	color: #000;
}
a:hover {
	text-decoration: none;
}

body {
	background: url(../img/body.jpg) 50% 0 repeat;
}
body:before {
	width: 100%;
	height: 600px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/header.jpg) 50% 0 no-repeat;
}
body.red {
	background: url(../img/body-red.jpg) 50% 0 repeat;
}
body.red:before {
	width: 100%;
	height: 600px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/header-red.jpg) 50% 0 no-repeat;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper {
	width: 940px;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}
.wrapper:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}

.h1 {
	margin: 22px 0 28px 0;
	font-weight: bold;
	font-size: 37px;
	letter-spacing: -0.02em;
}
.h2 {
	margin: 0;
	font-size: 37px;
	line-height: 42px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Circe Bold', Arial, Tahoma, sans-serif;
	letter-spacing: 0.07em;
}
.red .h2 {
	color: #9f0000;
}
.h4 {
	margin: 0 0 18px 0;
	font-weight: bold;
	font-size: 25px;
	line-height: 32px;
}

/* header ===============================================*/

.header {
	height: 190px;
	cursor: default;
	font-size: 14px;
	line-height: 29px;
}

.header .logo {
	width: 374px;
	height: 108px;
	margin: 0;
	position: absolute;
	top: 54px;
	left: 38px;
	text-indent: -1000px;
	overflow: hidden;
	float: left;
	background: url(../img/logo.png) 0 0 no-repeat;
}
.header .logo a {
	width: 374px;
	height: 108px;
	display: block;
}
.header .city {
	width: 100px;
	height: 19px;
	margin: 0;
	position: absolute;
	top: 52px;
	right: 290px;
	line-height: 18px;
	background: #d6d6d6;
	border-radius: 9px;
}
.header .city a {
	padding: 0 9px;
	display: block;
	color: #000;
	text-decoration: none;
}
.header .city a:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.header .city a span {
	margin-top: 9px;
	border: 3px solid transparent;
	border-top-color: #000;
	float: right;
}
.header .nav {
	width: 414px;
	margin: 0;
	position: absolute;
	top: 84px;
	right: -28px;
	font-size: 20px;
	color: #c7c7c7;
}
.header .nav .links {
	margin: 0;
	padding: 0;
	list-style: none;
}
.header .nav .links:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.header .nav .links li {
	margin-right: 24px;
	float: left;
}
.header .nav .links li a {
	color: #fff;
	display: block;
	transition: all .3s ease;
}
.header .nav .links li a:hover {
	color: #c7c7c7;
}

/* gallery ==============================================*/

.image-carousel {
	width: 100%;
	margin: 0 0 26px 0;
	text-transform: uppercase;
	font-family: 'Circe Bold', Arial, Tahoma, sans-serif;
	font-weight: 900;
}
.red .image-carousel {
	margin: 0 0 32px 0;
}
.image-carousel .wrapper {
	width: 948px;
	position: relative;
	left: -1px;
}
.image-carousel .bx-wrapper {
	width: 948px !important;
	height: 470px;
	overflow: hidden;
	position: relative;
}
.image-carousel .bx-wrapper .mask-top {
	width: 948px;
	height: 60px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	position: absolute;
	top: 0;
	background: url(../img/mask.png) 0 0 no-repeat;
	z-index: 4;
}
.image-carousel .bx-wrapper .mask-bottom {
	width: 948px;
	height: 140px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	background: url(../img/mask.png) 0 -330px no-repeat;
	z-index: 4;
}
.image-carousel .bx-wrapper .mask-left {
	width: 10px;
	height: 270px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	position: absolute;
	top: 60px;
	left: 0;
	background: url(../img/mask.png) 0 -60px no-repeat;
	z-index: 4;
}
.image-carousel .bx-wrapper .mask-right {
	width: 10px;
	height: 270px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	position: absolute;
	top: 60px;
	right: 0;
	background: url(../img/mask.png) 100% -60px no-repeat;
	z-index: 4;
}

.red .image-carousel .bx-wrapper .mask-top, .red .image-carousel .bx-wrapper .mask-left, .red .image-carousel .bx-wrapper .mask-right, .red .image-carousel .bx-wrapper .mask-bottom {
	background-image: url(../img/mask-red.png);
}
.image-carousel .carousel {
	width: 948px;
	height: 470px;
	padding: 0;
	margin: 0;
	font-size: 36px;
	line-height: 43px;
	list-style: none;
	overflow: hidden;
	z-index: 4;
}
.image-carousel .carousel li {
	display: block;
	float: left;
}
.image-carousel .carousel li a {
	width: 948px;
	height: 395px;
	display: block;
	color: #fff;
	text-decoration: none;
	position: relative;
}
.image-carousel .carousel li .pic {
	width: 948px;
	height: 395px;
	display: block;
	position: relative;
	z-index: 2;
}
.image-carousel .carousel li .caption {
	position: absolute;
	top: 54px;
	left: 34px;
	z-index: 5;
}
.image-carousel .carousel li span {
	display: block;
}
.image-carousel .carousel li .slogan {
	width: 350px;
	margin: 0;
	letter-spacing: 0.07em;
}
.link {
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0 3px 3px #000;
	border-radius: 14px;
	background: rgba(238, 238, 238, 1);
	background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 30%, rgba(142, 142, 142, 1) 100%);
	transition: all .3s ease;
}
.link:hover, .image-carousel .carousel li a:hover .link {
	background: rgba(142, 142, 142, 1);
	background: linear-gradient(to bottom, rgba(142, 142, 142, 1) 0%, rgba(142, 142, 142, 1) 30%, rgba(238, 238, 238, 1) 100%);
}
.image-carousel .carousel li a .link {
	width: 240px;
	height: 46px;
	margin: -4px 0 0 2px;
	padding: 19px 5px 0 6px;
	font-size: 26px;
	line-height: 32px;
}
.image-carousel .carousel li a .link span {
	color: #56534b;
	background: -webkit-linear-gradient(#56534b, #a5a298);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.058em;
}

.image-carousel .bx-controls {
	height: 20px;
	margin: 20px auto 16px;
	position: relative;
	z-index: 8;
}
.image-carousel .bx-pager {
	padding: 0;
	list-style: none;
	cursor: default;
	text-align: center;
}
.image-carousel .bx-pager:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.image-carousel .bx-pager .bx-pager-item {
	width: 16px;
	height: 16px;
	margin: 0 3px;
	display: inline-block;
}
.image-carousel .bx-pager .bx-pager-item a {
	width: 16px;
	height: 16px;
	display: block;
	overflow: hidden;
	outline: none;
	text-indent: -1000px;
	background: url(../img/sprite.png) 0 0 no-repeat;
}
.image-carousel .bx-pager .bx-pager-item a.active {
	background: url(../img/sprite.png) -20px 0 no-repeat;
}

/* social ===============================================*/

.social {
	width: 100%;
	margin: 0 auto 43px;
}
.red .social {
	margin: 0 auto 50px;
}
.social .icons {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.social .icons:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.social .icons li {
	width: 94px;
	height: 94px;
	margin: 0 7px;
	display: inline-block;
	transition: all .3s ease;
	background: url(../img/sprite.png) 0 -30px no-repeat;
}
.red .social .icons li {
	background: url(../img/sprite.png) 0 -130px no-repeat;
}
.social .icons li:hover {
	opacity: 0.6;
}
.social .icons li a {
	width: 94px;
	height: 94px;
	display: block;
}
.social .icons .ok {
	background-position: -100px -30px;
}
.social .icons .facebook {
	background-position: -200px -30px;
}
.social .icons .twitter {
	background-position: -300px -30px;
}
.social .icons .write-link {
	background-position: -400px -30px;
}
.social .icons .google-plus {
	margin-right: 0;
	background-position: -500px -30px;
}
.red .social .icons .ok {
	background-position: -100px -130px;
}
.red .social .icons .facebook {
	background-position: -200px -130px;
}
.red .social .icons .twitter {
	background-position: -300px -130px;
}
.red .social .icons .write-link {
	background-position: -400px -130px;
}
.red .social .icons .google-plus {
	margin-right: 0;
	background-position: -500px -130px;
}

/* about ========================================*/

.about {
	margin: 0 0 58px 0;
	color: #fff;
}
.about .h2 {
	margin: 0 0 28px 0;
	position: relative;
}
.red .about .h2 {
	color: #fff;
}
.about .describe {
	margin: 0 0 26px 0;
	text-align: justify;
}
.about .read-all {
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: #fff;
	letter-spacing: 0.1em;
	transition: all .3s ease;
}

/* block-partners =======================================*/

.block-partners {
	width: 100%;
}
.partners {
	width: 942px;
	height: 188px;
	margin: 0 -1px 102px -1px;
	background: #fff;
	position: relative;
	border-radius: 44px;
}
.partners:before {
	width: 942px;
	height: 16px;
	content: "\0020";
	display: block;
	position: absolute;
	top: -16px;
	left: 0;
	background: url(../img/partners.png) 0 0 no-repeat;
}
.partners:after {
	width: 942px;
	height: 78px;
	margin: 0;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	position: absolute;
	bottom: -78px;
	left: 0;
	background: url(../img/partners.png) 0 -16px no-repeat;
}
.partners .h2 {
	margin: 0 0 22px 0;
	padding: 5px 0 0 4px;
}
.partners .bx-wrapper {
	width: 760px;
	margin: 0 auto;
}
.partners .carousel {
	height: 70px;
	margin: 0;
	padding: 0 18px;
	list-style: none;
	text-align: center;
	z-index: 5;
}
.partners .bx-viewport:before {
	width: 220px;
	height: 86px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0) 100%);
}
.partners .bx-viewport:after {
	width: 220px;
	height: 70px;
	margin: 0;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 76px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 1) 100%);
}
.partners .carousel li {
	display: inline-block;
}
.partners .carousel li .pic {
	max-width: 115px;
	height: 70px;
	margin: 0 auto;
	display: block;
}
.partners .bx-controls-direction a {
	width: 61px;
	height: 62px;
	margin: 0;
	position: absolute;
	background: url(../img/sprite.png) -100px -230px no-repeat;
	overflow: hidden;
	text-indent: -1000px;
	transition: all .3s ease;
	z-index: 7;
}
.partners .bx-controls-direction a:hover {
	opacity: 0.6;
}
.partners .bx-controls-direction .bx-prev {
	top: 66px;
	left: 15px;
}
.partners .bx-controls-direction .bx-next {
	top: 66px;
	right: 12px;
	background-position: -170px -230px;
}

/* projects =====================================*/

.projects {
	padding: 20px 0 30px 0;
	position: relative;
	background: url(../img/content.jpg) 0 0 repeat;
}
.projects:before {
	width: 100%;
	height: 9px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	top: -9px;
	background: url(../img/project-border.png) 0 0 repeat-x;
}
.projects:after {
	width: 100%;
	height: 8px;
	margin: 0;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	position: absolute;
	bottom: -8px;
	background: url(../img/project-border.png) 0 -9px repeat-x;
}
.projects .h2 {
	margin: 3px 0 26px 0;
}
.samples {
	width: 960px;
	margin: 0 -20px 0 0;
	padding: 0;
	list-style: none;
}
.samples:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.samples li {
	width: 300px;
	float: left;
	margin: 0 19px 8px 0;
}
.projects .samples li p {
	margin: 0 0 16px 0;
}
.samples li .photo {
	width: 300px;
	height: 275px;
	margin: 0 0 11px 0;
	position: relative;
}
.samples li .photo:after {
	width: 300px;
	height: 21px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	position: absolute;
	bottom: -21px;
	background: url(../img/shadow.png) 0 0 no-repeat;
}
.samples li .pic {
	display: block;
}
.samples li .heading {
	margin: 0 0 11px -2px;
	font-size: 22px;
	line-height: 46px;
	font-weight: bold;
	letter-spacing: 0.09em;
}
.samples li .look {
	color: #9f0000;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.09em;
}
.samples .date {
	margin: 0;
	font-size: 14px;
	letter-spacing: 0.02em;
}
.samples .title-link {
	margin: 0 0 22px 0;
	font-size: 22px;
	color: #000;
	display: block;
	font-weight: bold;
	letter-spacing: 0.08em;
}

/* image-swiper ========================================*/

.image-swiper {
	padding: 54px 0 0 0;
	margin: 0 0 60px 0;
}
.image-swiper .h2 {
	margin: 0 0 17px 0;
	position: relative;
	color: #fff;
	font-size: 40px;
	letter-spacing: 0.035em;
}

.image-swiper .link {
	width: 372px;
	height: 50px;
	padding: 16px 0 0 0;
	margin: -5px auto;
	position: relative;
	font-size: 26px;
	line-height: 32px;
	font-weight: 900;
	z-index: 7;
}
.image-swiper .link a {
	width: 372px;
	height: 44px;
	display: block;
	text-decoration: none;
	letter-spacing: 0.09em;
	color: #56534b;
	background: -webkit-linear-gradient(#56534b, #a5a298);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* block-comments ==============================================*/

.block-comments {
	width: 100%;
	height: 344px;
	padding: 20px 0 14px 0;
	line-height: 18px;
	background: url(../img/reviews.jpg) 0 0 repeat;
}
.block-comments:before {
	width: 100%;
	height: 5px;
	content: "\0020";
	display: block;
	margin: -23px 0 0 0;
	position: absolute;
	background: url(../img/reviews-top.png) 0 0 repeat-x;
}
.block-comments .h2 {
	margin: 4px 0 28px -8px;
}
.block-comments .comments {
	width: 1000px;
	margin: 0 -20px 0 0;
	padding: 0;
	list-style: none;
}
.block-comments .comments:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.block-comments .comments li {
	width: 220px;
	margin: 0 20px 0 0;
	float: left;
}
.block-comments .comments li p {
	margin: 0;
}
.user-photo {
	width: 83px;
	height: 83px;
	margin: 0 0 6px 0;
}
.user-photo .pic {
	width: 75px;
	height: 75px;
	display: block;
	position: relative;
	border: 5px solid #e0e0e0;
	border-radius: 50%;
}
.block-comments .comments li .user-name {
	margin: 0 0 12px 0;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: 0.065em;
}
.block-comments .comments li .comment {
	font-size: 14px;
	font-weight: 300;
}
.block-comments .comments li .read {
	display: block;
	color: #9f0000;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.07em;
	transition: all .5s ease;
}

/* block-reviews ========================================*/

.block-reviews {
	padding: 0 0 300px 0;
	line-height: 20px;
}
.block-reviews:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.block-reviews .h2 {
	margin: 0 0 24px 0;
}
.block-reviews .reviews {
	width: 460px;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
.block-reviews .reviews li {
	width: 460px;
	margin: 0 0 30px 0;
}
.block-reviews .user {
	margin: 0;
}
.block-reviews .user:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.block-reviews .user .pic {
	display: block;
	float: left;
}
.block-reviews .user .name {
	padding: 24px 0 0 15px;
	float: left;
	display: block;
	font-weight: bold;
	letter-spacing: 0.06em;
}
.block-reviews .comment {
	width: 398px;
	padding: 12px 16px 16px 12px;
	margin: 23px 0 0 29px;
	position: relative;
	font-size: 14px;
	line-height: 17px;
	border: 1px solid #000;
	border-radius: 8px;
	background: #fff;
}
.block-reviews .comment:before, .block-reviews .comment:after {
	content: '\0020';
	position: absolute;
	left: 14px;
	top: -14px;
	border: 7px solid transparent;
	border-bottom-color: #000;
	border-left-color: #000;
}
.block-reviews .comment:after {
	border-bottom: 6px solid #fff;
	border-left: 6px solid #fff;
	top: -13px;
	left: 15px;
}

/* Gallery ==================================*/

.gallery {
	width: 100%;
	padding: 0 0 212px 0;
	font-size: 14px;
}
.gallery .h2 {
	margin: 0 0 56px 0;
}
.gallery .photo {
	width: 960px;
	margin: 0 -20px 0 0;
	padding: 0;
	list-style: none;
}
.gallery .photo:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.gallery .photo li {
	width: 302px;
	float: left;
	margin: 0 17px 34px 0;
}
.gallery .photo .pic {
	width: 270px;
	height: 270px;
	padding: 15px;
	position: relative;
	background: rgb(219, 219, 219); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(240, 240, 240, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(219, 219, 219, 1)), color-stop(53%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(240, 240, 240, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(240, 240, 240, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(240, 240, 240, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(219, 219, 219, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(240, 240, 240, 1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(219, 219, 219, 1) 0%, rgba(255, 255, 255, 1) 53%, rgba(240, 240, 240, 1) 100%); /* W3C */
}
.gallery .photo .pic:after {
	width: 308px;
	height: 24px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	position: absolute;
	bottom: -24px;
	right: -8px;
	background: url(../img/shadow-photo.png) 0 0 no-repeat
}
.gallery .photo .img {
	width: 270px;
	height: 270px;
	display: block;
}
.date {
	margin: 0;
	padding: 0 0 0 26px;
	position: relative;
	color: #636363;
}
.date:before {
	width: 16px;
	height: 18px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	left: 2px;
	background: url(../img/sprite.png) -40px 0 no-repeat;
}
.gallery .date {
	margin: -10px 0 14px 0;
}
.gallery .name {
	font-size: 22px;
	color: #000;
	font-weight: bold;
	letter-spacing: 0.1em;
}

/* slider-photo ==================================*/

.gallery-photo {
	margin: 0 0 300px 0;
}
.gallery-photo .h2 {
	margin: 0 0 14px 0;
}
.gallery-photo .date {
	margin: 0 0 24px 0;
	letter-spacing: 0.02em;
}
.gallery-photo .title {
	margin: 0 0 22px 0;
	font-size: 37px;
	line-height: 22px;
	font-weight: bold;
	letter-spacing: -0.02em;
}
.gallery-photo .picture {
	height: 622px;
	margin: 0 0 36px 0;
	padding: 0;
	list-style: none;
}
.gallery-photo .picture:after {
	width: 100%;
	height: 200px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.gallery-photo .picture .img {
	width: 938px;
	height: 622px;
	margin: 0 auto;
	display: block;
}
.gallery-photo .scroll .bx-wrapper {
	width: 860px;
	position: relative;
}
.gallery-photo .scroll .bx-wrapper:after, .gallery-photo .scroll .bx-wrapper:before {
	width: 56px;
	height: 56px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 10;
	background: url('../img/gallery.png') no-repeat 0 0;
}
.gallery-photo .scroll .bx-wrapper:after {
	left: -10px;
}
.gallery-photo .scroll .bx-wrapper:before {
	right: -10px;
	background-position: -56px 0;
}
.gallery-photo .scroll .carousel {
	height: 58px;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	list-style: none;
}
.gallery-photo .scroll .carousel:after {
	width: 100%;
	height: 200px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.gallery-photo .scroll .carousel li {
	float: left;
}
.gallery-photo .scroll .carousel li .pic {
	max-width: 56px;
	height: 56px;
	display: block;
	border: 2px solid #fff;
}
.gallery-photo .scroll .bx-controls-direction a {
	width: 21px;
	height: 42px;
	margin: -21px 0 0 0;
	display: block;
	overflow: hidden;
	text-indent: -1000px;
	background: url(../img/sprite.png) -250px -230px no-repeat;
	border: none;
	position: absolute;
	top: 50%;
	outline: none;
}
.gallery-photo .scroll .bx-controls-direction .bx-next {
	background-position: -280px -230px;
	right: -40px;
}
.gallery-photo .scroll .bx-controls-direction .bx-prev {
	left: -40px;
}

/* Projects ===================================*/

.projects-all {
	width: 100%;
}
.projects-all .h2 {
	margin: 0 0 42px 0;
}
.projects-all .wrapper:after {
	width: 100%;
	height: 200px;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.projects-all .navigation {
	width: 146px;
	height: 164px;
	padding: 20px 34px;
	position: absolute;
	bottom: 40px;
	right: 3px;
	font-size: 18px;
	line-height: 25px;
	background-color: rgba(159, 159, 159, 0.42);
	border: 1px solid rgba(220, 220, 220, 0.42);
	border-radius: 11px;
}
.projects-all .navigation:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.projects-all .navigation .links {
	margin: 0;
	padding: 0;
	list-style: none;
}
.projects-all .navigation .links li a {
	display: block;
	transition: all .4s ease;
}
.projects-all .navigation .links li a:hover {
	color: #fff;
}
.projects-all .navigation .close-nav {
	margin: 14px -18px 0 0;
	width: 9px;
	height: 9px;
	display: block;
	float: right;
	background: url(../img/sprite.png) -70px 0 no-repeat;
}

/* Project ===================================*/

.project .h2 {
	margin: 0 0 36px 0;
}
.project-cover {
	width: 940px;
	height: 355px;
	margin: 0 0 20px 0;
	position: relative;
}
.project-cover:after {
	width: 940px;
	height: 18px;
	content: "\0020";
	display: block;
	margin: 0;
	position: absolute;
	bottom: -18px;
	background: url(../img/shadow-battle.png) 0 0 no-repeat;
}
.project-cover .pic {
	display: block;
}

/* block-about ==================================*/

.block-about {
	padding: 0 0 28px 0;
}
.block-about .h2 {
	margin: 0 0 38px;
}

/* SWIPER ==================================*/
/*
 * Swiper 2.6.1
 * Mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/sliders/swiper/
 *
 * Copyright 2010-2014, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under GPL & MIT
 *
 * Released on: May 6, 2014
*/
.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	/* Fix of Webkit flickering */
	z-index: 1;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	-webkit-transition-property: -webkit-transform, left, top;
	-webkit-transition-duration: 0s;
	-webkit-transform: translate3d(0px, 0, 0);
	-webkit-transition-timing-function: ease;
	-moz-transition-property: -moz-transform, left, top;
	-moz-transition-duration: 0s;
	-moz-transform: translate3d(0px, 0, 0);
	-moz-transition-timing-function: ease;
	-o-transition-property: -o-transform, left, top;
	-o-transition-duration: 0s;
	-o-transform: translate3d(0px, 0, 0);
	-o-transition-timing-function: ease;
	-o-transform: translate(0px, 0px);
	-ms-transition-property: -ms-transform, left, top;
	-ms-transition-duration: 0s;
	-ms-transform: translate3d(0px, 0, 0);
	-ms-transition-timing-function: ease;
	transition-property: transform, left, top;
	transition-duration: 0s;
	transform: translate3d(0px, 0, 0);
	transition-timing-function: ease;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper {
	width: 788px;
	margin: 0 auto;
	overflow: hidden;
}
.swiper-container {
	width: 1140px;
	height: 255px;
	padding: 30px 0 40px;
	margin: 0 -176px;
}
.swiper-slide {
	width: 400px;
	height: 235px;
	border: 10px solid #fff;
	box-sizing: border-box;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
}
.swiper-slide a { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1 }
.swiper-slide-active {
	/* Specific active slide styling: */
}
.swiper-slide-visible {
	/* Specific visible slide styling: */
}

.swiper-prev {
	width: 21px;
	height: 42px;
	display: block;
	position: absolute;
	top: 135px;
	left: 30px;
	cursor: pointer;
	background: url(../img/sprite.png) 0 -240px no-repeat;
	z-index: 7;
}
.swiper-next {
	width: 22px;
	height: 41px;
	display: block;
	position: absolute;
	top: 135px;
	right: 30px;
	cursor: pointer;
	background: url(../img/sprite.png) -30px -240px no-repeat;
	z-index: 7;
}

.swiper .info {
	width: 150px;
	margin: 0;
	position: absolute;
	bottom: 5px;
	left: 10px;
	color: #fff;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 7;
}
.swiper .info span {
	padding: 0 6px 1px;
	margin: 0 0 2px 0;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.7);
}

.swiper-container {
}
.reflection {
	width: 100%;
	height: 15px;
	padding: 0 10px;
	position: absolute;
	left: -10px;
	bottom: -26px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}
.swiper-slide a { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1 }
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */
}
.swiper-active-switch {
	/* Specific active button style: */
}
.swiper-visible-switch {
	/* Specific visible button style: */
}

/*
 * Swiper 3D Flow 2.1.0
 * 3D Flow plugin for Swiper
 *
 * http://www.idangero.us/sliders/swiper/plugins/3dflow.php
 *
 * Copyright 2010-2014, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under GPL & MIT
 *
 * Released on: January 28, 2014
*/
.swiper-container, .swiper-wrapper, .swiper-slide {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.swiper-container {
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px;
}
.swiper-wrapper {
	/* Windows 8 IE 10 fix */
	-ms-perspective: 1200px;
}

.swiper-slide-shadow-left, .swiper-slide-shadow-right, .swiper-slide-shadow-top, .swiper-slide-shadow-bottom {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.swiper-slide-shadow-left {
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))); /* Safari 4+, Chrome */
	background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Opera 11.10-12.00 */
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-slide-shadow-right {
	background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))); /* Safari 4+, Chrome */
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Opera 11.10-12.00 */
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-slide-shadow-top {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))); /* Safari 4+, Chrome */
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Opera 11.10-12.00 */
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-slide-shadow-bottom {
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))); /* Safari 4+, Chrome */
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Firefox 16+, IE10, Opera 12.50+ */
}

/* footer ===============================================*/

.footer {
	width: 100%;
	height: 164px;
	padding: 60px 0 0 0;
	color: #f8f8f8;
	line-height: 17px;
	background: url(../img/footer.jpg) 50% 0 repeat-x;
	cursor: default;
}
.red .footer {
	padding: 44px 0 0 0;
}
.footer .columns {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer .columns:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.footer .columns li {
	float: left;
}
.footer .mail-delivery {
	width: 226px;
	margin: 10px 52px 0 0;
	font-size: 13px;
}
.footer .mail-delivery p {
	margin: 0 0 14px 0;
}
.footer .mail-delivery .heading {
	font-size: 17px;
	margin: 0 0 36px 0;
}
.footer .mail-delivery input {
	margin: 0;
	float: left;
	font-size: 11px;
	line-height: 19px;
	color: #919191;
	border: none;
	outline: none;
	text-transform: uppercase;
}
.footer .mail-delivery input[type="text"] {
	width: 148px;
	height: 26px;
	padding-left: 6px;
	background: #fff;
}
.footer .mail-delivery input[type="submit"] {
	width: 64px;
	height: 28px;
	color: #fff;
	background: #000;
}
.footer .nav-footer {
	width: 90px;
	margin: 10px 62px 0 0;
	line-height: 16px;
}
.footer .nav-footer p {
	margin: 0 0 10px 0;
}
.footer .nav-footer .nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer .nav-footer .nav li a {
	color: #f8f8f8;
	font-size: 13px;
	transition: all .3s ease;
}
.footer .nav-footer .nav li a:hover {
	color: #c7c7c7;
}
.footer .info {
	width: 510px;
	margin: 0;
}
.footer .info .contacts:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.footer .info .social-footer {
	width: 240px;
	margin: 10px 72px 0 0;
	float: left;
}
.footer .info .social-footer p {
	margin: 0;
}
.footer .info .social-footer .small-icons {
	margin: 14px 0 0 0;
	padding: 0;
	list-style: none;
}
.footer .info .social-footer .small-icons li {
	width: 30px;
	height: 30px;
	margin: 0 4px;
	float: left;
	background: url(../img/sprite.png) -600px -30px no-repeat;
	transition: all .3s ease;
}
.footer .info .social-footer .small-icons li:hover {
	opacity: 0.6;
}
.footer .info .social-footer .small-icons li a {
	width: 30px;
	height: 30px;
	display: block;
}
.footer .info .social-footer .small-icons .ok {
	background-position: -640px -30px;
}
.footer .info .social-footer .small-icons .facebook {
	background-position: -680px -30px;
}
.footer .info .social-footer .small-icons .twitter {
	background-position: -720px -30px;
}
.footer .info .social-footer .small-icons .write-link {
	background-position: -760px -30px;
}
.footer .info .social-footer .small-icons .google-plus {
	background-position: -800px -30px;
}
.footer .logo-footer {
	width: 192px;
	height: 86px;
	float: left;
	background: url(../img/author.png) 0 0 no-repeat;
}
.footer .registration {
	margin: 6px 0 14px 8px;
	line-height: 22px;
	font-size: 20px;
}
.footer .registration .bold {
	font-weight: bold;
}
.footer .registration a {
	font-weight: bold;
	color: #fff;
	transition: all .5s ease;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
		content: "";
	}

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}
