.img-link:before {
	-ms-box-sizing: border-box; 
    box-sizing: border-box;
}
.img-link:hover:before {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter:alpha(opacity=70)
}
.block-gallery .gallery .pic:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter:alpha(opacity=80)
}
.image-carousel .callback {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter:alpha(opacity=80)
}
