/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 16px;
    line-height: 19px;
    color: #343434;
    font: 16px/19px 'PF BeauSans Pro', Arial, Tahoma, sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
p {
    margin: 0 0 19px 0;
}
a {
    color: #6cc449;
}
a:hover {
    text-decoration: none;
}
@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('pfbeausanspro-thin-webfont.eot');
    src: url('pfbeausanspro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfbeausanspro-thin-webfont.woff') format('woff'),
         url('pfbeausanspro-thin-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('pfbeausanspro-light-webfont.eot');
    src: url('pfbeausanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfbeausanspro-light-webfont.woff') format('woff'),
         url('pfbeausanspro-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('pfbeausanspro-regular-webfont.eot');
    src: url('pfbeausanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfbeausanspro-regular-webfont.woff') format('woff'),
         url('pfbeausanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('PTSans-Narrow.eot') format('embedded-opentype');
    src: url('PTSans-Narrow.woff') format('woff'), 
         url('PTSans-Narrow.ttf') format('truetype'), 
         url('PTSans-Narrow.svg#PTSans-Narrow') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('roboto-thin-webfont.eot');
    src: url('roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-thin-webfont.woff') format('woff'),
         url('roboto-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('roboto-light-webfont.eot');
    src: url('roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-light-webfont.woff') format('woff'),
         url('roboto-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('roboto-regular-webfont.eot');
    src: url('roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-regular-webfont.woff') format('woff'),
         url('roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* 
   _Wrapper
   ==============================================*/

.wrapper {
    width: 1110px;
    margin: 0 auto;
    position: relative;
}
.wrapper:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}

/* 
   _Font
   ==============================================*/
.h2 {
    font-size: 24px;
    font-weight: normal;
}
.h3 {
    font-size: 20px;
    font-weight: normal;
}
.h4 {
    font-size: 18px;
    font-weight: normal;
}

.text-green {
    color: #6ac345;
}

.border-title {
    position: relative;
}
.border-title:before {
    width: 58px;
    height: 3px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #68bc4c;
    transition: background .5s ease;
}

/* 
   _After
   ==============================================*/

/* 
   _Header
   ==============================================*/
.header {
    height: 204px;
    position: relative;
    font-size: 12px;
    letter-spacing: -.04em;
}
.header:before {
    width: 1170px;
    height: 4px;
    margin: 0 auto;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #67bb4b;
}
.header:after {
    width: 100%;
    height: 100px;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    z-index: -1;
}
.header .contacts {
    position: absolute;
    top: 22px;
    left: 25px;
    font-weight: 300;
}
.header .contacts .mail {
    position: relative;
    color: #00c2f6;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px dashed #00c2f6;
    transition: border .4s ease; 
}
.header .contacts .mail:hover {
    border: none;
}
.header .contacts .mail:before {
    width: 20px;
    height: 16px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -30px;
    background: url(../img/sprite.png) 0 0 no-repeat;
}
.header .contacts .address {
    margin: 9px 0;
    position: relative;
    color: #343434;
}
.header .contacts .address:before {
    width: 17px;
    height: 20px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 6px;
    left: -28px;
    background: url(../img/sprite.png) -30px 0 no-repeat;
}

.header .phone {
    color: #898989;
    position: absolute;
    top: 22px;
    left: 318px;
}
.header .phone .link {
    color: #898989;
    text-decoration: none;
    border-bottom: 1px dashed #898989;
    transition: border .4s ease; 
}
.header .phone .link:hover {
    border: none;
}
.header .phone-2 {
    left: 654px;
}
.header .phone .number {
    width: 162px;
    height: 24px;
    margin: 0 0 4px 0;
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    background: url(../img/sprite.png) 0 -30px no-repeat; 
}
.header .phone .number-2 {
    background-position: 0 -60px; 
}

.header .button {
    width: 134px;
    height: 14px;
    padding: 18px 26px;
    display: block;
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #53b139;
    border-radius: 9px;
    border-bottom: 4px solid #35751e;
    transition: background-color .3s ease; 
}
.header .button:hover {
    background-color: #95d680;
}

.header .logo {
    position: absolute;
    top: 111px;
    left: -10px;
}
.header .nav {
    position: absolute;
    right: -18px;
    top: 127px;
    font-size: 20px; 
    font-weight: 200;
}
.header .nav .line{
    padding: 0;
    margin: 0;
}
.header .nav li {
    padding: 14px 16px 9px 16px;
    margin-left: 22px;
    float: left;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: border-color .3s ease;
}
.header .nav li:hover {
    border-color: #67bb4b;
}
.header .nav li a {
    text-decoration: none;
}


/* 
   Footer
   ==============================================*/
.footer {
    height: 230px;
    position: relative;
    font-size: 18px;
    font-weight: 300; 
}
.footer:before {
    width: 100%;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 66px;
    left: 0;
    right: 0;
    border-top: 1px solid #ebebeb;
}
.footer:after {
    width: 1170px;
    height: 4px;
    margin: 0 auto;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #67bb4b;
}
.footer .nav {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 14px;
    left: 70px;
    list-style: none;
    letter-spacing: -.02em;
}
.footer .nav .h2 {
    margin: 0 0 14px 0;
}
.footer .nav .h2 a {
    text-decoration: underline;
    border: none;
}
.footer .nav .h2 a:hover {
    text-decoration: none;
}
.footer .nav-service {
    left: 420px;
}
.footer .nav-equipment {
   left: 714px;
}
.footer .nav li {
    margin: 0 0 4px 0;
}
.footer .nav li a {
    padding: 0 32px 0 10px;
    color: #343434;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: border-color .3s ease;
}
.footer .nav li a:hover {
    border-color: #67bb4b;
}
.footer .address {
    right: 75px;
    top: 16px;
    position: absolute;
    font-style: normal;
    letter-spacing: -.04em;
}
.footer .address .text {
    margin-top: 14px;
    line-height: 22px;
}
.footer .address .mail {
    color: #343434;
}
.footer .copyright {
    position: absolute;
    top: 187px;
    left: 78px;
}

.footer .social {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 174px;
    left: 576px;
    list-style: none;
}
.footer .social li {
    width: 34px;
    height: 34px;
    margin: 0 3px;
    display: block;
    float: left;
    background: url(../img/sprite.png) 0 -100px no-repeat;
    transition: opacity .3s ease; 
}
.footer .social li.tw { background-position: -40px -100px}
.footer .social li.vk { background-position: -80px -100px}
.footer .social li.google { background-position: -120px -100px}
.footer .social li:hover {
    opacity: 0.5;
}
.footer .social li a {
    width: 34px;
    height: 34px;
    display: block;
    text-decoration: none;
}

.footer .author {
    position: absolute;
    top: 187px;
    right: 82px;
    letter-spacing: -.03em;
}

/* 
   _Image-carousel
   ==============================================*/

.image-carousel {
    margin-bottom: 28px;
    position: relative;
}
.image-carousel .bx-wrapper {
    width: 1108px !important;
}

.image-carousel .image {
    width: 10000px !important;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.image-carousel .image li {
    width: 1108px;
    margin: 0 0 0 28px;
    float: left;
}

.image-carousel .bx-pager {
    padding: 0;
    margin: 6px 0 0 0;
    text-align: center;
}
.image-carousel .bx-pager-item {
    width: 16px;
    height: 16px;
    margin: 0 7px;
    display: inline-block;
}
.image-carousel .bx-pager .bx-pager-item a {
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    background-color: #c4c4c4;
    border-radius: 50%;
    transition: background-color .3s ease; 
}
.image-carousel .bx-pager .bx-pager-item a.active {
    background-color: #57cd00;
}

.image-carousel .bx-controls-direction a {
    width: 36px;
    height: 64px;
    text-indent: -1000px;
    overflow: hidden;
    position: absolute;
    top: 148px;
    background: url(../img/sprite.png) -180px 0 no-repeat;
}
.image-carousel .bx-controls-direction .bx-prev {
    left: -80px;
}
.image-carousel .bx-controls-direction .bx-next {
    right: -80px;
    background-position: -230px 0;
}

.image-carousel .callback {
    width: 254px;
    padding: 23px 30px 30px 30px;
    position: absolute;
    top: 51px;
    right: 64px;
    background: rgba( 123, 204, 96, 0.8);
    border-radius: 3px;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    font-weight: 200;
    letter-spacing: -.04em;
    z-index: 8;
}
.image-carousel .callback label {
    margin: 0 0 4px 0;
    display: block;
}
.image-carousel .callback input[type="text"] {
    width: 231px;
    padding: 10px 11px;
    margin: 0 0 7px 0;
    display: block;
    font-size: 12px;
    color: #b6b6b6;
    outline: none;
    border: 1px solid #5e914c;
    border-radius: 3px;
    letter-spacing: -.05em;
}
.image-carousel .callback textarea[name="text"] {
    width: 231px;
    height: 62px;
    padding: 12px 11px;
    margin: 0 0 14px 0;
    display: block;
    font-size: 12px;
    color: #b6b6b6;
    outline: none;
    border: 1px solid #5e914c;
    border-radius: 3px;
    letter-spacing: -.06em;
}
.image-carousel .callback input[type="submit"] {
    width: 254px;
    padding: 15px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #eee18f;
    border-radius: 12px;
    box-shadow: 0 4px 1px #e5d051;
    transition: background-color .3s ease;
}
.image-carousel .callback input[type="submit"]:hover {
    background-color: #e5d051;
}


/* 
   _Samples
   ==============================================*/
.samples {
    margin: 0 0 31px 0;
    font-size: 14px;
    font-family: 'PT Sans Narrow', Arial, Tahoma, sans-serif;
}
.samples:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.samples-service {
    margin-top: 38px;
}

.samples .sample {
    margin-bottom: 0;
    float: left;
}
.samples .sample:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}

.samples .sample .pic {
    width: 184px;
    height: 220px;
    float: left;
    display: block;
    transition: display .5s ease;
}
.samples .sample .pic-right {
    float: right;
}
.samples .sample .pic-hidden {
    display: none; 
    transition: display .5s ease;
}
.samples .sample:hover .pic-visible {
    display: none;
}
.samples .sample:hover .pic-hidden {
    display: block;
}

.samples .sample .link{
    width: 152px;
    height: 180px;
    margin: 0;
    padding: 22px 16px 18px 18px;
    position: relative;
    display: block;
    float: left;
    color: #343434;
    background-color: #f6f6f6;
    text-decoration: none;
    transition: background-color .5s ease, color .5s ease; 
}
.samples .sample:hover .link{
    color: #fff;
    background-color: #68bc4c;
}
.samples .sample .link:before {
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: -20px;
    border: 10px solid transparent;  
    border-right: 10px solid #f6f6f6;
    transition: border-color .5s ease; 
}
.samples .sample:hover .link:before{
    border-right-color: #68bc4c;
}

.samples .sample .link-left:before {
    top: 20px;
    left: 186px;
    border: 10px solid transparent;  
    border-left: 10px solid #f6f6f6;
    border-right: none;
}
.samples .sample:hover .link-left:before{
    border-left-color: #68bc4c;
}

.samples .sample .link .h4 {
    margin: 0 -16px 12px 0;
    font-family: 'PF BeauSans Pro', Arial, Tahoma, sans-serif;
}
.samples .sample .link .h4:before {
    width: 32px;
    height: 2px;
    bottom: -6px;
    left: 3px;
    background: #bfbfbf;
}
.samples .sample:hover .link .h4:before {
    background: #8acb74;
}

.samples .sample .review {
    margin: 38px 0 0 4px;
    position: relative;
}
.samples .sample .review:before {
    width: 17px;
    height: 13px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: -8px;
    left: -16px;
    background: url(../img/sprite.png) -170px -100px no-repeat;
}
.samples .sample:hover .review:before {
    background: url(../img/sprite.png) -170px -120px no-repeat;
}
.samples .sample .review:after {
    width: 17px;
    height: 13px;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    position: absolute;
    bottom: -6px;
    right: -6px;
    background: url(../img/sprite.png) -200px -100px no-repeat;
}
.samples .sample:hover .review:after {
    background: url(../img/sprite.png) -200px -120px no-repeat;
}

/* 
   _block-details
   ==============================================*/
.block-details {

}
.block-details .line {
}
.block-details .col .heading {
    padding: 18px 20px;
    margin: 0 0 3px 0;
    color: #fff;
    background: #68bc4c;
    outline: none;
}


/* 
   _News
   ==============================================*/
.news {
    margin: 0 0 0 26px;
    float: left;
}
.news .h2 {
    margin: 0 0 38px 18px;
    text-align: center;
}
.news .h2:before {
    bottom: -19px;
    left: 218px;
}
.news .col {
    width: 172px;
    padding: 0 31px 11px 31px;
    margin: 0 0 0 16px;
    float: left;
    font-size: 14px;
    background-color: #f6f6f6;
    border: 1px solid #e7e7e7;
}
.news .col .picture {
    width: 234px;
    margin: 0 -32px 18px -32px;
    display: block;
    border-left: 1px solid #929292;
    border-right: 1px solid #929292;
}
.news .col .top {
    padding: 0 0 4px 27px;
    margin: 14px -30px 16px -30px;
    border-bottom: 1px solid #e7e7e7;
}
.news .col .top:before {
    width: 52px;
    bottom: -2px;
}
.news .col .top .h4 {
    margin: 0 0 2px 0;
    letter-spacing: -.03em;
}
.news .col .top .date {
    margin: 0;
    font-size: 12px;
    color: #898989;
}
.news .col .text {
    font-family: 'PT Sans Narrow', Arial, Tahoma, sans-serif;
}

/* 
   _Portfolio
   ==============================================*/
.portfolio {
    width: 508px;
    margin: 0 70px 0 0;
    float: right;
}
.portfolio .h2 {
    margin: 0 0 38px 18px;
    text-align: center;
}
.portfolio .h2:before {
    bottom: -19px;
    left: 218px;
}
.portfolio .img-link {
    width: 236px;
    height: 212px;
    margin: 0 0 24px 18px;
    float: left;
    position: relative;
    display: block; 
}
.portfolio .img-link:before {
    width: 100%;
    height: 100%;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    border: 13px solid #898989;
    opacity: 0.32;
    box-sizing: border-box;
    transition: opacity .3s ease;
}
.portfolio .img-link:hover:before {
    opacity: 0.7;
}
.portfolio .img-link .pic {
    display: block;
}

/* 
   _Tabs
   ==============================================*/
.tabs .tab-link{
    padding: 0;
    margin: 0 0 38px 0;
    list-style: none;
    font-size: 20px;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
    font-weight: 300;
    text-align: center;
}
.tabs .tab-link li {
    margin: 0 12px;
    display: inline-block;
}
.tabs .tab-link li a {
    text-decoration: none;
    border-bottom: 1px dashed #6cc449;
    transition: border .3s ease;
}
.tabs .tab-link li a:hover {
    border: none;
}

/* 
   _Block-service
   ==============================================*/
.block-service {
    font-size: 20px;
    font-family: 'PT Sans Narrow', Arial, Tahoma, sans-serif;
}
.block-service .h2 {
    margin: 0 0 46px 0;
    font-family: 'PF BeauSans Pro', Arial, Tahoma, sans-serif;
}
.block-service .h2:before {
    bottom: -19px;
}
.block-service .list {
    padding: 0 0 0 54px;
    margin: 0 0 36px;
    list-style: none;
}
.block-service .list li {
    margin: 0 0 20px 0;
    position: relative;
} 
.block-service .list li:before {
    width: 27px;
    height: 27px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: -6px;
    left: -40px;
    text-align: center;
    color: #fff;
    background: url(../img/sprite.png) -280px 0 no-repeat;
    border-radius: 50%;
}
.block-service .lines {
    width: 880px;
    padding: 0;
    margin: 0 0 56px 0;
    list-style: none;
    font-size: 16px;
    font-family: 'PT Sans Narrow', Arial, Tahoma, sans-serif;
}
.block-service .lines li {
    margin: 0 0 19px 0;
}

/* 
   _Title-links
   ==============================================*/
.title-links {
    padding: 0;
    margin: 0 0 44px;
    list-style: none;
    font-size: 20px;
    text-align: center;
}
.title-links li {
    margin: 0 10px;
   display: inline-block;
}
.title-links li a {
    text-decoration: none;
    border-bottom: 1px dashed #6cc449;
    transition: border .3s ease;
}
.title-links li a:hover {
    border-bottom: none;
}

/* 
   _Block-catalog
   ==============================================*/
.block-catalog {
    margin: 26px -20px 20px 0;
}
.block-catalog:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.block-catalog .item {
    width: 255px;
    padding: 6px;
    margin: 0 14px 2px 0;
    float: left;
    border: 2px solid transparent;
    transition: border .3s ease;
}
.block-catalog .item:hover {
    border: 2px solid #67bb4b;
}
.block-catalog .item:nth-child(4n) {
    margin-right: 0;
}
.block-catalog .item .link {
    text-decoration: none;
}
.block-catalog .item .name {
    height: 61px;
    padding: 12px 0 0 0;
    position: relative;
    text-align: center;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #6cc449;
    border: 1px solid #e8e8e8;
    transition: font-weight .3s ease;
}
.block-catalog .item:hover .name {
    font-weight: normal;
}
.block-catalog .item .name:before {
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: -20px;
    left: 46%;
    border: 10px solid transparent;  
    border-bottom: 10px solid #fff;
}

/* 
   _Block-gallery
   ==============================================*/
.block-gallery {
    margin: 0 -38px 76px 8px; 
}
.block-gallery .h2 {
    margin: 0 0 67px 0;
    text-align: center;
}
.block-gallery .border-title:before {
    bottom: -28px;
    left: 530px;
}
.block-gallery .gallery img {
    margin: 0 25px 30px 0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}