/*!
 * Проект: Generent
 * Файл: Основные стили
 */

/* ==========================================================================
   _Шрифты
   ========================================================================== */
/* Roboto Light */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcSZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
}
/* Roboto Black */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: local('Roboto Black'), local('Roboto-Black'), url(http://fonts.gstatic.com/s/roboto/v15/3Y_xCyt7TNunMGg0Et2pniZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
}
/* Rouble Normal */
@font-face {
	font-family: 'Rouble';
	src: url('../fonts/rouble.eot');
	src: url('../fonts/rouble.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* ==========================================================================
   _Основные стили
   ========================================================================== */
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
	width: 100%;
	height: 100%;
	font: 300 14px/20px 'Roboto', Arial, sans-serif;
	color: #182437;
	background: #efefef;
}
body {
	width: 100%;
	margin: 0 auto;
	min-width: 320px;
	height: 100%;
	position: relative;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
}
.wrapper-container {
	padding: 30px 0;
}
.aside {
	width: 230px;
	float: left;
}
.content {
	width: 730px;
	float: right;
}
.unit {
	padding: 20px 30px;
	background: #fff;
	position: relative;
	z-index: 0;
}
.unit-grey { background: #e7e7e7; }
.unit-beige { background: #f8f8f8; }
.wrapper:after, .aside:after, .content:after, .unit:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
/* ==========================================================================
   _Текстовые стили
   ========================================================================== */
p { margin: 0 0 20px; }
p.large { margin-bottom: 34px; font-size: 18px; line-height: 26px; }
ul, ol { margin: 0 0 20px 0; padding: 0 0 0 16px; }
ul { list-style: none; }
ul li, ol li { margin-bottom: 6px; }
ul li { position: relative; }
ul li:before { width: 10px; height: 1px; display: block; content: ' '; overflow: hidden; clear: both; background: #a6a6a6; position: absolute; left: -14px; top: 10px; }
a { color: #1c5c97; outline: none; text-decoration: none; transition: color .2s ease; }
a:hover, a:focus { color: #d62828; outline: none; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h2, .h3, .h4, .h5, .h6 { margin: 0; font-family: 'Roboto', Arial, sans-serif; }
h1, .h1 { margin-bottom: 30px; font-size: 48px; line-height: 68px; font-weight: bold; text-transform: uppercase; letter-spacing: .07em; }
h2, .h2 { margin-bottom: 28px; font-size: 24px; line-height: 30px; font-weight: bold; }
.h2-up { text-transform: uppercase; letter-spacing: -.005em; }
h3, .h3 { margin-bottom: 20px; font-size: 18px; line-height: 26px; font-weight: bold; }
h4, .h4 { margin-bottom: 20px; font-size: 16px; line-height: 18px; font-weight: bold; }
h5, .h5 { margin-bottom: 10px; font-size: 14px; line-height: 16px; font-weight: bold; }
h6, .h6 { margin-bottom: 10px; font-size: 12px; line-height: 14px; font-weight: bold; }
audio, canvas, img, video { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
figure { margin-right: 20px; margin-left: 20px; }
figcaption { margin: 10px 0; color: #808080; font-size: 12px; line-height: 18px; }
.rub { font-family: 'Rouble', Arial, sans-serif; }
.red { color: #d24850; }
.text-center { text-align: center; }
.h-big { margin-bottom: 6px; display: block; font-size: 30px; line-height: 38px; }
.h-biggest { margin-bottom: 16px; font-size: 60px; line-height: 100px; }
/* ==================================================================================================
   Стили форм для плагина Form Styler 1.6.2 @homepage https://github.com/Dimox/jQueryFormStyler
   ================================================================================================== */
/* === INPUT === */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea { width: 370px; height: 50px; padding: 10px 18px; border: 1px solid #bebebe; border-radius: 0; box-shadow: none; outline: none; -webkit-appearance: none; color: #1d1205; font: 300 18px 'Roboto', Arial, sans-serif; background: #fff; transition: border-color .3s ease; }
textarea { width: 400px; height: 168px; max-height: 300px; overflow: auto; resize: none; }
input[type="email"]:not([disabled]):focus, input[type="number"]:not([disabled]):focus, input[type="password"]:not([disabled]):focus, input[type="search"]:not([disabled]):focus, input[type="tel"]:not([disabled]):focus, input[type="text"]:not([disabled]):focus, input[type="url"]:not([disabled]):focus, textarea:not([disabled]):focus { border-color: #969696; }
input[type="email"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="url"][disabled], textarea[disabled] { cursor: default; background: #f6f5f3; opacity: 1; }
/* === BUTTON === */
button, .button, input[type="button"], input[type="submit"], input[type="reset"] { height: 50px; padding: 10px 20px; border: none; border-radius: 0; box-shadow: none; outline: none; cursor: pointer; overflow: visible; color: #fff; font: 300 18px/18px 'Roboto', Arial, sans-serif; background: #3575af; transition: background-color .3s ease; }
button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner { padding: 0; border: 0; }
button:after { content: ''; }
button:not([disabled]):hover, input[type="button"]:not([disabled]):hover, input[type="submit"]:not([disabled]):hover, input[type="reset"]:hover,
button:not([disabled]):focus, input[type="button"]:not([disabled]):focus, input[type="submit"]:not([disabled]):focus, input[type="reset"]:focus { background-color: #d62828; }
button[disabled], input[type="button"][disabled], input[type="submit"][disabled] { cursor: default; opacity: .75; background: #8d8d8d !important; }
button[disabled]:before, input[type="button"][disabled]:before, input[type="submit"][disabled]:before { text-shadow: none; background: #585858 !important; }
/* === CHECKBOX === */
.jq-checkbox { width: 12px; height: 12px; border: 1px solid #bebebe; border-radius: 0; margin: 0 4px 0 0; position: relative; top: -1px; display: inline-block; vertical-align: middle; cursor: pointer; background: #fff; transition: border-color .2s; }
.jq-checkbox .jq-checkbox__div { width: 8px; height: 8px; border-radius: 0; background: #3575af; position: absolute; top: 1px; right: 0; bottom: 0; left: 1px; opacity: 0; transition: opacity .1s; }
.jq-checkbox.checked .jq-checkbox__div { opacity: 1; }
.jq-checkbox.focused { border-color: #a09f9e; }
.jq-checkbox.disabled { cursor: default; background: #f6f5f3; }
.jq-checkbox.disabled.checked .jq-checkbox__div { opacity: .5; }
/* === RADIO === */
.jq-radio { width: 14px; height: 14px; border: 1px solid #b8b8b8; border-radius: 50%; margin: 0 10px 0 0; position: relative; top: 2px; display: inline-block; vertical-align: middle; cursor: pointer; background: #fff; transition: border-color .2s; }
.jq-radio .jq-radio__div { border-radius: 50%; position: absolute; top: 2px; right: 2px; bottom: 2px; left: 2px; opacity: 0; background: #b8b8b8; transition: opacity .1s; }
.jq-radio.checked .jq-radio__div { opacity: 1; }
.jq-radio.focused { border-color: #a09f9e; }
.jq-radio.disabled { cursor: default; background: #f6f5f3; }
.jq-radio.disabled.checked .jq-radio__div { opacity: .5; }
/* === SELECT === */
.jq-selectbox { vertical-align: middle; cursor: pointer; position: relative; display: inline-block; }
.jq-selectbox__select { height: 50px; padding: 0 36px 0 18px; border: 1px solid #bebebe; border-radius: 0; color: #1d1205; font: 300 18px 'Roboto', Arial, sans-serif; background: #fff; transition: border-color .2s; }
.jq-selectbox.focused .jq-selectbox__select { border-color: #969696; }
.jq-selectbox.disabled .jq-selectbox__select { cursor: default; background: #f6f5f3; }
.jq-selectbox__select-text { width: 100%; height: 48px; padding: 12px 0 0; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.jq-selectbox .placeholder { color: #1d1205; }
.jq-selectbox.disabled .placeholder {; }
.jq-selectbox__trigger { width: 39px; height: 100%; position: absolute; top: 0; right: 0; }
.jq-selectbox__trigger-arrow { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.jq-selectbox__trigger-arrow:before, .jq-selectbox__trigger-arrow:after { content: "\0020"; display: block; position: absolute; top: 50%; left: 50%; transition: background-color .2s; }
.jq-selectbox__trigger-arrow:before { margin: -8px 0 0 -5px; width: 0; height: 0; border-style: solid; border-width: 0 4px 7px 4px; border-color: transparent transparent #000 transparent; }
.jq-selectbox__trigger-arrow:after { margin: 2px 0 0 -5px; width: 0; height: 0; border-style: solid; border-width: 7px 4px 0 4px; border-color: #000 transparent transparent transparent; }
.jq-selectbox:not(.disabled):hover .jq-selectbox__trigger-arrow:before, .jq-selectbox.focused .jq-selectbox__trigger-arrow:before { border-color: transparent transparent #a09f9e transparent; }
.jq-selectbox:not(.disabled):hover .jq-selectbox__trigger-arrow:after, .jq-selectbox.focused .jq-selectbox__trigger-arrow:after { border-color: #a09f9e transparent transparent transparent; }
.jq-selectbox.disabled .jq-selectbox__trigger-arrow:before, .jq-selectbox.disabled .jq-selectbox__trigger-arrow:after { background: #a09f9e; }
.jq-selectbox__dropdown { width: 100%; padding: 0; border: 1px solid #000; border-radius: 1px; margin: 0; top: 44px; color: #000; font: 14px/16px 'PT Sans', Arial, sans-serif; background: #fff; }
.jq-selectbox ul { padding: 0; margin: 0; }
.jq-selectbox li { min-height: 28px; padding: 16px; color: #323232; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; }
.jq-selectbox li.selected { color: #ed6447; }
.jq-selectbox li:hover { color: #ed6447; }
.jq-selectbox li.disabled { color: #aaa; }
.jq-selectbox li.disabled:hover { background: none; }
.jq-selectbox li.optgroup { font-weight: bold; }
.jq-selectbox li.optgroup:hover { background: none; color: #323232; cursor: default; }
.jq-selectbox li.option { padding-left: 25px; }
.jq-selectbox__search { margin: 5px; }
.jq-selectbox__search input { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 5px 27px 6px 8px; outline: none; border: 1px solid #ccc; border-radius: 3px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%; box-shadow: inset 1px 1px #f1f1f1; color: #333; -webkit-appearance: textfield; }
.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration { -webkit-appearance: none; }
.jq-selectbox__not-found { margin: 5px; padding: 5px 8px 6px; background: #f0f0f0; font-size: 13px; }
.jq-select-multiple { -moz-box-sizing: border-box; box-sizing: border-box; padding: 1px; border: 1px solid #ccc; border-radius: 4px; background: #fff; color: #333; font: 14px/18px Arial, sans-serif; cursor: default; }
.jq-select-multiple.focused { border: 1px solid #5794bf; }
.jq-select-multiple.disabled { border-color: #ccc; background: #f6f5f3; box-shadow: none; }
.jq-select-multiple ul { margin: 0; padding: 0; }
.jq-select-multiple li { padding: 3px 9px 4px; list-style: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; }
.jq-select-multiple li:first-child { border-radius: 3px 3px 0 0; }
.jq-select-multiple li:last-child { border-radius: 0 0 3px 3px; }
.jq-select-multiple li.selected { background: #08c; color: #fff; }
.jq-select-multiple li.disabled { color: #aaa; }
.jq-select-multiple.disabled li.selected, .jq-select-multiple li.selected.disabled { background: #ccc; color: #fff; }
.jq-select-multiple li.optgroup { font-weight: bold; }
.jq-select-multiple li.option { padding-left: 25px; }
/* ==========================================================================
   _Дефолтная форма
   ========================================================================== */
/* === Цвета placeholder === */
/*noinspection CssInvalidPseudoSelector*/
::-webkit-input-placeholder { color: #1d1205; opacity: 1; }
/*noinspection CssInvalidPseudoSelector*/
:-moz-placeholder { color: #1d1205; opacity: 1; }
/*noinspection CssInvalidPseudoSelector*/
::-moz-placeholder { color: #1d1205; opacity: 1; }
/*noinspection CssInvalidPseudoSelector*/
:-ms-input-placeholder { color: #1d1205; opacity: 1; }
.form { cursor: default; display: block; }
.form:after, .form-line:after { width: 100%; content: "\0020"; display: block; clear: both; overflow: hidden; }
.checkbox, .radio { padding-left: 21px; display: inline-block; vertical-align: middle; position: relative; outline: none; -webkit-appearance: none; font-size: 18px; }
.checkbox .jq-checkbox, .radio .jq-radio { position: absolute !important; top: 50%; left: 0; margin: -6px 0 0 0; }
.form .line { margin-bottom: 17px; }
.form-line { width: 100%; margin-bottom: 12px; clear: left; }
.form-line input[type="email"], .form-line input[type="number"], .form-line input[type="password"], .form-line input[type="search"], .form-line input[type="tel"], .form-line input[type="text"], .form-line input[type="url"], .form-line textarea, .form-line .jq-selectbox, .form-line .jq-file { width: 100%; }
/* ==========================================================================
   _Шапка
   ========================================================================== */
.header {
	height: 112px;
	color: #fff;
	background: #182437;
}
.header .wrapper {
	position: relative;
}
.header .logo {
	width: 142px;
	height: 32px;
	margin: 0;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
	position: absolute;
	top: 44px;
	left: 0;
	background: url("../img/logo.png") 0 0 no-repeat;
	background-size: cover;
}
.header .selection {
	width: 174px;
	margin-bottom: 0;
	padding-left: 32px;
	font-size: 12px;
	position: absolute;
	top: 37px;
	left: 202px;
}
.header .selection:before {
	width: 23px;
	height: 23px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 10px;
	background: url("../img/sprite/1.png") 0 0 no-repeat;
	background-size: cover;
}
.header .selection a:not(:hover), .header .search a:not(:hover), .header .callback a:not(:hover), .header .address a:not(:hover) { color: #81bee0; }
.header .search {
	width: 170px;
	padding-left: 34px;
	font-size: 12px;
	position: absolute;
	top: 37px;
	left: 406px;
}
.header .search:before {
	width: 23px;
	height: 23px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 10px;
	background: url("../img/sprite/3.png") 0 0 no-repeat;
	background-size: cover;
}
.header .callback {
	width: 146px;
	position: absolute;
	top: 24px;
	right: 222px;
}
.header .callback a {
	font-size: 12px;
}
.header .callback a.tel {
	margin: 4px 0;
}
.header .address {
	width: 200px;
	position: absolute;
	top: 24px;
	right: 0;
}
.header .address .links {
	margin: 0 -4px;
	font-size: 12px;
}
.header .address .links a {
	margin: 0 4px;
}
.header .address .tabs {
	margin: 0 -4px;
	padding: 0;
}
.header .address .tabs li {
	margin: 0 4px;
	display: inline-block;
}
.header .address .tabs li:before { display: none; }
.header .address .tabs li.active a {
	color: #f2213c;
}
.header .address .tab {
	margin: 4px 0;
}
.header .address .tab-hidden {
	display: none;
}
.header .address a.tel, .header .callback a.tel {
	display: block;
	font-size: 18px;
	font-weight: 900;
	cursor: default;
	color: #fff;
}
.header .address a.tel .color, .header .callback a.tel .color {
	color: #aaa;
}
/* ==========================================================================
   _Навигация
   ========================================================================== */
.nav {
	min-height: 54px;
	background: #1c5c97;
}
.nav .wrapper {
	position: relative;
	padding-right: 100px;
}
.nav .nav-in {
	margin: 0 -18px;
	padding: 0;
}
.nav .nav-in:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.nav .nav-in > li {
	margin-bottom: 0;
	float: left;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: .04em;
	position: relative;
}
.nav .nav-in li:before { display: none; }
.nav .nav-in > li > a {
	padding: 18px;
	display: block;
	color: #fff;
	transition: color .2s ease;
}
.nav .nav-in > li:hover > a, .nav .nav-in > li.active > a {
	color: #64bcee;
}
.nav .nav-in li ul {
	width: 270px;
	padding: 2px 0;
	display: none;
	background: #fff;
	position: absolute;
	top: 56px;
	left: 0;
	z-index: 200;
}
.nav .nav-in li:hover ul {
	display: block;
}
.nav .nav-in li ul li {
	margin-bottom: 0;
	text-transform: none;
	font-weight: normal;
	border-bottom: 1px solid #e3e3e3;
}
.nav .nav-in li ul li:last-child {
	border-bottom: 0;
}
.nav .nav-in li ul li a {
	padding: 6px 6px 6px 18px;
	display: block;
	letter-spacing: 0;
}
.nav .search {
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	position: absolute;
	top: 18px;
	right: 0;
	transition: color .2s ease;
}
.nav .search:hover {
	color: #64bcee;
}
/* ==========================================================================
   _Подвал
   ========================================================================== */
.footer {
	height: 180px;
	color: #fff;
	position: relative;
	background: #1b2534;
	overflow-x: hidden;
}
.footer:before, .footer:after {
	width: 146px;
	height: 240px;
	margin-right: -486px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	background: #2776bd;
	bottom: 0;
	right: 50%;
	-webkit-transform: skew(-34deg);
	-moz-transform: skew(-34deg);
	-o-transform: skew(-34deg);
	transform: skew(-34deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	z-index: 1;
}
.footer:after {
	margin-right: -632px;
	background: #a53536;
}
.footer .wrapper {
	position: relative;
	z-index: 2;
}
.footer .copyright {
	margin: 0;
	position: absolute;
	top: 124px;
	left: 0;
	color: #dde8ec;
}
.footer .search .links a:not(:hover), .footer .callback a:not(:hover), .footer .address a:not(:hover) { color: #81bee0; }
.footer .search {
	width: 350px;
	position: absolute;
	top: 30px;
	right: 102px;
}
.footer .search .form {
	margin-bottom: 8px;
}
.footer .search input[type="text"] {
	width: 100%;
	height: 36px;
	padding: 4px 14px;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 900;
	letter-spacing: .05em;
	border-color: #2776bd;
	background: #14233a;
}
.footer .search ::-webkit-input-placeholder { color: #fff; opacity: 1; }
.footer .search :-moz-placeholder { color: #fff; opacity: 1; }
.footer .search ::-moz-placeholder { color: #fff; opacity: 1; }
.footer .search :-ms-input-placeholder { color: #fff; opacity: 1; }
.footer .search .links {
	font-size: 12px;
}
.footer .search .links:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.footer .link {
	width: 50%;
	margin-bottom: 0;
	padding-left: 34px;
	display: block;
	float: left;
	position: relative;
}
.footer .link:before { width: 23px; height: 23px; display: block; content: ' '; overflow: hidden; position: absolute; left: 0; top: 10px; }
.footer .link-selection:before {
	background: url("../img/sprite/1.png") 0 0 no-repeat;
	background-size: cover;
}
.footer .link-search {
	width: 43%;
	float: right;
}
.footer .link-search:before {
	background: url("../img/sprite/3.png") 0 0 no-repeat;
	background-size: cover;
}
.footer .callback {
	width: 146px;
	position: absolute;
	top: 24px;
	left: 0;
}
.footer .callback a {
	font-size: 12px;
}
.footer .callback a.tel {
	margin: 4px 0;
}
.footer .address {
	width: 200px;
	position: absolute;
	top: 24px;
	left: 200px;
}
.footer .address .links {
	margin: 0 -4px;
	font-size: 12px;
}
.footer .address .links a {
	margin: 0 4px;
}
.footer .address .tabs {
	margin: 0 -4px;
	padding: 0;
}
.footer .address .tabs li {
	margin: 0 4px;
	display: inline-block;
}
.footer .address .tabs li:before { display: none; }
.footer .address .tabs li.active a {
	color: #f2213c;
}
.footer .address .tab {
	margin: 4px 0;
}
.footer .address .tab-hidden {
	display: none;
}
.footer .address a.tel, .footer .callback a.tel {
	display: block;
	font-size: 18px;
	font-weight: 900;
	cursor: default;
	color: #fff;
}
.footer .address a.tel .color, .footer .callback a.tel .color {
	color: #aaa;
}
/* ==========================================================================
   _Верхний блок
   ========================================================================== */
.top {
	color: #fff;
	background: #0f8092 url("../img/top.jpg") 50% 50% no-repeat;
	background-size: cover;
}
.top .wrapper {
	padding: 16px 0;
}
.top .h1 {
	margin-bottom: 0;
}
/* ==========================================================================
   _Хлебные крошки
   ========================================================================== */
.breadcrumbs {
	margin: 4px 0;
	color: #a6c2ce;
	letter-spacing: -.02em;
}
.breadcrumbs .arrow {
	padding: 0 6px;
}
.breadcrumbs a {
	color: #81bee0;
}
/* ==========================================================================
   _Важный текст
   ========================================================================== */
.important {
	margin: 0;
	padding: 22px 0;
	font-size: 18px;
	line-height: 26px;
	font-weight: 900;
}
.important.red {
	color: #fff;
	background: #d24850;
}
.important.grey {
	background: #efefef;
}
.important p:last-of-type {
	margin-bottom: 0;
}
/* ==========================================================================
   _ Преимущества
   ========================================================================== */
.features {
	margin: 0 -20px;
}
.features:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.features .item {
	width: 33.3%;
	padding: 0 20px;
	float: left;
}
.features .pic {
	width: 64px;
	height: 64px;
	margin-bottom: 12px;
	display: block;
}
.features .pic-left {
	margin: 0 12px;
	float: left;
}
.features.simple {
	margin: 0;
}
.features.simple .item {
	width: 100%;
	padding: 0 0 0 60px;
	float: none;
	position: relative;
}
.features.simple .pic {
	width: 32px;
	height: 32px;
	margin: 0;
	position: absolute;
	left: 12px;
	top: 8px;
}
/* ==========================================================================
   _Сноска с картинкой
   ========================================================================== */
.note {
	margin: 0 10px;
}
.fn {
	margin: 12px 4px;
	color: #808080;
	font-size: 12px;
	line-height: 18px;
}
/* ==========================================================================
   _Колонки
   ========================================================================== */
.columns {
	margin: 0 -10px 26px;
}
.columns:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.columns .col {
	width: 50%;
	padding: 0 10px;
	float: left;
}
.columns .col-2 {
	width: 65%;
}
.columns .col-1 {
	width: 35%;
}
.columns .col-3 {
	width: 33.3%;
	padding: 0 10px;
}
.columns .col-3:nth-child(1) { padding-left: 20px; }
.columns .col-3:nth-child(3) { padding-right: 20px; }
.columns .col p:last-of-type {
	margin-bottom: 0;
}
/* ==========================================================================
   _Текст с картинкой
   ========================================================================== */
.picture:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.picture .pic {
	margin: 10px 28px 20px 6px;
	float: left;
}
.picture .pic.right { float: right; margin-right: 0; margin-left: 10px; }
/* ==========================================================================
   _Таблица
   ========================================================================== */
.table {
	width: 100%;
	font-size: 12px;
}
.table th {
	padding: 16px 10px;
	text-align: left;
	font-weight: normal;
	background: #efefef;
}
.table td {
	padding: 20px 10px;
	border-bottom: 1px solid #efefef;
}
.table tr:last-of-type td {
	border-bottom: none;
}
.table p {
	margin-bottom: 0;
}
/* ==========================================================================
   _Навигация (боковая)
   ========================================================================== */
.sidenav {
	margin-bottom: 16px;
	padding: 14px 20px;
	font-size: 16px;
	background: #fff;
}
.sidenav ul {
	margin: 0;
	padding: 0;
}
.sidenav ul li {
	margin-bottom: 10px;
}
.sidenav ul li:before {
	display: none;
}
.sidenav ul li a {
	color: #1b2534;
}
.sidenav ul li a:hover {
	color: #3575af;
}
.sidenav ul li ul {
	margin: 14px 0;
	padding-left: 10px;
	font-size: 14px;
}
.sidenav ul li ul li {
	margin-bottom: 8px;
}
/* ==========================================================================
   _Слайдер маленький (в сайдбаре)
   ========================================================================== */
.slider-small {
	margin-bottom: 16px;
	padding: 14px 20px;
	background: #fff;
}
.slider-small .slider-in {
	height: 280px;
	overflow: hidden;
}
.slider-small .slider-in.slick-initialized {
	height: auto;
	overflow: visible;
}
.slider-small .slider-in:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.slider-small .item {
	width: 190px;
	height: 280px;
	float: left;
}
.slider-small p {
	margin-bottom: 2px;
}
.slider-small .pic {
	max-width: 100%;
	margin: 0 auto 34px;
	display: block;
}
.slider-small .name {
	text-transform: uppercase;
}
.slider-small .name .icon {
	width: 18px;
	margin: 4px 6px;
	display: inline-block;
	vertical-align: top;
}
.slick-dots {
	margin: 0 -4px;
	padding: 6px 0 0 0;
}
.slick-dots li {
	width: 14px;
	height: 14px;
	margin: 6px;
	padding: 2px;
	display: inline-block;
	cursor: pointer;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.slick-dots li.slick-active {
	background: #3575af;
}
.slick-dots li:before {
	display: none;
}
.slick-dots li .dots {
	width: 10px;
	height: 10px;
	display: block;
	border: 2px solid #a53536;
}
.slick-dots li:not(.slick-active):hover .dots {
	background-color: #d62828;
	border-color: #d62828;
}
.slick-dots li.slick-active .dots {
	border-color: transparent;
}
/* ==========================================================================
   _Слайдер
   ========================================================================== */
.slider {
	color: #fff;
	background: #1b2534;
}
.slider.blue {
	background: #0b4277;
}
.slider .wrapper {
	padding-top: 38px;
	padding-bottom: 34px;
}
.slider .h2 {
	width: 40%;
	float: left;
	font-size: 32px;
	line-height: 40px;
	text-transform: uppercase;
}
.slider .list {
	width: 52%;
	height: 288px;
	padding-top: 4px;
	float: left;
}
.slider .list .entry {
	min-height: 71px;
	margin-bottom: 16px;
	padding-left: 90px;
	position: relative;
	float: left;
}
.slider .list .h3 {
	margin-bottom: 8px;
	line-height: 28px;
	font-weight: normal;
}
.slider .list .h3 a {
	color: #fff;
}
.slider .list .entry:hover a {
	color: #cd2829;
}
.slider .list .pic {
	width: 71px;
	height: 71px;
	display: block;
	position: absolute;
	left: 0;
	top: 6px;
	border: 3px solid #2776bd;
}
.slider .list .entry:hover .pic {
	border-color: #cd2829;
}
.slider .list .pic img {
	width: 65px;
	height: 65px;
	display: block;
}
.slider .list time {
	color: #93959a;
}
.slider .slick-dots {
	position: absolute;
	left: -77%;
	top: 94px;
}
.slider .slick-dots li {
	margin: 7px;
}
/* ==========================================================================
   _Дефолтные стили слайдера ( Slick-slider )
   ========================================================================== */
.slick-slider { position: relative; display: block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; touch-action: pan-y; -webkit-tap-highlight-color: transparent }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0 }
.slick-list:focus { outline: none }
.slick-list.dragging { cursor: pointer }
.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0) }
.slick-track { position: relative; top: 0; left: 0; display: block }
.slick-track:before, .slick-track:after { display: table; content: '' }
.slick-track:after { clear: both }
.slick-loading .slick-track { visibility: hidden }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px }
[dir='rtl'] .slick-slide { float: right }
.slick-slide img { display: block }
.slick-slide.slick-loading img { display: none }
.slick-slide.dragging img { pointer-events: none }
.slick-initialized .slick-slide { display: block }
.slick-loading .slick-slide { visibility: hidden }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent }
/* ==========================================================================
   _
   ========================================================================== */
.actions {
	min-height: 158px;
	font-size: 24px;
	line-height: 36px;
	color: #fff;
	background: #d62828 url("../img/temp/fon/1.jpg") 50% 50% no-repeat;
	background-size: cover;
}
.actions .wrapper {
	padding-top: 34px;
	padding-bottom: 30px;
}
.actions-in:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.actions-in {
	margin: 0 -10px;
}
.actions .item {
	width: 31.7%;
	padding: 0 11px;
	float: left;
}
.actions .item:first-of-type { width: 36.6%; }
.actions .link {
	display: block;
	color: #fff;
	padding: 8px 14px 20px;
	border: 1px solid rgba(221, 232, 236, .5);
}
.actions .link:hover {
	color: #ff8791;
}
/* ==========================================================================
   _Новости
   ========================================================================== */
.news {
	margin-bottom: 16px;
	padding: 12px 0;
	background: #fff;
}
.news .entry {
	min-height: 114px;
	margin-bottom: 10px;
	padding: 8px 50px 22px 138px;
	position: relative;
	border-bottom: 1px solid #efefef;
}
.news .entry:last-of-type {
	margin-bottom: 0;
	border-bottom: none;
}
.news .image {
	width: 70px;
	height: 70px;
	margin: 0;
	position: absolute;
	top: 16px;
	left: 28px;
}
.news .h3 {
	margin-bottom: 4px;
	font-weight: 300;
}
.news .date {
	color: #b0b0b0;
}
/* ==========================================================================
   _Навигация
   ========================================================================== */
.navigation {
	color: #fff;
	background: #0c9598;
}
.navigation .wrapper {
	padding: 6px 0;
}
.navigation .column {
	width: 25%;
	padding: 0 16px;
	float: left;
}
.navigation .column:nth-child(1) { width: 24.4%; padding-left: 0; }
.navigation .column:nth-child(2) { width: 28%; }
.navigation .column:nth-child(3) { width: 23.4%; }
.navigation .column:nth-child(4) { width: 22.6%; padding-right: 0; }
.navigation .h3 {
	margin-bottom: 0;
	position: relative;
}
.navigation .h3:before, .navigation .h3:after {
	width: 4px;
	height: 9px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 10px;
}
.navigation .h3:before { background: #2776bd; left: -16px; }
.navigation .h3:after { background: #a53536; left: -12px; }
.navigation ul {
	margin-bottom: 24px;
	padding: 0;
	line-height: 24px;
}
.navigation ul li {
	margin-bottom: 2px;
}
.navigation ul li:before { display: none; }
.navigation ul li a {
	color: #fff;
}
.navigation ul li a:hover {
	color: #76c2eb;
}
/* ==========================================================================
   _Страницы
   ========================================================================== */
.pages ul {
	margin-bottom: 0;
	padding: 16px 4px;
	font-size: 18px;
	background: #fff;
}
.pages ul:after { display: block; content: ''; overflow: hidden; clear: both; }
.pages li {
	float: left;
}
.pages li:before { display: none; }
.pages li a {
	padding: 0 12px;
}
.pages li a:hover, .pages li.active a {
	color: #1b2534;
}
/* ==========================================================================
   _Клиенты
   ========================================================================== */
.clients {
	background: #fff;
}
.clients:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.clients .item {
	width: 244px;
	height: 244px;
	overflow: hidden;
	margin: -1px -1px 0 0;
	float: left;
	position: relative;
}
.clients .item:hover {
	overflow: visible !important;
	z-index: 20;
}
.clients .item:nth-child(3n+1) {
	clear: left;
}
.clients .item-in {
	padding: 16px;
	position: relative;
	background: #fff;
	border: 1px solid #efefef;
	transition: box-shadow .2s ease;
}
.clients .item:hover .item-in {
	box-shadow: 0 0 24px 1px rgba(0, 0, 0, .2);
}
.clients .item-in.more {
	width: 244px;
	height: 244px;
	color: #fff;
	background: #3575af;
}
.clients .item-in.more a:not(:hover) {
	color: #71b9e1;
}
.clients .item .link {
	width: 244px;
	height: 242px;
	margin: -16px;
	padding: 16px;
	display: block;
	color: #1b2534;
	position: relative;
}
.clients .item .link:hover {
	color: #3575af;
}
.clients .logo {
	width: 175px;
	height: 150px;
	margin: 0 auto;
	display: block;
}
.clients .name {
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	position: absolute;
	bottom: 18px;
	left: 16px;
}
.clients .text {
	margin: 0;
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.clients .describe {
	margin-top: 16px;
	display: none;
	cursor: default;
	background: #fff;
}
.clients .item:hover .describe {
	display: block;
	font-size: 12px;
	line-height: 18px;
}
.clients .item:hover .describe .color {
	color: #7e7e7e;
}
/* ==========================================================================
   _Контакты
   ========================================================================== */
.block-contacts {
	margin-bottom: 24px;
	padding: 24px 20px;
	background: #fff;
	position: relative;
}
.block-contacts:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.block-contacts .h2 {
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: .046em;
}
.block-contacts .line {
	margin-bottom: 0;
	padding: 10px 0 12px;
	border-bottom: 1px solid #efefef;
}
.block-contacts .line:last-of-type {
	border-bottom: none;
}
.block-contacts .line:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.block-contacts .tel {
	display: block;
	color: #182437;
	cursor: default;
}
.block-contacts .name {
	width: 56%;
	padding-right: 10px;
	display: block;
	float: left;
}
.block-contacts .link {
	width: 44%;
	float: left;
}
.block-contacts .map {
	width: 430px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}
.block-contacts.main {
	margin-bottom: 16px;
	padding-top: 348px;
	padding-bottom: 30px;
	font-size: 36px;
	line-height: 52px;
	text-align: center;
}
.block-contacts.main .h4 {
	margin-bottom: 0;
	top: 283px;
	position: absolute;
	left: 0;
	right: 0;
	text-transform: uppercase;
	z-index: 20;
}
.block-contacts.main .h4 .h-in {
	padding: 10px 34px;
	display: inline-block;
	background: #fff;
}
.block-contacts.main p {
	margin-bottom: 11px;
}
.block-contacts.main .map {
	width: 100%;
	height: 320px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: auto;
}
.block-contacts.main .tel {
	font-weight: bold;
}
.block-contacts.address {
	min-height: 386px;
	padding: 24px 440px 10px 30px;
}
/* ==========================================================================
   _Меню
   ========================================================================== */
.menu {
	margin: 0 -30px 38px;
	background: #f8f8f8;
}
.menu:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.menu .entry {
	width: 33.3%;
	float: left;
	text-align: center;
	font-size: 18px;
	border-right: 1px solid #e7e7e7;
}
.menu .entry:last-of-type {
	border-right: none;
}
.menu .entry .link {
	padding: 118px 10px 30px;
	display: block;
	position: relative;
}
.menu .entry .link:hover {
	color: #d02727;
}
.menu .entry .icon {
	width: 64px;
	height: 64px;
	display: block;
	margin: 0 0 0 -32px;
	position: absolute;
	top: 38px;
	left: 50%;
	transition: opacity .2s ease;
}
.menu .entry .icon.black {
	opacity: 1;
}
.menu .entry .icon.color {
	opacity: 0;
}
.menu .entry .link:hover .icon.black {
	opacity: 0;
}
.menu .entry .link:hover .icon.color {
	opacity: 1;
}
.menu .entry .name {
	display: block;
}
/* ==========================================================================
   _Указатель
   ========================================================================== */
.pointer {
	margin-left: 12px;
	padding: 8px 30px 8px 10px;
	display: inline-block;
	background: #fff;
	position: relative;
}
.pointer:before, .pointer:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.pointer:before {
	width: 12px;
	position: absolute;
	left: -12px;
	top: 0;
	bottom: 0;
	background: url("../img/temp/triangle.png") 0 0 no-repeat;
	background-size: 100% 100%;
}
.pointer .icon {
	margin-right: 10px;
	display: inline-block;
	float: left;
}
.pointer .h {
	display: inline-block;
}
/* ==========================================================================
   _Таблица-каталог
   ========================================================================== */
.wrap-table {
	margin: 0 -30px;
}
.table-catalog {
	width: 100%;
}
.table-catalog th {
	font-size: 11px;
	white-space: nowrap;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.table-catalog th.active {
	background: #fff;
}
.table-catalog th .heading {
	display: inline-block;
	position: relative;
}
.table-catalog th .heading:before, .table-catalog th .heading:after { display: block; content: ' '; overflow: hidden; clear: both; cursor: pointer; position: absolute; right: -12px; top: 7px; }
.table-catalog th .heading:before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 3px 4px 3px;
	border-color: transparent transparent #a7a7a7 transparent;
}
.table-catalog th .heading:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 3px 0 3px;
	border-color: #a7a7a7 transparent transparent transparent;
	top: 12px;
}
.table-catalog td {
	white-space: nowrap;
	border-bottom-color: #cfcfcf;
}
.table-catalog td:first-of-type, .table-catalog th:first-of-type {
	padding-left: 30px;
	padding-right: 16px;
}
.table-catalog td:last-of-type, .table-catalog th:last-of-type {
	padding-left: 4px;
	padding-right: 16px;
}
.table-catalog td.size, .table-catalog th.size {
	padding-left: 4px;
	padding-right: 4px;
}
.table-catalog td.name, .table-catalog th.name {
	padding-left: 14px;
}
.table-catalog .icon {
	width: 18px;
	height: 11px;
	margin-right: 8px;
	margin-top: -2px;
}
/* ==========================================================================
   _Показать
   ========================================================================== */
.show {
	padding: 20px 10px;
	display: block;
	text-align: center;
	background: #fff;
}
.show.border {
	border: 1px solid #3575af;
}
/* ==========================================================================
   _Заголовок с указателем
   ========================================================================== */
.title .h2 {
	width: 40%;
	margin-bottom: 22px;
	padding-right: 16px;
	float: left;
}
/* ==========================================================================
   _Работы
   ========================================================================== */
.projects {
	margin: 0 -30px;
	padding-left: 0;
}
.projects:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.projects li {
	margin: 0 0 1px 1px;
	float: left;
}
.projects li:before { display: none; }
.projects li.all {
	width: 258px;
	height: 156px;
	padding: 20px 24px;
	cursor: default;
	color: #fff;
	background: #3575af;
}
.projects li.all .h2 {
	margin-bottom: 14px;
	text-transform: uppercase;
	line-height: 28px;
}
.projects li.all a:not(:hover) {
	color: #fff;
}
/* ==========================================================================
   _Информационный список
   ========================================================================== */
.info-list {
	list-style: none;
}
.info-list li {
	position: relative;
}
.info-list .number {
	color: #a6a6a6;
	position: absolute;
	left: -16px;
	top: 0;
}
.info-list .heading {
	display: block;
}
.info-list .heading.open {
	margin-bottom: 8px;
	color: #d24850;
}
.info-list .in {
	margin-bottom: 15px;
	display: none;
}
/* ==========================================================================
   _Цветной блок
   ========================================================================== */
.table-color {
	width: auto;
	margin: 0 -30px 0;
	display: table;
	font-size: 18px;
}
.table-color .tr {
	display: table-row;
}
.table-color .td {
	padding: 30px;
	display: table-cell;
	font-weight: 900;
	vertical-align: middle;
	color: #fff;
}
.table-color .tr .td:nth-child(1) {
	width: 26%;
	padding-top: 70px;
	padding-bottom: 76px;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	background: #3575af;
}
.table-color .tr .td:nth-child(2) {
	background: #d24850;
}
.table-color .tr .td:nth-child(1) p {
	margin-bottom: 0;
}
.table-color .list {
	margin: 0;
	padding: 0;
}
.table-color .list:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.table-color .list li {
	width: 50%;
	margin-bottom: 20px;
	padding-left: 50px;
	padding-right: 10px;
	float: left;
}
.table-color .list li:nth-child(2n+1) {
	clear: left;
}
.table-color .list li:before {
	display: none;
}
.table-color .list li .icon {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 4px;
}
.table-color .tel {
	margin-bottom: 0;
	text-align: center;
	font-size: 36px;
	line-height: 40px;
	text-transform: uppercase;
}
.table-color .tel a {
	padding-left: 10px;
	display: inline-block;
	position: relative;
	color: #fff;
	cursor: default;
}
.table-color .tel a:before {
	width: 30px;
	height: 30px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	left: -30px;
	top: 6px;
	background: url("../img/temp/icons/tel.png") 0 0 no-repeat;
	background-size: 100% 100%;
}
/* ==========================================================================
   _Города
   ========================================================================== */
.cities {
	min-height: 330px;
	padding: 0 40px;
	text-align: center;
	position: relative;
}
.cities-in {
	position: relative;
	z-index: 2;
}
.cities .heading {
	margin-bottom: 14px;
	font-size: 36px;
	line-height: 46px;
	font-weight: 900;
}
.cities:before {
	width: 680px;
	height: 400px;
	margin-left: -340px;
	display: block;
	content: "\0020";
	overflow: hidden;
	background: url("../img/temp/map.jpg") 0 0 no-repeat;
	position: absolute;
	top: -70px;
	left: 50%;
	z-index: -1;
}
/* ==========================================================================
   _Карусель на главной
   ========================================================================== */
.index {
	color: #fff;
	background: #0c9598;
}
.index .carousel:after { width: 100%; height: 0; display: block; content: "\0020"; clear: both; visibility: hidden; overflow: hidden; }
.index .carousel {
	height: 334px;
	overflow: hidden;
}
.index .item {
	width: 980px;
	height: 334px;
	padding: 64px 72px;
	float: left;
	background-position: 102% 30px;
	background-repeat: no-repeat;
}
.index .item .text {
	width: 44%;
}
.index .h1 {
	margin-bottom: 16px;
	line-height: 50px;
	letter-spacing: .06em;
}
.index .h3 {
	margin-bottom: 0;
	font-weight: normal;
}
.index .slick-prev {
	width: 0;
	height: 0;
	cursor: pointer;
	margin-top: -22px;
	position: absolute;
	left: 14px;
	top: 50%;
	border-style: solid;
	border-width: 22px 24px 22px 0;
	border-color: transparent #005fa6 transparent transparent;
}
.index .slick-next {
	width: 0;
	height: 0;
	cursor: pointer;
	margin-top: -22px;
	position: absolute;
	right: 14px;
	top: 50%;
	border-style: solid;
	border-width: 22px 0 22px 24px;
	border-color: transparent transparent transparent #005fa6;
}
/* ==========================================================================
   _Адаптивность (планшет вертикально)
   ========================================================================== */
@media (max-width: 999px) {
	.wrapper { width: 768px; padding-left: 20px; padding-right: 20px; }
	.header { height: 108px; }
	.header .selection, .header .search { display: none; }
	.header .logo { top: 40px; left: 20px; }
	.header .callback { top: 22px; right: 372px; }
	.header .address { top: 22px; right: 114px; }
	.header .toggle { width: 23px; height: 20px; display: block; position: absolute; top: 44px; right: 23px; cursor: pointer; border-top: 4px solid #267dc1; border-bottom: 4px solid #267dc1; }
	.header .toggle:before, .header .toggle:after { display: block; content: ' '; overflow: hidden; clear: both; position: absolute; background: #267dc1; }
	.header .toggle:before { height: 4px; top: 4px; left: 0; right: 0; }
	.header .toggle.open { border-top: none; border-bottom: none; }
	.header .toggle.open:before, .header .toggle.open:after { width: 4px; height: 24px; top: -2px; left: 9px; }
	.header .toggle.open:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
	.header .toggle.open:after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
	.nav { display: none; position: absolute; top: 108px; left: 0; right: 0; z-index: 200; }
	.nav.open { display: block; }
	.nav .wrapper { padding: 0; }
	.nav .search { display: none; }
	.nav .nav-in { width: 100%; margin: 0; padding-top: 8px; padding-bottom: 8px; font-size: 18px; }
	.nav .nav-in li { float: none; }
	.nav .nav-in li a { padding: 5px 22px; }
	.nav .nav-in li ul { width: auto; margin: 10px 0; position: relative; top: 0; left: 0; font-size: 16px; }
	.nav .nav-in li:hover ul { display: none; }
	.nav .nav-in li.open ul { display: block; }
	.nav .nav-in li ul li a { padding: 11px 10px 10px 22px; }
	.footer:before { margin-right: -286px; }
	.footer:after { margin-right: -432px; }
	.footer .search .links { display: none; }
	.footer .callback { top: 28px; left: 22px; }
	.footer .address { top: 28px; left: 222px; }
	.footer .copyright { top: 126px; left: 20px; }
	.footer .search { width: 267px; top: 33px; right: 20px; }
	.footer .search input[type="text"] { padding-left: 20px; padding-right: 20px; }
	.navigation .column { width: 33%; }
	.actions { font-size: 18px; line-height: 24px; }
	.actions-in { margin-left: -6px; margin-right: -4px; }
	.actions .item { padding: 0 4px; }
	.actions .in { padding-left: 10px; padding-right: 10px; }
}
@media (max-width: 840px) {
}
@media (max-width: 767px) {

}
/* ==========================================================================
   _Адаптивность (мобильная)
   ========================================================================== */
@media (max-width: 600px) {

}
@media (max-width: 480px) {

}
@media (max-width: 400px) {
}
/* ==========================================================================
   _Стили для печати
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}