/*!
 * Project: LC
 * File: Main styles
 */

/* ==========================================================================
   _BOILERPLATE
   ========================================================================== */
html, button, input, select, textarea {
    color: #2e2e2e;
}
html {
    height: 100%;
    font: 16px/20px 'Calibri', Arial, Tahoma, sans-serif;
    background: #f3f2e4;
}
audio, canvas, img, video {
    vertical-align: middle;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri-webfont.eot');
    src: url('../fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-webfont.woff') format('woff'),
         url('../fonts/calibri-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri_bold-webfont.eot');
    src: url('../fonts/calibri_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri_bold-webfont.woff') format('woff'),
         url('../fonts/calibri_bold-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* ==========================================================================
   _TEXT
   ========================================================================== */
ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0 0 20px 0;
}
a {
    color: #532426;
    text-decoration: underline;
    transition: text-decoration .3s ease;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
}
.h2 {
    font-size: 26px;
}
.h3 {
    font-size: 24px;
}
.text-center {
    text-align: center;
}
.text-red {
    color: #a91218;
}
.text-orange {
    color: #f8860a;
}

/* ==========================================================================
   _LAYOUT
   ========================================================================== */
body {
    min-width: 1200px;
    
}


/* 
   _H-border
   ======================================*/
.h-border {
    position: relative;
}
.h-border:before {
    width: 100%;
    height: 2px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    background: url(../img/sprite.png) 0 -150px repeat-x;
}
.h-border-gray:before {
    background-position: 0 -160px;
}
.h-border-white:before {
    background-position: 0 -170px;
}


/* 
   _Btn
   ======================================*/
.btn {
    width: 111px;
    height: 19px;
    padding-top: 4px;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: url(../img/btn-bg.jpg) 0 0 repeat-x;
    border-radius: 4px;
    transition: color .3s ease;
}
.btn-pick {
    background: url(../img/btn-bg-3.jpg) 0 0 repeat-x;
}

/* 
   _Pager
   ======================================*/
.pager {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    text-align: center;
    font: 12px/20px Arial, Tahoma, sans-serif;
}
.pager:before {
    width: 238px;
    height: 1px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    left: -3px;
    top: 6px;
    background: #bebebe;
}
.pager:after {
    width: 238px;
    height: 1px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    right: 6px;
    top: 6px;
    background: #bebebe;
}
.pager li {
    padding: 0 13px 0 0;
    position: relative;
    display: inline-block;
}
.pager li:after {
    width: 1px;
    height: 12px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    clear: both;
    position: absolute;
    top: 4px;
    right: 4px;
    background: #a4a4a4;
}
.pager li.active {
    color: #d73171;
}

/* 
   _Wrapper
   ======================================*/
.wrapper {
    width: 994px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.wrapper:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}


/* 
   _Header
   ======================================*/
.header {
    height: 224px;
    margin: 0 0 30px 0;
    position: relative;
    color: #cacaca;
    background-color: #401517; 
}
.header:before {
    width: 100%;
    height: 39px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom,  rgba(88,36,38,1) 0%,rgba(109,58,60,1) 100%,rgba(125,185,232,1) 100%);
    border-bottom: 1px solid #804d4f;
}
.header:after {
    width: 100%;
    height: 39px;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../img/header-border.jpg) 50% 0 repeat-x;
    z-index: 1;
}

.header .logo {
    width: 170px;
    height: 174px;
    margin: 0;
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 38px;
    background: url(../img/logo.png) 0 0 no-repeat;
}
.header .logo a {
    width: 170px;
    height: 174px;
    display: block;
}


.header .nav-info {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 9px;
    left: 242px;
    list-style: none;
}
.header .nav-info:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.header .nav-info li {
    margin: 0 25px 0 0;
    float: left;
}
.header .nav-info li a {
    color: #cacaca;
    text-decoration: none;
    transition: color .3s ease;
}
.header .nav-info li a:hover {
    color: #ffe6e6;
}

.header .nav-products {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 87px;
    left: 243px;
    list-style: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.header .nav-products:after {
    width: 100%;
    content: "\0020";
    display: block;
    clear: both;
    overflow: hidden;
}
.header .nav-products li {
    padding-left: 17px;
    margin: 0 20px 0 0;
    position: relative;
    float: left;
    letter-spacing: -.01em;
}
.header .nav-products li:before {
    width: 4px;
    height: 49px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: #fe8c0f;
}
.header .nav-products li a {
    margin: 0 26px 0 0;
    color: #fff;
    text-decoration: none;
    text-shadow:  1px 1px 1px #818079;
    transition: color .3s ease;
}
.header .nav-products li a:hover {
    color: #edb6b6;
}

.header .cart {
    position: absolute;
    top: 83px;
    right: 25px;
    font-size: 18px;
    line-height: 18px;
    text-shadow:  1px 1px 1px #818079;
}
.header .cart .link {
    display: block;
    color: #fff;
    text-decoration: none;
}
.header .cart .link .text {
    position: relative;
    color: #fff;
    transition: color .3s ease;
}
.header .cart .link .text:before {
    width: 52px;
    height: 40px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    left: -58px;
    top: 8px;
    background: url(../img/sprite.png) 0 0 no-repeat;
}
.header .cart .link:hover .text{
    color: #edb6b6;
}
.header .cart .link .icon {
    
}
.header .cart .amount {
    display: block;
    font-size: 13px; 
}

.header .search {
    margin: 0;
    position: absolute;
    bottom: 8px;
    left: 81px;
    z-index: 4;
}
.header .search input[type="text"] {
    width: 685px;
    height: 16px;
    padding: 6px 0 4px 16px;
    margin: 0 11px;
    display: inline-block;
    border: none;
    outline: none;
    color: #cacaca;
    font-size: 14px;
    border-radius: 13px;
    background: #725757;
    box-shadow: inset 0 2px 2px rgba( 0, 0, 0, 1);
}
.header .search input[type="submit"] {
    width: 24px;
    height: 24px;
    display: inline-block;
    outline: none;
    border: none;
    text-indent: -1000px;
    overflow: hidden;
    background: url(../img/sprite.png) -70px 0 no-repeat;
}


/* 
   _Footer
   ======================================*/
.footer {
    width: 100%;
    height: 49px;
    color: #f3f2e4;
    font: 12px/20px Arial, Tahoma, sans-serif;
    background-color: #401517; 
    cursor: default;
}
.footer:after {
    width: 100%;
    content: "\0020";
    display: block;
    overflow: hidden;
}

.footer .contacts {
    margin: 0;
    position: absolute;
    top: 17px;
    left: 20px;
    letter-spacing: .003em;
}

.footer .author {
    position: absolute;
    top:11px;
    right: 22px;
    color: #f3f2e4;
    text-decoration: none;
    transition: color .3s ease;
}
.footer .author:hover {
    color: #ffe6e6;
}

.footer .link {
    width: 224px;
    height: 30px;
    display: block;
    position: absolute;
    top: 11px;
    left: 560px;
    background: url(../img/footer-link.png) 0 0 no-repeat;
}



/* 
   _Shop-title
   ======================================*/
.shop-title {
    padding: 0 0 5px 0;
    margin: 0 20px 15px 24px;
    position: relative;
}
.shop-title:after {
    width: 100%;
    content: "\0020";
    display: block;
    overflow: hidden;
    clear: both;
}

.shop-title .breadcrumbs {
    margin: 0;
    float: left;
}
.shop-title .breadcrumbs .h2 {
    position: relative;    
}
.shop-title .breadcrumbs .link {
    text-decoration: none;
}
.shop-title .breadcrumbs .link:hover {
    text-decoration: underline;
}
.shop-title .breadcrumbs .h2:after {
    width: 11px;
    margin: 0 3px -3px;
    content: "/";
    display: inline-block;
    overflow: hidden;
    color: #c9c9c9;
}
.shop-title .breadcrumbs .h2:last-child:after{
    display: none;
}

.shop-title .full {
    padding-top: 3px;
    float: right;
}

/* 
   _Production > carousel
   ======================================*/
.production .carousel {
    width: 984px;
    padding: 0 0 0 11px;
    margin: 0 0 22px 0;
    overflow: hidden;
}
.production .carousel .bx-wrapper {
    max-width: 100% !important;
    min-height: 344px !important;
}
.production .carousel .bx-wrapper .bx-viewport {
    min-height: 344px !important;
}
.production .carousel .bx-controls-direction a {
    width: 16px;
    height: 79px;
    text-indent: -1000px;
    overflow: hidden;
    position: absolute;
    top: 160px;
    background: url(../img/sprite.png) 0 -50px no-repeat;
}
.production .carousel .bx-controls-direction .bx-prev {
    left: -16px;
}
.production .carousel .bx-controls-direction .bx-next {
    right: -18px;
    background-position: -20px -50px;
}
.production .carousel .catalog {
    width: 10000px !important;
}


/* 
   _Catalog
   ======================================*/
.catalog {
    padding: 6px 0 0 0;
    margin: 0;
    list-style: none;
    font-family: 'Calibri', Arial, Tahoma, sans-serif;
}
.catalog:after {
    width: 100%;
    content: "\0020";
    display: inline-block;
    overflow: hidden;
}

.catalog .item {
    width: 202px;
    min-height: 298px;
    padding: 7px 6px 0 7px;
    margin: 0 33px 33px 0;
    position: relative;
    float: left;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px 2px 0 0;
    border: 2px solid transparent;
    border-bottom: none;
    color: #666666;
    background-color: #fff;
}
.catalog .item:hover {
    border-color: #ae1917;
}  
.catalog .item:before {
    width: 228px;
    height: 158px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    left: -2px;
    right: -11px;
    top: -6px;
    background: url(../img/shadow-item.png) 0 0 no-repeat;
    z-index: -1;
}
.catalog .item:after {
    width: 219px;
    height: 28px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    left: -2px;
    bottom: -28px;
    background: url(../img/item.png) 0 0 no-repeat;
}
.catalog .item:hover:after {
    background-position: 0 -28px; 
}

.catalog .item .sale {
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 5;
}
.catalog .item:hover .sale {
    top: 0;
    right: 0;
}
.catalog .item .sale .new-price {
    width: 107px;
    height: 30px;
    display: block;
    padding-top: 13px;
    position: relative;
    text-align: center;
    color: #88171b;
    font-size: 19px;
    font-weight: bold;
    border-bottom: 1px solid rgba( 118, 118, 118, 0.8);
    background: linear-gradient(to bottom,  rgba(253,213,1,1) 0%,rgba(225,135,2,1) 100%);
}
.catalog .item .sale .new-price:before, .catalog .item .sale .new-price > .before {
    margin-left: -9px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    left: 51%;
    bottom: -21px;
    border: 10px solid transparent;
    border-top: 10px solid #767676;
}
.catalog .item .sale .new-price:after {
    margin-left: -9px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #de8002;
}

.catalog .item .pic {
    width: 150px;
    height: 210px;
    margin: 0 auto 4px;
    position: relative;
    display: block;
    border-top: 1px solid #efefef;
}

.catalog .item .title-link {
    display: block;
    padding-left: 11px;
    display: block;
    color: #666;
    text-decoration: none;
}
.catalog .item .title-link .brand {
    margin: 0 0 5px 0;
    display: block;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -.1em;
}
.catalog .item .title-link .brand:hover {
    text-decoration: none;
}
.catalog .item .title-link .name {
    text-decoration: none;
    transition: text-decoration .3s ease;
}
.catalog .item .title-link .name:hover {
    text-decoration: underline;
}

.catalog .item .price {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #a91218;
    position: absolute;
    bottom: 8px;
    left: 20px;
}

.catalog .item .btn {
    position: absolute;
    bottom: 4px;
    right: 12px;
}
.catalog .item .btn:hover {
    color: #ae1917;
    background: url(../img/btn-bg2.jpg) 0 0 no-repeat;
}


/* 
   _Catalog-full on Catalog-page
   ======================================*/
.catalog-full {
    height: 2160px;
    overflow: hidden;
    margin: 0 -33px 0 0;
}
.catalog-full .item {
    margin-bottom: 54px;
}

/* 
   _About
   ======================================*/
.about {
    margin: 28px 0 24px;
    padding-bottom: 4px;
    background-color: #f4c64e;
    border-top: 8px solid #eea424;
    box-shadow: 0 5px 5px rgba( 0, 0, 0, 0.2);
}

.about .h3 {
    padding-bottom: 6px;
    font-weight: normal;
    margin: 15px 0 18px 26px;
    letter-spacing: 0.05em;
    border-color: #fff;
}

.about .describe {
    padding: 0 0 0 48px;
    font: 14px/17px Arial, Tahoma, sans-serif;
}
.about .describe:after {
    width: 100%;
    content: "\0020";
    display: block;
    overflow: hidden;
    clear: both;
}

.about .describe .text {
    width: 462px;
    float: left;
}
.about .describe .info {
    width: 455px;
    float: right;
}
.about .describe .info .heading {
    margin: 0 0 12px;
}
.about .describe .info .links {
    padding: 0 0 0 50px;
    margin: 0 0 36px;
    line-height: 24px;
    list-style: none;
}
.about .describe .info .links li {
    position: relative;
}
.about .describe .info .links li:before {
    width: 7px;
    height: 7px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: -26px;
    border-radius: 50%;
    background-color: #a91218;
}


/* 
   _New-items
   ======================================*/
.new-items .unit .headlines {
    list-style: none;
}
.new-items .unit .headlines:after {
    width: 100%;
    content: "\0020";
    display: block;
    overflow: hidden;
    clear: both;
}
.new-items .unit .headlines .item .link {
    display: block;
    color: #6e6e6e;
    font: 14px/17px Arial, Tahoma, sans-serif;
}


/* 
   _New-items on Index-page
   ======================================*/
.new-items-index {
    padding-bottom: 12px;
}
.new-items-index .shop-title {
    padding-bottom: 3px;
    margin-bottom: 9px;
}
.new-items-index .unit {
    width: 490px;
    float: left;
    margin-right: 4px;
}
.new-items-index .unit .headlines {
    padding: 0 0 0 20px;
}
.new-items-index .unit .headlines .item {
    width: 132px;
    margin: 0 21px 0 0;
    float: left;
}
.new-items-index .unit .headlines .item .link .pic {
    margin-bottom: 11px;
    display: block;
}
.new-items-index .unit .headlines .item .link .name {
    height: 50px;
    display: block;
    overflow: hidden;
}


/* 
   _Brand-navigation
   ======================================*/
.brand-navigation {
    width: 100%;
    height: 29px;
    padding: 6px 0 0 0; 
    margin: 0 0 24px;
    font: 14px/20px Arial, Tahoma, sans-serif;
    border-radius: 3px;
    background: linear-gradient(to bottom,  rgba(165,18,23,1) 0%,rgba(121,14,18,1) 100%);
}
.brand-navigation ul:after {
    width: 100%;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    clear: both;
}

.brand-navigation li {
    padding: 0 19px 9px;
    position: relative;
    float: left;
}
.brand-navigation li:after {
    width: 1px;
    height: 17px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    clear: both;
    position: absolute;
    top: 3px;
    right: 0;
    background: #fe8c0f;
}
.brand-navigation .title {
    padding-left: 9px;
    color: #fe8c0f;
}
.brand-navigation li a {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: color .3s ease;
}
.brand-navigation li a:hover {
    color: #ffe6e6;
}

.brand-navigation .drop-down {
    min-width: 570px;
    padding: 12px 0 16px 12px;
    display: none;
    background: #a51217;
    border: 1px solid #fe8c0f;
    position: absolute;
    top: 29px;
    left: 0;
    font-size: 16px;
    z-index: 4;
}
.brand-navigation .drop-down:after {
    width: 100%;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    clear: both;
}
.brand-navigation li.active .drop-down {
    display: block;
}
.brand-navigation .drop-down-1 {
    min-width: 760px; 
}
.brand-navigation .drop-down li {
    margin: 0 24px 0 0;
    padding: 0 0 0 22px;
    float: left;
    position: relative;
}
.brand-navigation .drop-down li:after {
    display: none;
}
.brand-navigation .drop-down li a {
    position: relative;
    transition: color .3s ease;
}
.brand-navigation .drop-down li a:hover {
    color: #fe8c0f;
}
.brand-navigation .drop-down li a:before {
    width: 16px;
    height: 2px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: -22px;
    background: #e9d2d2;
    transition: background .3s ease;
}
.brand-navigation .drop-down li a:hover:before {
    background: #fe8c0f;
}

.brand-navigation .drop-down-1 .order {
    margin: 0 0 0 54px;
    font-size: 14px;
}
.brand-navigation .drop-down-1 .order a:before {
    width: 19px;
    height: 19px;
    top: 0px;
    left: -26px;
    background: url(../img/sprite.png) -200px 0;
    transition: none; 
}
.brand-navigation .drop-down-1 .order a:hover:before {
    background: url(../img/sprite.png) -170px 0;
}

/* 
   _Submenu
   ======================================*/
.sidebar {
    width: 228px;
    float: left;
}
.sidebar .h-top {
    padding: 2px 0 9px 8px;
    margin: 0 0 4px;
    font-weight: normal;
}

.submenu {
    padding: 0 0 7px;
    margin: 0 0 28px;
    font: 13px/34px Arial, Tahoma, sans-serif;
    list-style: none;
}
.submenu > li {
    padding: 0 0 0 8px;
    position: relative;
}
.submenu > li:after {
    width: 227px;
    height: 1px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    clear: both;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d3d3d3;
}
.submenu > li > a {
    color: #a91218;
    text-decoration: none;
    font-weight: bold;
}
.submenu > li > ul {
    margin: 0;
    padding: 9px 0 4px 12px;
    display: none;
    font-size: 14px;
    line-height: 16px;
    list-style: none;
}
.submenu > li.active > ul {
    display: block;
}
.submenu > li > ul > li {
    margin: 0 0 1px;
    position: relative;
}
.submenu > li > ul > li:before {
    width: 3px;
    height: 3px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    left: -11px;
    top: 8px;
    background: #fe8c0f;
}
.submenu > li > ul > li > a {
    color: #a91218;
}
.submenu > li > ul > li > ul {
    margin: 0;
    padding: 2px 0 0 14px;
    display: none;
    list-style: none;
}
.submenu > li > ul > li.active > ul {
    display: block;
}
.submenu > li > ul > li > ul > li > a {
    color: #5b3435;
}
.submenu .all-products {
    padding: 0 0 8px 17px;
    margin: -2px 0 2px 0;
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
}
.submenu .all-products li:before {
    display: none;
}
.submenu .all-products li a {
    color: #fe8c0f;
    text-decoration: none;
}
.submenu .all-products .title {
    width: 150px;
    height: 19px;
    padding: 7px 38px;
    margin: 0 0 16px -30px;
    position: relative;
    letter-spacing: .04em;
    background-color: #991f24;
}
.submenu .all-products .title:after {
    width: 226px;
    height: 7px;
    content: "\0020";
    display: block;
    overflow: hidden;
    clear: both;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    background: url(../img/title-border.png) 0 0 no-repeat;
}
.submenu .all-products .delivery {
    position: relative;
}
.submenu .all-products .delivery:before {
    width: 22px;
    height: 18px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 4px;
    left: -30px;
    background: url(../img/sprite.png) -110px 0 no-repeat;
}
.submenu .all-products .order-code {
    position: relative;
}
.submenu .all-products .order-code:before {
    width: 22px;
    height: 13px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: 4px;
    left: -30px;
    background: url(../img/sprite.png) -140px 0 no-repeat;
}

.subscribe {
    padding: 60px 0 0 0;
    margin: 0 0 44px;
}
.subscribe .h2 {
    margin: 0 0 8px;
    position: relative;
    display: block;
}
.subscribe .h2:before {
    width: 45px;
    height: 58px;
    margin: -30px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    top: -26px;
    left: 50%;
    background: url(../img/sprite.png) -60px -50px no-repeat;
}
.subscribe .text {
    display: block;
    margin: 0 0 14px;
}
.subscribe input[type="text"] {
    width: 190px;
    height: 16px;
    padding: 6px 16px 4px 9px;
    margin: 0 0 19px;
    display: inline-block;
    border: none;
    outline: none;
    color: #cacaca;
    font-size: 14px;
    border-radius: 13px;
    background: #fff;
    box-shadow: inset 0 2px 2px rgba( 0, 0, 0, 1);
}
.subscribe input[type="submit"] {
    width: 130px;
    height: 38px;
    margin: 0 auto;
    display: block;
    position: relative;
    outline: none;
    border: none;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background: url(../img/btn-bg4.jpg) 0 0 repeat-x;
    transition: color .3s ease;
}
.subscribe input[type="submit"]:hover {
    color: #e3e3e3;
}

.community-group {
    width: 220px;
    min-height: 250px;
    margin: 0 0 39px;
    font-size: 12px;
    background: #fff;
    font-family: Arial, Tahoma, sans-serif;
}
.community-group .head {
    width: 208px;
    height: 22px;
    padding: 6px;
    margin: 0 auto 9px;
    position: relative;
    display: block;
    background: #5b7fa6;
    color: #fff;
    text-decoration: none;
}
.community-group .head .pic {
    position: absolute;
    top: 6px;
    left: 6px;
}
.community-group .head .logo {
    position: absolute;
    top: 6px;
    right: 6px;
}
.community-group .head .text {
    width: 146px;
    padding: 2px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    letter-spacing: .03em;
}
.community-group .amount {
    margin: 0 0 4px;
    text-align: center;
    font-weight: bold;
}
.community-group .members {
    margin: 0 11px 4px;
}
.community-group .member-link {
    width: 50px;
    margin: 0 20px 6px 0;
    display: inline-block;
}
.community-group .member-link:nth-child(3n) {
    margin: 0;
}
.community-group .nth-child-3n {
    margin: 0;
}
.community-group .member-link a {
    text-decoration: none;
}
.community-group .member-link .photo {
    display: block;
    margin: 0 2px;
}
.community-group .member-link .name {
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
}
.community-group .subscribe-link {
    width: 100%;
    height: 25px;
    padding: 7px 0 0 0;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    color: #fff;
    background: #5b7fa6;
    border-radius: 3px;
}

.sidebar .new-items .unit {
    margin: 0 0 32px;
}
.sidebar .new-items .unit .h2 {
    font-size: 19px;
    color: #595959;
    letter-spacing: .03em;
}
.sidebar .new-items .unit .shop-title {
    padding: 0 0 3px 0;
    margin: 0 0 0 6px;
    border-color: #b8b8b8;
} 
.sidebar .new-items .headlines {
    padding: 0 9px;
    margin: 0 0 8px;
}

.sidebar .new-items .unit .item {
    margin: 11px 0 0;
}
.sidebar .new-items .unit .item:after {
    width: 100%;
    content: "\0020";
    display: block;
    overflow: hidden;
    clear: both;
}
.sidebar .new-items .unit .pic {
    margin: 0 14px 0 0;
    float: left;
    display: block;
}
.sidebar .new-items .unit .name {
    display: block;
    padding: 29px 0 0 0;
}


/* 
   _Content
   ======================================*/
.content {
    width: 730px;
    float: right;
}

.proposion {
    padding: 0;
    margin: 0 0 14px;
    font-size: 22px;
    list-style: none;
    font-family: 'Calibri', Arial, Tahoma, sans-serif;
}
.proposion .link {
    padding: 4px 8px;
    margin: 0 10px 0 0;
    display: inline-block;
    border: 1px solid #fe8c0f;
}
.proposion .link a {
    text-decoration: none;
    transition: color .3s ease;
}
.proposion .link a:hover {
    color: #fe8c0f;
}

.sorting {
    margin: 0 0 14px;
    font: 12px/20px Arial, Tahoma, sans-serif;
}
.sorting .line {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #666666;
}
.sorting .line li {
    display: inline-block;
    position: relative;
}
.sorting .line li:after {
    width: 1px;
    height: 12px;
    content: "\0020";
    display: block;
    overflow: hidden;
    position: absolute;
    clear: both;
    position: absolute;
    top: 4px;
    right: -4px;
    background: #532426;
}
.sorting .line li:last-child:after {
    display: none;
}

.sorting .line-type {
    margin: 0 0 12px;
    padding: 0 3px 0 0;
    text-align: right;
}
.sorting .line-type li {
    margin: 0 6px 0 0;
}
.sorting .line-type li.active {
    color: #921d21;
}
.sorting .line-amount {
    width: 240px;
    margin: -10px 0 10px 0;
    float: left;
}
.sorting .line-amount li {
    padding: 0 3px;
}
.sorting .line-amount .title {
    padding: 0;
}
.sorting .line-amount .title:after {
    display: none;
}
.sorting .line-amount .active {
    color: #532426;
    background: #e9d5d5;
}
.sorting .all {
    margin: -10px 15px 10px 0;
    float: right;
}
.sorting .selected {
    margin: 0;
    clear: both;
}
.attention {
    padding: 7px 30px 6px 20px;
    margin: 0 0 14px;
    color: #fff;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 18px;
    letter-spacing: -.003em;
    text-align: center;
    background: #fe8c0f;
}

/*
   _Text-about
   ======================================*/
.text-about {
    padding: 28px 18px 0;
    font: 12px/14px Arial, Tahoma, sans-serif;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}


/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
    * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}