/*!
 * Project: Ehrle
 * File: Main styles
 * Author: Sergiy Miroshnychenko
 */

/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
	font-family: 'Din Pro';
	src: url('../fonts/dinpro-regular.eot') format('embedded-opentype');
	src: url('../fonts/dinpro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro-regular.woff') format('woff'), url('../fonts/dinpro-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Din Pro';
	src: url('../fonts/dinpro-medium.eot') format('embedded-opentype');
	src: url('../fonts/dinpro-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro-medium.woff') format('woff'), url('../fonts/dinpro-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Din Pro';
	src: url('../fonts/dinpro-bold.eot') format('embedded-opentype');
	src: url('../fonts/dinpro-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/dinpro-bold.woff') format('woff'), url('../fonts/dinpro-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
/* ==========================================================================
   _HTML
   ========================================================================== */
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	font: 18px/24px 'Din Pro', Helvetica, Arial, sans-serif;
	color: #000;
	background: #fff;
}
body {
	width: 100%;
	min-height: 100%;
	padding-top: 62px;
	padding-bottom: 270px;
	position: relative;
	background: #fff;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
/* ==========================================================================
   _LAYOUT
   ========================================================================== */
body:before {
	height: 62px;
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	background: #131416;
}
.wrapper {
	width: 100%;
	min-width: 960px;
	max-width: 1260px;
	padding: 0 10px;
	margin: 0 auto;
}
.wrapper:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
/* ==========================================================================
   _TEXT
   ========================================================================== */
p {
	margin: 0 0 24px;
}
ul, ol {
	margin: 0 0 24px 0;
}
a {
	color: #ed1c24;
	text-decoration: underline;
}
a:focus {
	outline: none;
}
a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 30px;
}
h1, .h1 {
	font-size: 62px;
	font-weight: bold;
	line-height: 80px;
	text-align: center;
}
h2, .h2 {
	font-size: 40px;
	font-weight: bold;
	line-height: normal;
	text-align: center;
}
h3, .h3 {
	font-size: 30px;
	font-weight: bold;
	line-height: normal;
	text-align: center;
}
h4, .h4 {
	font-size: 27px;
	font-weight: bold;
	line-height: normal;
}
h5, .h5 {
	font-size: 24px;
	font-weight: bold;
	line-height: normal;
}
h6, .h6 {
	margin-bottom: 13px;
	font-size: 21px;
	font-weight: bold;
	line-height: normal;
	letter-spacing: .005em;
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
	border-top: 1px solid #d5d5d5;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: .005em;
	cursor: default;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.footer .wrapper {
	width: 960px;
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 270px;
	position: relative;
}
.footer .logo {
	width: 212px;
	margin: 0;
	position: absolute;
	top: 25px;
	left: 10px;
}
.footer .logo img {
	width: 100%;
	display: block;
	opacity: .15;
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: grayscale(100%); /* Current draft standard */
	-webkit-filter: grayscale(100%); /* New WebKit */
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
@-moz-document url-prefix() {
	.footer .logo img {
		opacity: .3;
	}
}
.footer .copyright {
	margin: 0;
	display: block;
	position: absolute;
	top: 90px;
	left: 10px;
}
.footer .contacts {
	width: 550px;
	position: absolute;
	top: 25px;
	right: 0;
}
.footer .contacts .col {
	width: 260px;
	float: left;
}
.footer .contacts .col:nth-child(1) {
	width: 250px;
	margin-right: 30px;
}
.footer .contacts p {
	margin-bottom: 22px;
}
.footer .contacts .link {
	line-height: 18px;
}
.footer .contacts .link a {
	padding-right: 18px;
	position: relative;
}
.footer .contacts .link a:after {
	width: 12px;
	height: 12px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 6px;
	right: 0;
	background: url(../img/sprite.png) 0 0 no-repeat;
}
.footer .contacts .phone {
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -.005em;
}
.footer .contacts .phone a {
	text-decoration: none;
	color: #000;
}
.footer .contacts .h {
	letter-spacing: 0;
}
.footer .contacts .phone-link {
	text-decoration: none;
	color: #000;
	cursor: default;
}
/* ==========================================================================
   _NAV
   ========================================================================== */
.nav {
	cursor: default;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	z-index: 50;
	background: #141414;
}
.nav-fixed {
	position: fixed;
	top: 0;
	background: rgba(20, 20, 20, .95);
}
.nav ul {
	width: 960px;
	height: 40px;
	padding: 5px 0;
	margin: 0 auto;
	list-style: none;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -.002em;
}
.nav ul li {
	margin: 0 7px;
	display: inline-block;
}
.nav ul a {
	padding: 5px;
	display: block;
	outline: none;
	color: #8a8a8a;
	text-decoration: none;
	transition: color .2s ease;
}
.nav ul a:hover {
	color: #fff;
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
	cursor: default;
}
.header .wrapper {
	width: 960px;
	min-height: 108px;
	position: relative;
}
.header .logo {
	width: 212px;
	margin: 0;
	display: block;
	position: absolute;
	top: 26px;
	left: 10px;
}
.header .logo img {
	width: 100%;
	display: block;
}
.header .slogan {
	padding-left: 13px;
	border-left: 1px solid #dcdcdc;
	margin: 0;
	display: block;
	position: absolute;
	top: 35px;
	left: 237px;
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: -.005em;
}
.header .phone {
	margin: 0;
	display: block;
	font-size: 28px;
	line-height: 34px;
	font-weight: bold;
	letter-spacing: .0075em;
	position: absolute;
	top: 35px;
	right: 10px;
}
.header .phone a {
	color: #000;
	text-decoration: none;
	cursor: default;
}
/* ==========================================================================
   _VIDEO
   ========================================================================== */
.video {
	margin-bottom: 50px;
	cursor: default;
	color: #fff;
	background: #131416 url('../img/video/bg.jpg') no-repeat 50% 50%;
	background-size: cover;
}
.video .wrapper {
	min-height: 590px;
	padding-top: 158px;
}
.video .h1 {
	margin-bottom: 8px;
}
.video .h1 span {
	height: 75px;
	padding: 10px 20px;
	display: inline-block;
	position: relative;
	z-index: 1;
	line-height: 45px;
}
.video .h1 span:before {
	border-radius: 4px;
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	-ms-transform: skew(-5deg); /* IE 9 */
	-webkit-transform: skew(-5deg); /* Chrome, Safari, Opera */
	transform: skew(-5deg);
	background: rgba(237, 28, 36, .65);
}
.video .title {
	font: 16px/32px Helvetica, Arial, sans-serif;
	letter-spacing: .2em;
	text-transform: uppercase;
	text-align: center;
}
.video .title span {
	height: 50px;
	padding: 10px 20px;
	display: inline-block;
	position: relative;
	z-index: 1;
	color: #000;
}
.video .title span:before {
	border-radius: 4px;
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	-ms-transform: skew(-5deg); /* IE 9 */
	-webkit-transform: skew(-5deg); /* Chrome, Safari, Opera */
	transform: skew(-5deg);
	background: rgba(255, 255, 255, .85);
}
/* ==========================================================================
   _CLIENTS
   ========================================================================== */
.clients {
	cursor: default;
	box-shadow: inset 0 12px 5px -10px rgba(0, 0, 0, .15);
}
.clients .wrapper {
	width: 960px;
	padding-top: 15px;
	padding-bottom: 25px;
}
.clients .h3 {
	width: 290px;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	font: italic 21px/24px Georgia, 'Times New Roman', serif;
	text-align: left;
}
.clients .list {
	width: 660px;
	margin: 0 -15px 0 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
.clients .list:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.clients .list li {
	margin-right: 40px;
	float: left;
}
.clients .list li:last-child {
	margin-right: 0;
}
.clients .list li img {
	height: 80px;
	display: block;
}
/* ==========================================================================
   _RESPONSIVE
   ========================================================================== */
@media (max-width: 1240px) {
	
}
@media (max-width: 1023px) {
	
}
@media (max-width: 767px) {
	
}
@media (max-width: 575px) {
	
}
@media (max-width: 479px) {
	
}
/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}