/*!
 * Project: Perhlozon
 * File: Main styles
 */

/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
	font-family: 'Fedra Sans Pro';
	src: url('../fonts/FedraSansPro-Light.eot');
	src: url('../fonts/FedraSansPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/FedraSansPro-Light.woff') format('woff'), url('../fonts/FedraSansPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Fedra Sans Pro';
	src: url('../fonts/FedraSansPro-Normal.eot');
	src: url('../fonts/FedraSansPro-Normal.eot?#iefix') format('embedded-opentype'), url('../fonts/FedraSansPro-Normal.woff') format('woff'), url('../fonts/FedraSansPro-Normal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Fedra Sans Pro';
	src: url('../fonts/FedraSansPro-Bold.eot');
	src: url('../fonts/FedraSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FedraSansPro-Bold.woff') format('woff'), url('../fonts/FedraSansPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Fedra Serif A Pro';
	src: url('../fonts/FedraSerifAPro-Bold.eot');
	src: url('../fonts/FedraSerifAPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FedraSerifAPro-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
/* ==========================================================================
   _LAYOUT
   ========================================================================== */
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	font: 16px/24px Arial, Tahoma, sans-serif;
	color: #404142;
}
body {
	width: 100%;
	min-width: 1260px;
	height: 100%;
	margin: 0 auto;
}
/* ==========================================================================
   _TEXT
   ========================================================================== */
p {
	margin: 0 0 24px;
}
ul, ol {
	margin: 0 0 24px 0;
}
a {
	color: #01a551;
	outline: none;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	font-weight: normal;
}
h1, .h1 {
	margin-bottom: 30px;
	font-size: 50px;
	line-height: 56px;
	font-weight: 700;
	font-family: 'Fedra Sans Pro', Arial, sans-serif;
}
h2, .h2 {
	margin-bottom: 27px;
	font-size: 48px;
	line-height: 58px;
	font-weight: 700;
	font-family: 'Fedra Sans Pro', Arial, sans-serif;
}
h3, .h3 {
	margin-bottom: 24px;
	font-size: 42px;
	line-height: 50px;
	font-family: 'Fedra Sans Pro', Arial, sans-serif;
}
.h3 .mark {
	font-weight: normal;
	font-size: 22px;
	top: -14px;
	left: -10px;
}
h4, .h4 {
	margin-bottom: 24px;
	font-size: 36px;
	line-height: 44px;
}
h5, .h5 {
	margin-bottom: 24px;
	font-size: 22px;
	line-height: 28px;
}
h6, .h6 {
	margin-bottom: 14px;
	font-size: 18px;
	line-height: 24px;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.jq-checkbox { top: -1px; width: 13px; height: 13px; border: 1px solid #c3c3c3; border-radius: 3px; background: #f6f6f6 url('data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=') repeat-x; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #fff, inset 1px -1px #fff; vertical-align: middle; cursor: pointer }
.jq-checkbox.checked .jq-checkbox__div { width: 9px; height: 9px; margin: 2px 0 0 2px; border-radius: 2px; background: #666; box-shadow: inset 0 -3px 6px #aaa }
.jq-checkbox.focused { border: 1px solid #08c }
.jq-checkbox.disabled { opacity: .55 }
.jq-radio { width: 12px; height: 12px; border: 1px solid #c3c3c3; border-radius: 50%; background: #f6f6f6 url('data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=') 0 -1px repeat-x; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #fff, inset 1px -1px #fff; vertical-align: middle; cursor: pointer }
.jq-radio.checked .jq-radio__div { width: 6px; height: 6px; margin: 3px 0 0 3px; border-radius: 50%; background: #666 }
.jq-radio.focused { border: 1px solid #08c }
.jq-radio.disabled { opacity: .55 }
.jq-file { width: 270px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); border-radius: 4px }
.jq-file input { cursor: pointer; height: auto; line-height: 1em }
.jq-file__name { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 32px; padding: 0 80px 0 10px; color: #333; font: 14px/30px Arial, sans-serif; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; border: 1px solid #ccc; border-bottom-color: #b3b3b3; border-radius: 4px; box-shadow: inset 1px 1px #f1f1f1; background: #fff }
.focused .jq-file__name { border: 1px solid #5794bf }
.jq-file__browse { position: absolute; top: 1px; right: 1px; padding: 0 10px; border-left: 1px solid #ccc; border-radius: 0 4px 4px 0; background: #f1f1f1 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC') repeat-x; box-shadow: inset 1px -1px #f1f1f1, inset 0 0 #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1); color: #333; text-shadow: 1px 1px #fff; font: 14px/30px Arial, sans-serif }
.jq-file:hover .jq-file__browse { background-color: #e6e6e6; background-position: 0 -10px }
.jq-file:active .jq-file__browse { background: #f5f5f5; box-shadow: inset 1px 1px 3px #ddd }
.jq-file.disabled .jq-file__name { color: #888 }
.jq-file.disabled, .jq-file.disabled .jq-file__browse { border-color: #ccc; background: #f5f5f5; box-shadow: none; color: #888 }
.jq-selectbox { vertical-align: middle; cursor: pointer }
.jq-selectbox__select { height: 30px; padding: 0 45px 0 10px; border: 1px solid #ccc; border-bottom-color: #b3b3b3; border-radius: 4px; background: #f5f5f5 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC') repeat-x; box-shadow: inset 1px -1px #f1f1f1, inset 0 0 #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1); color: #333; text-shadow: 1px 1px #fff; font: 14px/30px Arial, sans-serif }
.jq-selectbox__select:hover { background-color: #e6e6e6; background-position: 0 -10px }
.jq-selectbox__select:active { background: #f5f5f5; box-shadow: inset 1px 1px 3px #ddd }
.jq-selectbox.focused .jq-selectbox__select { border: 1px solid #5794bf }
.jq-selectbox.disabled .jq-selectbox__select { border-color: #ccc; background: #f5f5f5; box-shadow: none; color: #888 }
.jq-selectbox__select-text { display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
.jq-selectbox__trigger { position: absolute; top: 0; right: 0; width: 34px; height: 100%; border-left: 1px solid #ccc }
.jq-selectbox__trigger-arrow { position: absolute; top: 14px; right: 12px; width: 0; height: 0; overflow: hidden; border-top: 5px solid #000; border-right: 5px solid transparent; border-left: 5px solid transparent; opacity: .3 }
.jq-selectbox:hover .jq-selectbox__trigger-arrow { opacity: 1 }
.jq-selectbox.disabled .jq-selectbox__trigger-arrow { opacity: .3 }
.jq-selectbox__dropdown { top: 33px; width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; border: 1px solid #ccc; border-radius: 4px; background: #fff; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); font: 14px/18px Arial, sans-serif }
.jq-selectbox__search { margin: 5px }
.jq-selectbox__search input { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 5px 27px 6px 8px; outline: 0; border: 1px solid #ccc; border-radius: 3px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%; box-shadow: inset 1px 1px #f1f1f1; color: #333; -webkit-appearance: textfield }
/*noinspection CssInvalidPseudoSelector*/
.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration { -webkit-appearance: none }
.jq-selectbox__not-found { margin: 5px; padding: 5px 8px 6px; background: #f0f0f0; font-size: 13px }
.jq-selectbox ul { margin: 0; padding: 0 }
.jq-selectbox li { min-height: 18px; padding: 5px 10px 6px; color: #231f20 }
.jq-selectbox li.selected { background-color: #a3abb1; color: #fff }
.jq-selectbox li:hover { background-color: #08c; color: #fff }
.jq-selectbox li.disabled { color: #aaa }
.jq-selectbox li.disabled:hover { background: 0 }
.jq-selectbox li.optgroup { font-weight: bold }
.jq-selectbox li.optgroup:hover { background: 0; color: #231f20; cursor: default }
.jq-selectbox li.option { padding-left: 25px }
.jq-select-multiple { -moz-box-sizing: border-box; box-sizing: border-box; padding: 1px; border: 1px solid #ccc; border-bottom-color: #b3b3b3; border-radius: 4px; box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0, 0, 0, 0.1); background: #fff; color: #333; font: 14px/18px Arial, sans-serif; cursor: default }
.jq-select-multiple.focused { border: 1px solid #5794bf }
.jq-select-multiple.disabled { border-color: #ccc; background: #f5f5f5; box-shadow: none; color: #888 }
.jq-select-multiple ul { margin: 0; padding: 0 }
.jq-select-multiple li { padding: 3px 9px 4px; list-style: none }
.jq-select-multiple li:first-child { border-radius: 3px 3px 0 0 }
.jq-select-multiple li:last-child { border-radius: 0 0 3px 3px }
.jq-select-multiple li.selected { background: #08c; color: #fff }
.jq-select-multiple li.disabled { color: #aaa }
.jq-select-multiple.disabled li.selected, .jq-select-multiple li.selected.disabled { background: #ccc; color: #fff }
.jq-select-multiple li.optgroup { font-weight: bold }
.jq-select-multiple li.option { padding-left: 25px }
/* aa */
.jq-selectbox__select { height: 31px; padding: 0 27px 0 7px; border: 2px solid #ccc; border-radius: 0; box-shadow: none !important; color: #222; outline: none; font: bold 11px 'Fedra Sans Pro', Helvetica, Arial, sans-serif; text-transform: uppercase; text-shadow: none; background: #fff; transition: none; }
.jq-selectbox__select:hover { background: #fff; }
.jq-selectbox__select-text { min-width: 205px; padding: 8px 0; }
.jq-selectbox__trigger { width: 27px; height: 100%; border: none; top: 0; }
.jq-selectbox__trigger-arrow { width: 20px; height: 20px; top: 4px; right: 3px; border: none; overflow: visible; }
.jq-selectbox__dropdown { top: 29px; border: 2px solid #036; border-radius: 0; box-shadow: none; font: bold 11px 'Fedra Sans Pro', Helvetica, Arial, sans-serif; text-transform: uppercase; }
.jq-selectbox.opened .jq-selectbox__trigger-arrow { background-position: -50px -390px; }
.jq-selectbox.focused .jq-selectbox__select, .jq-selectbox.opened .jq-selectbox__select { border: 2px solid #036; box-shadow: none; background: #fff; }
.jq-selectbox li { padding: 7px; }
.jq-selectbox li:hover { color: #222; background: #ccc; }
.jq-selectbox li.selected { color: #fff !important; background: #036; }
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea { width: 250px; padding: 8px 7px 6px; border: 1px solid #ccc; border-radius: 0; box-shadow: none; color: #222; outline: none; font: 11px/14px 'Fedra Sans Pro', Helvetica, Arial, sans-serif; background: #fff; -webkit-appearance: none; transition: border-color .1s linear; }
input[type="email"]:not([disabled]):focus, input[type="number"]:not([disabled]):focus, input[type="password"]:not([disabled]):focus, input[type="search"]:not([disabled]):focus, input[type="tel"]:not([disabled]):focus, input[type="text"]:not([disabled]):focus, input[type="url"]:not([disabled]):focus, textarea:not([disabled]):focus { border-color: #02a551; background: #fff; }
input[type="search"] { -webkit-appearance: none }
/*noinspection CssInvalidPseudoSelector*/
::-webkit-input-placeholder { color: #222; }
/*noinspection CssInvalidPseudoSelector*/
:-moz-placeholder { color: #222; }
/*noinspection CssInvalidPseudoSelector*/
::-moz-placeholder { color: #222; }
/*noinspection CssInvalidPseudoSelector*/
:-ms-input-placeholder { color: #222; }
textarea { width: 250px; height: 100px; overflow: auto; resize: none; }
.button, button, input[type="button"], input[type="submit"], input[type="reset"] { overflow: visible; padding: 10px 16px 8px; border-radius: 0; outline: none; border: none; font: 11px/14px 'Fedra Sans Pro', Helvetica, Arial, sans-serif; text-transform: uppercase; color: #fff; cursor: pointer; background: #02a551; transition: background-color .1s linear; }
.button::-moz-focus-inner, button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner { padding: 0; border: 0; }
button:not([disabled]):hover, input[type="button"]:not([disabled]):hover, input[type="submit"]:not([disabled]):hover, input[type="reset"]:hover, button:not([disabled]):focus, input[type="button"]:not([disabled]):focus, input[type="submit"]:not([disabled]):focus, input[type="reset"]:focus { background-color: #404142; }
button[disabled], input[type="button"][disabled], input[type="submit"][disabled] { background: #f5f5f5; box-shadow: none; color: #888; }
.checkbox, .radio { font: 12px/17px 'Fedra Sans Pro', Helvetica, Arial, sans-serif; cursor: pointer; }
.form .line { margin-bottom: 16px; clear: left; }
.form .submit { margin: 0; display: block; }
.form label { font: bold 11px/14px 'Fedra Sans Pro', Helvetica, Arial, sans-serif; text-transform: uppercase; }
.form:after, .form .line:after { width: 100%; content: "\0020"; display: block; clear: both; overflow: hidden; }
/* ==========================================================================
   _LAYOUT
   ========================================================================== */
.wrapper {
	width: 1020px;
	margin: 0 auto;
	padding: 20px;
}
.wrapper:after, .content:after, .block:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.content {
	position: relative;
	background: #fff;
	background: url(../img/content.png) 50% 100% repeat-x;
}
.content .ico {
	width: 37px;
	height: 37px;
	display: block;
	position: absolute;
	top: 5px;
	left: 7px;
}
.content:before {
	width: 100%;
	height: 42px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/temp/line-whitelb.png) 0 0 no-repeat;
	background-size: 100% 100%;
	z-index: 100;
}
.content .wrapper {
	padding-top: 60px;
	padding-bottom: 40px;
}
.block {
	background-repeat: no-repeat;
	background-position: 0 0;
}
.block .wrapper {
	padding-bottom: 80px;
	margin-bottom: -14px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
	height: 123px;
	position: relative;
	cursor: default;
}
.header-fixed .header {
	margin-bottom: 57px;
}
.header:before {
	width: 1260px;
	height: 116px;
	margin-left: -630px;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 50%;
	background: url(../img/temp/shadow-beige.png) 50% 50% no-repeat;
	z-index: 10;
}
.header .wrapper {
	padding: 0;
	position: relative;
	z-index: 30;
}
.header .slogan {
	width: 260px;
	margin-bottom: 0;
	position: absolute;
	top: 41px;
	left: 16px;
	color: #404142;
	font: 18px/21px 'Fedra Sans Pro', Arial, sans-serif;
	font-weight: 300;
	text-align: right;
}
.header .slogan span {
	padding: 3px 2px 1px 13px;
	color: #fff;
	background: #27d77d;
}
.header .logo {
	width: 337px;
	height: 42px;
	margin-left: -168px;
	margin-bottom: 0;
	position: absolute;
	top: 37px;
	left: 50%;
}
.header .logo a {
	width: 337px;
	height: 42px;
	display: block;
}
.header .logo img {
	width: 337px;
	height: 42px;
	display: block;
}
.header .ask {
	width: 136px;
	padding-left: 35px;
	display: block;
	color: #dfb91f;
	font-size: 14px;
	line-height: 17px;
	position: absolute;
	top: 41px;
	left: 710px;
}
.header .ask:before {
	width: 30px;
	height: 30px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 0;
	left: -1px;
	background: url(../img/icons/ask.png) 0 0 no-repeat;
	background-size: 100% auto;
}
.header .crest {
	position: absolute;
	top: 0;
	right: 19px;
}
.header .crest img {
	width: 146px;
	height: 94px;
	display: block;
}
.header .crest-2 img {
	width: 58px;
	height: 94px;
	display: block;
}
/* ==========================================================================
   _NAV
   ========================================================================== */
.nav {
	border-bottom: 1px solid #fff;
	box-shadow: 0 6px 6px 1px #11da79;
	position: relative;
	z-index: 100;
	background: #fff;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 79%, rgba(215, 239, 245, 1) 100%);
}
.header-fixed .nav {
	min-width: 1260px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}
.nav .wrapper {
	padding: 0;
}
.nav .list {
	width: 100%;
	margin: 0;
	padding: 0 40px;
	list-style: none;
	display: table;
	font-family: 'Fedra Sans Pro', Arial, sans-serif;
}
.nav .list li {
	display: table-cell;
	text-align: center;
}
.nav .list li a {
	margin-top: -1px;
	margin-bottom: -1px;
	padding: 21px 0 13px;
	display: block;
	color: #000;
	text-decoration: none;
}
.nav .list li a:hover {
	color: #fff;
	background: #36e48f;
}
.nav .list li.active a {
	color: #fff;
	cursor: default;
	background: #36e48f;
}
/* ==========================================================================
   _ANCHORS
   ========================================================================== */
.anchors {
	position: fixed;
	top: 50%;
	left: 20px;
	z-index: 200;
}
.anchors .list {
	padding: 0;
	margin: -90px 0 0 0;
	list-style: none;
}
.anchors .list li {
	padding: 7px 0;
}
.anchors .list li a {
	width: 22px;
	height: 22px;
	border: 2px solid #f5f5f5;
	border-radius: 50%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	display: block;
	position: relative;
}
.anchors .list li a:hover {
	border-color: #27d77d;
}
.anchors .list li a:before {
	border: none;
	display: block;
	border-radius: 50%;
	content: ' ';
	opacity: 0;
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	background: #08dd71 linear-gradient(to bottom, rgba(3, 220, 109, 1) 0%, rgba(231, 249, 112, 1) 100%);
	transition: .2s opacity ease;
}
.anchors .list li.active a:before {
	opacity: 1;
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
	height: 336px;
	color: #999;
	font-size: 14px;
	line-height: 18px;
	cursor: default;
}
.footer .wrapper {
	height: 100%;
	padding-top: 52px;
	position: relative;
}
.footer .title {
	width: 745px;
	margin-left: -362px;
	margin-bottom: 0;
	padding-bottom: 44px;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -.024em;
	text-align: center;
	font-family: 'Arial Narrow', Arial, sans-serif;;
	text-transform: uppercase;
	position: absolute;
	top: 50px;
	left: 50%;
}
.title:after {
	width: 203px;
	height: 1px;
	margin-left: -111px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 50%;
	background: #e0e0e0;
}
.footer .lan {
	margin-left: -24px;
	position: absolute;
	left: 50%;
	bottom: 25px;
}
.footer .lan a {
	display: inline-block;
	color: #dfb91f;
}
.footer .lan a.active {
	color: #888;
	text-decoration: none;
}
.footer .copyright {
	width: 240px;
	margin-bottom: 0;
	padding-left: 41px;
	position: absolute;
	left: 18px;
	bottom: 72px;
}
.footer .copyright:before {
	width: 36px;
	height: 65px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/temp/crest-3.jpg) 0 0 no-repeat;
}
.footer .adr {
	margin-bottom: 0;
	margin-left: -181px;
	position: absolute;
	left: 50%;
	bottom: 73px;
	text-align: center;
}
.footer .adr .tel {
	color: #151515;
	text-decoration: none;
	cursor: default;
}
.footer .author {
	margin-bottom: 0;
	position: absolute;
	right: 2px;
	bottom: 90px;
}
.footer .author a {
	color: #151515;
}
/* ==========================================================================
   _INDEX
   ========================================================================== */
.index {
	height: 664px;
	position: relative;
	cursor: default;
	background: #62c39b url('../img/temp/fon-1.jpg') no-repeat 50% 0;
	background-size: cover;
}
.index:after {
	width: 100%;
	height: 36px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../img/temp/line-whitelb.png) 0 0 no-repeat;
	background-size: 100% 36px;
}
.index .wrapper {
	padding-top: 68px;
	padding-left: 27px;
	padding-right: 500px;
}
.index .h3 {
	margin-bottom: 70px;
	color: #fff;
}
.index .h3 .name {
	text-transform: uppercase;
	font-weight: bold;
}
.index .links {
	margin: 0 -20px;
	padding: 0;
	list-style: none;
	line-height: 17px;
}
.index .links:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.index .links li {
	width: 238px;
	padding: 0 14px;
	float: left;
}
.index .links .video {
	width: 210px;
	height: 117px;
	display: block;
	position: relative;
	box-shadow: 0 5px 24px rgba(36, 89, 112, .35);
}
.index .links .video a {
	width: 210px;
	display: block;
	position: relative;
	text-decoration: none;
	opacity: .85;
	transition: .3s opacity ease;
}
.index .links .video a:hover { opacity: 1; }
.index .links .video a:before {
	width: 77px;
	height: 77px;
	margin: 0 0 0 -38px;
	content: ' ';
	display: block;
	position: absolute;
	left: 50%;
	top: 20px;
	z-index: 2;
	background: url('../img/icons/play.png') no-repeat 0 0;
	background-size: 100% auto;
}
.index .links .video img {
	width: 210px;
	height: 117px;
	margin-bottom: 12px;
	display: block;
	position: relative;
	z-index: 1;
}
.index .links .video .name {
	display: block;
	font: bold 14px/17px Arial, sans-serif;
	letter-spacing: 0;
	color: #fff;
}
/* ==========================================================================
   _PRODUCT
   ========================================================================== */
.product {
	position: relative;
	cursor: default;
}
.product .wrapper {
	padding-top: 76px;
	padding-bottom: 82px;
}
.product .picture {
	width: 500px;
	float: left;
}
.product .picture.scrolled {
	opacity: 0;
	-webkit-transition: -webkit-transform 1.6s ease, opacity 1.6s ease;
	transition: transform 1.2s ease, opacity 1.2s ease;
	-webkit-transform: translate3d(-200px, 0, 0);
	transform: translate3d(-200px, 0, 0);
}
.product .picture.scrolled.visible {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.product .picture .img {
	width: 432px;
	height: 374px;
	margin: 0 auto 28px;
	display: block;
}
.product .picture .fn {
	display: block;
	color: #717171;
	font-style: italic;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}
.features {
	width: 478px;
	padding: 32px 54px 32px 32px;
	float: left;
	cursor: default;
}
.features .h3 {
	margin-bottom: 20px;
	color: #00a650;
	text-transform: uppercase;
	font-weight: bold;
}
.features .h3.scrolled {
	opacity: 0;
	transition: 1s .6s opacity ease;
}
.features .h3.scrolled.visible {
	opacity: 1;
}
.features .list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	line-height: 22px;
}
.features .list li {
	margin-bottom: 21px;
	padding-left: 60px;
	position: relative;
}
.features .list li.scrolled {
	opacity: 0;
	transition: 1s 1s opacity ease;
}
.features .list li.scrolled.visible {
	opacity: 1;
}
.features .list li:before {
	width: 30px;
	height: 30px;
	margin-top: -16px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	left: 8px;
	top: 50%;
	background: url(../img/icons/check.png) 0 0 no-repeat;
	background-size: 100% auto;
}
/* ==========================================================================
   _RECOMMEND
   ========================================================================== */
.recommend {
	min-height: 815px;
	color: #fff;
	position: relative;
	cursor: default;
	background: #3b86d0 url('../img/temp/fon-2.jpg') no-repeat 50% 0;
	background-size: cover;
}
.recommend:before, .recommend:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	left: 0;
	right: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.recommend:before {
	width: 100%;
	height: 42px;
	top: 0;
	background-image: url(../img/temp/line-whitelt.png);
}
.recommend:after {
	width: 100%;
	height: 36px;
	bottom: 0;
	background-image: url(../img/temp/line-bluel.png);
}
.recommend .info {
	margin-bottom: 18px;
}
.recommend .info .wrapper {
	padding-top: 86px;
	position: relative;
}
.recommend .inside {
	min-height: 241px;
	position: relative;
	padding: 50px 400px 24px 24px;
}
.recommend .h3 {
	font-weight: 700;
}
.recommend .slogan {
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -.016em;
}
.recommend .laps {
	position: absolute;
	top: 50px;
	right: 0;
}
.recommend .laps .link-2 { top: 92px; left: 116px; }
.recommend .laps .link-3 { top: 20px; right: 24px; left: auto; }
.laps {
	width: 400px;
	min-height: 190px;
	margin: 0;
	padding: 0;
	color: #572c0c;
	list-style: none;
	font-size: 18px;
}
.laps > li {
	text-align: center;
	position: absolute;
	top: 0;
	left: 16px;
}
.laps > li > a {
	display: block;
	color: #fff;
	text-decoration: none;
	letter-spacing: .03em;
}
.laps .fn {
	width: 260px;
	margin: -78px 0 0 -7px;
	padding: 14px 22px 20px;
	display: none;
	color: #572c0c;
	font-size: 16px;
	line-height: 23px;
	position: absolute;
	top: -100%;
	left: -50%;
	text-align: left;
	cursor: default;
	box-shadow: 0 7px 35px 7px #86490f;
	background: rgba(255, 255, 255, .9);
	border-radius: 14px;
	z-index: 50;
}
.laps .fn:after {
	width: 0;
	height: 0;
	margin-left: -22px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: -22px;
	left: 50%;
	border-style: solid;
	border-width: 22px 21px 0 21px;
	border-color: rgba(255, 255, 255, .9) transparent transparent transparent;
}
.laps .fn ul {
	margin: 0;
	padding: 0 0 0 20px;
	list-style: none;
}
.laps .fn ul li {
	padding-left: 20px;
	position: relative;
}
.laps .fn ul li:before {
	width: 15px;
	height: 2px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	left: 0;
	top: 12px;
	background: #fccf7c;
}
.laps .round {
	width: 50px;
	height: 50px;
	margin: 0 auto 14px;
	display: block;
	position: relative;
	background: #fccf7c;
	box-shadow: 0 7px 35px 7px #86490f;
	border-radius: 50%;
	z-index: 10;
}
.laps .round:before {
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -14px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	border-radius: 50%;
	z-index: 20;
}
.recommend .carousel {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
	font: bold 14px 'Fedra Sans Pro', Arial, sans-serif;
}
.recommend .carousel li {
	padding: 0 23px;
	display: inline-block;
	opacity: .6;
	text-align: center;
	transition: opacity .2s linear;
}
.recommend .carousel li:hover {
	opacity: 1;
}
.recommend .carousel li a {
	color: #1c1d1c;
	text-decoration: none;
}
.recommend .carousel .pic {
	width: 189px;
	height: 189px;
	margin: 0 auto 12px;
	padding: 15px;
	display: block;
	background: transparent;
	border-width: 3px;
	border-style: solid;
	border-radius: 50%;
}
.recommend .carousel .pic img {
	width: 100%;
	height: 100%;
	display: block;
	background: #fff;
	border: 4px solid #fff;
	border-radius: 50%;
}
/* ==========================================================================
   _DESCRIBE
   ========================================================================== */
.describe {
	min-height: 862px;
	color: #fff;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #bcdbef url('../img/temp/fon-3.jpg') no-repeat 50% 0;
	background-size: cover;
}
.describe:before, .describe:after {
	width: 100%;
	height: 36px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	background-size: 100% 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	left: 0;
	right: 0;
}
.describe:before {
	top: -36px;
	background-image: url(../img/temp/line-whiterb.png);
}
.describe:after {
	height: 42px;
	bottom: 0;
	background-image: url(../img/temp/line-whiterb.png);
}
.describe .wrapper {
	padding-top: 312px;
	padding-left: 44px;
}
.describe .h2 {
	margin-bottom: 18px;
}
.describe .text {
	margin-bottom: 18px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}
.describe .text p {
	margin-bottom: 12px;
	position: relative;
}
.describe .text p:last-child {
	padding-top: 13px;
	margin-bottom: 0;
}
.describe .text p:last-child:before {
	width: 470px;
	height: 1px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both; position: absolute;
	background: #d0e19c;
	top: 0;
	left: 0;
}
.describe .sertificates {
	width: 300px;
	font-size: 12px;
	line-height: 14px;
	color: #212121;
	position: absolute;
	bottom: -8px;
	right: 176px;
}
.describe .sertificates.scrolled {
	-webkit-transition: -webkit-transform .6s ease;
	transition: transform .6s ease;
	-webkit-transform: translate3d(0, 200px, 0);
	transform: translate3d(0, 200px, 0);
}
.describe .sertificates.scrolled.visible {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.describe .sertificates:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.describe .sertificates .name {
	width: 100px;
	float: right;
	padding-top: 61px;
}
.describe .docs {
	display: block;
}
.describe .doc {
	display: inline-block;
}
.describe .doc-1 {
	margin-right: -86px;
	margin-bottom: -14px;
}
/* ==========================================================================
   _RESEARCH
   ========================================================================== */
.research {
	position: relative;
}
.research .capsula {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.research .capsula:before {
	width: 800px;
	height: 890px;
	margin: 0 0 0 -85px;
	display: block;
	content: ' ';
	position: absolute;
	top: 65px;
	left: 50%;
	z-index: -1;
	background: url('../img/temp/capsula.png') no-repeat 0 0;
}
.research:before {
	width: 100%;
	height: 42px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/temp/line-whitelb.png) 0 0 no-repeat;
	background-size: 100% 100%;
	z-index: 100;
}
.research:after {
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(246, 243, 229, 0) 50%, rgba(246, 243, 229, 1) 100%);
	z-index: -1;
}
.research .wrapper {
	padding-top: 75px;
	padding-bottom: 60px;
	position: relative;
	z-index: 20;
}
.instruction {
	min-height: 159px;
	margin-bottom: 104px;
	margin-left: -10px;
	padding-left: 454px;
	position: relative;
}
.instruction:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.picture-doc {
	width: 616px;
	height: 319px;
	padding: 0 100px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.instruction .picture-doc {
	position: absolute;
	left: -100px;
	bottom: 0;
}
.picture-doc:before {
	width: 533px;
	height: 30px;
	margin-left: -265px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 50%;
	background: url(../img/temp/shadow-green.png) 0 0 no-repeat;
	z-index: 10;
}
.picture-doc img {
	width: 416px;
	height: 319px;
	display: block;
}
.picture-doc.scrolled img {
	-webkit-transition: -webkit-transform .5s 1s ease;
	transition: transform .5s 1s ease;
	-webkit-transform: translate3d(0, 200px, 0);
	transform: translate3d(0, 200px, 0);
}
.picture-doc.scrolled.visible img {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.instruction .list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 15px;
	cursor: default;
}
.instruction .list li a {
	color: #00b1fb;
	text-decoration: none;
}
.instruction .list li a span { text-decoration: underline; }
.instruction .list li a:hover span { text-decoration: none; }
.instruction .list li a span.doc, .instruction .list li a span.pdf {
	height: 17px;
	padding: 0 3px;
	border-radius: 3px;
	overflow: hidden;
	display: inline-block;
	position: relative;
	top: 3px;
	color: #fff;
	font-size: 10px;
	line-height: 17px;
	text-transform: uppercase;
	text-decoration: none;
	background: #157efb;
}
.instruction .list li a span.pdf {
	background: #d00b0b;
}
.instruction .list .type {
	width: 28px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 2px;
}
.instruction .list .type-pdf { background-position: -90px -30px; }
.instruction .list .size {
	color: #989898;
}
.research .info {
	padding-right: 550px;
	padding-left: 20px;
	position: relative;
	font-size: 15px;
	line-height: 20px;
}
.research .info:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.research .info .text {
	margin-bottom: 60px;
}
.research .cards {
	width: 380px;
	height: 280px;
	margin-left: -5px;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
	font-size: 15px;
	font-weight: bold;
	position: relative;
}
.research .cards:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.research .cards li {
	width: 286px;
	min-height: 170px;
}
.research .cards li:nth-child(1) { position: absolute; top: 0; left: 0; z-index: 60; }
.research .cards li:nth-child(2) { position: absolute; top: 15px; left: 18px; z-index: 50; }
.research .cards li:nth-child(3) { position: absolute; top: 33px; left: 36px; z-index: 40; }
.research .cards li:nth-child(4) { position: absolute; top: 49px; left: 52px; z-index: 30; }
.research .cards li:nth-child(5) { position: absolute; top: 63px; left: 69px; z-index: 20; }
.research .cards li:nth-child(6) { position: absolute; top: 100px; left: 100px; z-index: 10; }
.research .cards li.active {
	z-index: 100;
}
.research .cards li a {
	width: 286px;
	min-height: 170px;
	padding: 6px 30px;
	display: table;
	color: #fff;
	position: relative;
	text-decoration: none;
	background: #fff;
	border-radius: 3px;
}
.research .cards li a:hover {
	z-index: 100;
}
.research .cards .number {
	width: 18px;
	height: 18px;
	display: block;
	padding-top: 2px;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	position: absolute;
	top: 6px;
	right: 6px;
}
.research .cards .cell {
	width: 100%;
	display: table-row;
	overflow: hidden;
}
.research .cards .cell .in {
	padding: 14px 0;
	display: table-cell;
	vertical-align: middle;
}
.research .cards .cell-name {
	font-weight: normal;
}
.research .cards .cell-name .in {
	border-top: 1px solid rgba(244, 244, 244, .22);
}
.research .laps {
	width: 326px;
	height: 260px;
	position: absolute;
	top: -25px;
	right: 0;
}
.research .laps .fn {
	margin-top: -106px;
	right: -104px;
	left: auto;
}
.research .laps .link-1 { left: 28px; }
.research .laps .link-2 { left: auto; right: 24px; top: 90px; }
.research .laps .link-3 { left: 94px; top: auto; bottom: 0; }
/* ==========================================================================
   _ARTICLES
   ========================================================================== */
.articles {
	margin-bottom: -32px;
	padding-bottom: 118px;
	padding-right: 384px;
	background-position: 98% 100%;
	background-repeat: no-repeat;
}
.number-list {
	margin: 0;
	padding: 10px 0 0;
	list-style: none;
}
.number-list li {
	min-height: 56px;
	margin-bottom: 24px;
	padding-left: 80px;
	position: relative;
}
.number-list li a {
	vertical-align: middle;
	color: #404142;
	text-decoration: none;
}
.number-list li a:hover {
	color: #01a551;
	text-decoration: underline;
}
.number-list .number {
	width: 54px;
	height: 54px;
	display: block;
	color: #f3e8c5;
	text-align: center;
	font: bold 40px/48px 'Fedra Serif A Pro', Arial, sans-serif;
	position: absolute;
	left: 2px;
	top: 2px;
	border-radius: 50%;
	border: 1px solid #e2bf32;
	cursor: default;
}
.articles .number-list li {
	display: table;
}
.articles .number-list li a {
	display: table-cell;
	transition: color .1s linear;
}
.articles .number-list li a:hover {
	text-decoration: none;
}
/* ==========================================================================
   _REVIEWS
   ========================================================================== */
.reviews {
	margin: 0 -48px 0 8px;
	padding: 0 28px;
	list-style: none;
}
.reviews:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.reviews li {
	width: 320px;
	margin-bottom: 62px;
	padding: 0 45px;
	float: left;
}
.reviews li:nth-child(3n+1) {
	clear: left;
}
.reviews li a {
	display: block;
	text-decoration: none;
	transition: color .1s linear;
}
.reviews li a:hover {
	color: #404142;
}
.reviews .pic {
	width: 211px;
	height: 301px;
	margin-bottom: 21px;
	display: block;
	position: relative;
	box-shadow: 0 2px 14px rgba(0, 0, 0, .26);
}
.reviews .pic img {
	width: 211px;
	height: 301px;
	display: block;
}
.reviews .pic:before {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	opacity: .2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50%;
	background: #faf8ef;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(250, 243, 229, 1) 100%);
}
/* ==========================================================================
   _CONTACTS
   ========================================================================== */
.contacts {
	padding-left: 80px;
	position: relative;
	padding-right: 384px;
	padding-bottom: 60px;
	margin-bottom: -34px;
	background-position: 103% 100%;
	background-repeat: no-repeat;
}
.contacts .h {
	color: #02a551;
}
.contacts .tel {
	text-decoration: none;
	font-weight: bold;
	color: #404142;
	cursor: default;
}
/* ==========================================================================
   _EXPLORE
   ========================================================================== */
.block-explore {
	background-position: 98.7% 99.4%;
}
.triggers {
	margin: 0 -2px 41px;
	padding: 0;
	list-style: none;
	font: bold 24px/32px 'Fedra Serif A Pro', Arial, sans-serif;
	position: relative;
}
.triggers:before {
	height: 22px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	opacity: .5;
	background: url(../img/temp/shadow-gray.png) 50% 100% no-repeat;
}
.triggers:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.triggers li {
	min-width: 440px;
	margin: 0 4px;
	border-radius: 4px 4px 0 0;
	border: 1px solid transparent;
	border-bottom: none;
	float: left;
	text-align: center;
	background-color: #f6f8f8;
}
.triggers li a {
	padding: 22px 23px 15px;
	display: block;
	text-decoration: none;
	color: #01a551;
	position: relative;
	z-index: 10;
	background: transparent;
}
.triggers li a:after {
	height: 50px;
	display: block;
	content: ' ';
	position: absolute;
	left: -5px;
	right: -5px;
	bottom: 0;
	z-index: -1;
	background: linear-gradient(to bottom, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, 1) 100%);
}
.triggers li.active {
	background-color: #fff;
	border-color: #b6b6b6;
}
.triggers li.active a {
	color: #898989;
}
.tab {
	min-height: 268px;
	padding-right: 360px;
	padding-left: 20px;
}
.tab-hidden {
	display: none;
}
.block-explore .number-list li {
	display: table;
}
.block-explore .number-list li a {
	display: table-cell;
	vertical-align: middle;
	transition: color .1s linear;
}
.block-explore .number-list li a:hover {
	text-decoration: none;
}
/* ==========================================================================
   _NEWS
   ========================================================================== */
.block-news {
	background-size: cover;
}
.block-news .wrapper {
	padding-right: 384px;
}
.block-news .number-list > li {
	min-height: 60px;
	margin-bottom: 18px;
}
.block-news .number-list > li > ul {
	margin: 24px 0 0 0;
	padding-left: 20px;
}
.block-news .number-list > li > ul li {
	margin-bottom: 16px;
	padding-left: 0;
}
.block-news .date {
	width: 56px;
	color: #e1be2e;
	font-size: 12px;
	line-height: 14px;
	position: absolute;
	left: 1px;
	top: -1px;
}
.block-news .date .day {
	display: block;
	font: bold 30px/32px 'Fedra Serif A Pro', Arial, sans-serif;
}
/* ==========================================================================
   _QUESTIONS
   ========================================================================== */
.block-questions .fon {
	position: absolute;
	bottom: 0;
	right: 10px;
	z-index: 20;
}
.block-questions .wrapper {
	padding-bottom: 358px;
}
.block-questions .number-list li {
	padding: 18px 20px 0 80px;
	margin-bottom: 19px;
}
.block-questions .h {
	margin-bottom: 34px;
	display: block;
	color: #404142;
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
}
.block-questions .answer {
	margin-bottom: 0;
	padding: 16px 30px 21px 18px;
	background: #fdfbf1;
	box-shadow: 0 0 48px rgba(58, 56, 48, .2);
	position: relative;
}
.block-questions .answer:before {
	width: 0;
	height: 0;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: -15px;
	left: 20px;
	border-style: solid;
	border-width: 16px 0 0 28px;
	border-color: transparent transparent transparent #fdfbf1;
}
/* ==========================================================================
   _RECOMMENDATION
   ========================================================================== */
.recommendation .wrapper {
	padding-bottom: 10px;
}
.recommendation .info {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 23px;
	text-align: center;
	color: #01a551;
}
.recommendation .title {
	margin-bottom: 49px;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: bold;
}
.recommendation .text {
	margin-bottom: 64px;
}
.video-block {
	position: relative;
}
.video-block .item {
	margin-bottom: 88px;
	padding-left: 102px;
	font-size: 19px;
	line-height: 27px;
	position: relative;
}
.video-block .item:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.video-block .col {
	width: 50%;
	float: left;
}
.video-block .in {
	width: 424px;
	height: 253px;
	display: block;
	position: relative;
	box-shadow: 0 3px 35px rgba(2, 165, 81, .91);
}
.video-block .play {
	width: 120px;
	height: 120px;
	margin: -60px 0 0 -60px;
	display: block;
	border-radius: 50%;
	border: 6px solid #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	background: url(../img/temp/play.png) 60% 50% no-repeat;
}
.video-block img {
	display: block;
	position: relative;
	z-index: 1;
	transition: opacity .1s linear;
}
.video-block .in:hover img {
	opacity: .9;
}
.video-block .text {
	padding: 0 17px;
	margin-bottom: 0;
}
/* ==========================================================================
   _POPUP_ASK
   ========================================================================== */
.popup {
	width: 400px;
	padding: 30px;
	cursor: default;
}
.popup .h5 {
	text-align: center;
}
.popup input[type="text"], .popup textarea {
	width: 100%;
	display: block;
}
.popup input[type="submit"] {
	margin: 0 auto;
	display: block;
}
/* ==========================================================================
   fancyBox v2.0.6 fancyapps.com | fancyapps.com/fancybox/#license
   ========================================================================== */
.fancybox-tmp iframe, .fancybox-tmp object { vertical-align: top; padding: 0; margin: 0; }
.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }
.fancybox-skin { position: relative; padding: 0; margin: 0; background: #949599; color: #444; text-shadow: none; }
.fancybox-opened { z-index: 8030; }
.fancybox-opened .fancybox-skin { border-radius: 10px; }
.fancybox-outer, .fancybox-inner { padding: 0; margin: 0; position: relative; outline: none; }
.fancybox-inner { overflow: hidden; }
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }
.fancybox-error { color: #444; font: 14px/20px "Europe", Helvetica, Arial, sans-serif; margin: 0; padding: 10px; }
.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; vertical-align: top; }
.fancybox-image { max-width: 100%; max-height: 100%; }
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url(../img/fancybox/fancybox_sprite.png); }
#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; background-position: 0 -108px; opacity: .8; cursor: pointer; z-index: 8020; }
#fancybox-loading div { width: 44px; height: 44px; background: url(../img/fancybox/fancybox_loading@2x.gif) center center no-repeat; background-size: 22px auto; }
.fancybox-close { position: absolute; top: -18px; right: -18px; width: 36px; height: 36px; cursor: pointer; z-index: 8040; }
.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; background: transparent url(../img/fancybox/blank.gif); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); z-index: 8040; }
.fancybox-prev { left: 0; }
.fancybox-next { right: 0; }
.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }
.fancybox-prev span { left: 20px; background-position: 0 -36px; }
.fancybox-next span { right: 20px; background-position: 0 -72px; }
.fancybox-nav:hover span { visibility: visible; }
.fancybox-tmp { position: absolute; top: -9999px; left: -9999px; padding: 0; overflow: visible; visibility: hidden; }
#fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: #000; }
#fancybox-overlay.overlay-fixed { position: fixed; bottom: 0; right: 0; }
.fancybox-title { visibility: hidden; font: normal 13px/20px "Europe", Helvetica, Arial, sans-serif; position: relative; text-shadow: none; z-index: 8050; }
.fancybox-opened .fancybox-title { visibility: visible; }
.fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8030; text-align: center; }
.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; padding: 2px 20px; background: rgba(0, 0, 0, 0.8); -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; text-shadow: 0 1px 2px #222; color: #fff; font-weight: 700; line-height: 24px; white-space: nowrap; }
.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: #fff; }
.fancybox-title-inside-wrap { margin-top: 10px; }
.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px; background: #000; background: rgba(0, 0, 0, .8); }
.fancybox-blue .fancybox-skin { border: 3px solid #1074d4; border-radius: 10px; box-shadow: none; background: #fff; }
.fancybox-skin { background: #fff; border-radius: 0 !important; border: none; }
.fancybox-skin .fancybox-close { width: 40px; height: 40px; display: block; top: -59px; right: -57px; outline: none; background: none; transition: background-color .1s ease; }
.fancybox-skin .fancybox-close:hover { }
.fancybox-skin .fancybox-close:before, .fancybox-skin .fancybox-close:after { width: 4px; height: 38px; border-radius: 0; position: absolute; top: 2px; left: 15px; display: block; overflow: hidden; content: ' '; background: #fff; transition: background .1s ease; }
.fancybox-skin .fancybox-close:before { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.fancybox-skin .fancybox-close:after { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.fancybox-skin .fancybox-close:hover:before, .fancybox-skin .fancybox-close:hover:after { background: #36e48f; }
.fancybox-skin .fancybox-prev, .fancybox-skin .fancybox-next { width: 58px; height: 58px; margin-top: -29px; top: 50%; left: -20px; outline: none !important; display: block !important; }
.fancybox-skin .fancybox-prev span, .fancybox-skin .fancybox-next span { width: 38px; height: 38px; display: block !important; visibility: visible !important; position: relative; left: 10px; right: 10px; background: #36e48f; }
.fancybox-skin .fancybox-next { left: auto; right: -20px; }
.fancybox-skin .fancybox-prev span:before, .fancybox-skin .fancybox-prev span:after, .fancybox-next span:before, .fancybox-next span:after { width: 4px; height: 17px; position: absolute; display: block; overflow: hidden; content: ' '; background: #fff; transition: background-color .1s ease; }
.fancybox-skin .fancybox-prev span:before, .fancybox-skin .fancybox-next span:after { -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg); }
.fancybox-skin .fancybox-prev span:after, .fancybox-skin .fancybox-next span:before { -webkit-transform: rotate(-30deg); -moz-transform: rotate(-30deg); -ms-transform: rotate(-30deg); transform: rotate(-30deg); }
.fancybox-skin .fancybox-prev span:before { left: 16px; top: 4px; }
.fancybox-skin .fancybox-prev span:after { left: 16px; top: 17px; }
.fancybox-skin .fancybox-next span:before { left: 18px; top: 4px; }
.fancybox-skin .fancybox-next span:after { left: 18px; top: 17px; }
/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	thead { display: table-header-group; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}