@charset "utf-8";

/* -----------------------------------------------------------------------
* Filename: screen.ie.css
*/

/* _all
 ----------------------------------------------------------------------- */
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
img { -ms-interpolation-mode:bicubic; }
fieldset { padding-top:0; }
textarea { overflow:auto; }
form.inline div, form.inline p { vertical-align:middle; }
form.inline label { position:relative; top:-0.25em; }
form.inline input.checkbox, form.inline input.radio, form.inline input.button, form.inline button { margin:0.5em 0; }

div, .block, .block-item .catalog *, .bx-wrapper { zoom:1; }

.block-item .catalog li.name { border-left-color:#393939; }
.footer { box-shadow:none; }
.footer:before { display:none; }
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { zoom:1; display:inline; }

/* _ie7
----------------------------------------------------------------------- */
body { *cursor:default; }
.block-index .deals li { *display:inline; }
.block-description { *padding-bottom:14px; }
.block-description .tech li { *height:136px; *padding-top:28px; }