/*!
 * Project: LOR
 * File: Main styles
 */

/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/pt_serif-web-bold-webfont.eot');
	src: url('../fonts/pt_serif-web-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt_serif-web-bold-webfont.woff') format('woff'), url('../fonts/pt_serif-web-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/pt_serif-web-regular-webfont.eot');
	src: url('../fonts/pt_serif-web-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt_serif-web-regular-webfont.woff') format('woff'), url('../fonts/pt_serif-web-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/pt_serif-web-bolditalic-webfont.eot');
	src: url('../fonts/pt_serif-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt_serif-web-italic-webfont.woff') format('woff'), url('../fonts/pt_serif-web-italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/pt_serif-web-bolditalic-webfont.eot');
	src: url('../fonts/pt_serif-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt_serif-web-bolditalic-webfont.woff') format('woff'), url('../fonts/pt_serif-web-bolditalic-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

/* ==========================================================================
   _DEFAULT
   ========================================================================== */
* { box-sizing: border-box; }
html {
	font: 14px/24px 'PT Serif', Georgia, 'Times New Roman', serif;
	color: #414a54;
	background: #f4f4ea;
}
audio, canvas, img, video {
	vertical-align: middle;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
a {
	color: #00bdf6;
	text-decoration: underline;
	transition: color .3s ease, text-decoration .3s ease;
}
a:hover {
	color: #f56161;
}
p {
	margin: 0 0 24px;
}
menu, ol, ul {
	padding: 0 0 0 20px;
	margin: 0 0 1em;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: normal;
	font-weight: normal;
}
h1, .h1 { margin-bottom: 18px; font-size: 50px; }
h2, .h2 { margin-bottom: 30px; font-size: 30px; }
h3, .h3 { margin-bottom: 40px; font-size: 24px; }
h4, .h4 { margin-bottom: 23px; font-size: 16px; }
h5, .h5 { margin-bottom: 23px; font-size: 15px; }
h6, .h6 { margin-bottom: 16px; font-size: 14px; font-weight: bold; }

.font-big { font-size: 18px; line-height: 24px; }
.font-small { font-size: 12px; line-height: 18px; }
.font-xsmall { font-size: 11px; line-height: 18px; }

.clear { width: 100%; clear: both; }

/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.form .line {
	margin: 0 0 10px;
	display: block;
}
.form .line:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
input[type="text"], input[type="password"], textarea {
	width: 212px;
	padding: 7px 9px 6px;
	border: 1px solid #c2c2c2;
	border-radius: 4px;
	box-shadow: inset 0 2px 2px rgba(229, 229, 229, 1);
	outline: none;
	font: 14px 'PT Serif', Arial, Tahoma, sans-serif;
	color: #414a54;
	background: #fff;
	transition: box-shadow .3s ease, border-color .3s ease;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border-color: #6596e1;
	box-shadow: inset 0 2px 2px rgba(229, 229, 229, 1), 0 0 5px rgba(101, 150, 225, 1);
}
input[type="text"].error, input[type="password"].error, textarea.error {
	border-color: #be5551;
	box-shadow: inset 0 2px 2px rgba(229, 229, 229, 1), 0 0 5px rgba(190, 85, 81, 1);
	color: #be5551;
}
input[type="text"][disabled], textarea[disabled] {
	opacity: .7;
}
textarea {
	width: 452px;
	height: 170px;
	padding: 13px 20px;
	font: 14px/24px 'PT Serif', Arial, Tahoma, sans-serif;
	resize: none;
}
input[type="submit"], button, .button {
	padding: 9px 20px;
	border: 1px solid #537db9;
	border-radius: 5px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
	font-size: 14px;
	color: #fff;
	position: relative;
	outline: none;
	font-family: 'PT Serif', Georgia, 'Times New Roman', serif;
	background: #00bdf6;
	transition: background .3s ease, box-shadow .3s ease;
}
input[type="submit"].big, button.big, .button.big { padding: 13px 23px; font-size: 16px; }
input[type="submit"].small, button.small, .button.small { padding: 7px 20px; font-size: 12px; }
input[type="submit"].xsmall, button.xsmall, .button.xsmall { padding: 4px 9px; border-radius: 3px; font-size: 11px; }
input[type="submit"]:hover, button:hover, .button:hover, input[type="submit"]:focus, button:focus, .button:focus {
	background-color: #7ac9fc;
}
input[type="submit"]:active, button:active, .button:active {
	background-color: #4b92c0;
	box-shadow: inset 0 -1px 0 #346686;
}

/* ==========================================================================
   _LAYOUT
   ========================================================================== */
body {
	padding: 0 55px;
	width: 1280px;
	margin: 0 auto;
}
body:before {
	height: 100px;
	content: ' ';
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	background: #fff;
}
body:after {
	height: 400px;
	content: ' ';
	display: block;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	z-index: 0;
	background: #61bcf5;
}
.content {
	width: 870px;
	padding: 30px;
	float: left;
	background: #fff;
}
.sidebar {
	width: 270px;
	float: right;
}
.wrapper {
	margin: 0 auto;
	position: relative;
}
.wrapper:after, .header:after, .footer:after, .sidebar:after, .content:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}

/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
	height: 100px;
	margin: 0 -55px;
	position: relative;
	font-size: 12px;
	line-height: 18px;
	color: #9eabba;
	background: #fff;
}
.header .logo {
	width: 84px;
	height: 82px;
	margin: 0;
	display: block;
	position: absolute;
	top: 11px;
	left: 58px;
	background: url(../img/logo.png) 0 0 no-repeat;
}
.header .logo:before {
	width: 137px;
	height: 57px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	top: -10px;
	left: 57px;
	z-index: 10;
	opacity: 0;
	background: url('../img/hover/t.png') 0 0 no-repeat;
	transition: opacity .2s ease;
}
.header .logo .span {
	width: 73px;
	height: 526px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	top: 33px;
	left: 56px;
	z-index: 10;
	opacity: 0;
	background: url(../img/hover/h.png) 0 0 no-repeat;
	transition: opacity .2s ease;
}

.header .logo .span-1 { width: 73px; background-position: 0 0; }

.header .logo .span-1 { width: 73px; background-position: 0 0; }
.header .logo .span-2 { width: 273px; background-position: -73px 0; }
.header .logo .span-3 { width: 478px; background-position: -346px 0; }
.header .logo .span-4 { width: 653px; background-position: -824px 0; }
.header .logo .span-5 { width: 853px; background-position: -1477px 0; }
.header .logo .span-6 { width: 1042px; background-position: -2330px 0; }
body.navigation-hover .header .logo:before { opacity: 1; }
body.navigation-hover-1 .header .logo .span-1,
body.navigation-hover-2 .header .logo .span-2,
body.navigation-hover-3 .header .logo .span-3,
body.navigation-hover-4 .header .logo .span-4,
body.navigation-hover-5 .header .logo .span-5,
body.navigation-hover-6 .header .logo .span-6 { opacity: 1; }

.header .logo a {
	width: 84px;
	height: 82px;
	display: block;
}
.header .contact {
	width: 240px;
	margin: 0;
	display: block;
	padding-left: 38px;
	position: absolute;
	top: 24px;
	right: 548px;
}
.header .contact:before {
	width: 24px;
	height: 24px;
	content: "\0020";
	display: block;
	overflow: hidden;
	background: url('../img/sprite.png') 0 0 no-repeat;
	position: absolute;
	top: 3px;
	left: 0;
}
.header .callback {
	right: 282px;
}
.header .callback:before {
	background-position: -30px 0;
}
.header .contact .link {
	margin: 0 0 5px;
	display: block;
	font-size: 14px;
	letter-spacing: -.008em;
}
.header .phone {
	margin: 0;
	display: block;
	position: absolute;
	top: 21px;
	right: 55px;
}
.header span {
	display: block;
}
.header .number {
	margin: 0 0 6px;
	font-size: 24px;
	color: #7a848f;
	letter-spacing: -.005em;
	text-decoration: none;
	cursor: default;
}

/* ==========================================================================
   _TOP
   ========================================================================== */
.top {
	height: 400px;
	margin: 0 -55px;
	position: relative;
	color: #fff;
	line-height: 46px;
	background: url('../img/top.jpg') 50% 0 no-repeat;
	z-index: 5;
	cursor: default;
}
.top .title {
	margin: 0;
	position: absolute;
	top: 146px;
	left: 55px;
}
.top .h1 {
	margin: 0 0 8px;
}
.top .h2 {
	margin: 0;
}

/* ==========================================================================
   _NAVIGATION (Навигация)
   ========================================================================== */
.navigation {
	width: 100%;
	margin: 0 0 40px;
}
.navigation ul {
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-align: center;
	list-style: none;
	background: #fff;
}
.navigation ul:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.navigation ul li {
	width: 16.667%;
	height: 150px;
	border-left: 1px solid #ecf0f6;
	margin: 0;
	float: left;
	position: relative;
}
.navigation ul li:first-child {
	border-left: none;
}
.navigation ul li:before {
	width: 100px;
	height: 60px;
	margin-left: -50px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	top: 20px;
	left: 50%;
	z-index: 1;
	background: url(../img/icons/icon-1.png) 0 0 no-repeat;
}
.navigation .info:before { background: url(../img/icons/icon-2.png) 0 0 no-repeat; }
.navigation .partners:before { background: url(../img/icons/icon-3.png) 0 0 no-repeat; }
.navigation .question:before { background: url(../img/icons/icon-4.png) 0 0 no-repeat; }
.navigation .reviews:before { background: url(../img/icons/icon-5.png) 0 0 no-repeat; }
.navigation .contacts:before { background: url(../img/icons/icon-6.png) 0 0 no-repeat; }
.navigation ul li a {
	height: 149px;
	padding-top: 105px;
	display: block;
	position: relative;
	z-index: 50;
	color: #9eabba;
	text-decoration: none;
}
.navigation ul li a:hover { text-decoration: underline; }
.navigation li:hover:before, .navigation li.active:before { background-position: 0 -70px; }
.navigation li.active, .navigation li.active a, .navigation ul li:hover a { color: #00bdf6; }

/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
	height: 100px;
	padding-top: 24px;
	clear: both;
	position: relative;
	color: #7e8996;
	cursor: default;
}
.footer .copyright {
	margin: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 24px;
	z-index: 2;
}
.footer .nav {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 24px;
	left: 0;
	right: 0;
	z-index: 1;
	text-align: center;
}
.footer .nav li {
	padding: 0 14px;
	display: inline-block;
}
.footer .phone {
	color: #7a848f;
	font-size: 24px;
	position: absolute;
	top: 29px;
	right: 0;
	z-index: 2;
}
.footer .phone a {
	color: #7a848f;
	text-decoration: none;
	cursor: default;
}

/* ==========================================================================
   _CONTENT
   ========================================================================== */
.index {
	margin: 0 0 20px;
}
.index:after, .index .description:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.index .description {
	width: 370px;
	margin-right: 35px;
	float: right;
}
.index .picture-main {
	float: left;
}
.picture-main {
	width: 361px;
	margin-left: -14px;
	position: relative;
	z-index: 10;
	cursor: default;
}
.picture-main img {
	display: block;
	position: relative;
}
.picture-main figcaption {
	padding: 24px 0 20px 29px;
	font-size: 24px;
	line-height: 34px;
	color: #444a51;
	position: absolute;
	top: 282px;
	left: 13px;
}

/* ==========================================================================
   _ATTENTION
   ========================================================================== */
.attention {
	padding: 14px 20px 14px 37px;
	border-left: 3px solid #bfcbd7;
	margin: 0 140px 40px 0;
	background: #eff6fa;
}
.attention p {
	margin: 0;
}

/* ==========================================================================
   _PICTURE
   ========================================================================== */
.picture {
	margin: 0 0 30px 0;
	display: block;
	cursor: default;
	position: relative;
}
.picture img {
	display: block;
	position: relative;
	z-index: 1;
}
.picture figcaption {
	font-size: 24px;
	line-height: normal;
	color: #fff;
	display: block;
	position: absolute;
	left: 20px;
	bottom: 15px;
	z-index: 2;
}

.content > p:last-of-type {
	margin-bottom: 0;
}

/* ==========================================================================
   _SUBMENU
   ========================================================================== */
.submenu {
	margin: 0 0 30px;
	padding: 29px 21px 15px;
	color: #fff;
	background: #00bdf6;
}
.submenu .h3 {
	margin: 0 0 28px;
	line-height: 24px;
}
.submenu .list {
	margin: 0;
	padding: 0 0 0 18px;
	list-style: none;
}
.submenu .list li {
	margin: 0 0 16px;
}
.submenu .list li a {
	color: #fff;
	transition: text-decoration .3s ease;
}
.submenu .list li a:hover {
	text-decoration: none;
}

/* ==========================================================================
   _BLOCK
   ========================================================================== */
.block {
	padding: 0 19px 9px;
	margin: 0 0 20px;
	background: #fff;
	border: 1px solid #dde5e9;
	border-top: none;
}
.block:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.block .h3 {
	margin: 0 -20px 10px;
	padding: 28px 20px 15px;
	position: relative;
	color: #fff;
	background: #9eabba;
	border-bottom: 1px solid #dde5e9;
}
.block .h3:before {
	width: 15px;
	height: 20px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/sprite.png) -70px 0 no-repeat;
}
.block .h3:after {
	width: 0;
	height: 0;
	content: "\0020";
	display: block;
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 0;
	right: -1px;
	border-style: solid;
	border-width: 0 16px 16px 0;
	border-color: transparent #f4f4ea transparent transparent;
}
.block-news .h3 {
	margin-bottom: 0;
}
.block-news .item {
	padding: 14px 15px 12px 19px;
	border-top: 1px solid #dde5e9;
	margin: 0 -19px 10px;
}
.block-news .item:first-of-type {
	border: none;
}
.block-news .item:last-of-type {
	margin-bottom: 0;
}
.block-news .item .date {
	margin: 0 0 5px;
	font-size: 12px;
	color: #9eabba;
}
.block-news .item .text {
	margin: 0;
	color: #222529;
}
.block-partners .list {
	margin: 0 0 -5px 0;
	padding: 4px 0 0 0;
	list-style: none;
}
.block-partners .list li {
	margin: 0 0 16px;
}

/* ==========================================================================
   BLOCKQUOTE (Цитата)
   ========================================================================== */
.blockquote {
	padding: 37px 0 31px;
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	font-style: italic;
	position: relative;
}
.blockquote:before {
	width: 30px;
	height: 21px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	top: 1px;
	left: -1px;
	background: url(../img/sprite.png) -100px 0 no-repeat;
}
.blockquote p {
	margin: 0 0 4px;
}
.blockquote .author {
	width: 360px;
	display: block;
	font-size: 14px;
	text-align: right;
	color: #9eabba;
}

/* ==========================================================================
   _ALERT
   ========================================================================== */
.alert {
	padding: 14px;
	margin: 0 0 18px;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert-green {
	color: #72a674;
	background: #e0f1d9;
	border-color: #d5e9c8;
}
.alert-green a {
	color: #72a674;
}
.alert-blue {
	color: #4089ad;
	background: #daedf6;
	border-color: #c9e7f1;
}
.alert-blue a {
	color: #4089ad;
}
.alert-yellow {
	color: #ec873b;
	background: #fef7d4;
	border-color: #f6e2bd;
}
.alert-yellow a {
	color: #ec873b;
}
.alert-pink {
	color: #b94b4c;
	background: #f2dede;
	border-color: #eed4d7;
}
.alert-pink a {
	color: #b94b4c;
}

/* ==========================================================================
   _TABS (Табы)
   ========================================================================== */
.tabs {
	width: 100%;
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
	overflow: hidden;
	position: relative;
}
.tabs li {
	margin-right: 1px;
	float: left;
	text-align: center;
}
.tabs li a {
	display: block;
	text-decoration: none;
}
.tabs li.active a {
	cursor: default;
	color: #414a54;
}
.tab-hidden {
	display: none;
}

.tabs-complex:after {
	height: 1px;
	content: "\0020";
	display: block;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #d2dae1;
	z-index: -1;
}
.tabs-complex li a {
	padding: 7px 21px 4px;
	border: 1px solid transparent;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	transition: background .3s ease, border-color .3s ease, color .3s ease;
}
.tabs-complex li a:hover {
	border-color: #d2dae1;
	color: #00bdf6;
	background: #d2dae1;
}
.tabs-complex li.active a {
	border-color: #d2dae1;
	color: #414a54;
	background: #f1f6fa;
}

.tabs-simple {
	line-height: normal;
	margin: 0 0 34px;
}
.tabs-simple li {
	margin-left: 16px;
}
.tabs-simple li a {
	border-bottom: 1px dashed #00bdf6;
	transition: border-color .3s ease, color .3s ease;
}
.tabs-simple li a:hover, .tabs-simple li.active a {
	border-bottom-color: transparent;
}

/* ==========================================================================
   _BREADCRUMBS
   ========================================================================== */
.breadcrumbs {
	font-size: 12px;
	color: #88929d;
}
.breadcrumbs:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.breadcrumbs .link:after {
	width: 6px;
	height: 16px;
	content: "/";
	display: inline-block;
	margin: 0 2px 0 5px;
	clear: both;
	overflow: hidden;
	color: #88929d;
}

/* ==========================================================================
   _PAGER (Нумерация страниц)
   ========================================================================== */
.pager {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	line-height: 26px;
	font-family: Arial, Tahoma, sans-serif;
}
.pager:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.pager li {
	padding: 4px 10px 6px;
	float: left;
	border-radius: 5px;
}
.pager li a {
	display: block;
	color: #9eabba;
	text-decoration: none;
}
.pager li a:hover {
	color: #00bdf6;
	text-decoration: underline;
}
.pager .active {
	background: #d2dae1;
}
.pager .active a {
	color: #414a54;
	text-decoration: none;
}
.pager .next {
	margin-right: 11px;
	padding: 4px 10px 6px 7px;
	background: #00bdf6;
	transition: background .3s ease;
}
.pager .next a {
	color: #fff;
	text-decoration: none;
}
.pager .next:hover {
	background: #45cbfc;
}
.pager .next a:hover {
	color: #fff;
	text-decoration: none;
}

/* ==========================================================================
   _TABLE
   ========================================================================== */
.table {
	border-collapse: collapse;
	margin: 0 0 10px 0;
	cursor: default;
}
.table th {
	padding: 6px 10px 4px;
	border-bottom: 2px solid #c3ced8;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}
.table td {
	padding: 6px 10px;
	vertical-align: top;
	transition: background .3s ease;
}
.table tr th:first-of-type, .table tr td:first-of-type { padding-left: 20px; }
.table tr th:last-of-type, .table tr td:last-of-type { padding-right: 20px; }
.table tr:hover td { background: #d2dae1; }

.table-small {
	font-size: 11px;
	line-height: normal;
}
.table-small td {
	padding: 8px 10px;
	border-bottom: 1px solid #c3ced8;
}
.table-small tr:last-child td { border-bottom: none; }
.table-small tr th:first-of-type, .table-small tr td:first-of-type { padding-left: 10px; }
.table-small tr th:last-of-type, .table-small tr td:last-of-type { padding-right: 10px; }

/* ==========================================================================
   _ICONS
   ========================================================================== */
.icons {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
}
.icons:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
.icons li {
	width: 24px;
	height: 24px;
	margin-right: 5px;
	float: left;
	opacity: .7;
	background: url(../img/social.png) 0 0;
	transition: opacity .3s ease;
}
.icons .twitter { background-position: -30px 0; }
.icons .facebook { background-position: -60px 0; }
.icons .google { background-position: -90px 0; }
.icons li a {
	width: 24px;
	height: 24px;
	display: block;
}
.icons li:hover {
	opacity: 1;
}

/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
}

/* ==========================================================================
   _RESPONSIVE
   ========================================================================== */
@media (max-width: 1260px) {
	body { width: 1024px; }
	.content { width: 614px; }
	.header .logo:before, .header .logo .span { display: none !important; }
	.picture img { width: 100%; }
	.attention { margin-right: 0; }
	.footer { height: 140px; }
	.footer .copyright { top: 60px; }
	.footer .phone { top: 70px; }
}
@media (max-width: 1023px) {
	body { width: 768px; padding: 0 40px; }
	body:after { height: 190px; }
	.header { margin: 0 -40px; }
	.header .logo { left: 38px; }
	.header .phone { right: 38px; }
	.header .contact { max-width: 150px; top: 30px; right: auto; left: 150px; }
	.header .contact:before { top: 6px; }
	.header .callback { left: 315px; }
	.header .contact .h { display: none; }
	.top { height: 190px; margin: 0 -40px; background: url('../img/top-small.jpg') 50% 50% no-repeat; background-size: 100% auto; }
	.top .title { top: 75px; left: 75px; right: 75px; }
	.top .h1 { margin-bottom: 5px; }
	h1, .h1 { font-size: 30px; }
	h2, .h2 { font-size: 18px; }
	.navigation { margin-bottom: 140px; }
	.navigation ul { border-left: 1px solid #ecf0f6; border-right: 1px solid #ecf0f6; }
	.navigation ul li { width: 33.3%; border-bottom: 1px solid #ecf0f6; }
	.navigation ul li:nth-child(4) { border-left: none; }
	.content { width: 100%; margin-bottom: 30px; float: none; }
	.sidebar { width: 100%; float: none; }
	.index .picture-main { margin-left: auto; margin-right: auto; margin-bottom: 30px; float: none; }
	.index .description { width: auto; margin-right: 0; float: none; }
	.index .description .blockquote { margin-right: 150px; }
	.sidebar .block { width: 49%; float: right; }
	.sidebar .block:nth-child(odd) { float: left; clear: left; }
	.submenu { width: 460px; padding: 0; margin-left: -230px; margin-bottom: 0; position: absolute; top: 621px; left: 50%; z-index: 100; }
	.submenu .h3 { padding: 29px 21px 25px; margin: 0; text-align: center; cursor: pointer; }
	.submenu .h3:before { width: 0; height: 0; border-style: solid; border-width: 10px 6px 0 6px; border-color: #fff transparent transparent transparent; display: block; content: ' '; overflow: hidden; position: absolute; top: 34px; right: 20px; }
	.submenu-open .h3:before { border-width: 0 6px 10px 6px; border-color: transparent transparent #fff transparent; }
	.submenu .list { display: none; }
	.submenu .list li a { display: block; }
}
@media (max-width: 720px) {
	body { width: 100%; min-width: 320px; }
}
@media (max-width: 719px) {
	.header .contact { display: none; }
	.top { background-size: auto 100%; }
	.submenu { width: auto; margin-left: 0; left: 40px; right: 40px; }
}
@media (max-width: 568px) {
	.index .description .blockquote { margin-right: 0; }
	.index .picture-main { margin-bottom: 15px; }
	.picture-main { width: 197px; margin-left: auto; margin-right: auto; }
	.picture-main img { width: 197px; }
	.picture figcaption { font-size: 18px; }
	.picture-main figcaption { padding-left: 5px; top: 128px; font-size: 14px; line-height: normal; }
	.sidebar .block { width: 100%; float: none; }
	.sidebar .block:nth-child(odd) { float: none; clear: none; }
	.footer { height: 180px; }
	.footer .phone { display: none; }
	.footer .copyright { top: 100px; left: 0; right: 0; text-align: center; }
	.content { padding: 20px; }
}
@media (max-width: 479px) {
	body { padding: 0 10px; }
	.header, .top { margin: 0 -10px; }
	.header .logo { left: 28px; }
	.header .phone { right: 18px; }
	.top .title { top: 40px; }
	.sidebar { margin-left: 0; }
	.navigation ul li { width: 50%; }
	.navigation ul li:nth-child(4) { border-left: 1px solid #ecf0f6; }
	.navigation ul li:nth-child(2n - 1) { border-left: none; }
	.top .h1 { font-size: 26px; }
	.top .h2 { font-size: 16px; }
	.submenu { top: 770px; left: 10px; right: 10px; }
}