/*!
 * Project: Site 52
 * File: Main styles
 * Author: Sergiy Miroshnychenko
 */

/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri-regular.eot') format('embedded-opentype');
	src: url('../fonts/calibri-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/calibri-regular.woff') format('woff'),
	url('../fonts/calibri-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri-bold.eot') format('embedded-opentype');
	src: url('../fonts/calibri-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/calibri-bold.woff') format('woff'),
	url('../fonts/calibri-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/bebasneue-book.eot');
	src: url('../fonts/bebasneue-book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebasneue-book.woff') format('woff'),
	url('../fonts/bebasneue-book.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/bebasneue-regular.eot');
	src: url('../fonts/bebasneue-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebasneue-regular.woff') format('woff'),
	url('../fonts/bebasneue-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/bebasneue-bold.eot');
	src: url('../fonts/bebasneue-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebasneue-bold.woff') format('woff'),
	url('../fonts/bebasneue-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
/* ==========================================================================
   _HTML
   ========================================================================== */
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	font: 14px/16px 'Calibri', Helvetica, Arial, sans-serif;
	color: #3c3c3c;
}
body {
	min-width: 320px;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
/* ==========================================================================
   _LAYOUT
   ========================================================================== */
.wrapper {
	width: 1060px;
	margin: 0 auto;
	padding: 30px;
}
.content {
	padding-top: 68px;
}
.block {
	margin-bottom: 40px;
}
.wrapper:after, .content:after, .block:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
/* ==========================================================================
   _TEXT
   ========================================================================== */
p {
	margin: 0 0 12px;
}
ul, ol {
	margin: 0 0 22px 0;
}
a {
	outline: none;
	color: #1074d5;
	text-decoration: underline;
}
a:focus {
	outline: none;
}
a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 30px;
}
h1, .h1 {
	padding: 5px;
	font: 700 48px/50px 'Bebas Neue', Helvetica, Arial, sans-serif;
	letter-spacing: .164em;
	text-align: center;
}
h2, .h2 {
	margin-bottom: 24px;
	font: 24px 'Bebas Neue', Helvetica, Arial, sans-serif;
	letter-spacing: .03em;
}
h3, .h3 {
	font: 20px 'Bebas Neue', Helvetica, Arial, sans-serif;
}
h4, .h4 {
	font: 16px 'Bebas Neue', Helvetica, Arial, sans-serif;
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
	color: #fff;
	cursor: default;
	background: #0c3479 url(../img/footer.jpg) 50% 50% no-repeat;
	background-size: cover;
}
.footer .wrapper {
	padding-top: 78px;
	padding-bottom: 70px;
	padding-right: 68px;
	padding-left: 68px;
}
.footer .logo {
	width: 94px;
	height: 74px;
	margin: 0 auto 20px;
}
.footer .logo img {
	width: 100%;
	height: auto;
	display: block;
}
.footer .copyright {
	text-align: center;
}
.footer .copyright .link {
	display: block;
	color: #fff;
	line-height: 14px;
}
.footer .col {
	width: 20%;
	padding: 0 18px 0 0;
	float: left;
}
.footer .col:nth-child(1) { padding: 0; float: right; }
.footer .col:nth-child(2) { width: 17.5%; }
.footer .col:nth-child(3) { width: 18.5%; }
.footer .col:nth-child(4) { width: 22.5%; }
.footer .col .h {
	margin-bottom: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
.footer .nav {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 20px;
}
.footer .nav li a {
	display: block;
	color: #fff;
}
/* ==========================================================================
   _TOP
   ========================================================================== */
.top {
	color: #fff;
	text-transform: uppercase;
	background: #333;
}
.top .wrapper {
	padding-top: 10px;
	padding-left: 32px;
	padding-bottom: 7px;
}
.top .contacts {
	width: 250px;
	margin-right: 20px;
	float: left;
	font-size: 12px;
	line-height: 16px;
	cursor: default;
}
.top .contacts p {
	margin-bottom: 2px;
}
.top .contacts .color {
	color: #ffd43b;
}
.top .contacts .links {
	font: 700 16px 'Bebas Neue', Helvetica, Arial, sans-serif;
}
.top .contacts .links a {
	color: #fff;
	text-decoration: none;
}
.top .contacts .links .tel {
	padding-right: 13px;
	margin-right: 10px;
	border-right: 1px solid #fff;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: -.01em;
	overflow: hidden;
	position: relative;
	top: 2px;
	cursor: default;
}
.top .contacts .links .mail {
	position: relative;
	top: -5px;
	transition: color .3s ease;
}
.top .contacts .links .mail:hover {
	color: #ffd43b;
}
.top .call {
	width: 300px;
	float: left;
}
.top .call .triggers {
	margin: 1px 0 4px 0;
	padding: 0;
	list-style: none;
	font-size: 10px;
	cursor: default;
}
.top .call .triggers:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.top .call .triggers li {
	margin: 0 14px 0 0;
	float: left;
}
.top .call .triggers li a {
	padding: 4px 4px 3px 3px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.top .call .triggers li.active a {
	color: #333;
	position: relative;
	background: #ffd642;
}
.top .call .triggers li.active a:after {
	width: 0;
	height: 0;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	right: 0;
	bottom: -6px;
	border-style: solid;
	border-width: 0 6px 6px 0;
	border-color: transparent #fed542 transparent transparent;
}
.top .call .phones {
	margin: 0;
	padding: 0 0 0 4px;
	list-style: none;
	cursor: default;
}
.top .call .phones li {
	display: none;
}
.top .call .phones li.active {
	display: block;
}
.top .call .phones li a {
	font: 700 20px 'Bebas Neue', Helvetica, Arial, sans-serif;
	letter-spacing: -.01em;
	color: #ffd642;
	cursor: default;
	text-decoration: none;
}
.top .call .phones .time {
	font-size: 12px;
	position: relative;
	top: -4px;
}
.top .request {
	width: 350px;
	padding-top: 8px;
	float: right;
}
.top .request .line {
	width: 50%;
	margin-bottom: 0;
	padding-left: 9px;
	float: left;
}
.top .request .link {
	width: 100%;
	height: 27px;
	display: block;
	color: #333;
	font-size: 12px;
	line-height: 29px;
	text-decoration: none;
	text-align: center;
	background: #fec514;
	border: 1px solid #3b3a37;
	box-shadow: 0 0 4px 0 rgba(255, 234, 124, .28);
}
.top .request .link-price {
	background: url(../img/button.png) 0 0 repeat-x;
}
.top .request .link-price:hover {
	background-position: 0 -35px;
}
.top .request .link-order {
	background: #fec514 linear-gradient(to bottom, rgba(255, 236, 109, 1) 0%, rgba(242, 171, 2, 1) 100%);
}
.top .request .link-order:hover {
	background: linear-gradient(to bottom, rgba(242, 171, 2, 1) 0%, rgba(255, 236, 109, 1) 100%);
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
	position: absolute;
	top: 86px;
	left: 0;
	right: 0;
	z-index: 100;
	transition: background-color .3s ease;
}
.header:after {
	height: 1px;
	margin-left: 36%;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #25bdff;
	transition: margin-left .2s ease;
}
.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, .8);
}
.header-fixed:after {
	margin-left: 0;
}
.header .wrapper {
	min-height: 40px;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}
.header .logo {
	width: 198px;
	margin-bottom: 0;
	position: absolute;
	top: -9px;
	left: 30px;
	transition: width .1s ease, top .1s ease, left .1s ease;
}
.header-fixed .logo {
	width: 99px;
	top: 8px;
	left: 75px;
}
.header .logo a {
	width: 100%;
	display: block;
}
.header .logo img {
	width: 100%;
	display: block;
}
.header .nav {
	position: absolute;
	top: 13px;
	right: 28px;
}
.header .nav .toggle {
	width: 12px;
	height: 10px;
	border-top: 2px solid #121212;
	border-bottom: 2px solid #121212;
	margin: 2px 26px 0 2px;
	display: block;
	position: relative;
	float: left;
}
.header .nav .toggle:before {
	width: 100%;
	height: 2px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 2px;
	left: 0;
	right: 0;
	background: #121212;
}
.header .nav .list {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	letter-spacing: .005em;
	text-transform: uppercase;
}
.header .nav .list:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.header .nav .list li {
	margin: 0 34px 0 0;
	float: left;
}
.header .nav .list li:last-child {
	margin-right: 2px;
}
.header .nav .list li a {
	color: #333;
	text-decoration: none;
	transition: color .3s ease;
}
.header .nav .list li a:hover {
	color: #1074d5;
}
/* ==========================================================================
   _INDEX
   ========================================================================== */
.index {
	margin-bottom: -68px;
	position: relative;
}
.index:before {
	height: 130px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 100%);
	z-index: 20;
}
.index .carousel {
	margin: 0;
	padding: 0;
	list-style: none;
}
.index .carousel li {
	height: 389px;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.index .carousel .wrapper {
	padding-top: 136px;
	cursor: default;
}
.index .carousel .text {
	width: 500px;
	margin: 0 auto;
	position: relative;
	left: -30px;
	letter-spacing: .05em;
	text-transform: uppercase;
}
.index .carousel .text .title {
	margin-bottom: 15px;
	letter-spacing: -.01em;
	font: 300 46px/50px 'Bebas Neue', Helvetica, Arial, sans-serif;
	position: relative;
	left: 24px;
}
.index .carousel .text .title .inline {
	padding: 5px 0 2px;
	box-shadow: 24px 0 0 #1074d5, -24px 0 0 #1074d5;
	color: #fff;
	background: #1074d5;
}
.index .carousel .text .slogan {
	margin-bottom: 0;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: -.045em;
	position: relative;
	left: 26px;
}
.index .carousel .text .slogan .inline {
	padding: 10px 0 4px;
	box-shadow: 16px 0 0 #fff, -26px 0 0 #fff;
	background: #fff;
}
.index .carousel .text .slogan .link {
	width: 37px;
	height: 25px;
	display: inline-block;
	position: relative;
	left: 20px;
}
.index .carousel .text .slogan .link a {
	width: 100%;
	height: 34px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #333;
	line-height: 36px;
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	text-decoration: none;
	background: #ffd642;
	transition: background-color .3s ease;
}
.index .carousel .text .slogan .link a:hover {
	background-color: #fff;
}
.index .bottom {
	height: 35px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(60, 60, 60, .5);
	z-index: 20;
}
.index .bottom:before {
	height: 4px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(30, 78, 174, 1) 0%, rgba(16, 116, 213, 1) 14%, rgba(0, 157, 255, 1) 37%, rgba(65, 244, 255, 1) 62%, rgba(0, 153, 253, 1) 83%, rgba(16, 115, 212, 1) 92%, rgba(30, 79, 175, 1) 100%);
}
.index .bottom .wrapper {
	padding-top: 16px;
	padding-bottom: 0;
}
.index .pager {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.index .pager:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.index .pager li {
	width: 25%;
	padding: 0 10px;
	float: left;
	text-transform: uppercase;
	white-space: nowrap;
}
.index .pager li a {
	color: #fff;
	text-decoration: none;
	position: relative;
	transition: color .2s ease;
}
.index .pager li a:hover {
	color: #ffd642;
}
.index .pager li a:before, .index .pager li a:after {
	width: 19px;
	height: 19px;
	margin-left: -10px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: -24px;
	left: 50%;
	background: linear-gradient(135deg, rgba(46, 224, 255, 1) 0%, rgba(9, 125, 226, 1) 100%);
	border-radius: 50%;
}
.index .pager li a:after {
	width: 11px;
	height: 11px;
	margin-left: -6px;
	top: -20px;
	background: #fff;
	opacity: 1;
}
.index .pager li a:hover:after {
	opacity: 0;
}
.index .pager li a.active:before, .index .pager li a.active:after {
	width: 23px;
	height: 23px;
	top: -26px;
	margin-left: -11px;
	background: linear-gradient(135deg, rgba(252, 229, 144, 1) 0%, rgba(243, 178, 13, 1) 100%);
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, .5);
}
.index .pager li a.active:after {
	width: 15px;
	height: 15px;
	margin-left: -7px;
	top: -22px;
	background: #3c3c3c;
	box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, .5);
}
.index .pager li a.active:hover:after {
	opacity: 1;
}
/* ==========================================================================
   _BLUE
   ========================================================================== */
.blue {
	width: 100%;
	height: 150px;
	margin-bottom: -120px;
	background: #0c3479 url(../img/footer.jpg) 50% 50% no-repeat;
	background-size: cover;
}
/* ==========================================================================
   _BLOCK-FEATURES
   ========================================================================== */
.block-features .bx-wrapper {
	position: relative;
}
.block-features .carousel {
	margin: 0;
	padding: 0;
	list-style: none;
}
.block-features .carousel li {
	min-height: 224px;
	padding: 16px;
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.block-features .carousel .text {
	width: 388px;
	height: 92px;
	padding: 8px 14px 10px 38px;
	margin-left: 414px;
	line-height: 14px;
	position: relative;
	text-transform: uppercase;
	z-index: 10;
}
.block-features .carousel .text:before {
	margin-left: 0;
	width: 100%;
	height: 100%;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-o-transform: skew(30deg);
	background: rgba(255, 255, 255, .7);
	z-index: -1;
}
.block-features .carousel .text .h3 {
	margin-bottom: 6px;
}
.block-features .bx-controls-direction a {
	width: 31px;
	height: 31px;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
	position: absolute;
	right: 11px;
	bottom: 13px;
	background: url(../img/sprite.png) 0 0 no-repeat;
}
.block-features .bx-controls-direction a.bx-next {
	bottom: 22px;
	background-position: -40px 0;
}
/* ==========================================================================
   _BLOCK-INFO
   ========================================================================== */
.block-info .about-us {
	width: 364px;
	margin-top: -248px;
	margin-left: 16px;
	padding: 10px 18px;
	float: left;
	line-height: 14px;
	position: relative;
	background: rgba(255, 255, 255, .5);
	border-top: 4px solid #0cf;
	border-bottom: 4px solid #0f77d9;
	z-index: 20;
}
.block-info .about-us:before, .block-info .about-us:after {
	width: 4px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0, 204, 255, 1) 0%, rgba(15, 119, 217, 1) 100%);
}
.block-info .about-us:after {
	top: 28px;
	right: 0;
	left: auto;
}
.block-info .about-us .corner {
	position: absolute;
	top: 0;
	right: -18px;
}
.block-info .about-us .corner:before, .block-info .about-us .corner:after {
	width: 20px;
	height: 4px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: -4px;
	left: 0;
	right: 0;
	background: #0cf;
}
.block-info .about-us .corner:after {
	width: 4px;
	height: 32px;
	left: 7px;
	-webkit-transform: skew(-35deg);
	-moz-transform: skew(-35deg);
	-o-transform: skew(-35deg);
}
.block-info .about-us .corner div {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 22px 18px 0 0;
	border-color: rgba(255, 255, 255, .5) transparent transparent transparent;
}
.block-info .about-us .h3 {
	margin-bottom: 14px;
}
.block-info .about-us .h {
	margin-bottom: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.block-info .about-us .list {
	margin-bottom: 14px;
	padding-left: 16px;
}
.block-info .about-us .more {
	width: 96px;
	height: 30px;
	margin: 5px -9px -5px 0;
	padding-top: 8px;
	font-size: 12px;
	line-height: 16px;
	float: right;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background: #009dff;
	transition: background .3s ease;
}
.block-info .about-us .more:hover {
	background: #1073d5;
}
.block-info .latest-news {
	margin-left: 404px;
}
.block-info .latest-news:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.block-info .latest-news .list {
	padding-right: 14px;
}
.block-info .latest-news .list:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.block-info .latest-news .item {
	width: 48.5%;
	padding: 4px;
	float: left;
	line-height: 12px;
	position: relative;
	background: linear-gradient(135deg, rgba(0, 204, 255, 1) 0%, rgba(19, 109, 206, 1) 100%);
}
.block-info .latest-news .item:nth-child(2) {
	float: right;
}
.block-info .latest-news .item:before, .block-info .latest-news .item:after {
	width: 0;
	height: 0;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	right: 0;
	bottom: -19px;
	border-style: solid;
	border-width: 0 19px 19px 0;
	border-color: transparent #136dce transparent transparent;
}
.block-info .latest-news .item:before {
	bottom: -10px;
	right: 4px;
	border-width: 0 14px 14px 0;
	z-index: 20;
	border-color: transparent #fff transparent transparent;
}
.block-info .latest-news .item .in {
	width: 100%;
	max-height: 65px;
	padding: 2px 5px;
	overflow: hidden;
	background: #fff;
}
.block-info .latest-news .item .pic {
	width: 58px;
	height: 58px;
	margin-top: 2px;
	margin-right: 14px;
	display: block;
	float: left;
}
.block-info .latest-news .item .h3 {
	margin-bottom: 4px;
	color: #1074d5;
	line-height: 18px;
}
.block-info .latest-news .item .h3 a {
	text-decoration: none;
}
.block-info .latest-news .item .text {
	max-height: 34px;
	overflow: hidden;
}
.block-info .latest-news .all {
	margin-top: 6px;
	padding-right: 20px;
	float: right;
	font-size: 12px;
}
/* ==========================================================================
   _BLOCK-SERVICES
   ========================================================================== */
.block-services .h2 {
	margin-bottom: 0;
	padding-left: 34px;
}
.services {
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	margin-bottom: 14px;
	position: relative;
	background: linear-gradient(135deg, rgba(0, 204, 255, 1) 0%, rgba(19, 109, 206, 1) 100%);
}
.services:before, .services:after {
	width: 0;
	height: 0;
	margin-left: -13px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: -11px;
	left: 50%;
	right: auto;
	border-style: solid;
	border-width: 14px 13px 0 13px;
	border-color: #0d8cde transparent transparent transparent;
}
.services:before {
	margin-left: -9px;
	bottom: -6px;
	border-width: 10px 9px 0 9px;
	border-color: #fff transparent transparent transparent;
	z-index: 20;
}
.services .list {
	height: 335px;
	margin: 0;
	padding: 28px 24px;
	list-style: none;
	overflow: hidden;
	background: #fff;
}
.services .list:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.services .list li {
	width: 20%;
	float: left;
	margin-bottom: 15px;
	padding: 0 8px;
}
.services .list li:nth-child(5n+1) {
	clear: left;
}
.services .list .link {
	display: block;
	text-decoration: none;
}
.services .list .cap {
	width: 100%;
	padding: 12px 8px 8px;
	display: block;
	border: 1px solid #009dff;
}
.services .list .cap .name {
	text-transform: uppercase;
	margin-bottom: 4px;
	display: block;
	color: #3c3c3c;
}
.services .list .pic {
	width: 100%;
	height: auto;
	display: block;
	border: 1px solid #b7b7b7;
}
.block-services .show {
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-size: 12px;
}
/* ==========================================================================
   _BLOCK-RECENT-PROJECTS
   ========================================================================== */
.block-recent-projects:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.block-recent-projects .h2 {
	margin-left: 32px;
	margin-bottom: 4px;
}
.block-recent-projects .slider {
	width: 48%;
	float: right;
}
.block-recent-projects .slider-image {
	float: left;
}
.block-recent-projects .slider .all {
	margin-bottom: 12px;
	text-align: right;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
}
.block-recent-projects .slider .bx-wrapper {
	position: relative;
}
.block-recent-projects .slider .carousel {
	margin: 0;
	padding: 0;
	list-style: none;
}
.block-recent-projects .slider .carousel li {
	width: 100%;
	height: 290px;
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.block-recent-projects .slider-image .carousel li {
	border: 1px solid #9a9995;
}
.block-recent-projects .slider-image .carousel .corner {
	width: 0;
	height: 0;
	position: absolute;
	top: -1px;
	left: -1px;
	border-style: solid;
	border-width: 74px 74px 0 0;
	border-color: #fff transparent transparent transparent;
}
.block-recent-projects .slider-image .carousel .corner:after {
	width: 1px;
	height: 80px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	background: #999fa6;
	position: absolute;
	bottom: -1px;
	left: 38px;
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	-o-transform: skew(-45deg);
}
.block-recent-projects .slider-image .carousel .corner-bottom {
	bottom: -1px;
	right: -1px;
	top: auto;
	left: auto;
	border-width: 0 0 74px 74px;
	border-color: transparent transparent #fff transparent;
}
.block-recent-projects .slider-image .carousel .corner-bottom:after {
	bottom: -78px;
	left: -38px;
}
.block-recent-projects .bx-controls-direction a {
	width: 64px;
	height: 64px;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/sprite.png) 0 -50px no-repeat;
}
.block-recent-projects .bx-controls-direction a.bx-next {
	bottom: 0;
	right: 0;
	top: auto;
	left: auto;
	background-position: -80px -50px;
}
/* ==========================================================================
   _BLOCK-PARTNERS
   ========================================================================== */
.block-partners .h2 {
	margin-left: 32px;
	margin-bottom: 32px;
}
.block-partners .slider {
	margin-bottom: 12px;
}
.block-partners .bx-viewport {
	height: 56px !important;
}
.block-partners .carousel {
	margin: 0;
	padding: 0;
	list-style: none;
}
.block-partners .carousel:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.block-partners .carousel li {
	width: 160px !important;
	height: 56px;
	margin: 0 8px 0 0;
	padding: 1px;
	float: left;
	background: linear-gradient(135deg, rgba(0, 204, 255, 1) 0%, rgba(19, 109, 206, 1) 100%);
}
.block-partners .carousel li a {
	display: block;
}
.block-partners .carousel li a img {
	width: 100%;
	height: 54px;
	display: block;
}
.block-partners .all {
	display: block;
	text-align: right;
	text-transform: uppercase;
	font-size: 12px;
}
/* ==========================================================================
   _CONTACT-US
   ========================================================================== */
.contact-us {
	margin-bottom: 8px;
	background: url(../img/map.jpg) 50% 50% no-repeat;
	background-size: cover;
}
.contact-us .wrapper {
	padding-left: 60px;
	padding-right: 60px;
}
.contact-us .h2 {
	margin-bottom: 32px;
	line-height: 24px;
	cursor: default;
}
.contact-us .info {
	width: 48.5%;
	padding-left: 72px;
	float: left;
	position: relative;
}
.contact-us .info:before {
	width: 25px;
	height: 38px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: -2px;
	left: 0;
	background: url(../img/sprite.png) -45px -70px no-repeat;
	background-size: 100px auto;
}
.contact-us .info-local {
	float: right;
	line-height: 16px;
}
.contact-us .info-local:before {
	background-position: 0 -70px;
}
.contact-us .corner {
	position: absolute;
	top: 0;
	left: 46px;
}
.contact-us .corner:before {
	width: 28px;
	height: 4px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #0cf;
}
.contact-us .corner:after {
	width: 5px;
	height: 30px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	left: 10px;
	top: 0;
	background: #0cf;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
}
.contact-us .info .in {
	min-height: 146px;
	padding: 13px 25px 10px;
	position: relative;
	border-top: 4px solid #0cf;
	border-bottom: 4px solid #0f77d9;
}
.contact-us .info-local .in {
	padding: 16px 25px 10px;
}
.contact-us .info .in:before, .contact-us .info .in:after {
	width: 4px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 26px;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(0, 204, 255, 1) 0%, rgba(15, 119, 217, 1) 100%);
}
.contact-us .info .in:after {
	top: 0;
	right: 0;
	left: auto;
}
.contact-us .info dl {
	margin: 0;
	line-height: 26px;
}
.contact-us .info .line {
	margin-bottom: 10px;
	padding-left: 30px;
}
.contact-us .info .line:first-child {
	padding-left: 0;
	line-height: 38px;
}
.contact-us .info .line:last-child {
	margin-bottom: 0;
}
.contact-us .info .line:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.contact-us .info .line .phone {
	float: left;
	margin-right: 16px;
	font: 700 20px 'Bebas Neue', Helvetica, Arial, sans-serif;
}
.contact-us .info .line:first-child .phone {
	margin-right: 12px;
	color: #009dff;
	font-size: 30px;
}
.contact-us .info p {
	margin-bottom: 4px;
}
.contact-us .info p:last-of-type {
	margin: 0;
}
.contact-us .info a {
	text-decoration: none;
}
.contact-us .info a:hover {
	text-decoration: underline;
}
/* ==========================================================================
   _BLOCK-NEWS
   ========================================================================== */
.block-news .news {
	margin: 0 0 14px 0;
	padding: 0 165px 35px;
	list-style: none;
	position: relative;
	border-bottom: 4px solid #1074d5;
}
.block-news .news:before, .block-news .news:after {
	width: 0;
	height: 0;
	margin-left: -19px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: -14px;
	left: 50%;
	right: auto;
	border-style: solid;
	border-width: 14px 19px 0 19px;
	border-color: #1072d5 transparent transparent transparent;
}
.block-news .news:after {
	margin-left: -11px;
	bottom: -9px;
	border-width: 9px 11px 0 11px;
	border-color: #fff transparent transparent transparent;
}
.block-news .news .item {
	margin-bottom: 56px;
	padding-bottom: 6px;
	border-bottom: 1px solid #e2e2e2;
}
.block-news .news .item:last-of-type {
	margin-bottom: 0;
}
.block-news .news .item .pic {
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	display: block;
}
.block-news .news .item .inform {
	margin-bottom: 28px;
	padding-left: 108px;
	padding-top: 4px;
	position: relative;
	font-size: 15px;
	color: #515151;
	line-height: 20px;
}
.block-news .news .item .inform .calendar {
	width: 82px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 16px;
}
.block-news .news .item .inform .calendar .date {
	margin-bottom: 3px;
	padding: 10px 10px 6px;
	display: block;
	color: #fff;
	text-align: right;
	text-transform: uppercase;
	position: relative;
	background: #c31f2c;
}
.block-news .news .item .inform .calendar .date:before {
	width: 0;
	height: 0;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	top: 0;
	right: -8px;
	border-style: solid;
	border-width: 8px 8px 0 0;
	border-color: #c31f2d transparent transparent transparent;
}
.block-news .news .item .inform .calendar .date span {
	font-size: 30px;
	display: block;
	font-size: 52px;
	line-height: 44px;
}
.block-news .news .item .inform .calendar .icon {
	width: 100%;
	height: 53px;
	padding-top: 12px;
	display: block;
	background: #e2e2e2;
}
.block-news .news .item .inform .calendar .icon img {
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
}
.block-news .news .item .inform .h {
	font-size: 20px;
	margin-bottom: 9px;
}
.block-news .news .item .inform .h a {
	color: #515151;
	text-decoration: none;
}
.block-news .news .item .inform .h a:hover {
	text-decoration: underline;
}
.block-news .news .item .inform .date {
	display: block;
	font-size: 14px;
	margin-bottom: 20px;
	color: #717171;
	letter-spacing: .04em;
}
.block-news .news .more {
	padding-right: 14px;
	display: block;
	text-align: right;
	text-decoration: none;
	color: #333;
	position: relative;
}
.block-news .news .more:hover {
	text-decoration: underline;
}
.block-news .news .more:before, .block-news .news .more:after {
	width: 3px;
	height: 4px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	right: 2px;
	top: 3px;
	background: #333;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
}
.block-news .news .more:after {
	top: 6px;
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	-o-transform: skew(-45deg);
}
.block-news .news .hidden {
	display: none;
}
.block-news .all {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}
/* ==========================================================================
   _UP
   ========================================================================== */
.up {
	width: 95px;
	height: 95px;
	margin: 0 auto -76px;
	padding-top: 50px;
	display: block;
	text-align: center;
	font-size: 11px;
	letter-spacing: .03em;
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
	position: relative;
	background: rgba(255, 255, 255, 1);
	border: 3px solid #333;
	border-radius: 50%;
	transition: background .3s ease;
}
.up:hover {
	background: rgba(255, 255, 255, .3);
}
.up:before, .up:after {
	width: 7px;
	height: 13px;
	margin-left: -12px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 25px;
	left: 50%;
	background: #333;
	border-radius: 5px;
	-webkit-transform: skew(-55deg);
	-moz-transform: skew(-55deg);
	-o-transform: skew(-55deg);
}
.up:after {
	margin-left: 4px;
	-webkit-transform: skew(55deg);
	-moz-transform: skew(55deg);
	-o-transform: skew(55deg);
}
/* ==========================================================================
   _ACTION
   ========================================================================== */
.action {
	margin: 0 0 14px 0;
	position: relative;
	border-bottom: 4px solid #1074d5;
}
.action:before, .action:after {
	width: 0;
	height: 0;
	margin-left: -19px;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: -14px;
	left: 50%;
	right: auto;
	border-style: solid;
	border-width: 14px 19px 0 19px;
	border-color: #1072d5 transparent transparent transparent;
}
.action:after {
	margin-left: -11px;
	bottom: -9px;
	border-width: 9px 11px 0 11px;
	border-color: #fff transparent transparent transparent;
}
.action .list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.action .list:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.action .list li {
	width: 50%;
	margin-bottom: 40px;
	padding-right: 20px;
	float: left;
}
.action .list li:nth-child(even) {
	padding-left: 20px;
	padding-right: 0;
}
.action .list li a {
	width: 100%;
	display: block;
	color: #009dff;
	font-size: 12px;
}
.action .list li a img {
	width: 100%;
	margin-bottom: 10px;
	height: auto;
}
.action .list li a span {
	display: block;
	text-transform: uppercase;
	text-align: right;
}
.block-action .action .hidden {
	display: none;
}
.block-action .all {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}
/* ==========================================================================
   _BLOCK-REVIEWS
   ========================================================================== */
.block-reviews .reviews .item {
	margin-bottom: 16px;
	padding: 36px 46px 8px;
	width: 100%;
	background: #edeef0;
}
.block-reviews .reviews .item:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.block-reviews .reviews .item .pic {
	width: 240px;
	height: 300px;
	padding: 24px 69px 52px 22px;
	float: left;
	background: url(../img/temp/frame.png) 50% 50% no-repeat;
	background-size: cover;
}
.block-reviews .reviews .item .pic img {
	width: 152px;
	height: 226px;
}
.block-reviews .reviews .item .review {
	margin-left: 240px;
}
.block-reviews .reviews .item .review:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.block-reviews .reviews .item .company {
	width: 30%;
	float: left;
}
.block-reviews .reviews .item .company .name {
	margin-bottom: 24px;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
}
.block-reviews .reviews .item .company .link {
	font-size: 15px;
}
.block-reviews .reviews .item .company .logo {
	max-width: 170px;
	margin-bottom: 30px;
	display: block;
}
.block-reviews .reviews .item .text {
	width: 70%;
	padding-top: 62px;
	padding-left: 24px;
	float: left;
}
.block-reviews .reviews .item .text .in {
	padding: 1px;
	background: linear-gradient(135deg, rgba(0, 204, 255, 1) 0%, rgba(19, 109, 206, 1) 100%);
}
.block-reviews .reviews .item .text .in span {
	padding: 12px 16px;
	display: block;
	font-size: 16px;
	line-height: 18px;
	position: relative;
	background: #fff;
}
.block-reviews .reviews .item .text .in span:before, .block-reviews .reviews .item .text .in span:after {
	width: 0;
	height: 0;
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	top: -1px;
	left: -24px;
	border-style: solid;
	border-width: 0 24px 24px 0;
	border-color: transparent #33d6ff transparent transparent;
}
.block-reviews .reviews .item .text .in span:after {
	top: 0;
	left: -22px;
	border-width: 0 22px 22px 0;
	border-color: transparent #fff transparent transparent;
	z-index: 10;
}
.block-reviews .reviews .item .text .author {
	display: block;
	text-align: right;
	text-transform: uppercase;
}
/* ==========================================================================
   _BLOCK-PORTFOLIO
   ========================================================================== */
.block-portfolio .nav {
	margin: 0 0 26px 0;
	padding: 0;
	list-style: none;
}
.block-portfolio .nav:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.block-portfolio .nav li {
	width: 16.66%;
	padding: 0 8px;
	float: left;
	text-transform: uppercase;
	text-align: center;
}
.block-portfolio .nav li:last-child {
	margin-right: 0;
}
.block-portfolio .nav li a {
	width: 100%;
	padding: 7px 0 3px;
	display: block;
	color: #333;
	font-size: 12px;
	text-decoration: none;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 33%, rgba(218, 218, 218, 1) 100%);
	border: 1px solid #34404b;
	box-shadow: 0 0 4px 1px rgba(255, 255, 255, .4);
	transition: color .3s ease;
}
.block-portfolio .nav li a:hover {
	color: #1074d5;
}
.block-portfolio .catalog {
	margin: 0;
	padding: 0;
	list-style: none;
}
.block-portfolio .catalog:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.block-portfolio .catalog li {
	width: 25%;
	padding: 0 10px 0 0;
	float: left;
}
.block-portfolio .catalog .pic {
	margin-bottom: 14px;
	padding: 1px;
	position: relative;
	background: linear-gradient(45deg, rgba(15, 119, 217, 1) 0%, rgba(0, 204, 255, 1) 100%);
}
.block-portfolio .catalog .pic a {
	width: 100%;
	display: block;
}
.block-portfolio .catalog .pic img {
	display: block;
	width: 100%;
	height: auto;
}
.block-portfolio .catalog .pic .cap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background: rgba(13, 72, 151, .8);
	z-index: 20;
	transition: opacity .3s ease;
}
.block-portfolio .catalog .pic:hover .cap {
	opacity: 1;
}
.block-portfolio .catalog .pic .cap .link {
	width: 75%;
	margin: 0 auto;
	padding: 6px 0;
	display: block;
	position: relative;
	top: 60px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, .5);
}
.block-portfolio .catalog .pic .cap .link span {
	color: #fff;
}
.block-portfolio .catalog .name {
	line-height: 20px;
}
.block-portfolio .catalog .name .in {
	width: 33px;
	height: 33px;
	margin-right: 12px;
	padding: 1px;
	display: inline-block;
	background: linear-gradient(45deg, rgba(15, 119, 217, 1) 0%, rgba(0, 204, 255, 1) 100%);
}
.block-portfolio .catalog .name .in span {
	width: 100%;
	height: 100%;
	padding-top: 7px;
	display: block;
	text-align: center;
	background: #fff;
}
/* ==========================================================================
   _RESPONSIVE
   ========================================================================== */
@media (max-width: 1240px) {
	.wrapper { width: 1000px; }
	.contact-us .info .line { padding-left: 0; }
	.contact-us .info .line:first-child { line-height: normal; }
	.contact-us .info .line .phone { margin-right: 0; float: none; }
	.contact-us .info .line:first-child .phone { margin-right: 0; }
	.contact-us .info dd { margin-left: 0; }
	.contact-us .info dl { line-height: normal; }
	.contact-us .info .in { min-height: 185px; }
	.block-partners .slider .bx-wrapper { width: 832px; }
	.block-partners .all { margin-right: 54px; }
}
@media (max-width: 1023px) {
	
}
@media (max-width: 767px) {
	
}
@media (max-width: 575px) {
	
}
@media (max-width: 479px) {
	
}
/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}