.portfolio .info p{
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#942EA8D6', endColorstr='#942EA8D6');
}



.portfolio .info .link{
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#45E4E4E4', endColorstr='#45E4E4E4');
}
.portfolio .info .link:hover{
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ccE4E4E4', endColorstr='#ccE4E4E4');
}