/*!
 * Project: Landingi
 * File: Main styles
 * Author: Sergiy Miroshnychenko
 */

/* ==========================================================================
   _FONTS
   ========================================================================== */
@font-face {
	font-family: 'Neris';
	src: url('../fonts/neris-thin-webfont.eot');
	src: url('../fonts/neris-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/neris-thin-webfont.woff') format('woff'),
	url('../fonts/neris-thin-webfont.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;

}
@font-face {
	font-family: 'Neris';
	src: url('../fonts/neris-light-webfont.eot');
	src: url('../fonts/neris-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/neris-light-webfont.woff') format('woff'),
	url('../fonts/neris-light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;

}
@font-face {
	font-family: 'Neris';
	src: url('../fonts/neris-semibold-webfont.eot');
	src: url('../fonts/neris-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/neris-semibold-webfont.woff') format('woff'),
	url('../fonts/neris-semibold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'Neris';
	src: url('../fonts/neris-black-webfont.eot');
	src: url('../fonts/neris-black-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/neris-black-webfont.woff') format('woff'),
	url('../fonts/neris-black-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;

}
/* ==========================================================================
   _HTML
   ========================================================================== */
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	font: 300 14px/22px 'Neris', Helvetica, Arial, sans-serif;
	color: #5c5d5d;
}
body {
	max-width: 1600px;
	min-height: 320px;
	height: 100%;
	margin: 0 auto;
	cursor: default;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 0 1em 0;
	padding: 0;
}
audio, canvas, img, video {
	vertical-align: middle;
}
/* ==========================================================================
   _LAYOUT
   ========================================================================== */
.wrapper {
	max-width: 940px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.wrapper:after, .block:after {
	width: 100%;
	content: "\0020";
	display: block;
	clear: both;
	overflow: hidden;
}
/* ==========================================================================
   _TEXT
   ========================================================================== */
p {
	margin: 0 0 24px;
}
ul, ol {
	margin: 0 0 24px 0;
}
a {
	color: #000;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0 0 24px;
}
h1, .h1 {
	font-size: 36px;
}
h2, .h2 {
	font-size: 28px;
	font-weight: 300;
}
h3, .h3 {
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	line-height: 34px;
}
/* ==========================================================================
   _H-LINE (line on bottom)
   ========================================================================== */
.h-line {
	padding: 0 0 20px 0;
	position: relative;
}
.h-line:after {
	width: 160px;
	height: 3px;
	margin: 0 0 0 -80px;
	content: ' ';
	overflow: hidden;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 50%;
	right: auto;
	background: #deb50f;
}
/* ==========================================================================
   _BOOKING (link-action with yellow bg)
   ========================================================================== */
.booking {
	width: 100%;
	max-width: 320px;
	text-decoration: none;
	font-weight: normal;
	background: #ffd323;
	border-radius: 5px;
	box-shadow: 0 4px 0 rgba(222, 181, 15, 1);
	transition: background .3s ease;
}
.booking:hover {
	background: #deb50f;
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */

/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
	width: 100%;
	height: 62px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 18px;
	line-height: 36px;
	background: rgba(26, 26, 26, .61);
	z-index: 100;
	cursor: default;
}
.header .logo {
	width: 146px;
	height: 39px;
	margin: 0;
	position: absolute;
	top: 6px;
	left: 16px;
}
.header .logo img {
	width: 146px;
	height: 39px;
	display: block;
}
.header .call {
	width: 220px;
	margin: 0;
	position: absolute;
	top: 0;
	right: 6px;
	text-align: right;
	font-size: 14px;
	line-height: 31px;
	letter-spacing: .085em;
}
.header .call .tel {
	display: block;
	color: #ffd323;
	font-size: 20px;
	line-height: 16px;
	outline: none;
	text-decoration: none;
	font-weight: normal;
	letter-spacing: .04em;
	transition: color .3s ease;
}
.header .call .tel:hover {
	color: #deb50f;
}
/* ==========================================================================
   _INDEX
   ========================================================================== */
.index {
	width: 100%;
	min-height: 800px;
	padding: 110px 0 84px;
	text-align: center;
	position: relative;
	color: #fff;
	font-size: 18px;
	line-height: 36px;
	background: url(../img/index.jpg) 0 0 no-repeat;
	background-size: cover;
	cursor: default;
}
.index .slogan {
	margin: 0 0 120px 0;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: .04em;
}
.index .slogan .title {
	margin: 0 0 10px 0;
	font-size: 23px;
	line-height: 34px;
	font-weight: 500;
	letter-spacing: .094em;
	text-transform: uppercase;
}
.index .slogan p {
	margin: 0;
}
.index .info {
	margin: 0 0 34px 0;
}
.index .info .h3 {
	margin: 0 0 39px 0;
	letter-spacing: .05em;
}
.index .info .list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.index .info .list:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.index .info .list li {
	width: 33.3%;
	padding: 0 20px 30px;
	float: left;
	line-height: 18px;
}
.index .info .list .pic {
	width: 72px;
	height: 72px;
	margin: 0 auto 34px;
	display: block;
}
.index .info .list .name {
	display: block;
	letter-spacing: .088em;
}
.index .action {
	margin: 0 auto;
}
.index .action .h {
	margin: 0 0 16px 0;
	line-height: 26px;
	letter-spacing: .033em;
}
.index .action .h span {
	padding-left: 52px;
	position: relative;
}
.index .action .h span:before {
	width: 33px;
	height: 33px;
	display: block;
	content: ' ';
	overflow: hidden;
	position: absolute;
	left: 4px;
	top: -10px;
	background: url(../img/sprite.png) 0 0 no-repeat;
}
.index .action .booking {
	height: 57px;
	margin: 0 auto;
	display: block;
	font-size: 22px;
	line-height: 52px;
	letter-spacing: .02em;
}
.index .action .temp {
	display: block;
	color: #bababa;
	font-size: 13px;
	line-height: 26px;
	letter-spacing: .02em;
}
/* ==========================================================================
   _INTEREST
   ========================================================================== */
.interest {
	width: 100%;
	text-align: center;
	color: #fff;
	background: url(../img/interest.jpg) 0 0 no-repeat;
	background-size: cover;
}
.interest .wrapper {
	min-height: 320px;
	padding-top: 78px;
	padding-bottom: 50px;
}
.interest .h2 {
	margin: 0 0 45px;
	line-height: 36px;
}
.interest .booking {
	height: 50px;
	margin: 0 auto;
	display: block;
	font-size: 16px;
	line-height: 49px;
	letter-spacing: .03em;
}
/* ==========================================================================
   _POPUP
   ========================================================================== */
.overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background: rgba(0, 0, 0, .6);
}
.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	background: #1a1b1c;
}
.popup-callback {
	width: 400px;
	padding: 25px;
	text-align: center;
	background: #1a1b1c;
}
.popup-callback .heading {
	margin: 0 0 40px;
	font-weight: 200;
	color: #737373;
	line-height: 30px;
}
.popup-callback .heading span {
	font-size: 36px;
	color: #dedede;
	display: block;
}
.popup-callback .line {
	margin: 0 0 20px 0;
}
.popup-callback .line input[type="text"] {
	width: 100%;
	padding: 14px 17px 12px;
	font-size: 18px;
	color: #1a1b1c;
	border: none;
	outline: none;
	letter-spacing: -.025em;
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
}
.popup-callback .line-button {
	margin: 0 0 10px 0;
}
.popup-callback .line-button input[type="submit"] {
	width: 320px;
	height: 56px;
	margin: 0 auto;
	display: block;
	outline: none;
	font-size: 22px;
	border: none;
}
.popup-callback .legend {
	font-size: 13px;
	color: #3d3d3d;
	letter-spacing: -.011em;
}
/* ==========================================================================
   _ABOUT
   ========================================================================== */
.about {
	margin: 0 0 75px 0;
	padding: 34px 0;
	text-align: center;
	background: #fbfbfb;
}
.about .h3 {
	margin: 0 0 26px 0;
	text-transform: uppercase;
	color: #000;
}
.about .h3 .color {
	color: #deb50f;
}
.about .slogan {
	margin: 0 0 64px 0;
	font-size: 13px;
	letter-spacing: .035em;
}
.about .pic {
	margin: 0 auto;
}
.about .pic img {
	width: 100%;
	display: block;
}
/* ==========================================================================
   _FEATURES
   ========================================================================== */
.features {
	margin-bottom: 150px;
}
.features .h3 {
	margin: 0 0 116px;
	text-transform: uppercase;
}
.features .h3 .color {
	color: #deb50f;
}
.features .info {
	margin: 0;
	font-size: 13px;
	line-height: 16px;
}
.features .info:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.features .info .item {
	width: 310px;
	min-height: 310px;
	padding: 0 10px 20px;
}
.features .info .item-pic {
	margin: 0 300px;
	position: absolute;
}
.features .info .item-left {
	float: left;
}
.features .info .item-right {
	float: right;
}
.features .info .item p {
	margin: 0 0 58px 0;
}
.features .info .item p:last-of-type {
	margin-bottom: 0;
}
.features .info .item .h {
	margin: 20px 0 13px 0;
	color: #202324;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	text-transform: uppercase;
}
.features .info .item .pic {
	width: 100%;
	max-width: 272px;
	margin: 0 auto;
	display: block;
}
/* ==========================================================================
   _SERVICE
   ========================================================================== */
.service {
	padding: 44px 0 66px 0;
	background: #222;
}
.service .h3 {
	margin-bottom: 76px;
	color: #fff;
	letter-spacing: .02em;
	text-transform: uppercase;
}
.service .list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 13px;
	line-height: 16px;
}
.service .list:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.service .list li {
	width: 33.3%;
	padding: 0 20px 55px;
	float: left;
}
.service .list li:nth-child(3n+1) {
	clear: left;
}
.service .list .pic {
	width: 85px;
	height: 83px;
	margin: 0 auto 20px;
	display: block;
}
.service .list .h {
	margin: 0 0 8px;
	color: #fff;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: .03em;
}
/* ==========================================================================
   _PROJECTS
   ========================================================================== */
.projects {
	padding: 46px 0 82px;
}
.projects .h3 {
	margin: 0 0 102px;
	text-transform: uppercase;
}
.projects .list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.projects .list:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.projects .list li {
	width: 212px;
	height: 194px;
	margin: 0 10px 62px;
	float: left;
}
.projects .list li a img {
	width: 212px;
	height: 194px;
	display: block;
	border: 3px solid #e1a93f;
	border-radius: 16px;
	transition: border-color .3s ease;
}
.projects .list li a:hover img {
	border-color: #b08110;
}
/* ==========================================================================
   _PRICE
   ========================================================================== */
.price {
	width: 100%;
	padding: 48px 0 70px 0;
	background: linear-gradient(to bottom, rgba(233, 196, 67, 1) 0%, rgba(222, 153, 61, 1) 100%);
}
.price .h3 {
	margin: 0 0 50px 0;
	color: #201f1f;
	text-transform: uppercase;
}
.price .h-line:after {
	border-color: #b89508;
}
.price .info {
	margin: 0;
	padding: 0;
	list-style: none;
}
.price .info:after {
	display: block;
	content: ' ';
	overflow: hidden;
	clear: both;
}
.price .info .col {
	width: 292px;
	min-height: 580px;
	margin: 0 10px 10px;
	padding: 30px 34px 120px;
	float: left;
	position: relative;
	background: #fff;
	text-align: center;
}
.price .info .col .top {
	width: 100px;
	height: 21px;
	margin: 0 0 0 -50px;
	position: absolute;
	top: 0;
	left: 50%;
	right: auto;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	color: #af8e0c;
	background: #ffd323;
}
.price .info .col .heading {
	margin: 0 0 28px;
	color: #201f1f;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: .02em;
	text-transform: uppercase;
}
.price .info .col .h-line {
	padding: 0 0 16px 0;
}
.price .info .col .h-line:after {
	background: #e1e1e1;
}
.price .info .col .list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}
.price .info .col .list li {
	margin: 0 0 5px;
	padding-bottom: 2px;
	border-bottom: 1px solid #e4e4e4;
}
.price .info .col .bottom {
	padding: 0 36px;
	position: absolute;
	bottom: 26px;
	left: 0;
	right: 0;
}
.price .info .col .cost {
	margin: 0 0 16px;
	display: block;
	color: #161514;
	font-size: 30px;
	font-weight: bold;
}
.price .info .col .booking {
	height: 45px;
	display: block;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 45px;
}
/* ==========================================================================
   _RESPONSIVE
   ========================================================================== */
@media (max-width: 1279px) {
	.wrapper { width: 940px; }
}
@media (max-width: 1023px) {
	.wrapper { width: 768px; }
	.header .logo { left: 10px; }
	.header .call { right: 10px; }
	.features .info .item { width: 50%; }
	.features .info .item-pic { margin: 0; float: right; position: relative; }
	.features .info .item-right { float: left; clear: left; }
	.projects .list { text-align: center; }
	.projects .list li { display: inline-block; float: none; }
	.price .info .col { width: 246px; margin: 0 5px 10px; padding-left: 20px; padding-right: 20px; }
	.price .info .col .bottom { padding: 0 20px; }
}
@media (max-width: 767px) {
	.wrapper { width: 100%; padding: 0 20px; }
	.index .info .list li { width: 100%; margin: 0 auto; float: none; }
	.index .action .h span { display: block; }
	.features .info .item { width: 100%; float: none; }
	.features .info .item-text { clear: left; }
	.features .info .item-pic { float: right; }
	.service .list li { width: 50%; }
	.service .list li:nth-child(3n+1) { clear: none; }
	.price .info .col { width: 75%; margin: 0 auto 40px; float: none; }
	.price .info .col .booking { width: 50%; margin: 0 auto; }
}
@media (max-width: 575px) {
	.header .call { font-size: 10px; }
	.header .call .tel { font-size: 13px; }
	.service .list li { width: 100%; text-align: center; }
	.projects .h3 { margin-bottom: 40px; }
	.projects .list li { margin: 0 10px 20px; float: none; }
	.price .info .col .booking { width: 75%; }

}
@media (max-width: 479px) {
}
/* ==========================================================================
   _PRINT STYLES
   ========================================================================== */
@media print {
	* { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}