/*!
 * Project: Cochlear
 * File: Bootstrap theme styles
 */

/*====================================================================================*/
/* 01 GLOBAL SETTINGS
/*====================================================================================*/
html {
	height: 100%;
	background: #f0f2f5;
}
body {
	min-width: 980px;
	height: 100%;
	padding: 95px 30px 30px;
	font: 12px Arial, Tahoma, sans-serif;
	color: #555;
	background: #f0f2f5;
}
a {
	color: #fdc82f;
	outline: none;
	text-decoration: underline;
}
a:hover, a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}
.container { width: auto; }
/*====================================================================================*/
/* 02 NAVBAR
/*====================================================================================*/
.navbar {
	height: 60px;
	padding: 0 30px;
	margin: 0;
	border: none;
	z-index: 10;
	cursor: default;
	background: #766a62 linear-gradient(to right, rgba(140, 131, 124, 1) 0%, rgba(118, 106, 98, 1) 33%);
}
.navbar-header {
	float: none;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover {
	width: 77px;
	height: 72px;
	padding: 0;
	border-radius: 0 0 0 12px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .75);
	margin: 0;
	display: block;
	float: none;
	position: absolute;
	top: 0;
	left: 30px;
	background: #fff;
}
.navbar .navbar-brand img {
	width: 72px;
	height: 72px;
	margin: 0 auto;
	display: block;
}
.navbar .navbar-heading {
	margin: 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
	color: #fff;
	position: absolute;
	top: 15px;
	left: 130px;
}
.navbar .navbar-settings {
	padding-left: 24px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
	display: block;
	position: absolute;
	top: 20px;
	right: 40px;
}
.navbar .navbar-settings:before {
	width: 20px;
	height: 20px;
	display: block;
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	background: url('../img/settings.png') no-repeat 0 0;
	background-size: 20px auto;
}
.navbar .navbar-settings:hover {
	text-decoration: underline;
}
/*====================================================================================*/
/* 03 NAV-TABS
/*====================================================================================*/
.nav-tabs {
	border: none;
	margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}
.nav-tabs > li {
	margin: 0 7px 0 0;
}
.nav-tabs > li > a {
	width: 113px;
	padding: 7px;
	border: none;
	border-radius: 4px;
	margin: 0;
	display: block;
	color: #555;
	text-decoration: none;
	text-align: center;
	background: #fff;
	transition: color .1s, background-color .1s;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	border: none;
	color: #766a62;
	background: #fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none;
	background: #fdc82f;
}
.tab-pane { position: relative; }
.tab-pane .device-status {
	padding-left: 20px;
	margin: 0;
	display: block;
	cursor: default;
	font-size: 12px;
	line-height: 20px;
	position: absolute;
	right: 0;
	top: -35px;
}
.tab-pane .device-status:before {
	width: 16px;
	height: 16px;
	border: 1px solid #aeaeae;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px #fff;
	display: block;
	content: ' ';
	position: absolute;
	top: 1px;
	left: 0;
	background: #1bc820;
	background-size: 20px auto;
}
.tab-pane .device-status.offline:before { background: red; }
.tab-pane .btn-import { position: absolute; right: 0; top: -45px; }
.tab-pane .scroll {
	width: 100%;
	max-height: 542px;
	overflow: auto;
}
/*====================================================================================*/
/* FORM STYLER 1.6.2 (https://github.com/Dimox/jQueryFormStyler)
/*====================================================================================*/
/* === INPUT === */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="date"], textarea { width: 270px; height: 34px; padding: 9px; border: 1px solid #aab2bd; border-radius: 4px; box-shadow: none; -webkit-appearance: none; color: #555; font: 12px Arial, Helvetica, sans-serif; letter-spacing: .03em; background: #fff; transition: box-shadow .2s, border-color .2s; }
textarea { width: 400px; height: 95px; overflow: auto; resize: none; }
input[type="email"]:not([disabled]):focus, input[type="number"]:not([disabled]):focus, input[type="password"]:not([disabled]):focus, input[type="search"]:not([disabled]):focus, input[type="tel"]:not([disabled]):focus, input[type="text"]:not([disabled]):focus, input[type="url"]:not([disabled]):focus, input[type="date"]:not([disabled]):focus, textarea:not([disabled]):focus { border-color: #a2a2a2; }
input[type="email"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="url"][disabled], input[type="date"][disabled], textarea[disabled] { cursor: default; background: #f6f5f3; }
/* === CHECKBOX === */
.jq-checkbox { width: 14px; height: 14px; border: 1px solid #555; border-radius: 1px; margin: 0 10px 0 0; position: relative; top: -1px; display: inline-block; vertical-align: middle; cursor: pointer; background: #555; transition: border-color .1s; }
.jq-checkbox .jq-checkbox__div { border-radius: 1px; position: absolute; top: -1px; right: -1px; bottom: -1px; left: -1px; opacity: 0; background: url('../img/checkbox.png') no-repeat 0 0; background-size: 14px auto; transition: opacity .1s; }
.jq-checkbox.checked .jq-checkbox__div { opacity: 1; }
.jq-checkbox.focused { border-color: #a2a2a2; }
.jq-checkbox.disabled { cursor: default; background: #f6f5f3; }
.jq-checkbox.disabled.checked .jq-checkbox__div { opacity: .5; }
/* === RADIO === */
.jq-radio { width: 13px; height: 13px; border: 1px solid #555; border-radius: 50%; margin: 0 10px 0 0; position: relative; top: -1px; display: inline-block; vertical-align: middle; cursor: pointer; background: #555; transition: border-color .1s; }
.jq-radio .jq-radio__div { border-radius: 50%; position: absolute; top: 2px; right: 2px; bottom: 2px; left: 2px; opacity: 0; background: #fff; transition: opacity .1s; }
.jq-radio.checked .jq-radio__div { opacity: 1; }
.jq-radio.focused { border-color: #a2a2a2; }
.jq-radio.disabled { cursor: default; background: #f6f5f3; }
.jq-radio.disabled.checked .jq-radio__div { opacity: .5; }
/* === SELECT === */
.jq-selectbox { vertical-align: middle; cursor: pointer; position: relative; display: inline-block; }
.jq-selectbox__select { height: 30px; padding: 0 30px 0 9px; border: 1px solid #d6d6d6; border-radius: 1px; color: #555; font: 13px/18px Arial, Helvetica, sans-serif; background: #fff; transition: border-color .2s; }
.jq-selectbox.focused .jq-selectbox__select { border-color: #a2a2a2; }
.jq-selectbox.disabled .jq-selectbox__select { cursor: default; background: #f6f5f3; }
.jq-selectbox__select-text { width: 100%; height: 28px; padding: 6px 0 0; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.jq-selectbox .placeholder { color: #555; }
.jq-selectbox.disabled .placeholder { }
.jq-selectbox__trigger { width: 30px; height: 100%; position: absolute; top: 0; right: 0; }
.jq-selectbox__trigger-arrow { width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid #555; position: absolute; top: 50%; right: 6px; margin-top: -1px; }
.jq-selectbox.opened .jq-selectbox__trigger-arrow { border-top: 4px solid transparent; border-bottom: 4px solid #555; margin-top: -5px; }
.jq-selectbox:not(.disabled):hover .jq-selectbox__trigger-arrow:before, .jq-selectbox:not(.disabled):hover .jq-selectbox__trigger-arrow:after, .jq-selectbox.focused .jq-selectbox__trigger-arrow:before, .jq-selectbox.focused .jq-selectbox__trigger-arrow:after { background: #a2a2a2; }
.jq-selectbox.disabled .jq-selectbox__trigger-arrow:before, .jq-selectbox.disabled .jq-selectbox__trigger-arrow:after { background: #a2a2a2; }
.jq-selectbox__dropdown { min-width: 100%; padding: 0; border: 1px solid #a2a2a2; border-radius: 1px; margin: 0; top: 29px; color: #555; font: 13px/18px Arial, Helvetica, sans-serif; background: #fff; }
.jq-selectbox ul { padding: 0; margin: 0; }
.jq-selectbox li { min-height: 28px; padding: 5px 9px; color: #555; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; }
.jq-selectbox li.selected { background-color: #d6d6d6; }
.jq-selectbox li:hover { background-color: #fdc82f; color: #555; }
.jq-selectbox li.disabled { color: #aaa; }
.jq-selectbox li.disabled:hover { background: none; }
.jq-selectbox li.optgroup { font-weight: bold; }
.jq-selectbox li.optgroup:hover { background: none; color: #323232; cursor: default; }
.jq-selectbox li.option { padding-left: 25px; }
.jq-selectbox__search { margin: 5px; }
.jq-selectbox__search input { -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0; padding: 5px 27px 6px 8px; outline: none; border: 1px solid #ccc; border-radius: 4px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%; box-shadow: inset 1px 1px #f1f1f1; color: #333; -webkit-appearance: textfield; }
.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration { -webkit-appearance: none; }
.jq-selectbox__not-found { margin: 5px; padding: 5px 8px 6px; background: #f0f0f0; font-size: 13px; }
.jq-select-multiple { -moz-box-sizing: border-box; box-sizing: border-box; padding: 1px; border: 1px solid #ccc; border-radius: 4px; background: #fff; color: #333; font: 14px/18px Arial, sans-serif; cursor: default; }
.jq-select-multiple.focused { border: 1px solid #5794bf; }
.jq-select-multiple.disabled { border-color: #ccc; background: #f6f5f3; box-shadow: none; }
.jq-select-multiple ul { margin: 0; padding: 0; }
.jq-select-multiple li { padding: 3px 9px 4px; list-style: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; }
.jq-select-multiple li:first-child { border-radius: 3px 3px 0 0; }
.jq-select-multiple li:last-child { border-radius: 0 0 3px 3px; }
.jq-select-multiple li.selected { background: #08c; color: #fff; }
.jq-select-multiple li.disabled { color: #aaa; }
.jq-select-multiple.disabled li.selected, .jq-select-multiple li.selected.disabled { background: #ccc; color: #fff; }
.jq-select-multiple li.optgroup { font-weight: bold; }
.jq-select-multiple li.option { padding-left: 25px; }
/* === FILE === */
.jq-file { width: 270px; border-radius: 1px; position: relative; display: inline-block; }
.jq-file input { cursor: pointer; height: auto; line-height: 1em; }
.jq-file__name { width: 100%; height: 30px; padding: 6px 80px 4px 10px; border: 1px solid #d6d6d6; border-radius: 1px; color: #555; font: 13px/18px Arial, Helvetica, sans-serif; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; background: #fff; transition: border-color .2s; }
.jq-file.focused .jq-file__name { border-color: #a2a2a2; }
.jq-file__browse { height: 30px; padding: 6px 10px 4px; border: 1px solid #d6d6d6; border-radius: 0 1px 1px 0; position: absolute; top: 0; right: 0; color: #555; font: 13px/18px Arial, Helvetica, sans-serif; background: #f6f5f3; transition: background-color .2s, border-color .2s; }
.jq-file:hover .jq-file__browse { background: #fff; }
.jq-file:active .jq-file__browse { padding-top: 7px; padding-bottom: 3px; background: #f6f5f3; }
.jq-file.focused .jq-file__browse { border: 1px solid #a2a2a2; }
.jq-file.disabled, .jq-file.disabled .jq-file__name, .jq-file.disabled .jq-file__browse { background: #f6f5f3; }
/*====================================================================================*/
/* 04 BUTTONS
/*====================================================================================*/
.btn {
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	line-height: normal;
	color: #555;
	text-transform: uppercase;
	transition: color .1s, background-color .1s;
	text-decoration: none;
	background: #fff;
}
.btn:hover, .btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
	background: #e6e6e6
}
.btn-default { color: #fff; background: #766a62; }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active { color: #fff; background-color: #5b524c; }
.btn-primary { color: #555; background: #fdc82f; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active { color: #fff; background-color: #ffce54; }
.btn-lg { font-size: 16px; }
.btn-sm { font-size: 12px; }
.btn-xs { font-size: 10px; }
.form-group { margin-bottom: 6px; }
/*====================================================================================*/
/* 05 CONTENT
/*====================================================================================*/
.content {
	position: relative;
}
.control {
	position: relative;
}
.control .error-messages {
	margin: 0;
	display: block;
	font-size: 13px;
	line-height: 16px;
	color: red;
	cursor: default;
	position: absolute;
	top: -25px;
	left: 115px;
}
.control .submits {
	margin: 28px 0 0 0;
	overflow: hidden;
	display: block;
}
.control .submits .btn { min-width: 140px; }
.control .submits .pull-left { margin-right: 10px; }
.control .submits .pull-right { margin-left: 10px; }
/*====================================================================================*/
/* 06 TABLE
/*====================================================================================*/
.table {
	width: 100%;
	border: 1px solid #c2c2c2;
	margin: 0;
	font-size: 12px;
	cursor: default;
	table-layout: fixed;
	background: #fff;
}
.table-crf, .table-historÑƒ { background: #f0f2f5; }
.table .cell-serial { width: 130px; }
.table .cell-dob { width: 140px; }
.table .cell-gender { width: 90px; }
.table .jq-checkbox { margin: 0; }
.table .line { padding-top: 1px; margin: 0; display: block; }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
	padding: 9px 9px 10px;
	border: 1px solid #766a62;
	border-bottom: none;
	font-weight: bold;
	color: #fff;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
	background: #766a62;
}
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	height: 36px;
	padding: 9px;
	border: 1px solid #c2c2c2;
	line-height: inherit;
	white-space: nowrap;
	vertical-align: middle;
}
.table th .jq-checkbox {
	border: 1px solid #fff;
	background: transparent;
}
/* .table tr[data-row-identifier="1"] td { border-top: none; } */
.table .cell-checkbox {
	width: 35px;
	min-width: 35px;
	max-width: 35px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
.table .cell-input { padding: 0 0 0 9px; vertical-align: top; }
.table input[type="text"], .table input[type="date"] {
	width: 100%;
	height: 34px;
	padding: 1px 0 0 9px;
	border: 1px solid transparent;
	border-radius: 0;
	box-sizing: content-box;
	margin: -1px -1px -1px -10px;
	line-height: 14px;
	display: block;
	cursor: pointer;
	position: relative;
	background: none;
}
.table input[type="text"]:not([disabled]):focus, .table input[type="date"]:not([disabled]):focus { box-shadow: inset 0 0 5px rgba(0, 0, 0, .4); }
.table .cell-select { padding: 0; vertical-align: top; }
.table .jq-selectbox {
	width: auto;
	height: 37px;
	border: none;
	padding: 0;
	box-sizing: content-box;
	border-radius: 0;
	margin: -1px;
	display: block !important;
	line-height: normal;
	background: none;
}
.table .jq-selectbox .jq-selectbox__select {
	height: 37px;
	padding: 0 30px 0 9px;
	border: 1px solid transparent;
	z-index: 2;
	font-size: 12px;
	background: none;
	transition: box-shadow .2s;
}
.table .jq-selectbox .jq-selectbox__select-text { padding-top: 9px; }
.table .jq-selectbox .jq-selectbox__dropdown { top: 36px; z-index: -1; background: #fff; }
.table .jq-selectbox.opened .jq-selectbox__dropdown { box-shadow: 0 0 5px rgba(0, 0, 0, .4); }
.table .jq-selectbox .jq-selectbox__trigger-arrow { opacity: 0; }
.table .jq-selectbox li.new { font-weight: bold; }
.table .jq-selectbox:hover .jq-selectbox__trigger-arrow, .table .jq-selectbox.opened .jq-selectbox__trigger-arrow, .table .jq-selectbox.focused .jq-selectbox__trigger-arrow { opacity: 1; }
.table .cell-view {
	width: 39px;
	min-width: 39px;
	max-width: 39px;
	padding: 0;
}
.table .view {
	width: 20px;
	height: 20px;
	display: block;
	margin: 0 auto;
	background: url('../img/zoom.png');
	background-size: 20px auto;
}
/*====================================================================================*/
/* 07 MODAL
/*====================================================================================*/
.modal-dialog {
	margin-top: 50px;
	margin-bottom: 50px;
}
.modal-sm {
	width: 400px;
}
.modal-lg {
	width: auto;
	margin: 50px;
}
.modal-content {
	border: none;
	border-radius: 4px;
	box-shadow: none;
	cursor: default;
	background: none;
}
.modal-content .form-control-full {
	width: 100%;
}
.modal-header {
	height: auto;
	min-height: 0;
	padding: 15px 25px;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	background: #766a62;
}
.modal-header .modal-title {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}
.modal-body {
	padding: 27px 25px 11px 25px;
	background: #fff;
}
.modal-footer {
	padding: 5px 25px 22px;
	border: none;
	border-radius: 0 0 4px 4px;
	background: #fff;
}
.modal-footer .btn-submit {
	width: 140px;
}